{"able" [{:sem {:pred :able}}]
 "acclaimed" [{:sem {:pred :acclaimed}}]
 "anxious" [{:sem {:pred :anxious}}]
 "approachable" [{:sem {:pred :approachable}}]
 "awesome" [{:sem {:pred :awesome}}]
 "bad" [{:sem {:pred :bad}}]
 "best" [{:sem {:pred :best}}]
 "better" [{:sem {:pred :better}}]
 "big" [{:sem {:pred :big}}]
 "black" [{:sem {:pred :black}}]
 "busy" [{:sem {:pred :busy}}]
 "certain" [{:sem {:pred :certain}}]
 "clear" [{:sem {:pred :clear}}]
 "complicated" [{:sem {:pred :complicated}}]
 "confident" [{:sem {:pred :confident}}]
 "confused" [{:sem {:pred :confused}}]
 "confusing" [{:sem {:pred :confusing}}]
 "curious" [{:sem {:pred :curious}}]
 "cute" [{:sem {:pred :cute}}]
 "different" [{:sem {:pred :different}}]
 "disappointed" [{:sem {:pred :disappointed}}]
 "dirty" [{:sem {:pred :dirty}}]
 "early" [{:sem {:pred :early}}]
 "easy" [{:sem {:pred :easy}}]
 "economic" [{:sem {:pred :economic}}]
 "escaped" [{:sem {:pred :escaped}}]
 "eternal"  [{:sem {:pred :eternal}}]
 "excited" [{:sem {:pred :excited}}]
 "extraordinary" [{:sem {:pred :extraordinary}}]
 "federal" [{:sem {:pred :federal}}]
 "free" [{:sem {:pred :free}}]
 "frugal" [{:sem {:pred :frugal}}]
 "full" [{:sem {:pred :full}}]
 "good" [{:sem {:pred :good}}]
 "great" [{:sem {:pred :great}}]
 "greedy" [{:sem {:pred :greedy}}] 
 "hard" [{:sem {:pred :hard}}]
 "high" [{:sem {:pred :high}}]
 "human" [{:sem {:pred :human}}]
 "interesting" [{:sem {:pred :interesting}}]
 "important" [{:sem {:pred :important}}]
 "industrious" [{:sem {:pred :industrious}}]
 "innocent" [{:sem {:pred :innocent}}]
 "insane" [{:sem {:pred :insane}}]
 "international" [{:sem {:pred :international}}]
 "large" [{:sem {:pred :large}}]
 "late" [{:sem {:pred :late}}]
 "little" [{:sem {:pred :little}}]
 "local" [{:sem {:pred :local}}]
 "lonely" [{:sem {:pred :lonely}}]
 "long" [{:sem {:pred :long}}]
 "low" [{:sem {:pred :low}}]
 "magnificent" [{:sem {:pred :magnificent}}]
 "major" [{:sem {:pred :major}}]
 "military" [{:sem {:pred :military}}]
 "national" [{:sem {:pred :national}}]
 "nervous" [{:sem {:pred :nervous}}]
 "newsworthy" [{:sem {:pred :newsworthy}}]
 "new" [{:sem {:pred :new}}]
 "nice" [{:sem {:pred :nice}}]
 "old" [{:sem {:pred :old}}]
 "only" [{:sem {:pred :only}}]
 "other" [{:sem {:pred :other}}]
 "political" [{:sem {:pred :political}}]
 "possible" [{:sem {:pred :possible}}]
 "public" [{:sem {:pred :public}}]
 "real" [{:sem {:pred :real}}]
 "recent" [{:sem {:pred :recent}}]
 "responsible" [{:sem {:pred :responsible}}]
 "right" [{:sem {:pred :right}}]
 "sad" [{:sem {:pred :sad}}]
 "satisfied" [{:sem {:pred :satisfied}}]
 "scary" [{:sem {:pred :scary}}]
 "secret" [{:sem {:pred :secret}}]
 "separate" [{:sem {:pred :separate}}]
 "serious" [{:sem {:pred :serious}}]
 "shy" [{:sem {:pred :shy}}]
 "small" [{:sem {:pred :small}}]
 "smart" [{:sem {:pred :smart}}]
 "social" [{:sem {:pred :social}}]
 "special" [{:sem {:pred :special}}]
 "stingy" [{:sem {:pred :stingy}}]
 "strong" [{:sem {:pred :strong}}]
 "stubborn" [{:sem {:pred :stubborn}}]
 "stupid" [{:sem {:pred :stupid}}]
 "sure" [{:sem {:pred :sure}}]
 "suspicious" [{:sem {:pred :suspicious}}]
 "tall" [{:sem {:pred :tall}}]
 "thick" [{:sem {:pred :thick}}]
 "thrifty" [{:sem {:pred :frugal}}]
 "true" [{:sem {:pred :true}}]
 "white" [{:sem {:pred :white}}]
 "whole" [{:sem {:pred :whole}}]
 "young" [{:sem {:pred :young}}]}
