{:name "closed-class"
 :language "it"
 :morphology {:path "italiano/morphology"
              :sources ["adjectives.edn"
                        "articles.edn"
                        "conditional.edn"
                        "future.edn"
                        "imperfect.edn"
                        "misc-verbs.edn"
                        "nouns.edn"
                        "participio.edn"                        
                        "present.edn"
                        "preterito-indefinido.edn"]}
 :grammar "italiano/grammar.edn"
 :grammar-rules "italiano/grammar-rules.edn"
 :lexicon {:path "italiano/lexicon"
           :rules "rules.edn"
           :sources {"articles.edn"
                     {:u {:cat :det}}
                     "pronouns.edn"
                     {:u {:cat :noun
                          :pronoun? true}}}}}
