{"able" [{:cat :adjective :sem {:pred :able}}]
 "bad" [{:cat :adjective :sem {:pred :bad}}]
 "best" [{:cat :adjective :sem {:pred :best}}]
 "better" [{:cat :adjective :sem {:pred :better}}]
 "big" [{:cat :adjective :sem {:pred :big}}]
 "black" [{:cat :adjective :sem {:pred :black}}]
 "certain" [{:cat :adjective :sem {:pred :certain}}]
 "clear" [{:cat :adjective :sem {:pred :clear}}]
 "different" [{:cat :adjective :sem {:pred :different}}]
 "early" [{:cat :adjective :sem {:pred :early}}]
 "easy" [{:cat :adjective :sem {:pred :easy}}]
 "economic" [{:cat :adjective :sem {:pred :economic}}]
 "federal" [{:cat :adjective :sem {:pred :federal}}]
 "free" [{:cat :adjective :sem {:pred :free}}]
 "full" [{:cat :adjective :sem {:pred :full}}]
 "good" [{:cat :adjective :sem {:pred :good}}]
 "great" [{:cat :adjective :sem {:pred :great}}]
 "hard" [{:cat :adjective :sem {:pred :hard}}]
 "high" [{:cat :adjective :sem {:pred :high}}]
 "human" [{:cat :adjective :sem {:pred :human}}]
 "interesting" [{:cat :adjective :sem {:pred :interesting}}]
 "important" [{:cat :adjective :sem {:pred :important}}]
 "international" [{:cat :adjective :sem {:pred :international}}]
 "large" [{:cat :adjective :sem {:pred :large}}]
 "late" [{:cat :adjective :sem {:pred :late}}]
 "little" [{:cat :adjective :sem {:pred :little}}]
 "local" [{:cat :adjective :sem {:pred :local}}]
 "long" [{:cat :adjective :sem {:pred :long}}]
 "low" [{:cat :adjective :sem {:pred :low}}]
 "major" [{:cat :adjective :sem {:pred :major}}]
 "military" [{:cat :adjective :sem {:pred :military}}]
 "national" [{:cat :adjective :sem {:pred :national}}]
 "new" [{:cat :adjective :sem {:pred :new}}]
 "old" [{:cat :adjective :sem {:pred :old}}]
 "only" [{:cat :adjective :sem {:pred :only}}]
 "other" [{:cat :adjective :sem {:pred :other}}]
 "political" [{:cat :adjective :sem {:pred :political}}]
 "possible" [{:cat :adjective :sem {:pred :possible}}]
 "public" [{:cat :adjective :sem {:pred :public}}]
 "real" [{:cat :adjective :sem {:pred :real}}]
 "recent" [{:cat :adjective :sem {:pred :recent}}]
 "right" [{:cat :adjective :sem {:pred :right}}]
 "small" [{:cat :adjective :sem {:pred :small}}]
 "social" [{:cat :adjective :sem {:pred :social}}]
 "special" [{:cat :adjective :sem {:pred :special}}]
 "strong" [{:cat :adjective :sem {:pred :strong}}]
 "sure" [{:cat :adjective :sem {:pred :sure}}]
 "tall" [{:cat :adjective :sem {:pred :tall}}]
 "true" [{:cat :adjective :sem {:pred :true}}]
 "white" [{:cat :adjective :sem {:pred :white}}]
 "whole" [{:cat :adjective :sem {:pred :whole}}]
 "young" [{:cat :adjective :sem {:pred :young}}]}

