{"a" [{:cat :det
       :sem {:quant :indef}
       :agr {:number :sing}}]
 "an" [{:exception true
        :sem {:quant :indef}
        :cat :det :agr {:number :sing}}]

 "at" [{:cat :prep
        :sem {:pred :at}}]

 "extremely" [{:cat :intensifier
               :sem {:pred :extremely}
               :subcat {:1 {:cat :adjective
                            :phrasal false}
                        :2 []}}]
 "he" [{:cat :noun
        :case :nom
        :agr {:number :sing
              :human true
              :person :3rd
              :gender :masc}
        :sem {:ref {:human true}
              :pred :he}
        :pronoun true
        :reflexive false}]
 "her" [{:cat :noun
         :case :acc
         :agr {:number :sing
               :person :3rd
               :human true
               :gender :fem}
         :pronoun true
         :reflexive false
         :sem {:ref {:human true}
               :pred :she}}]
 "herself" [{:cat :noun
             :case :acc
             :agr {:number :sing
                   :person :3rd
                   :human true
                   :gender :fem}
             :pronoun true
             :reflexive true
             :sem {:ref {:human true}}}]
 "him" [{:cat :noun
         :case :acc
         :agr {:number :sing
               :person :3rd
               :human true
               :gender :masc}
         :pronoun true
         :reflexive false
         :sem {:ref {:human true}
               :pred :he}}]
 "himself" [{:cat :noun
             :case :acc
             :agr {:number :sing
                   :human true
                   :person :3rd
                   :gender :masc}
             :pronoun true
             :reflexive true
             :sem {:ref {:human true}}}]
 "I" [{:cat :noun
       :case :nom
       :agr {:number :sing
             :human true
             :person :1st}
       :sem {:ref {:human true}
             :pred :i}
       :pronoun true
       :reflexive false}]
 "in" [{:cat :prep
        :sem {:pred :in}}]
 "it" [{:cat :noun
        :agr {:number :sing
              :human false
              :person :3rd}
        :sem {:ref {:human false}
              :pred :it}
        :pronoun true
        :reflexive false}]
 "itself" [{:cat :noun
            :agr {:number :sing
                  :human false
                  :person :3rd}
            :sem {:ref {:human false}}
            :pronoun true
            :reflexive true}]
 "me" [{:cat :noun
        :case :acc
        :agr {:number :sing
              :human true
              :person :1st}
        :sem {:ref {:human true}
              :pred :i}
        :pronoun true
        :reflexive false}]

 "myself" [{:cat :noun
            :case :acc
            :agr {:number :sing
                  :human true
                  :person :1st}
            :sem {:ref {:human true}}
            :pronoun true
            :reflexive true}]


 "not" (let [sem (atom {:polarity :negative})
             infl-base (atom :base)
             infl-gerund (atom :gerund)
             infl-infinitive (atom :infinitive)
             slash (atom :top)
             common-part {:cat :neg
                          :sem sem
                          :slash slash
                           :subcat {:1 {:cat :verb
                                        :aux false
                                        :sem sem
                                        :slash slash}
                                    :2 []}}
             input
             [{:infl infl-base
               :subcat {:1 {:modal false
                            :infl infl-base}}}
              {:infl infl-gerund
               :subcat {:1 {:modal false
                            :infl infl-gerund}}}
              {:infl infl-infinitive
               :subcat {:1 {:modal :infinitive
                            :infl infl-infinitive}}}]]
        (map (fn [sense]
               (dag_unify.core/unify sense
                                     common-part))
             input))

 "on" [{:cat :prep
        :sem {:pred :on}}]
 "she" [{:cat :noun
         :case :nom
         :agr {:number :sing
               :human true
               :person :3rd
               :gender :fem}
         :sem {:ref {:human true}
               :pred :she}
         :pronoun true
         :reflexive false}]

 "some" [{:cat :det
          :sem {:quant :indef}
          :agr {:number :plur}}]
 "that" [;; "[comp1 +that [s-slash you *see]]"
         {:cat :comp
          :slash true
          :sense 1
          :subcat {:1 {:cat :verb
                       :subcat {:1 {:cat :noun
                                    :case :acc
                                    :reflexive false}
                                :2 []}
                       :slash true}
                   :2 []}}

         ;; "[comp1 +that [vp sees you]]"
         ;; in this case agreement is with the subject of the vp, so :agr must be percolated upwards:
         (let [agr (atom :top)]
           {:cat :comp
            :agr agr
            :slash false
            :sense 2
            :subcat {:1 {:agr agr
                         :cat :verb
                         :subcat {:1 {:agr agr
                                      :cat :noun
                                      :case :nom}
                                  :2 []}
                         :slash false}
                     :2 []}})

         ;; [comp2 +that .[s you will see a cat]]
         {:cat :comp
          :subcat {:1 {:cat :verb
                       :sem {:mood :decl}
                       :subcat []}
                   :2 []}}]
 
 "the" [{:cat :det
         :sem {:quant :def}}]

 "them" [{:case :acc
          :cat :noun
          :agr {:person :3rd :number :plur}
          :sem {:pred :they}
          :pronoun true
          :reflexive false}]
 
 "themselves" [{:cat :noun
                :agr {:person :3rd :number :plur}
                :pronoun true :reflexive true}]

 "they" [{:cat :noun
          :pronoun true
          :reflexive false
          :case :nom
          :agr {:person :3rd :number :plur}
          :sem {:pred :they}}]
 
 "to" [;; "to the park"
       {:cat :prep
        :sem {:pred :to}}

       ;; "to sleep"
       (let [sem (atom :top)]
         {:cat :particle
          :infl :infinitive
          :inflected? true
          :sem sem

          ;; "to" takes a verb or verb phrase which itself needs a subject -
          ;; the subject is the {:cat :noun :case :nom} below.
          :subcat {:1 {:aux false
                       :cat :verb
                       :sem sem
                       :subcat {:1 {:cat :noun
                                    :case :nom}
                                :2 []}
                       :modal false
                       :infl :base}
                   :2 []}})]
 
 "very" [{:cat :intensifier
          :sem {:pred :very}}]

 "we" [{:cat :noun
        :sem {:pred :we}
        :pronoun true
        :reflexive false
        :case :nom
        :agr {:person :1st :number :plur}}]
 "what" [{:cat :noun
          :interogative? true
          :pronoun true
          :sem {:pred :what
                :ref {:human false}}
          :wh-word true}]
 "who" [{:cat :noun
          :interogative? true
          :pronoun true
          :sem {:pred :what
                :ref {:human true}}
          :wh-word true}]
 "you" [{:cat :noun
         :case :nom
         :agr {:person :2nd}
         :sem {:human true
               :pred :you}
         :pronoun true
         :reflexive false}
        {:cat :noun
         :case :acc
         :agr {:person :2nd}
         :sem {:human true
               :pred :you}
         :pronoun true
         :reflexive false}]}


