{"the" [{:cat :det}]
 "to" [;; "to the park"
       {:cat :prep
        :sem {:pred :to}}

       ;; "to sleep"
       (let [sem (atom :top)]
         {:cat :particle
          :infl :infinitive
          :inflected? true
          :sem sem
          :subcat {:1 {:cat :verb
                       :sem sem
                       :infl :base}
                   :2 []}})]}
 

