{"a" [{:cat :det :agr {:number :sing}}]
 "an" [{:exception true
        :cat :det :agr {:number :sing}}]
 "at" [{:cat :prep
        :sem {:pred :at}}]
 "he" [{:cat :noun
        :case :nom
        :agr {:number :sing
              :person :3rd
              :gender :masc}
        :sem {:ref {:human true}
              :pred :he}
        :pronoun true
        :reflexive false}]
 "her" [{:cat :noun
         :case :acc
         :agr {:number :sing
               :person :3rd
               :gender :fem}
         :pronoun true
         :reflexive false
         :sem {:ref {:human true}
               :pred :she}}]
 "herself" [{:cat :noun
             :case :acc
             :agr {:number :sing
                   :person :3rd
                   :gender :fem}
             :pronoun true
             :reflexive true
             :sem {:ref {:human true}}}]
 "him" [{:cat :noun
         :case :acc
         :agr {:number :sing
               :person :3rd
               :gender :masc}
         :pronoun true
         :reflexive false
         :sem {:ref {:human true}
               :pred :he}}]
 "himself" [{:cat :noun
             :case :acc
             :agr {:number :sing
                   :person :3rd
                   :gender :masc}
             :pronoun true
             :reflexive true
             :sem {:ref {:human true}}}]
 "I" [{:cat :noun
       :case :nom
       :agr {:number :sing
             :person :1st}
       :sem {:ref {:human true}
             :pred :i}
       :pronoun true
       :reflexive false}]
 "it" [{:cat :noun
        :case :nom
        :agr {:number :sing
              :person :3rd}
        :sem {:ref {:human false}
              :pred :it}
        :pronoun true
        :reflexive false}]
 "itself" [{:cat :noun
            :agr {:number :sing
                  :person :3rd}
            :sem {:ref {:human false}}
            :pronoun true
            :reflexive true}]
 "me" [{:cat :noun
        :case :acc
        :agr {:number :sing
              :person :1st}
        :sem {:ref {:human true}
              :pred :i}
        :pronoun true
        :reflexive false}]
 "myself" [{:cat :noun
            :case :acc
            :agr {:number :sing
                  :person :1st}
            :sem {:ref {:human true}}
            :pronoun true
            :reflexive true}]

 "not" [(let [sem (atom :top)]
          {:cat :neg
           :sem {:polarity :neg}})]

 "on" [{:cat :prep
        :sem {:pred :on}}]
 "she" [{:cat :noun
         :case :nom
         :agr {:number :sing
               :person :3rd
               :gender :fem}
         :sem {:ref {:human true}
               :pred :she}
         :pronoun true
         :reflexive false}]

 "that" [;; "[comp1 *that [s-slash you *see]]"
         {:cat :comp
          :slash true
          :sense 1
          :subcat {:1 {:cat :verb
                       :subcat {:1 {:cat :noun
                                    :case :acc
                                    :reflexive false}
                                :2 []}
                       :slash true}
                   :2 []}}
         ;; "[comp1 *that [vp sees you]]"
         ;; in this case agreement is with the subject of the vp, so :agr must be percolated upwards:
         (let [agr (atom :top)]
           {:cat :comp
            :agr agr
            :slash false
            :sense 2
            :subcat {:1 {:agr agr
                         :cat :verb
                         :subcat {:1 {:agr agr
                                      :cat :noun
                                      :case :nom}
                                  :2 []}
                         :slash false}
                     :2 []}})]
 "the" [{:cat :det}]
 "themselves" [{:cat :noun :agr {:number :plur} :pronoun true :reflexive true}]
 "they" [{:cat :noun
          :pronoun true
          :reflexive false
          :case :nom
          :agr {:person :3rd :number :plur}
          :sem {:pred :they}}]
 
 "to" [{:cat :prep
        :sem {:pred :to}}]

 "very" [{:cat :intensifier
          :subcat {:1 {:cat :adjective
                       :phrasal false}
                   :2 []}}]
 
 "we" [{:cat :noun
        :sem {:pred :we}
        :pronoun true
        :reflexive false
        :case :nom
        :agr {:person :1st :number :plur}}]
 "you" [{:cat :noun
         :case :nom
         :agr {:person :2nd}
         :sem {:human true
               :pred :you}
         :pronoun true
         :reflexive false}
        {:cat :noun
         :case :acc
         :agr {:person :2nd}
         :sem {:human true
               :pred :you}
         :pronoun true
         :reflexive false}]}


