{
 "area" [{:cat :noun :sem {:pred :area}}]
 "book" [{:cat :noun :sem {:pred :book}}]
 "boy" [{:cat :noun :sem {:pred :girl} :agr {:gender :masc}}]
 "business" [{:cat :noun :sem {:pred :business}}]
 "case" [{:cat :noun :sem {:pred :case}}]
 "cat" [{:cat :noun :sem {:pred :cat :ref {:animate true
                                           :human false}}}]
 "company" [{:cat :noun :sem {:pred :company}}]
 "country" [{:cat :noun :sem {:pred :country}}]
 "day" [{:cat :noun :sem {:pred :day}}]
 "dog" [{:cat :noun :sem {:pred :dog}}]
 "eye" [{:cat :noun :sem {:pred :eye}}]
 "fact" [{:cat :noun :sem {:pred :fact}}]
 "family" [{:cat :noun :sem {:pred :family}}]
 "girl" [{:cat :noun :sem {:pred :girl} :agr {:gender :fem}}]
 "government" [{:cat :noun :sem {:pred :government}}]
 "group" [{:cat :noun :sem {:pred :group}}]
 "hand" [{:cat :noun :sem {:pred :hand}}]
 "home" [{:cat :noun :sem {:pred :home}}]
 "job" [{:cat :noun :sem {:pred :job}}]
 "life" [{:cat :noun :sem {:pred :life}}]
 "lot" [{:cat :noun :sem {:pred :lot}}]
 "man" [{:cat :noun :sem {:pred :man} :agr {:gender :masc :number :sing}}]
 "men" [{:cat :noun :sem {:pred :man} :agr {:gender :masc :number :plur}}]
 "money" [{:cat :noun :sem {:pred :money}}]
 "month" [{:cat :noun :sem {:pred :month}}]
 "mother" [{:cat :noun :sem {:pred :mother}}]
 "name" [{:cat :noun :sem {:pred :name}}]
 "night" [{:cat :noun :sem {:pred :night}}]
 "number" [{:cat :noun :sem {:pred :number}}]
 "part" [{:cat :noun :sem {:pred :part}}]
 "people" [{:cat :noun :sem {:pred :people} :agr {:number :plur}}]
 "person" [{:cat :noun :sem {:pred :person} :agr {:number :sing}}]
 "place" [{:cat :noun :sem {:pred :place}}]
 "point" [{:cat :noun :sem {:pred :point}}]
 "problem" [{:cat :noun :sem {:pred :problem}}]
 "program" [{:cat :noun :sem {:pred :program}}]
 "puppy" [{:cat :noun :sem {:pred :puppy}}]
 "question" [{:cat :noun :sem {:pred :question}}]
 "right" [{:cat :noun :sem {:pred :right}}]
 "room" [{:cat :noun :sem {:pred :room}}]
 "school" [{:cat :noun :sem {:pred :school}}]
 "sheep" [{:cat :noun :sem {:pred :sheep} :agr {:number :sing}} {:cat :noun :sem {:pred :sheep} :agr {:number :plur}}]
 "state" [{:cat :noun :sem {:pred :state}}]
 "story" [{:cat :noun :sem {:pred :story}}]
 "student" [{:cat :noun :sem {:pred :student}}]
 "study" [{:cat :noun :sem {:pred :study}}]
 "system" [{:cat :noun :sem {:pred :system}}]
 "thing" [{:cat :noun :sem {:pred :thing}}]
 "time" [{:cat :noun :sem {:pred :time}}]
 "water" [{:cat :noun :sem {:pred :water}}]
 "way" [{:cat :noun :sem {:pred :way}}]
 "week" [{:cat :noun :sem {:pred :week}}]
 "woman" [{:cat :noun :sem {:pred :woman} :agr {:gender :fem :number :sing}}]
 "women" [{:cat :noun :sem {:pred :woman} :agr {:gender :fem :number :plur}}]
 "word" [{:cat :noun :sem {:pred :word}}]
 "work" [{:cat :noun :sem {:pred :work}}]
 "world" [{:cat :noun :sem {:pred :world}}]
 "year" [{:cat :noun :sem {:pred :year}}]
 }
