{
 "zero" [{:cat :adjective
         ;; it is less than 10 of course, but we're using :less-than-10=false
         ;; here to prevent e.g. "nul en twintig", so it's
         ;; used in the same to prevent e.g. "twalf en twintig".
         :teen? false
         :nul? true
         :agr {:number :plur}
         :sem {:times 1
               :number? true
               :pred 0}}]

 "one" [{:cat :adjective
         :sem {:pred 1
               :number? true
               :times 1}
         :agr {:number :sing}}]

 "two" [{:cat :adjective
          :agr {:number :plur}
          :sem {:pred 2
                :number? true
                :times 1}}]

 "three" [{:cat :adjective
           :agr {:number :plur}
           :sem {:pred 3
                 :number? true
                 :times 1}}]

 "four" [{:cat :adjective
          :agr {:number :plur}
          :sem {:pred 4
                :number? true
                :times 1}}]

 "five" [{:cat :adjective
          :agr {:number :plur}
          :sem {:pred 5
                :number? true
                :times 1}}]

 "six" [{:cat :adjective
         :agr {:number :plur}
         :sem {:pred 6
               :number? true
               :times 1}}]

 "seven" [{:cat :adjective
           :agr {:number :plur}
           :sem {:pred 7
                 :number? true
                 :times 1}}]

 "eight" [{:cat :adjective
           :agr {:number :plur}
           :sem {:pred 8
                 :number? true
                 :times 1}}]
 
 "nine" [{:cat :adjective
           :agr {:number :plur}
           :sem {:times 1
                 :number? true
                 :pred 9}}]

 "ten" [{:cat :adjective
         :agr {:number :plur}
         :teen? true
         :sem {:pred 10
               :number? true
               :times 1}}] 

 "eleven" [{:cat :adjective
            :agr {:number :plur}
            :teen? true
            :sem {:pred :add
                  :number? true
                  :arg1 {:pred 1 :times 1}
                  :arg2 {:pred 1 :times 10}}}]

 "twelve" [{:cat :adjective
            :agr {:number :plur}
            :teen? true
            :sem {:pred :add
                  :number? true
                  :arg1 {:pred 2 :times 1}
                  :arg2 {:pred 1 :times 10}}}]

 "thirteen" [{:cat :adjective
              :agr {:number :plur}
              :teen? true
              :sem {:pred :add
                    :number? true
                    :arg1 {:pred 3 :times 1}
                    :arg2 {:pred 1 :times 10}}}]

 "fourteen" [{:cat :adjective
             :agr {:number :plur}
             :teen? true
             :sem {:pred :add
                   :number? true
                   :arg1 {:pred 4 :times 1}
                   :arg2 {:pred 1 :times 10}}}]

 "fifteen" [{:cat :adjective
             :agr {:number :plur}
             :teen? true
             :sem {:pred :add
                   :number? true
                   :arg1 {:pred 5 :times 1}
                   :arg2 {:pred 1 :times 10}}}]

 "sixteen" [{:cat :adjective
             :agr {:number :plur}
             :teen? true
             :sem {:pred :add
                   :number? true
                   :arg1 {:pred 6 :times 1}
                   :arg2 {:pred 1 :times 10}}}]

 "seventeen" [{:cat :adjective
               :agr {:number :plur}
               :teen? true
               :sem {:pred :add
                     :number? true
                     :arg1 {:pred 7 :times 1}
                     :arg2 {:pred 1 :times 10}}}]

 "eighteen" [{:cat :adjective
              :agr {:number :plur}
              :teen? true
              :sem {:pred :add
                    :number? true
                    :arg1 {:pred 8 :times 1}
                    :arg2 {:pred 1 :times 10}}}]
 
 "nineteen" [{:cat :adjective
              :agr {:number :plur}
              :teen? true
              :sem {:pred :add
                    :number? true
                    :arg1 {:pred 9 :times 1}
                    :arg2 {:pred 1 :times 10}}}]
 
 "twenty" [{:cat :adjective
            :agr {:number :plur}
            :sem {:times 10
                  :number? true                   
                  :pred 2}}]

 "thirty" [{:cat :adjective
             :agr {:number :plur}
             :sem {:times 10
                   :number? true
                   :pred 3}}]

 "forty" [{:cat :adjective
           :agr {:number :plur}
           :sem {:times 10
                 :number? true
                 :pred 4}}]

 "fifty" [{:cat :adjective
           :agr {:number :plur}
           :sem {:pred 5
                 :number? true
                 :times 10}}]

 "sixty" [{:cat :adjective
           :agr {:number :plur}
           :sem {:pred 6
                 :number? true
                 :times 10}}]
 
 "seventy" [{:cat :adjective
             :agr {:number :plur}
             :sem {:pred 7
                   :number? true
                   :times 10}}]

 "eighty" [{:cat :adjective
            :agr {:number :plur}
            :sem {:pred 8
                  :number? true
                  :times 10}}]

 "ninety" [{:cat :adjective
            :agr {:number :plur}
            :sem {:pred 9
                  :number? true
                  :times 10}}]

 }
