{"Antonia" [{:cat :noun
             :agr {:gender :fem}
             :sem {:human true}
             :pred :antonio
             :pronoun false
             :propernoun true}]
 "Antonio" [{:cat :noun
             :agr {:gender :masc}
             :sem {:human true}
             :pred :antonio
             :pronoun false
             :propernoun true}]}


