{"Antonia" [{:cat :noun
             :agr {:gender :fem}
             :sem {:ref {:human true}
                   :pred :antonio}
             :pronoun false
             :propernoun true}]
 "Antonio" [{:cat :noun
             :agr {:gender :masc}
             :sem {:ref {:human true}
                   :pred :antonio}
             :pronoun false
             :propernoun true}]}


