[{:rule :irregular-common-noun
  :if {:cat :noun
       :pronoun ::unspec
       :propernoun ::unspec
       :regular false}
  :then [{:pronoun false
          :propernoun false}]}
 {:rule :regular-verb
  :if {:cat :verb}
  :regular ::unspec
  :then [{:regular true}]}]
