[{:rule :determiner-expansion
  :if {:cat :det
       :agr ::unspec}
  :then [{:agr {:number :sing}}
         {:agr {:number :plur}}]}

 {:rule :common-noun
  :if {:cat :noun
       :propernoun false
       :pronoun false
       :subcat ::unspec
       :agr ::unspec}
  :then [(let [agr (atom {:number :sing
                          :person :3rd})]
           {:cat :noun
            :reflexive false
            :propernoun false
            :pronoun false
            :agr agr
            :subcat {:1 {:cat :det :agr agr}
                     :2 []}})
         (let [agr (atom {:number :plur
                          :person :3rd})]
           {:cat :noun
            :reflexive false
            :propernoun false
            :pronoun false
            :agr agr
            :subcat {:1 {:cat :det :agr agr}
                     :2 []}})
         {:cat :noun
          :reflexive false
          :propernoun false
          :pronoun false
          :agr {:number :plur
                :person :3rd}
          :subcat []}]}

 {:rule :irregular-plural-common-noun
  :if {:cat :noun
       :propernoun false
       :pronoun false
       :regular false
       :subcat ::unspec
       :agr {:number :plur}}
  :then [(let [agr (atom {:number :plur
                          :person :3rd})]
           {:cat :noun
            :reflexive false
            :propernoun false
            :pronoun false
            :agr agr
            :subcat {:1 {:cat :det :agr agr}
                     :2 []}})
         {:cat :noun
          :reflexive false
          :propernoun false
          :pronoun false
          :agr {:number :plur
                :person :3rd}
          :subcat []}]}

 {:rule :irregular-singular-common-noun
  :if {:cat :noun
       :propernoun false
       :pronoun false
       :regular false
       :subcat ::unspec
       :agr {:number :sing}}
  :then [(let [agr (atom {:number :sing
                          :person :3rd})]
           {:cat :noun
            :reflexive false
            :propernoun false
            :pronoun false
            :agr agr
            :subcat {:1 {:cat :det :agr agr}
                     :2 []}})]}

 {:rule :reflexive-is-accusative
  :if {:cat :noun
       :pronoun true
       :reflexive true}
  :then [{:propernoun false
          :subcat []
          :case :acc}]}

 {:rule :nonreflexive
  :if {:cat :noun
       :pronoun true
       :reflexive false}
  :then [{:propernoun false
          :subcat []}]}

 {:rule :propernoun
  :if {:cat :noun
       :pronoun false
       :propernoun true}
  :then [{:subcat []}]}
 
 {:rule :transitive-verbs
  :if {:cat :verb
       :subcat {:1 {:cat ::unspec}
                :2 {:cat ::unspec}}}
  :then [(let [agr (atom :top)
               subj (atom :top)
               obj (atom :top)]
           {:agr agr
            :reflexive false
            :sem {:subj subj
                  :obj obj}
            :subcat {:1 {:agr agr
                         :cat :noun
                         :case :nom
                         :sem subj}
                     :2 {:cat :noun
                         :reflexive false
                         :case :acc
                         :sem obj}}})
         (let [agr (atom :top)
               subj (atom :top)]
           {:agr agr
            :reflexive true
            :sem {:subj subj
                  :obj subj}
            :subcat {:1 {:agr agr
                         :cat :noun
                         :case :nom
                         :sem subj}
                     :2 {:agr agr
                         :reflexive true
                         :cat :noun
                         :sem subj
                         :case :acc}}})]}

 {:rule :intransitive-verbs
  :if {:cat :verb
       :subcat {:1 {:cat ::unspec}
                :2 []}}
  :then [(let [agr (atom :top)
               subj (atom :top)]
           {:agr agr
            :sem {:subj subj}
            :reflexive false
            :subcat {:1 {:agr agr
                         :sem subj
                         :cat :noun
                         :case :nom}
                     :2 []}})]}]
        
