[{:rule :regular-noun
  :if {:cat :noun
       :agr ::unspec
       :pronoun ::unspec
       :propernoun ::unspec
       :regular ::unspec
       :sem {:mod ::unspec}}
  :then [{:regular true
          :pronoun false
          :mod []
          :propernoun false}]}]
