[{:rule :regular-noun
  :if {:cat :noun
       :agr ::unspec
       :pronoun ::unspec
       :propernoun ::unspec
       :regular ::unspec
       :sem {:mod ::unspec}}
  :then [{:regular true
          :pronoun false
          :mod []
          :propernoun false}]}
 {:rule :complementizer
  :if {:cat :comp}
  :then [(let [sem (atom :top)]
            {:sem sem
             :subcat {:1 {:sem sem}}})]}]

