{
 "ask" [{:cat :verb :sem {:pred :ask} :subcat {:1 :top :2 :top}}]
 "be" (let [s1 {:infl :present :agr {:person :1st :number :sing} :surface "am"}
            s2 {:infl :present :agr {:person :2nd :number :sing} :surface "are"}
            s3 {:infl :present :agr {:person :3rd :number :sing} :surface "is"}
            p1 {:infl :present :agr {:person :1st :number :plur} :surface "are"}
            p2 {:infl :present :agr {:person :2nd :number :plur} :surface "are"}
            p3 {:infl :present :agr {:person :3rd :number :plur} :surface "are"}

            subject-only {:subcat {:1 {:cat :noun}
                                   :2 []}}

            subject-object-noun {:subcat {:1 {:cat :noun}
                                          :2 {:cat :noun}
                                          :3 []}}

            subject-adjective {:subcat {:1 {:cat :noun}
                                        :2 {:cat :adjective}
                                        :3 []}}]
        
        [{:cat :verb
          :sem {:pred :be}
          :subcat subject-only
          :exceptions [s1 s2 s3 p1 p2 p3]}
         {:cat :verb
          :sem {:pred :be}
          :subcat subject-object-noun
          :exceptions [s1 s2 s3 p1 p2 p3]}
         {:cat :verb
          :sem {:pred :be}
          :subcat subject-adjective
          :exceptions [s1 s2 s3 p1 p2 p3]}])
 "become" [{:cat :verb :sem {:pred :become} :subcat {:1 :top :2 []}}]
 "begin" [{:cat :verb :sem {:pred :begin} :subcat {:1 :top :2 :top}}]
 "call" [{:cat :verb :sem {:pred :call} :subcat {:1 :top :2 :top}}]
 "come" [{:cat :verb :sem {:pred :come} :subcat {:1 :top :2 []}}]
 "do" [{:cat :verb :sem {:pred :do} :subcat {:1 :top :2 :top}}]
 "feel" [{:cat :verb :sem {:pred :feel} :subcat {:1 :top :2 :top}}]
 "find" [{:cat :verb :sem {:pred :find} :subcat {:1 :top :2 :top}}]
 "get" [{:cat :verb :sem {:pred :get} :subcat {:1 :top :2 :top}}]
 "give" [{:cat :verb :sem {:pred :give} :subcat {:1 :top :2 :top}}]
 "go" [{:cat :verb :sem {:pred :go} :subcat {:1 :top :2 :top}}]
 "have" [{:cat :verb :sem {:pred :have} :subcat {:1 :top :2 :top}}]
 "hear" [{:cat :verb :sem {:pred :hear} :subcat {:1 :top :2 :top}}]
 "help" [{:cat :verb :sem {:pred :help} :subcat {:1 :top :2 :top}}]
 "keep" [{:cat :verb :sem {:pred :keep} :subcat {:1 :top :2 :top}}]
 "know" [{:cat :verb :sem {:pred :know} :subcat {:1 :top :2 :top}}]
 "leave" [{:cat :verb :sem {:pred :leave} :subcat {:1 :top :2 :top}}]
 "let" [{:cat :verb :sem {:pred :let} :subcat {:1 :top :2 :top}}]
 "like" [{:cat :verb :sem {:pred :like} :subcat {:1 :top :2 :top}}]
 "live" [{:cat :verb :sem {:pred :live} :subcat {:1 :top :2 :top}}]
 "look" [{:cat :verb :sem {:pred :look} :subcat {:1 :top :2 :top}}]
 "make" [{:cat :verb :sem {:pred :make} :subcat {:1 :top :2 :top}}]
 "mean" [{:cat :verb :sem {:pred :mean} :subcat {:1 :top :2 :top}}]
 "move" [{:cat :verb :sem {:pred :move} :subcat {:1 :top :2 :top}}]
 "need" [{:cat :verb :sem {:pred :need} :subcat {:1 :top :2 :top}}]
 "play" [{:cat :verb :sem {:pred :play} :subcat {:1 :top :2 :top}}]
 "put" [{:cat :verb :sem {:pred :put} :subcat {:1 :top :2 :top}}]
 "run" [{:cat :verb :sem {:pred :run} :subcat {:1 :top :2 :top}}]
 "say" [{:cat :verb :sem {:pred :say} :subcat {:1 :top :2 :top}}]
 "see" [{:cat :verb :sem {:pred :see} :subcat {:1 :top :2 :top}}]
 "seem" [{:cat :verb :sem {:pred :seem} :subcat {:1 :top :2 :top}}]
 "show" [{:cat :verb :sem {:pred :show} :subcat {:1 :top :2 :top}}]
 "sleep" [{:cat :verb :sem {:pred :sleep} :subcat {:1 :top :2 []}}]
 "start" [{:cat :verb :sem {:pred :start} :subcat {:1 :top :2 :top}}]
 "take" [{:cat :verb :sem {:pred :take} :subcat {:1 :top :2 :top}}]
 "talk" [{:cat :verb :sem {:pred :talk} :subcat {:1 :top :2 :top}}]
 "tell" [{:cat :verb :sem {:pred :tell} :subcat {:1 :top :2 :top}}]
 "think" [{:cat :verb :sem {:pred :think} :subcat {:1 :top :2 :top}}]
 "try" [{:cat :verb :sem {:pred :try} :subcat {:1 :top :2 :top}}]
 "turn" [{:cat :verb :sem {:pred :turn} :subcat {:1 :top :2 :top}}]
 "use" [{:cat :verb :sem {:pred :use} :subcat {:1 :top :2 :top}}]
 "want" [{:cat :verb :sem {:pred :want} :subcat {:1 :top :2 :top}}]
 "work" [{:cat :verb :sem {:pred :work} :subcat {:1 :top :2 :top}}]}
