/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
*~
dbs.txt
[#]*[#]
.[#]*
stage*
all.out
*.log
/out
expression.table.gz
doo-index.html
/.repl-1.7.170
figwheel_server.log
*.gz
