[{:nl "achternaam, de", :en "surname"}
 {:nl "auto, de", :en "car"}
 {:nl "dochter, de", :en "daughter"}
 {:nl "familie, de", :en "family, relatives"}
 {:nl "huisarts, de", :en "family doctor, general practitioner"}
 {:nl "jaar, het", :en "year"}
 {:nl "kinderen, de (het kind)", :en "children (child)"}
 {:nl "man, de", :en "husband (man)"}
 {:nl "moeder, de", :en "mother"}
 {:nl "naam, de ", :en "name"}
 {:nl "nummer, het", :en "number"}
 {:nl "voornaam, de", :en "first name"}
 {:nl "vrouw, de ", :en "wife (woman)"}
 {:nl "winkel, de ", :en "shop"}
 {:nl "zoon, de", :en "son"}
 {:nl "zus, de", :en "sister"}
 {:nl "mobiele telefoon, de", :en "mobile phone"}
 {:nl "restaurant, het", :en "restaurant"}
 {:nl "student, de", :en "student"}
 {:nl "antwoord, het", :en "answer "}
 {:nl "broer, de", :en "brother"}
 {:nl "vader, de", :en "father"}
 {:nl "vraag, de", :en "question"}
 {:nl "adres, het", :en "address"}
 {:nl "cijfer, het", :en "number"}
 {:nl "cursus, de", :en "course"}
 {:nl "huis, het", :en "house"}
 {:nl "krant, de", :en "newspaper"}
 {:nl "plaats, de ", :en "here: town, city"}
 {:nl "straat, de", :en "street"}
 {:nl "vriend, de", :en "friend"}
 {:nl "datum, de", :en "date"}
 {:nl "geboorte, de", :en "birth"}
 {:nl "geslacht, het", :en "gender"}
 {:nl "afspraak, de", :en "appointment, engagement"}
 {:nl "douche, de", :en "shower"}
 {:nl "minuut, de ", :en "minute"}
 {:nl "uur, het (om 3 uur)", :en "hour (at three o' clock)"}
 {:nl "avond, de", :en "evening"}
 {:nl "maand, de", :en "month"}
 {:nl "morgen, de", :en "morning"}
 {:nl "nacht, de", :en "night"}
 {:nl "ochtend, de", :en "the morning"}
 {:nl "week, de", :en "week"}
 {:nl "weekend, het", :en "weekend"}
 {:nl "tijd, de", :en "time"}
 {:nl "collega, de", :en "colleague"}
 {:nl "feest, het", :en "party"}
 {:nl "kwart, het (tijd)", :en "quarter "}
 {:nl "kwartier, het", :en "quarter of an hour"}
 {:nl "land, het", :en "land "}
 {:nl "programma, het (tv)", :en "program"}
 {:nl "verjaardag, de", :en "birthday"}
 {:nl "vriendin, de", :en "female friend / girlfriend"}
 {:nl "bus, de ", :en "bus"}
 {:nl "centrum, het", :en "(town, city) center"}
 {:nl "dag, de", :en "day"}
 {:nl "keer, de (twee keer per week)", :en "time (two times a week)"}
 {:nl "les, de", :en "lesson"}
 {:nl "station, het", :en "station"}
 {:nl "vakantie, de", :en "holiday(s)"}
 {:nl "ziekenhuis, het", :en "hospital"}
 {:nl "bakker, de", :en "baker"}
 {:nl "glas, het (glaasje)", :en "glass"}
 {:nl "wijn, de", :en "wine"}
 {:nl "band, de", :en "relation"}
 {:nl "gerecht, het", :en "meal"}
 {:nl "aardappel, de", :en "potato"}
 {:nl "appel, de", :en "apple"}
 {:nl "fruit, het", :en "fruit"}
 {:nl "kaas, de", :en "cheese"}
 {:nl "kip, de", :en "chicken"}
 {:nl "melk, de", :en "milk"}
 {:nl "ontbijt, het", :en "breakfast"}
 {:nl "school, de ", :en "school"}
 {:nl "thee, de", :en "tea"}
 {:nl "vis, de", :en "fish"}
 {:nl "vlees, het", :en "meat"}
 {:nl "water, het", :en "water"}
 {:nl "zout, het", :en "salt"}
 {:nl "beurt, de ", :en "turn"}
 {:nl "ei, het (eieren)", :en "egg(s)"}
 {:nl "kilo, de", :en "kilo"}
 {:nl "markt, de ", :en "market"}
 {:nl "ons, het", :en "a hundred grammes"}
 {:nl "pond, de", :en "pound (500 grammes)"}
 {:nl "tas, de (tasje erbij?)", :en "bag (would you like a bag?)"}
 {:nl "verkoper, de", :en "salesman, woman, shop assistant"}
 {:nl "bier(tje), het", :en "beer"}
 {:nl "dorst, de (dorst hebben)", :en "thirst (to be thirsty)"}
 {:nl "kop, de", :en "cup"}
 {:nl "boterham, de", :en "sandwich, slice of bread"}
 {:nl "eten, het", :en "food"}
 {:nl "klant, de ", :en "customer, client"}
 {:nl "soort, de ", :en "kind"}
 {:nl "appartement, het", :en "apartment"}
 {:nl "boot, de", :en "boat"}
 {:nl "villa, de", :en "villa"}
 {:nl "bad, het", :en "bath"}
 {:nl "balkon, het", :en "balcony"}
 {:nl "beetje, het", :en "a little"}
 {:nl "dorp, het", :en "village"}
 {:nl "gezin, het", :en "family (parents and children)"}
 {:nl "kamer, de ", :en "room"}
 {:nl "kast, de ", :en "cupboard"}
 {:nl "keuken, de ", :en "kitchen"}
 {:nl "meter, de", :en "meter"}
 {:nl "muziek, de", :en "music"}
 {:nl "raam, het", :en "window"}
 {:nl "slaapkamer, de", :en "bedroom"}
 {:nl "stad, de", :en "town, city"}
 {:nl "toilet, het", :en "toilet"}
 {:nl "tuin, de", :en "garden"}
 {:nl "verdieping, de", :en "floor"}
 {:nl "vierkante meter, de", :en "square meter"}
 {:nl "aantal, het", :en "the number"}
 {:nl "huren, de huur", :en "to rent, rent"}
 {:nl "leeftijd, de", :en "age"}
 {:nl "salaris, het", :en "salary"}
 {:nl "woning, de ", :en "house"}
 {:nl "bank, de (meubel)", :en "couch, sofa"}
 {:nl "bed, het", :en "bed"}
 {:nl "geld, het", :en "money"}
 {:nl "idee, het", :en "idea"}
 {:nl "kleur, de ", :en "colour"}
 {:nl "stoel, de ", :en "chair"}
 {:nl "tafel, de", :en "table"}
 {:nl "brief, de", :en "letter"}
 {:nl "momen(tje), het ", :en "moment (just a moment, hold on please)"}
 {:nl "woningbouwvereniging, de", :en "housing association"}
 {:nl "fiets, de", :en "bicycle"}
 {:nl "richting, de", :en "direction"}
 {:nl "tram, de", :en "tram"}
 {:nl "advies, het", :en "advice"}
 {:nl "eiland, het", :en "island"}
 {:nl "provincie, de", :en "region, province"}
 {:nl "boek, het", :en "book"}
 {:nl "computer, de", :en "computer"}
 {:nl "eind, het", :en "the end"}
 {:nl "kaart, de (plattegrond, de)", :en "(street) map"}
 {:nl "lift, de", :en "lift"}
 {:nl "plein, het", :en "square"}
 {:nl "trap, de ", :en "stairs"}
 {:nl "universiteit, de", :en "university"}
 {:nl "weg, de", :en "road"}
 {:nl "ingang, de", :en "entrance, entry"}
 {:nl "kerk, de ", :en "church"}
 {:nl "kilometer, de", :en "kilometer"}
 {:nl "pad, het (fietspad)", :en "(bi)cycle track/path"}
 {:nl "pad, het (in de supermarkt)", :en "isle (in supermarkets)"}
 {:nl "brug, de", :en "bridge"}
 {:nl "feestdag, de", :en "public holiday"}
 {:nl "fout, de", :en "mistake, error, fault"}
 {:nl "kaart, de (toegangskaart, de)", :en "ticket"}
 {:nl "klas, de (school)", :en "grade, class"}
 {:nl "scherm, het", :en "screen"}
 {:nl "spoor, het", :en "track, platform"}
 {:nl "trein, de", :en "train"}
 {:nl "voordeel, het", :en "advantage"}
 {:nl "ouder, de", :en "parent"}
 {:nl "broek, de", :en "trousers"}
 {:nl "jas, de ", :en "coat"}
 {:nl "jurk, de ", :en "dress"}
 {:nl "paar, het ", :en "pair"}
 {:nl "rok, de", :en "skirt"}
 {:nl "schoen, de", :en "shoe"}
 {:nl "sok, de", :en "sock"}
 {:nl "bank, de (geld)", :en "bank"}
 {:nl "kleren, de", :en "clothes"}
 {:nl "pak, het (kleding)", :en "suit"}
 {:nl "politie, de ", :en "police"}
 {:nl "trui, de", :en "sweater"}
 {:nl "uniform, het", :en "uniform"}
 {:nl "bril, de", :en "glasses, spectacles"}
 {:nl "ding, het", :en "thing"}
 {:nl "haar, het", :en "hair"}
 {:nl "jongen, de ", :en "boy"}
 {:nl "klas(se), de (openbaar vervoer)", :en "class"}
 {:nl "krul, de", :en "curl"}
 {:nl "oog, het", :en "eye"}
 {:nl "uiterlijk, het", :en "appearance"}
 {:nl "gat, het", :en "hole"}
 {:nl "knoop, de", :en "button"}
 {:nl "maat, de ", :en "size"}
 {:nl "plezier, het", :en "fun"}
 {:nl "probleem, het", :en "problem"}
 {:nl "baas, de", :en "boss"}
 {:nl "buurman, de", :en "neighbour (male)"}
 {:nl "compliment, het", :en "compliment"}
 {:nl "dame, de", :en "lady"}
 {:nl "film, de ", :en "film"}
 {:nl "reus, de", :en "giant"}
 {:nl "bioscoop, de", :en "cinema"}
 {:nl "borrel, de", :en "alcoholic drink; a get-together"}
 {:nl "honger, de (ik heb honger)", :en "appetite (I am hungry)"}
 {:nl "kroeg, de", :en "café, pub"}
 {:nl "plan, het", :en "plan"}
 {:nl "rekening, de", :en "bill"}
 {:nl "traditie, de", :en "tradition"}
 {:nl "voorstel, het", :en "proposal, proposition"}
 {:nl "citroen, de", :en "lemon"}
 {:nl "fles, de", :en "bottle"}
 {:nl "kaart, de (menukaart, de)", :en "menu"}
 {:nl "knoflook, de", :en "garlic"}
 {:nl "ober, de", :en "waiter"}
 {:nl "plaats, de", :en "place"}
 {:nl "saus, de", :en "sauce"}
 {:nl "bloem, de ", :en "flower"}
 {:nl "lied(je), het", :en "song"}
 {:nl "maaltijd, de", :en "meal"}
 {:nl "suiker, de", :en "sugar"}
 {:nl "uitnodiging, de", :en "invitation"}
 {:nl "wedstrijd, de", :en "match, game"}
 {:nl "dier, het", :en "animal"}
 {:nl "gebouw, het", :en "building"}
 {:nl "informatie, de ", :en "information"}
 {:nl "park, het", :en "park"}
 {:nl "sprookje, het", :en "fairy tale"}
 {:nl "toegang, de", :en "entrance"}
 {:nl "toegangskaartje, het", :en "ticket"}
 {:nl "autorijles, de", :en "driving lesson"}
 {:nl "postcode, de", :en "postal code"}
 {:nl "telefoonboek, het", :en "telephone directory"}
 {:nl "woonplaats, de", :en "(place of) residence"}
 {:nl "formulier, het", :en "form"}
 {:nl "handtekening, de", :en "signature"}
 {:nl "nationaliteit, de ", :en "nationality"}
 {:nl "halte, de (de bushalte)", :en "(bus) stop"}
 {:nl "kalender, de", :en "calender"}
 {:nl "wc, de", :en "toilet"}
 {:nl "pannenkoek, de", :en "pancake"}
 {:nl "banaan, de", :en "banana"}
 {:nl "gehakt, het ", :en "minced meat"}
 {:nl "hagelslag, de", :en "chocolate sprinkles"}
 {:nl "jam, de", :en "jam"}
 {:nl "koekje, het", :en "biscuit"}
 {:nl "patat, de", :en "chips"}
 {:nl "pinda, de", :en "peanut"}
 {:nl "rijst, de", :en "rice"}
 {:nl "sperzieboon, de", :en "French bean, green bean"}
 {:nl "vegetariër, de", :en "vegetarian"}
 {:nl "vleeswaren, de", :en "cold cuts"}
 {:nl "champignon, de", :en "mushroom"}
 {:nl "slager, de ", :en "butcher"}
 {:nl "supermarkt, de", :en "supermarket"}
 {:nl "tomaat, de", :en "tomato"}
 {:nl "fris, het ", :en "soft drink"}
 {:nl "avondeten, het", :en "dinner, supper"}
 {:nl "lunch, de ", :en "lunch"}
 {:nl "salami, de", :en "salami"}
 {:nl "flatgebouw, het", :en "apartment building"}
 {:nl "rijtjeshuis, het", :en "terraced house"}
 {:nl "hal, de ", :en "hall"}
 {:nl "wasmachine, de", :en "washing machine"}
 {:nl "werkkamer, de", :en "study room"}
 {:nl "zolder, de ", :en "attic"}
 {:nl "meubels, de", :en "furniture"}
 {:nl "plattegrond, de", :en "(street) map"}
 {:nl "kassa, de", :en "check out"}
 {:nl "linkerkant, de", :en "left side"}
 {:nl "zebrapad, het", :en "pedestrian crossing, zebra crossing"}
 {:nl "abonnement, het", :en "season ticket"}
 {:nl "korting, de", :en "discount"}
 {:nl "metro, de", :en "subway, tube, underground"}
 {:nl "OV-chipkaart, de", :en "e-purse for public transportation"}
 {:nl "retour, het (trein)", :en "return trip / ticket"}
 {:nl "automaat, de", :en "ticket machine"}
 {:nl "rechterkant, de", :en "right(-hand) side"}
 {:nl "saldo, het", :en "balance (here: travel with pay)"}
 {:nl "bloes, de", :en "blouse, shirt"}
 {:nl "gympen, de", :en "sneakers"}
 {:nl "spijkerbroek, de", :en "jeans"}
 {:nl "T-shirt, het", :en "t-shirt"}
 {:nl "modeshow, de", :en "fashion show"}
 {:nl "overhemd, het ", :en "shirt"}
 {:nl "pet, de ", :en "cap"}
 {:nl "stropdas, de", :en "tie"}
 {:nl "pauze, de ", :en "break"}
 {:nl "bon, de", :en "the receipt"}
 {:nl "rits, de", :en "zip"}
 {:nl "tegoedbon, de", :en "credit note"}
 {:nl "bushalte, de", :en "bus stop"}
 {:nl "buurvrouw, de", :en "neighbour (female)"}
 {:nl "kapper, de", :en "hairdresser"}
 {:nl "bitterbal, de", :en "type of croquette served as an appetizer"}
 {:nl "borrelhapje, het", :en "snack, appetizer"}
 {:nl "rondje, het (een rondje geven)", :en "round (to stand a round of drinks)"}
 {:nl "appeltaart, de", :en "apple pie"}
 {:nl "biefstuk, de", :en "steak"}
 {:nl "buurjongen, de ", :en "boy next door, boy living nearby"}
 {:nl "dessert, het", :en "dessert"}
 {:nl "garnaal, de ", :en "shrimp, prawn"}
 {:nl "hoofdgerecht, het", :en "main course"}
 {:nl "sla, de", :en "lettuce, salad"}
 {:nl "slagroom, de", :en "whipping, whipped cream"}
 {:nl "taart, de", :en "cake, pie"}
 {:nl "tonijn, de", :en "tuna"}
 {:nl "voorgerecht, het", :en "first course, starter"}
 {:nl "werkdag, de", :en "working day"}
 {:nl "zalm, de", :en "salmon"}
 {:nl "bruiloft, de", :en "wedding"}
 {:nl "diploma, het", :en "diploma, certificate"}
 {:nl "hapje, het", :en "bite"}
 {:nl "voetbal, het", :en "football"}
 {:nl "openingstijden, de", :en "opening hours"}]

