{:name "complete"
 :morphology {:path "nederlands/morphology"
              :sources ["adjectives.edn"
                        "misc.edn"
                        "nouns.edn"
                        "verbs.edn"
                        "verbs/simple-past.edn"]}
 :grammar "nederlands/grammar.edn"
 :lexicon {:path "nederlands/lexicon"
           :rules "rules.edn"
           :sources {"adjectives.edn"
                     {:u
                      {:cat :adjective}}
                     "adverbs.edn"
                     {:u {:cat :adverb}}
                     "determiners.edn"
                     {:u {:cat :det}}
                     "exclamations.edn"
                     {:u {:cat :exclamation}}
                     "intensifiers.edn"
                     {:u {:cat :intensifier}}
                     "misc.edn"
                     {:u {}}
                     "nouns.edn"
                     {:u {:cat :noun}}
                     "numbers.edn"
                     {:u {:cat :adjective
                          :sem {:number? true}}}
                     "prepositions.edn"
                     {:u {:cat :prep}}
                     "pronouns.edn"
                     {:u {:cat :noun :pronoun? true}}
                     "propernouns.edn"
                     {:u {:cat :noun :propernoun? true}}
                     "verbs.edn"
                     {:u {:cat :verb}
                      :f 'menard.nederlands.compile/mark-irregular-verbs}}}}
