{:name "woordenlijst"
 :language "nl"
 :morphology {:path "nederlands/morphology"
              :sources ["adjectives.edn"
                        "misc.edn"
                        "nouns.edn"
                        "verbs.edn"
                        "verbs/simple-past.edn"]}
 :grammar "nederlands/grammar/grammar.edn"
 :grammar-rules "nederlands/grammar/rules.edn" 
 :lexicon {:path "nederlands/lexicon"
           :rules "rules.edn"
           :sources {"woordenlijst/nouns.edn"
                     {:u {:cat :noun}}
                     "determiners.edn"
                     {:u {:cat :det}}}}}
