{:name "woordenlijst"
 :lexicon {:rules "rules.edn"
           :sources {"woordenlijst/nouns.edn"
                     {:u {:cat :noun}}
                     "determiners.edn"
                     {:u {:cat :det}}}}}
