[{:p [#"(.*)e$" "$1o"] ;; nere -> nero
  :u {:synsem {:cat :adjective
               :agr {:gender :fem
                     :number :plur}}}}

 ;; difficile (fem plural) -> difficile (lexical form)
 ;; which happens to be spelled the same):
 {:p [#"(.*)e$" "$1e"] 
  :u {:synsem {:cat :adjective
               :agr {:gender :fem
                     :number :plur}}}}

 {:p [#"(.*)a$" "$1o"] ;; nera -> nero
  :u {:synsem {:cat :adjective
               :agr {:gender :fem
                     :number :sing}}}}

 ;; note that we do not specify the [:agr :gender], because
 ;; the surface form could be either masculine or feminine.
 {:p [#"(.*)i$" "$1e"] ;; difficili -> difficile
  :u {:synsem {:cat :adjective
               :agr {:number :plur}}}}

 {:p [#"(.*)i$" "$1o"] ;; neri -> nero
  :u {:synsem {:cat :adjective
               :agr {:gender :masc
                     :number :plur}}}}]

