[
 ;; <generation rules>: turn lexicon-derived strings into surface strings.
 ;; di lo -> dello
 {:g [#"\bdi lo\b"
      "dello"]}

 ;; il -> lo before gn,io,jo,pn,s+nonvowel,x,y,z.
 {:g [#"\bil ((gn)|(io)|(jo)|(pn)|(s[^aeiou])|([xyz]))"
      "lo $1"]}

 ;; il -> l'
 {:g [ #"\bil ([aeiou])"
      "l'$1"]}
 
 ;; i -> gli
 {:g [ #"\bi (([aeiou])|(gn)|(io)|(jo)|(pn)|(s[^aeiou])|([xyz]))"
      "gli $1"]}
 
 ;; la -> l'
 {:g [ #"\bla ([aeiou])"
      "l'$1"]}
 
 ;; un -> uno
 {:g [ #"\bun ((gn)|(io)|(jo)|(pn)|(s[^aeiou])|([xyz]))"
      "uno $1"]}
 
 ;; una -> un'
 {:g [ #"\bun ([aeiou])"
      "un'$1"]}
 ;; </generation rules>
 
  ;; dell' -> del
 {:p [#"\bdell\b" "del"]
  :u {:cat :det
      :agr {:number :sing
              :gender :masc}}}

 ;; dell' -> della
 {:p [#"\bdell\b" "della"]
  :u {:cat :det
      :agr {:number :sing
            :gender :fem}}}
 
 ;; gli -> i
 {:p [#"\bgli\b" "i"] ;; "gli" -> "i"
  :u {:synsem {:cat :det
               :agr {:number :plur
                     :gender :masc}}}}
 ;; l' -> la
 {:p [#"\bl\b" "la"] ;; "l'" -> "la"
  :u {:synsem {:cat :det
               :agr {:number :sing
                     :gender :fem}}}}
 
 ;; l' -> il
 {:p [#"\bl\b" "il"] ;; "l'" -> "il"
  :u {:synsem {:cat :det
               :agr {:number :sing
                     :gender :masc}}}}

 ]
