[{:g [#"\b(c)i\s+([eè].*)"      "$1'$2"]}  ;; ci è -> c'è
 {:g [#"\bl[ao]\s+([aeiouh].*)" "l'$1"]}  ;; io la ho visto-> l'ho visto


 {:p [#"^c$" "ci"] ;; "c'" -> "ce"
  :u {:synsem {:cat :noun
               :case :nom}}}

 {:p [#"^l$" "la"] ;; "l'" -> "la"
  :u {:synsem {:cat :noun
               :pronoun true
               :case :acc
               :agr {:number :sing
                     :gender :fem}}}}
 
 {:p [#"^l$" "lo"] ;; "l'" -> "lo"
  :u {:synsem {:cat :noun
               :pronoun true
               :case :acc
               :agr {:number :sing
                     :gender :masc}}}}
 ;; definite articles: il -> lo
 {:g [#"\bil ((gn)|(io)|(jo)|(pn)|(s[^aeiou])|([xyz]))(.*)" "lo $1$8"]}  ;; il [vowel/z] -> lo

 ;; <preposition+article>
 {:g [#"\ba il\b(.*)"           "al$1"]}     ;; a il -> al
 {:g [#"\ba lo\b(.*)"           "allo$1"]}
 {:g [#"\ba la\b(.*)"           "alla$1"]}  ;; a la -> alla
 {:g [#"\ba l'\b(.*)"           "all'$1"]}


 ;; partitive articles: Harrap p 22,23
 {:g [#"\bdi lo\b"          "dello"]}  ;; di lo -> dello
 {:g [#"\bdi il\b(.*)" "del$1"]}  ;; di il -> del

 {:g [#"\bdi l'\b(.*)"          "dell'$1"]}
 {:g [#"\bdi la\b(.*)"          "della$1"]}
 {:g [#"\bdi le\b(.*)"          "delle$1"]}
 
 ;; TODO: add all of preposition-plus-article below.
 ;; </preposition+article>
 ]



