[{:g [#"\b(c)i ([eè])"      "$1'$2"]}  ;; ci è -> c'è
 {:g [#"\bl[ao] ([aeiouh])" "l'$1"]}  ;; io la ho visto-> l'ho visto
 ;; <preposition+article>
 {:g [#"\ba il\b"           "al"]}     ;; a il -> al
 {:g [#"\ba lo\b"           "allo"]}
 {:g [#"\ba la\b"           "alla"]}  ;; a la -> alla
 {:g [#"\ba l'\b"           "all'"]}


 ;; partitive articles: Harrap p 22,23
 {:g [#"\bdi lo\b"          "dello"]}  ;; di lo -> dello
 {:g [#"\bil ((gn)|(io)|(jo)|(pn)|(s[^aeiou])|([xyz]))" "lo $1"]}  ;; il [vowel/z] -> lo
 {:g [#"\bdi il\b" "del"]}  ;; di il -> del

 {:g [#"\bdi l'"          "dell'"]}
 {:g [#"\bdi la"          "della"]}
 {:g [#"\bdi le"          "delle"]}
 
 ;; TODO: add all of preposition-plus-article below.
 ;; </preposition+article>
 ]


