[{:g [#"(.*[^c])a$"   "$1e"]  ;; donna     -> donne
  :p [#"(.*[^c])e$"   "$1a"]  ;; donne     -> donna
  :agr {:gender :fem
        :number :plur}}
 
 {:g [#"(.*)ca"   "$1che"]    ;; mucca     -> mucche
  :p [#"(.*)che$" "$1ca"]     ;; mucche    -> mucca
  :agr {:gender :fem
        :number :plur}}
 
 {:g [#"(.*)à"    "$1à"]
  :p [#"(.*)à$"   "$1à"]      ;; città     -> città
  :agr {:gender :fem
        :number :plur}}
 
 {:g [#"(.*)io"   "$1i"]      ;; figlio    -> figli
  :p [#"(.*)i$"   "$1io"]     ;; figli     -> figlio
  :agr {:number :plur}}
 
 {:g [#"(.*)e"    "$1i"]      ;; cane      -> cani, cellulare -> cellulari
  :p [#"(.*)i$"   "$1e"]      ;; cani      -> cane; madri -> madre
  ;; (note that no gender is specified in :agr because it could be either.
  :agr {:number :plur}}
 
 {:g [#"(.*)o"    "$1i"]
  :p [#"(.*)i$"   "$1o"]      ;; "compiti" -> "compito"
  :agr {:number :plur}}]



