;; currently unused: TODO: use
[["a il"   "al"]
 ["a lo"   "allo"]
 ["a la"   "alla"]
 ["a l'"   "all'"]
 ["a i"    "ai"]
 ["a gli"  "agli"]
 ["a le"   "alle"]
 
 ["da il"  "dal"]
 ["da lo"  "dallo"]
 ["da la"  "dalla"]
 ["da l'"  "dall'"]
 ["da i"   "dai"]
 ["da gli" "dagli"]
 ["da le"  "dalle"]
 
 ["de il"  "del"]
 ["de lo"  "dello"]
 ["de la"  "della"]
 ["de l'"  "dell'"]
 ["de i"   "dei"]
 ["de gli" "degli"]
 ["de le"  "delle"]
 
 ["di il"  "del"]
 ["di lo"  "dello"]
 ["di la"  "della"]
 ["di l'"  "dell'"]
 ["di i"   "dei"]
 ["di gli" "degli"]
 ["di le"  "delle"]
 
 ["in il"  "nel"]
 ["in lo"  "nello"]
 ["in la"  "nella"]
 ["in l'"  "nell'"]
 ["in i"   "nei"]
 ["in gli" "negli"]
 ["in le"  "nelle"]
 
 ["su il"  "sul"]
 ["su lo"  "sullo"]
 ["su la"  "sulla"]
 ["su l'"  "sull'"]
 ["su i"   "sui"]
 ["su gli" "sugli"]
 ["su le"  "sulle"]
 ]


