[{:rule "np" ;; the cat
  :head {:phrasal false}}
 {:rule "np" ;; the big cat
  :head {:phrasal true}}
 {:rule "s"
  :aux false
  :comp {:phrasal true}}

 ;; [np .a +[nbar .[intensifier +very .small] +cat]
 {:phrasal true
  :cat :noun
  :sem {:mod  {:first {:pred :top
                       :mod {:first {:pred :top}}}}
        :quant :indef
        :pred :top}}]

