[{:rule "np" ;; the cat
  :head {:phrasal false}}
 {:rule "np" ;; the big cat
  :head {:phrasal true}}
 {:rule "s"
  :aux false
  :comp {:phrasal true}}
 {:cat :noun
  :subcat []
  :head {:phrasal true
         :comp {:phrasal true}}
  :mod
  {:first
   {:quant :indef
    :pred :small
    :mod {:first {:pred :very}}}}
  :pred :cat
  :quant :indef}]
