[{:rule "comp1" ;; 'that I see'; 'that sees me'
  :head {:cat :comp
         :phrasal false}
  :unify [babylon.ug/head-first
          babylon.ug/head-is-root
          babylon.ug/slash-is-head-slash
          babylon.ug/subcat-1-1-comp-subcat]}
 
 {:rule "intensifier" ;; 'very small'
  :cat :adjective
  :head {:cat :intensifier}
  :comp {:cat :adjective}
  :unify [babylon.ug/head-comp-rule
          babylon.ug/head-first-1
          babylon.ug/subcat-1]}
 
 {:rule "infinitive" ;; 'to sleep'
  :cat :verb
  :head {:cat :particle
         :infl :infinitive}
  :comp {:cat :verb}
  :unify [babylon.ug/comp-is-root
          babylon.ug/head-first-1
          babylon.ug/head-infl
          babylon.ug/head-sem
          babylon.ug/subcat-1-1-comp-subcat]}
 
 {:rule "nbar" ;; 'black cat'
  :cat :noun
  :head {:pronoun false
         :propernoun false
         :subcat {:1 {:top :top}
                  :2 []}}
  :slash false
  :comp {:cat :adjective}
  :unify [babylon.ug/head-last
          babylon.ug/head-is-root
          babylon.ug/nominal-phrase
          babylon.ug/sem-mod
          babylon.ug/subcat-1-1]}

 {:rule "nbar2" ;; 'cat [s-slash I see]'
  :slash false
  :cat :noun
  :head {:phrasal false
         :pronoun false
         :propernoun false}

  :comp {:rule "s-slash"
         :phrasal true
         :cat :verb
         :slash true}
  :unify [babylon.ug/head-first
          babylon.ug/head-is-root
          babylon.ug/nominal-phrase
          babylon.ug/object-of-comp-is-head
          babylon.ug/sem-mod
          babylon.ug/subcat-1-1]}
 
 {:rule "nbar3" ;; 'cat [comp1 that [vp-present sees me]]'
  :slash false
  :cat :noun
  :head {:phrasal false
         :pronoun false
         :propernoun false}
  :comp {:phrasal true
         :cat :comp
         :slash false}
  :unify [babylon.ug/head-first
          babylon.ug/head-is-root
          babylon.ug/nominal-phrase
          babylon.ug/sem-mod
          babylon.ug/subcat-1-1
          babylon.ug/subject-of-comp-is-head]}

 {:rule "nbar4" ;; 'cat [comp1 that [s-slash I see]]'
  :slash false
  :cat :noun
  :head {:phrasal false
         :pronoun false
         :propernoun false}
  :comp {:phrasal true
         :cat :comp
         :slash true}
  :unify [babylon.ug/head-first
          babylon.ug/head-is-root
          babylon.ug/nominal-phrase
          babylon.ug/object-of-comp-is-head
          babylon.ug/sem-mod
          babylon.ug/subcat-1-1]}

 {:rule "np"
  :cat :noun
  :slash false
  :unify [babylon.ug/head-last
          babylon.ug/head-is-root
          babylon.ug/subcat-1]}

 {:rule "pp"
  :cat :prep
  :subcat []
  :unify [babylon.ug/head-first
          babylon.ug/head-is-root
          babylon.ug/subcat-1]}

 {:rule "s"
  :sem {:mood :decl}
  :cat :verb
  :slash false
  :options babylon.english/finite-tenses
  :unify [babylon.ug/comp-mod-is-subj-mod
          babylon.ug/head-last
          babylon.ug/head-is-root
          babylon.ug/subcat-1]}

 {:rule "s-comp" ;; [s-interog did [s-comp .she *sleep]]
  :slash true
  :cat :verb
  :sem {:mood :interog}
  :options [{:head {:infl :base}} {:head {:infl :gerund}}
            {:head {:infl :past-participle}}]
  
  :unify [babylon.ug/subcat-1
          babylon.ug/head-last
          babylon.ug/comp-is-root]}

 {:rule "s-interog"
  :slash false
  :cat :verb
  :sem {:mood :interog}
  :head {:aux true :phrasal false}
  :comp {:slash true
         :sem {:mood :interog}}
  :unify [babylon.ug/subcat-1
          babylon.ug/comp-is-root
          babylon.ug/head-first]}
 
 {:rule "s-slash" ;; [nbar2 *cat .[s-slash .I *see]'
  :sem {:mood :decl}
  :slash true
  :complement {:case :nom}
  :cat :verb
  :reflexive false
  :options babylon.english/finite-tenses
  :unify [babylon.ug/head-last
          babylon.ug/head-is-root
          babylon.ug/subcat-2-1-slash]}

 {:rule "vp" ;; [vp *see .it]
  :cat :verb
  :aux false
  :slash false
  :options babylon.english/tenses
  :head {:slash false
         :aux false}
  :unify [babylon.ug/head-first
          babylon.ug/comp-mod-is-obj-mod
          babylon.ug/head-is-root
          babylon.ug/subcat-2]} 

 {:rule "vp-aux" ;; [vp-aux *will .see]
  :sem {:mood :decl}
  :cat :verb
  :slash false
  :subcat {:1 {:top :top}
           :2 []}
  :aux true
  :options babylon.english/aux-tenses
  :comp {:cat :verb
         :slash false}

  :head {:slash false
         :phrasal false
         :cat :verb
         :aux true}
  :unify [babylon.ug/head-first
          babylon.ug/comp-is-root
          babylon.ug/subcat-1-1-comp-subcat]}
 
 {:rule "vp-aux-slash" ;; [np .the [nbar2 *cat .[s-slash .she *[vp-aux-slash *will .see]]]]
  :sem {:mood :decl}
  :cat :verb
  :slash true
  :aux true
  :options babylon.english/aux-tenses
  :head {:phrasal false
         :aux true}
  :unify [babylon.ug/head-first
          babylon.ug/comp-is-root
          babylon.ug/subcat-2-2-slash]}]
