[
 {:rule "intensifier" ;; 'very small'
  :cat :adjective
  :head {:cat :intensifier}
  :comp {:cat :adjective}
  :unify [babylon.ug/comp-is-root
          babylon.ug/head-first
          babylon.ug/parent-sem
          babylon.ug/subcat-a]}
 
 {:rule "nbar" ;; '[nbar .black +cat]'
  :cat :noun
  :sem {:mod []}
  :head {:pronoun false
         :propernoun false
         :subcat {:1 {:top :top}
                  :2 []}}
  :slash false
  :comp {:cat :adjective}
  :unify [babylon.ug/cons-mod-nominal
          babylon.ug/head-is-root
          babylon.ug/head-last
          babylon.ug/head-rule
          babylon.ug/nominal-phrase
          babylon.ug/shared-agr
          babylon.ug/subcat-b]}

 {:rule "np"
  :reflexive false
  :agr {:person :3rd}
  :cat :noun
  :slash false
  :comp {:phrasal false}
  :unify [babylon.ug/head-is-root
          babylon.ug/head-last
          babylon.ug/head-rule
          babylon.ug/nest-mod-nominal
          babylon.ug/shared-number
          babylon.ug/subcat-a]}

 {:rule "adverb" ;; '[adverb +[vp +eat .dinner] .together]'
  :adverb? true ;; a. first part of rathole prevention, see .b. below.
  :prod? true
  :cat :verb
  :subcat {:1 {:top :top}
           :2 []}
  :mod {:rest []}
  :reflexive false
  :head {:cat :verb
         :adverb? false} ;; b. second part of rathole prevention.
  :comp {:cat :adverb}
  :unify [babylon.ug/nest-comp-sem
          babylon.ug/head-is-root
          babylon.ug/head-first
          babylon.ug/head-rule
          babylon.ug/head-sem
          babylon.ug/subcat-b
          ]}

 {:rule "s"
  :cat :verb
  :subcat []
  :options babylon.english/finite-tenses  
  :unify [babylon.ug/head-aux
          babylon.ug/head-is-root
          babylon.ug/head-last
          babylon.ug/head-rule
          babylon.ug/head-sem
          babylon.ug/subcat-a]}

 {:rule "vp" ;; [vp +see .it], [vp +must .[vp see it]]
  :cat :verb
  :aux false
  :slash false
  :options babylon.english/tenses
  :head {:aux false}
  :unify [babylon.ug/head-first
          babylon.ug/head-is-root
          babylon.ug/head-reflexive
          babylon.ug/head-rule
          babylon.ug/head-sem
          babylon.ug/slash-is-head-slash
          babylon.ug/subcat-c]}

 {:rule "vp-inf" ;; [vp +to .sleep]
  :cat :verb
  :infl :infinitive
  :head {:canonical "to"
         :phrasal false}
  :unify [babylon.ug/head-first
          babylon.ug/comp-is-root
          babylon.ug/head-reflexive
          babylon.ug/head-rule
          babylon.ug/head-sem
          babylon.ug/slash-is-head-slash
          babylon.ug/subcat-d]}]
