[{:rule 1
  :if {:cat :det
       :agr ::unspec}
  :then [{:agr {:number :sing}}
         {:agr {:number :plur}}]}

 {:rule 2
  :if {:cat :noun
       :propernoun ::unspec
       :pronoun ::unspec
       :subcat ::unspec
       :agr ::unspec}
  :then [(let [agr (atom {:number :sing})]
           {:cat :noun
            :propernoun false
            :pronoun false
            :agr agr
            :subcat {:1 {:cat :det :agr agr}
                     :2 []}})
         (let [agr (atom {:number :plur})]
           {:cat :noun
            :propernoun false
            :pronoun false
            :agr agr
            :subcat {:1 {:cat :det :agr agr}
                     :2 []}})
         {:cat :noun
          :propernoun false
          :pronoun false
          :agr {:number :plur}
          :subcat []}]}

 {:rule 3
  :if {:cat :noun
       :propernoun false
       :pronoun false
       :subcat ::unspec
       :agr ::unspec}
  :then [(let [agr (atom {:number :sing})]
           {:cat :noun
            :propernoun false
            :pronoun false
            :agr agr
            :subcat {:1 {:cat :det :agr agr}
                     :2 []}})
         (let [agr (atom {:number :plur})]
           {:cat :noun
            :propernoun false
            :pronoun false
            :agr agr
            :subcat {:1 {:cat :det :agr agr}
                     :2 []}})
         {:cat :noun
          :propernoun false
          :pronoun false
          :agr {:number :plur}
          :subcat []}]}

 {:rule 4
  :if {:cat :noun
       :pronoun true
       :reflexive true}
  :then [{:propernoun false
          :subcat []
          :case :acc}]}]
