[;; determiners have an empty subcat.
 [{:cat :det} {:subcat [] :rules {:a true}}]

 ;; nouns are common by default (not pronouns or propernouns)
 [{:cat :noun} {:pronoun false :propernoun false :rules {:b true}}]

 ;; pronouns and propernouns have no determiners.
 [{:cat :noun} {:pronoun true :subcat [] :rules {:c true}}]
 [{:cat :noun} {:propernoun true :subcat [] :rules {:d true}}]

 ;; common nouns subcategorize for an agreeing determiner.
 [{:cat :noun}
  (let [agr (atom :top)]
    {:agr agr
     :cat :noun
     :rules {:e true}
     :subcat {:1 {:cat :det :agr agr}}})]

 ;; pronouns are not reflexive by default.
 [{:cat :noun :pronoun true}
  {:reflexive false :rules {:f true}}]

 ;; subject-verb agreement:
 [{:cat :verb}
  (let [agr (atom :top)]
    {:agr agr
     :rules {:g true}
     :subcat {:1 {:cat :noun
                  :agr agr
                  :case :nom}}})]

 ;; object of verbs is a noun and has accusative case.
 [{:cat :verb}
  {:rules {:h true}
   :subcat {:2 {:cat :noun
                :case :acc}}}]]

   
 
 
