{"a"      [{:cat :det :agr {:number :sing}}]
 "cat"    [{:cat :noun :pred :cat :subcat {:1 {:cat :det}}}]
 "dog"    [{:cat :noun :pred :dog :subcat {:1 {:cat :det}}}]
 "sleep"  [(let [agr (atom :top)]
             {:cat :verb :pred :sleep :agr agr :subcat {:1 {:agr agr :cat :noun}}})]   
 "the"    [{:cat :det}]}
