[
 ;; 1. determiners have an empty subcat.
 [{:cat :det} {:subcat []}]
 [{:cat :noun}
  (let [agr (atom :top)]
    {:agr agr
     :cat :noun
     :subcat {:1 {:agr agr}}})]
 [{:cat :noun}
  {:reflexive false}]
 [{:cat :verb}
  {:subcat {:1 {:case :nom}}}]
 [{:cat :verb}
  {:subcat {:2 {:case :acc}}}]]

   
 
 
