{"a" [{:cat :det :agr {:number :sing}}]
 "air" [{:cat :noun :pred :air :pronoun false :propernoun false}]
 "area" [{:cat :noun :pred :area :pronoun false :propernoun false}]
 "art" [{:cat :noun :pred :art :pronoun false :propernoun false}]
 "back" [{:cat :noun :pred :back :pronoun false :propernoun false}]
 "body" [{:cat :noun :pred :body :pronoun false :propernoun false}]
 "book" [{:cat :noun :pred :book :pronoun false :propernoun false}]
 "business" [{:cat :noun :pred :business :pronoun false :propernoun false}]
 "car" [{:cat :noun :pred :car :pronoun false :propernoun false}]
 "case" [{:cat :noun :pred :case :pronoun false :propernoun false}]
 "cat"  [{:cat :noun :pred :cat :pronoun false :propernoun false}]
 "change" [{:cat :noun :pred :change :pronoun false :propernoun false}]
 "child" [{:cat :noun :agr {:number :sing} :regular false :pred :child :pronoun false :propernoun false}]
 "children" [{:cat :noun :agr {:number :plur} :regular false :pred :child :pronoun false :propernoun false}]
 "city" [{:cat :noun :pred :city :pronoun false :propernoun false}]
 "community" [{:cat :noun :pred :community :pronoun false :propernoun false}]
 "company" [{:cat :noun :pred :company :pronoun false :propernoun false}]
 "country" [{:cat :noun :pred :country :pronoun false :propernoun false}]
 "day" [{:cat :noun :pred :day :pronoun false :propernoun false}]
 "dog"  [{:cat :noun :pred :dog :pronoun false :propernoun false}]
 "door" [{:cat :noun :pred :door :pronoun false :propernoun false}]
 "education" [{:cat :noun :pred :education :pronoun false :propernoun false}]
 "end" [{:cat :noun :pred :end :pronoun false :propernoun false}]
 "eye" [{:cat :noun :pred :eye :pronoun false :propernoun false}]
 "face" [{:cat :noun :pred :face :pronoun false :propernoun false}]
 "fact" [{:cat :noun :pred :fact :pronoun false :propernoun false}]
 "family" [{:cat :noun :pred :family :pronoun false :propernoun false}]
 "father" [{:cat :noun :pred :father :pronoun false :propernoun false}]
 "force" [{:cat :noun :pred :force :pronoun false :propernoun false}]
 "friend" [{:cat :noun :pred :friend :pronoun false :propernoun false}]
 "game" [{:cat :noun :pred :game :pronoun false :propernoun false}]
 "girl" [{:cat :noun :pred :girl :pronoun false :propernoun false}]
 "government" [{:cat :noun :pred :government :pronoun false :propernoun false}]
 "group" [{:cat :noun :pred :group :pronoun false :propernoun false}]
 "guy" [{:cat :noun :pred :guy :pronoun false :propernoun false}]
 "hand" [{:cat :noun :pred :hand :pronoun false :propernoun false}]
 "head" [{:cat :noun :pred :head :pronoun false :propernoun false}]
 "health" [{:cat :noun :pred :health :pronoun false :propernoun false}]
 "history" [{:cat :noun :pred :history :pronoun false :propernoun false}]
 "home" [{:cat :noun :pred :home :pronoun false :propernoun false}]
 "hour" [{:cat :noun :pred :hour :pronoun false :propernoun false}]
 "house" [{:cat :noun :pred :house :pronoun false :propernoun false}]
 "idea" [{:cat :noun :pred :idea :pronoun false :propernoun false}]
 "information" [{:cat :noun :pred :information :pronoun false :propernoun false}]
 "issue" [{:cat :noun :pred :issue :pronoun false :propernoun false}]
 "itself" [{:cat :noun :agr {:number :sing} :pronoun true :reflexive true}]
 "job" [{:cat :noun :pred :job :pronoun false :propernoun false}]
 "kid" [{:cat :noun :pred :kid :pronoun false :propernoun false}]
 "kind" [{:cat :noun :pred :kind :pronoun false :propernoun false}]
 "kitten" [{:cat :noun :pred :kitten :pronoun false :propernoun false}]
 "law" [{:cat :noun :pred :law :pronoun false :propernoun false}]
 "level" [{:cat :noun :pred :level :pronoun false :propernoun false}]
 "life" [{:cat :noun :pred :life :pronoun false :propernoun false}]
 "line" [{:cat :noun :pred :line :pronoun false :propernoun false}]
 "lot" [{:cat :noun :pred :lot :pronoun false :propernoun false}]
 "man" [{:cat :noun :regular false :pred :man :pronoun false :propernoun false :agr {:number :sing}}]
 "men" [{:cat :noun :regular false :pred :man :pronoun false :propernoun false :agr {:number :plur}}]
 "member" [{:cat :noun :pred :member :pronoun false :propernoun false}]
 "minute" [{:cat :noun :pred :minute :pronoun false :propernoun false}]
 "moment" [{:cat :noun :pred :moment :pronoun false :propernoun false}]
 "money" [{:cat :noun :pred :money :pronoun false :propernoun false}]
 "month" [{:cat :noun :pred :month :pronoun false :propernoun false}]
 "morning" [{:cat :noun :pred :morning :pronoun false :propernoun false}]
 "mother" [{:cat :noun :pred :mother :pronoun false :propernoun false}]
 "name" [{:cat :noun :pred :name :pronoun false :propernoun false}]
 "night" [{:cat :noun :pred :night :pronoun false :propernoun false}]
 "number" [{:cat :noun :pred :number :pronoun false :propernoun false}]
 "office" [{:cat :noun :pred :office :pronoun false :propernoun false}]
 "others" [{:cat :noun :regular false :pred :others :pronoun false :propernoun false :agr {:number :plur}}]
 "parent" [{:cat :noun :pred :parent :pronoun false :propernoun false}]
 "part" [{:cat :noun :pred :part :pronoun false :propernoun false}]
 "party" [{:cat :noun :pred :party :pronoun false :propernoun false}]
 "people" [{:cat :noun :regular false :pred :people :pronoun false :propernoun false :agr {:number :plur}}]
 "person" [{:cat :noun :pred :person :pronoun false :propernoun false}]
 "place" [{:cat :noun :pred :place :pronoun false :propernoun false}]
 "point" [{:cat :noun :pred :point :pronoun false :propernoun false}]
 "power" [{:cat :noun :pred :power :pronoun false :propernoun false}]
 "president" [{:cat :noun :pred :president :pronoun false :propernoun false}]
 "problem" [{:cat :noun :pred :problem :pronoun false :propernoun false}]
 "program" [{:cat :noun :pred :program :pronoun false :propernoun false}]
 "puppy" [{:cat :nound :pred :puppy :pronoun false :propernoun false}]
 "question" [{:cat :noun :pred :question :pronoun false :propernoun false}]
 "reason" [{:cat :noun :pred :reason :pronoun false :propernoun false}]
 "research" [{:cat :noun :pred :research :pronoun false :propernoun false}]
 "result" [{:cat :noun :pred :result :pronoun false :propernoun false}]
 "right" [{:cat :noun :pred :right :pronoun false :propernoun false}]
 "room" [{:cat :noun :pred :room :pronoun false :propernoun false}]
 "school" [{:cat :noun :pred :school :pronoun false :propernoun false}]
 "see" [{:cat :verb :pred :see :subcat {:1 :top
                                        :2 :top}}]
 "service" [{:cat :noun :pred :service :pronoun false :propernoun false}]
 "sheep" [{:cat :noun :regular false :pred :sheep :pronoun false :propernoun false :agr {:number :sing}}
          {:cat :noun :regular false :pred :sheep :pronoun false :propernoun false :agr {:number :plur}}]
 "side" [{:cat :noun :pred :side :pronoun false :propernoun false}]
 "sleep" [{:cat :verb :pred :sleep
                :subcat {:1 :top
                         :2 []}}]
 "state" [{:cat :noun :pred :state :pronoun false :propernoun false}]
 "story" [{:cat :noun :pred :story :pronoun false :propernoun false}]
 "student" [{:cat :noun :pred :student :pronoun false :propernoun false}]
 "study" [{:cat :noun :pred :study :pronoun false :propernoun false}]
 "system" [{:cat :noun :pred :system :pronoun false :propernoun false}]
 "teacher" [{:cat :noun :pred :teacher :pronoun false :propernoun false}]
 "team" [{:cat :noun :pred :team :pronoun false :propernoun false}]
 "the" [{:cat :det}]
 "themselves" [{:cat :noun :agr {:number :plur} :pronoun true :reflexive true}]
 "thing" [{:cat :noun :pred :thing :pronoun false :propernoun false}]
 "time" [{:cat :noun :pred :time :pronoun false :propernoun false}]
 "war" [{:cat :noun :pred :war :pronoun false :propernoun false}]
 "water" [{:cat :noun :pred :water :pronoun false :propernoun false}]
 "way" [{:cat :noun :pred :way :pronoun false :propernoun false}]
 "week" [{:cat :noun :pred :week :pronoun false :propernoun false}]
 "woman" [{:cat :noun :regular false :pred :woman :pronoun false :propernoun false :agr {:number :sing}}]
 "women" [{:cat :noun :regular false :pred :woman :pronoun false :propernoun false :agr {:number :plur}}]
 "word" [{:cat :noun :pred :word :pronoun false :propernoun false}]
 "work" [{:cat :noun :pred :work :pronoun false :propernoun false}]
 "world" [{:cat :noun :pred :world :pronoun false :propernoun false}]
 "year" [{:cat :noun :pred :year :pronoun false :propernoun false}]}
