[[{:cat :noun}
  [{:agr {:number :plur}}
   {:agr {:number :sing}}]]

 [{:cat :verb
   :subcat {:1 :top
            :2 :top}}
  (let [agr (atom :top)]
    [{:subcat {:1 {:agr agr} :2 {:agr agr :reflexive true}}}
     {:subcat {:2 {:reflexive false}}}])]]


