[{:rule :pronouns-2p
  :if {:canonical "you"}
  :then [{:agr {:number :sing}
          :case :nom
          :sense 1
          :note [:informal :singular]
          :sem {:ref {:context :informal}}}

        {:agr {:gender :masc
               :number :plur}
         :sense 2
         :case :nom
         :note [:informal :masculine :plural]
         :sem {:ref {:context :informal}}}

        {:agr {:gender :fem
               :number :plur}
         :case :nom
         :sense 3
         :note [:informal :feminine :plural]
         :sem {:ref {:context :informal}
               :person-not :1st}}

        {:agr {:number :sing}
         :case :nom
         :sense 4
         :note [:formal :singular]
         :sem {:ref {:context :formal}}}

        {:agr {:number :plur}
         :case :nom
         :sense 5
         :note [:formal :plural]
         :sem {:ref {:context :formal}}}

        {:agr {:number :sing}
         :case :acc
         :sense 6
         :note [:informal :singular]
         :sem {:ref {:context :informal}
               :person-not :1st}}

        {:agr {:number :plur}
         :case :acc
         :sense 7
         :note [:informal :plural]
         :sem {:ref {:context :informal}
               :person-not :1st}}

        {:agr {:number :sing}
         :sense 8
         :case :acc
         :note [:formal :singular]
         :sem {:ref {:context :formal}
               :person-not :1st}}

        {:agr {:person :2nd
               :number :plur}
         :sense 9
         :case :acc
         :note [:formal :plural]
         :sem {:ref {:context :formal}
               :person-not :1st}}]}

 {:rule :pronouns-3p
  :if {:canonical "they"}
  :then [{:agr {:gender :masc}
          :note [:masculine :plural]
          :sem {:gender :masc
                :ref {:human? true}}}

         {:note [:feminine :plural]
          :agr {:gender :fem}
          :sem {:gender :fem
                :ref {:human? true}}}

         {:sem {:ref {:human? false}}}]}

 {:rule :pronouns-1p
  :if {:canonical "we"}
  :then [{:sem {:ref {:gender :fem}}
          :agr {:gender :fem}
          :note [:feminine :plural]}
         {:sem {:ref {:gender :masc}}
          :agr {:gender :masc}
          :note [:masculine :plural]}]}]
