[{:rule :pronouns-2p
  :if {:canonical "you"}
  :then [{:sense 1
          :note [:informal]
          :sem {:ref {:context :informal}}}

        {:sense 2
         :note [:formal]
         :sem {:ref {:context :formal}
               :person-not :1st}}]}]
