[
 {:rule "conj-outer" ;; [.vier +[+en .twintig]]
  :unify [menard.subcat/a
          menard.ug/head-agr
          menard.ug/head-last
          menard.ug/head-sem]
  :cat :adjective
  :head {:cat :conjunction
         :agr {:number :plur}
         :phrasal true
         :rule "conj-inner"}
  :comp {:phrasal false}}

 {:rule "conj-inner" ;; +[+en .twintig]
  :unify [menard.subcat/c
          menard.ug/head-agr
          menard.ug/head-first
          menard.ug/head-sem]
  :cat :conjunction
  :head {:cat :conjunction
         :agr {:number :plur}
         :phrasal false
         :canonical "en"}}

 {:rule "intensifier-bar" ;; [.echt +kleine]
  :cat :adjective
  :head {:cat :adjective
         :sem {:number? false}}
  :comp {:cat :intensifier}
  :unify [menard.nesting/cons-only
          menard.subcat/b
          menard.ug/head-is-root
          menard.ug/head-last]}

 {:rule "intensifier-phrase" 
  :cat :adjective
  :head {:cat :adjective
         :sem {:number? false}}
  :comp {:cat :intensifier}
  :unify [menard.nesting/adjective
          menard.nesting/rest-of-mods-unnested
          menard.subcat/b
          menard.ug/head-is-root          
          menard.ug/head-last]}

 ;; [nbar .vier +[nbar .kleine +tafels]]
 {:rule "nbar"
  :cat :noun
  :head {:pronoun false
         :propernoun false
         :subcat {:1 {:top :top}
                  :2 []}}
  :slash false
  :subcat {:1 :top :2 []}
  :comp {:cat :adjective
         :modifies-noun true}
  :options [;; vier kleine (but: *kleine vier)
            {:head {:null? false}
             :mod {:first {:number? true}
                   :rest {:first {:number? false}}}}
            ;; kleine blauwe
            {:head {:null? false}
             :mod {:first {:number? false}
                   :rest {:first {:number? false}}}}
            ;; kleine
            {:mod {:first {:number? false}
                   :rest []}}
            ;; vier
            {:mod {:first {:number? true}
                   :rest []}}]
  :unify [menard.nesting/cons-only
          menard.nesting/noun
          menard.subcat/b
          menard.ug/head-last
          menard.ug/head-is-root
          menard.ug/nominal-phrase
          menard.ug/shared-agr
          menard.ug/shared-def]}
 
 ;; np with no determiner, e.g.:
 ;; 'grote katten' in 'grote katten slapen'.
 {:rule "np:1" 
  :np? true
  :cat :noun
  :subcat []
  :head {:pronoun false
         :propernoun false
         ;; Prevent e.g. *"oude de huizen",
         ;; whereas e.g. "de oude huizen" is ok:
         :np? false
         :subcat []}
  :slash false
  :comp {:cat :adjective
         :modifies-noun true}
  :unify [menard.nesting/rest-of-mods-unnested
          menard.nesting/noun
          menard.subcat/b
          menard.ug/head-is-root
          menard.ug/head-last
          menard.ug/head-rule
          menard.ug/nominal-phrase
          menard.ug/shared-agr
          menard.ug/shared-def]}
 
 {:rule "np:2" ;; '.de +kat'
  :np? true
  :reflexive false
  :agr {:person :3rd}
  :cat :noun
  :comp {:cat :det}
  :slash false
  :subcat []
  :unify [menard.nesting/nest-only
          menard.nesting/noun
          menard.subcat/a
          menard.ug/head-is-root
          menard.ug/head-last
          menard.ug/head-rule
          menard.ug/shared-def
          menard.ug/shared-number]}

 {:rule "s"
  :cat :verb
  :subcat []
  :options menard.nederlands/finite-tenses  
  :unify [menard.subcat/a
          menard.ug/head-aux
          menard.ug/head-is-root
          menard.ug/head-last
          menard.ug/head-rule
          menard.ug/head-sem
          menard.ug/sem-mod-is-empty ;; temporary until I figure out how to use [:head :sem :mod] for this rule.
          ]}

 {:rule "vp" ;; [vp +zie .het]
  :cat :verb
  :aux false
  :slash false
  :options menard.nederlands/finite-plus-inf-tense
  :head {:aux false
         :modal false}

  :unify [menard.subcat/c
          menard.ug/head-first
          menard.ug/head-is-root
          menard.ug/head-reflexive
          menard.ug/head-rule
          menard.ug/head-sem
          menard.ug/sem-mod-is-empty ;; temporary until I figure out how to use [:head :sem :mod] for this rule.
          menard.ug/slash-is-head-slash]}

 {:rule "vp-modal-te" ;; [vp-modal-te +proberen .[+te slapen]]
  :cat :verb
  :aux false
  :slash false
  :options menard.nederlands/finite-plus-inf-tense
  :head {:aux false
         :modal :te}

  :unify [menard.subcat/c
          menard.ug/head-first
          menard.ug/head-is-root
          menard.ug/head-reflexive
          menard.ug/head-rule
          menard.ug/head-sem
          menard.ug/sem-mod-is-empty
          menard.ug/slash-is-head-slash]}

 ;; the object of the non-modal verb (in the complement)
 ;; is copied up:
 {:rule "vp-infinitive" ;; [vp +moet .bestrijden]
  :cat :verb
  :aux false
  :slash false
  :options menard.nederlands/finite-plus-inf-tense
  :head {:aux false
         :modal :infinitive}
  :unify [menard.subcat/i
          menard.ug/head-first
          menard.ug/head-is-root
          menard.ug/nest-comp-mod
          menard.ug/head-reflexive
          menard.ug/head-rule
          menard.ug/head-sem
          menard.ug/slash-is-head-slash]}

 {:rule "adverb-nodig" ;; [adverb-nodig .[vp +hebt .[wat. +geld]] +nodig]
  :cat :verb
  :head {:canonical "nodig"}
  :unify [menard.subcat/d
          menard.ug/head-last]}
 
 {:rule "vp-np" ;; [vp-np .[np de kat] [vp-te +te .zien]]
  :cat :verb
  :aux false
  :slash false
  :options menard.nederlands/inf-tense
  :head {:aux false}
  :unify [menard.subcat/c
          menard.ug/head-last
          menard.ug/head-is-root
          menard.ug/head-reflexive
          menard.ug/head-rule
          menard.ug/head-sem
          menard.ug/sem-mod-is-empty ;; temporary until I figure out how to use [:head :sem :mod] for this rule.
          menard.ug/slash-is-head-slash]}

 {:rule "vp-te" ;; '+te .slapen'
  :cat :verb
  :aux false
  :slash false
  :infl :te
  :head {:canonical "te"}
  :unify [menard.subcat/d
          menard.ug/head-first
          menard.ug/comp-is-root
          menard.ug/head-reflexive
          menard.ug/head-rule
          menard.ug/head-sem
          menard.ug/slash-is-head-slash
          menard.ug/sem-mod-is-comp-mod]}
 
 {:rule "adverb" ;; '.samen +bestrijden'
  :prod? true
  :cat :verb
  :subcat {:1 {:top :top}
           :2 {:top :top}
           :3 []}
  :reflexive false
  :head {:cat :verb
         :infl :infinitive}
  :comp {:cat :adverb}
  :unify [menard.subcat/b
          menard.nesting/rest-of-mods-nested
          menard.nesting/verb
          menard.ug/subj-ref
          menard.ug/head-is-root
          menard.ug/head-last
          menard.ug/head-rule]}

 ;; [modal+subject(:present-simple) +moeten .jullie]
 {:rule "modal+subject"
  :prod? true
  :cat :verb
  :reflexive false
  :head {:phrasal false
         :modal :infinitive
         :infl :present
         :subcat {:2 {:modal false}}}
  :options menard.nederlands/finite-tenses  
  :unify [menard.subcat/e
          menard.ug/head-first
          menard.ug/head-rule
          menard.ug/head-sem]}

 ;; +[vp-slash-object +[modal+subject(:present-simple) +moeten .we] .[adverb .samen +bestrijden]]
 {:rule "vp-slash-object"
  :prod? true
  :cat :verb
  :reflexive false
  :head {:rule "modal+subject"
         :phrasal true}
  :unify [menard.subcat/h
          menard.ug/head-first
          menard.ug/head-sem]}]
