[
 ;; canonical form is identical to the masculine singular form:
 {:g [#"^(.*)$"  "$1"] 
  :p [#"(.*)$"   "$1"]
  :u {:cat :adjective
      :agr {:gender :masc
            :number :sing}}}

 ;; feminine singular: negra -> negro
 {:g [#"^(.*)o$" "$1a"] 
  :p [#"(.*)a$"  "$1o"]
  :u {:cat :adjective
      :agr {:gender :fem
            :number :sing}}}


 ;; masculine plural
 {:g [#"^(.*)o$" "$1os"] 
  :p [#"(.*)os$" "$1o"]
  :u {:cat :adjective
      :agr {:gender :masc
            :number :plur}}}

  ;; feminine plural
 {:g [#"^(.*)o$" "$1as"] 
  :p [#"(.*)as$" "$1o"]
  :u {:cat :adjective
      :agr {:gender :fem
            :number :plur}}}
 ]

 
