;; https://en.wikipedia.org/wiki/Spanish_grammar?useskin=vector#Imperfect_or_%22copret%C3%A9rito%22
[{:g [#"^(.*)ar$" "$1aba"],
  :p [#"^(.*)aba$" "$1ar"],
  :u
  {:cat :verb, :infl :imperfect, :agr {:number :sing, :person :1st},
  :reflexive? false}}
 {:g [#"^(.*)arse$" "$1aba"],
  :p [#"^(.*)aba$" "$1arse"],
  :u
  {:cat :verb, :infl :imperfect, :agr {:number :sing, :person :1st},
  :reflexive? true}}
 {:g [#"^(.*)er$" "$1ía"],
  :p [#"^(.*)ía$" "$1er"],
  :u
  {:cat :verb, :infl :imperfect, :agr {:number :sing, :person :1st},
  :reflexive? false}}
 {:g [#"^(.*)erse$" "$1ía"],
  :p [#"^(.*)ía$" "$1erse"],
  :u
  {:cat :verb, :infl :imperfect, :agr {:number :sing, :person :1st},
  :reflexive? true}}
 {:g [#"^(.*)ir$" "$1ía"],
  :p [#"^(.*)ía$" "$1ir"],
  :u
  {:cat :verb, :infl :imperfect, :agr {:number :sing, :person :1st},
  :reflexive? false}}
 {:g [#"^(.*)irse$" "$1ía"],
  :p [#"^(.*)ía$" "$1irse"],
  :u
  {:cat :verb, :infl :imperfect, :agr {:number :sing, :person :1st},
  :reflexive? true}}
 {:g [#"^(.*)ar$" "$1abas"],
  :p [#"^(.*)abas$" "$1ar"],
  :u
  {:cat :verb,
   :infl :imperfect,
   :agr {:formal? false, :number :sing, :person :2nd},
  :reflexive? false}}
 {:g [#"^(.*)arse$" "$1abas"],
  :p [#"^(.*)abas$" "$1arse"],
  :u
  {:cat :verb,
   :infl :imperfect,
   :agr {:formal? false, :number :sing, :person :2nd},
  :reflexive? true}}
 {:g [#"^(.*)er$" "$1ías"],
  :p [#"^(.*)ías$" "$1er"],
  :u
  {:cat :verb,
   :infl :imperfect,
   :agr {:formal? false, :number :sing, :person :2nd},
  :reflexive? false}}
 {:g [#"^(.*)erse$" "$1ías"],
  :p [#"^(.*)ías$" "$1erse"],
  :u
  {:cat :verb,
   :infl :imperfect,
   :agr {:formal? false, :number :sing, :person :2nd},
  :reflexive? true}}
 {:g [#"^(.*)ir$" "$1ías"],
  :p [#"^(.*)ías$" "$1ir"],
  :u
  {:cat :verb,
   :infl :imperfect,
   :agr {:formal? false, :number :sing, :person :2nd},
  :reflexive? false}}
 {:g [#"^(.*)irse$" "$1ías"],
  :p [#"^(.*)ías$" "$1irse"],
  :u
  {:cat :verb,
   :infl :imperfect,
   :agr {:formal? false, :number :sing, :person :2nd},
  :reflexive? true}}
 {:g [#"^(.*)ar$" "$1aba"],
  :p [#"^(.*)aba$" "$1ar"],
  :u
  {:cat :verb,
   :infl :imperfect,
   :agr {:formal? true, :number :sing, :person :2nd},
  :reflexive? false}}
 {:g [#"^(.*)arse$" "$1aba"],
  :p [#"^(.*)aba$" "$1arse"],
  :u
  {:cat :verb,
   :infl :imperfect,
   :agr {:formal? true, :number :sing, :person :2nd},
  :reflexive? true}}
 {:g [#"^(.*)er$" "$1ía"],
  :p [#"^(.*)ía$" "$1er"],
  :u
  {:cat :verb,
   :infl :imperfect,
   :agr {:formal? true, :number :sing, :person :2nd},
  :reflexive? false}}
 {:g [#"^(.*)erse$" "$1ía"],
  :p [#"^(.*)ía$" "$1erse"],
  :u
  {:cat :verb,
   :infl :imperfect,
   :agr {:formal? true, :number :sing, :person :2nd},
  :reflexive? true}}
 {:g [#"^(.*)ir$" "$1ía"],
  :p [#"^(.*)ía$" "$1ir"],
  :u
  {:cat :verb,
   :infl :imperfect,
   :agr {:formal? true, :number :sing, :person :2nd},
  :reflexive? false}}
 {:g [#"^(.*)irse$" "$1ía"],
  :p [#"^(.*)ía$" "$1irse"],
  :u
  {:cat :verb,
   :infl :imperfect,
   :agr {:formal? true, :number :sing, :person :2nd},
  :reflexive? true}}

 {:g [#"^(.*)ar$" "$1aba"],
  :p [#"^(.*)aba$" "$1ar"],
  :u
  {:cat :verb, :infl :imperfect, :agr {:number :sing, :person :3rd},
   :reflexive? false}}

 {:g [#"^(.*)arse$" "$1aba"],
  :p [#"^(.*)aba$" "$1arse"],
  :u
  {:cat :verb, :infl :imperfect, :agr {:number :sing, :person :3rd},
   :reflexive? true}}

 {:g [#"^(.*)er$" "$1ía"],
  :p [#"^(.*)ía$" "$1er"],
  :u
  {:cat :verb, :infl :imperfect, :agr {:number :sing, :person :3rd},
  :reflexive? false}}
 {:g [#"^(.*)erse$" "$1ía"],
  :p [#"^(.*)ía$" "$1erse"],
  :u
  {:cat :verb, :infl :imperfect, :agr {:number :sing, :person :3rd},
  :reflexive? true}}
 {:g [#"^(.*)ir$" "$1ía"],
  :p [#"^(.*)ía$" "$1ir"],
  :u
  {:cat :verb, :infl :imperfect, :agr {:number :sing, :person :3rd},
  :reflexive? false}}
 {:g [#"^(.*)irse$" "$1ía"],
  :p [#"^(.*)ía$" "$1irse"],
  :u
  {:cat :verb, :infl :imperfect, :agr {:number :sing, :person :3rd},
  :reflexive? true}}
 {:g [#"^(.*)ar$" "$1ábamos"],
  :p [#"^(.*)ábamos$" "$1ar"],
  :u
  {:cat :verb, :infl :imperfect, :agr {:number :plur, :person :1st},
  :reflexive? false}}
 {:g [#"^(.*)arse$" "$1ábamos"],
  :p [#"^(.*)ábamos$" "$1arse"],
  :u
  {:cat :verb, :infl :imperfect, :agr {:number :plur, :person :1st},
  :reflexive? true}}
 {:g [#"^(.*)er$" "$1íamos"],
  :p [#"^(.*)íamos$" "$1er"],
  :u
  {:cat :verb, :infl :imperfect, :agr {:number :plur, :person :1st},
  :reflexive? false}}
 {:g [#"^(.*)erse$" "$1íamos"],
  :p [#"^(.*)íamos$" "$1erse"],
  :u
  {:cat :verb, :infl :imperfect, :agr {:number :plur, :person :1st},
  :reflexive? true}}
 {:g [#"^(.*)ir$" "$1íamos"],
  :p [#"^(.*)íamos$" "$1ir"],
  :u
  {:cat :verb, :infl :imperfect, :agr {:number :plur, :person :1st},
  :reflexive? false}}
 {:g [#"^(.*)irse$" "$1íamos"],
  :p [#"^(.*)íamos$" "$1irse"],
  :u
  {:cat :verb, :infl :imperfect, :agr {:number :plur, :person :1st},
  :reflexive? true}}
 {:g [#"^(.*)ar$" "$1abais"],
  :p [#"^(.*)abais$" "$1ar"],
  :u
  {:cat :verb,
   :infl :imperfect,
   :agr {:formal? false, :number :plur, :person :2nd},
  :reflexive? false}}
 {:g [#"^(.*)arse$" "$1abais"],
  :p [#"^(.*)abais$" "$1arse"],
  :u
  {:cat :verb,
   :infl :imperfect,
   :agr {:formal? false, :number :plur, :person :2nd},
  :reflexive? true}}
 {:g [#"^(.*)er$" "$1íais"],
  :p [#"^(.*)íais$" "$1er"],
  :u
  {:cat :verb,
   :infl :imperfect,
   :agr {:formal? false, :number :plur, :person :2nd},
  :reflexive? false}}
 {:g [#"^(.*)erse$" "$1íais"],
  :p [#"^(.*)íais$" "$1erse"],
  :u
  {:cat :verb,
   :infl :imperfect,
   :agr {:formal? false, :number :plur, :person :2nd},
  :reflexive? true}}
 {:g [#"^(.*)ir$" "$1íais"],
  :p [#"^(.*)íais$" "$1ir"],
  :u
  {:cat :verb,
   :infl :imperfect,
   :agr {:formal? false, :number :plur, :person :2nd},
  :reflexive? false}}
 {:g [#"^(.*)irse$" "$1íais"],
  :p [#"^(.*)íais$" "$1irse"],
  :u
  {:cat :verb,
   :infl :imperfect,
   :agr {:formal? false, :number :plur, :person :2nd},
  :reflexive? true}}
 {:g [#"^(.*)ar$" "$1aban"],
  :p [#"^(.*)aban$" "$1ar"],
  :u
  {:cat :verb,
   :infl :imperfect,
   :agr {:formal? true, :number :plur, :person :2nd},
  :reflexive? false}}
 {:g [#"^(.*)arse$" "$1aban"],
  :p [#"^(.*)aban$" "$1arse"],
  :u
  {:cat :verb,
   :infl :imperfect,
   :agr {:formal? true, :number :plur, :person :2nd},
  :reflexive? true}}
 {:g [#"^(.*)er$" "$1ían"],
  :p [#"^(.*)ían$" "$1er"],
  :u
  {:cat :verb,
   :infl :imperfect,
   :agr {:formal? true, :number :plur, :person :2nd},
  :reflexive? false}}
 {:g [#"^(.*)erse$" "$1ían"],
  :p [#"^(.*)ían$" "$1erse"],
  :u
  {:cat :verb,
   :infl :imperfect,
   :agr {:formal? true, :number :plur, :person :2nd},
  :reflexive? true}}
 {:g [#"^(.*)ir$" "$1ían"],
  :p [#"^(.*)ían$" "$1ir"],
  :u
  {:cat :verb,
   :infl :imperfect,
   :agr {:formal? true, :number :plur, :person :2nd},
  :reflexive? false}}
 {:g [#"^(.*)irse$" "$1ían"],
  :p [#"^(.*)ían$" "$1irse"],
  :u
  {:cat :verb,
   :infl :imperfect,
   :agr {:formal? true, :number :plur, :person :2nd},
  :reflexive? true}}
 {:g [#"^(.*)ar$" "$1aban"],
  :p [#"^(.*)aban$" "$1ar"],
  :u
  {:cat :verb, :infl :imperfect, :agr {:number :plur, :person :3rd},
  :reflexive? false}}
 {:g [#"^(.*)arse$" "$1aban"],
  :p [#"^(.*)aban$" "$1arse"],
  :u
  {:cat :verb, :infl :imperfect, :agr {:number :plur, :person :3rd},
  :reflexive? true}}
 {:g [#"^(.*)er$" "$1ían"],
  :p [#"^(.*)ían$" "$1er"],
  :u
  {:cat :verb, :infl :imperfect, :agr {:number :plur, :person :3rd},
  :reflexive? false}}
 {:g [#"^(.*)erse$" "$1ían"],
  :p [#"^(.*)ían$" "$1erse"],
  :u
  {:cat :verb, :infl :imperfect, :agr {:number :plur, :person :3rd},
  :reflexive? true}}
 {:g [#"^(.*)ir$" "$1ían"],
  :p [#"^(.*)ían$" "$1ir"],
  :u
  {:cat :verb, :infl :imperfect, :agr {:number :plur, :person :3rd},
  :reflexive? false}}
 {:g [#"^(.*)irse$" "$1ían"],
  :p [#"^(.*)ían$" "$1irse"],
  :u
  {:cat :verb, :infl :imperfect, :agr {:number :plur, :person :3rd},
  :reflexive? true}}]
