(->>
[
 ;; https://en.wikipedia.org/wiki/Spanish_grammar?useskin=vector#Preterite
 ;;   singular
 ;;     1st person
 {:g [#"^(.*)ar$"  "$1é"] 
  :p [#"^(.*)é$"   "$1ar"]
  :u {:cat :verb
      :infl :preterito
      :agr {:number :sing
            :person :1st}
      :reflexive? false}}
 {:g [#"^(.*)arse$" "$1é"] 
  :p [#"^(.*)é$"    "$1arse"]
  :u {:cat :verb
      :infl :preterito
      :agr {:number :sing
            :person :1st}
      :reflexive? true}}

 {:g [#"^(.*)er$"  "$1í"]
  :p [#"^(.*)í$"   "$1er"] 
  :u {:cat :verb
      :infl :preterito
      :agr {:number :sing
            :person :1st}
      :reflexive? false}}
 {:g [#"^(.*)erse$"  "$1í"]
  :p [#"^(.*)í$"     "$1erse"] 
  :u {:cat :verb
      :infl :preterito
      :agr {:number :sing
            :person :1st}
      :reflexive? true}}

 {:g [#"^(.*)ir$"  "$1í"] 
  :p [#"^(.*)í$"   "$1ir"] 
  :u {:cat :verb
      :infl :preterito
      :agr {:number :sing
            :person :1st}
      :reflexive? false}}
 {:g [#"^(.*)irse$"  "$1í"] 
  :p [#"^(.*)í$"     "$1irse"] 
  :u {:cat :verb
      :infl :preterito
      :agr {:number :sing
            :person :1st}
      :reflexive? true}}
 
 ;;     2nd person. informal
 {:g [#"^(.*)ar$"   "$1aste"] 
  :p [#"^(.*)aste$" "$1ar"] 
  :u {:cat :verb
      :infl :preterito
      :agr {:formal? false
            :number :sing
            :person :2nd}
      :reflexive? false}}
 {:g [#"^(.*)arse$" "$1aste"] 
  :p [#"^(.*)aste$" "$1arse"] 
  :u {:cat :verb
      :infl :preterito
      :agr {:formal? false
            :number :sing
            :person :2nd}
      :reflexive? true}}

 {:g [#"^(.*)er$"   "$1iste"] 
  :p [#"^(.*)iste$" "$1er"] 
  :u {:cat :verb
      :infl :preterito
      :agr {:formal? false
            :number :sing
            :person :2nd}
      :reflexive? false}}
 {:g [#"^(.*)erse$" "$1iste"] 
  :p [#"^(.*)iste$" "$1erse"] 
  :u {:cat :verb
      :infl :preterito
      :agr {:formal? false
            :number :sing
            :person :2nd}
      :reflexive? true}}

 {:g [#"^(.*)ir$"   "$1iste"] 
  :p [#"^(.*)iste$" "$1ir"] 
  :u {:cat :verb
      :infl :preterito
      :agr {:formal? false
            :number :sing
            :person :2nd}
      :reflexive? false}}
 {:g [#"^(.*)irse$" "$1iste"] 
  :p [#"^(.*)iste$" "$1irse"] 
  :u {:cat :verb
      :infl :preterito
      :agr {:formal? false
            :number :sing
            :person :2nd}
      :reflexive? true}}

 ;;     2nd person formal
 {:g [#"^(.*)ar$"  "$1ó"] 
  :p [#"^(.*)ó$"   "$1ar"] 
  :u {:cat :verb
      :infl :preterito
      :agr {:formal? true
            :number :sing
            :person :2nd}
      :reflexive? false}}
 {:g [#"^(.*)arse$" "$1ó"] 
  :p [#"^(.*)ó$"    "$1arse"] 
  :u {:cat :verb
      :infl :preterito
      :agr {:formal? true
            :number :sing
            :person :2nd}
      :reflexive? true}}
 
 {:g [#"^(.*)er$" "$1ió"] 
  :p [#"^(.*)ió$" "$1er"] 
  :u {:cat :verb
      :infl :preterito
      :agr {:formal? true
            :number :sing
            :person :2nd}
      :reflexive? false}}
 {:g [#"^(.*)erse$" "$1ió"] 
  :p [#"^(.*)ió$"   "$1erse"] 
  :u {:cat :verb
      :infl :preterito
      :agr {:formal? true
            :number :sing
            :person :2nd}
      :reflexive? true}}

 {:g [#"^(.*)ir$" "$1ió"] 
  :p [#"^(.*)ió$" "$1ir"] 
  :u {:cat :verb
      :infl :preterito
      :agr {:formal? true
            :number :sing
            :person :2nd}
      :reflexive? false}}
 {:g [#"^(.*)irse$" "$1ió"] 
  :p [#"^(.*)ió$"   "$1irse"] 
  :u {:cat :verb
      :infl :preterito
      :agr {:formal? true
            :number :sing
            :person :2nd}
      :reflexive? true}}
 
 ;;     3rd person
 {:g [#"^(.*)ar$"  "$1ó"] 
  :p [#"^(.*)ó$"   "$1ar"] 
  :u {:cat :verb
      :infl :preterito
      :agr {:number :sing
            :person :3rd}
      :reflexive? false}}
 {:g [#"^(.*)arse$"  "$1ó"] 
  :p [#"^(.*)ó$"     "$1arse"] 
  :u {:cat :verb
      :infl :preterito
      :agr {:number :sing
            :person :3rd}
      :reflexive? true}}

 {:g [#"^(.*)er$"  "$1ió"] 
  :p [#"^(.*)ió$"  "$1er"] 
  :u {:cat :verb
      :infl :preterito
      :agr {:number :sing
            :person :3rd}
      :reflexive? false}}
 {:g [#"^(.*)erse$" "$1ió"] 
  :p [#"^(.*)ió$"   "$1erse"] 
  :u {:cat :verb
      :infl :preterito
      :agr {:number :sing
            :person :3rd}
      :reflexive? true}}

 {:g [#"^(.*)ir$"  "$1ió"] 
  :p [#"^(.*)ió$"  "$1ir"] 
  :u {:cat :verb
      :infl :preterito
      :agr {:number :sing
            :person :3rd}
      :reflexive? false}}
 {:g [#"^(.*)irse$" "$1ió"] 
  :p [#"^(.*)ió$"   "$1irse"] 
  :u {:cat :verb
      :infl :preterito
      :agr {:number :sing
            :person :3rd}
      :reflexive? true}}

 ;;   plural
 ;;     1st person
 {:g [#"^(.*)ar$"   "$1amos"] 
  :p [#"^(.*)amos$" "$1ar"] 
  :u {:cat :verb
      :infl :preterito
      :agr {:number :plur
            :person :1st}
      :reflexive? false}}
 {:g [#"^(.*)arse$"   "$1amos"] 
  :p [#"^(.*)amos$"   "$1arse"] 
  :u {:cat :verb
      :infl :preterito
      :agr {:number :plur
            :person :1st}
      :reflexive? true}}

 {:g [#"^(.*)er$"   "$1imos"] 
  :p [#"^(.*)imos$" "$1er"] 
  :u {:cat :verb
      :infl :preterito
      :agr {:number :plur
            :person :1st}
      :reflexive? false}}
 {:g [#"^(.*)erse$"   "$1imos"] 
  :p [#"^(.*)imos$"   "$1erse"] 
  :u {:cat :verb
      :infl :preterito
      :agr {:number :plur
            :person :1st}
      :reflexive? true}}

 {:g [#"^(.*)ir$"   "$1imos"] 
  :p [#"^(.*)imos$" "$1ir"] 
  :u {:cat :verb
      :infl :preterito
      :agr {:number :plur
            :person :1st}
      :reflexive? false}}
 {:g [#"^(.*)irse$"   "$1imos"] 
  :p [#"^(.*)imos$" "$1irse"] 
  :u {:cat :verb
      :infl :preterito
      :agr {:number :plur
            :person :1st}
      :reflexive? true}}

 ;;     2nd person informal
 {:g [#"^(.*)ar$"     "$1asteis"] 
  :p [#"^(.*)asteis$" "$1ar"] 
  :u {:cat :verb
      :infl :preterito
      :agr {:formal? false
            :number :plur
            :person :2nd}
      :reflexive? false}}
 {:g [#"^(.*)arse$"   "$1asteis"] 
  :p [#"^(.*)asteis$" "$1arse"] 
  :u {:cat :verb
      :infl :preterito
      :agr {:formal? false
            :number :plur
            :person :2nd}
      :reflexive? true}}

 {:g [#"^(.*)er$"     "$1isteis"] 
  :p [#"^(.*)isteis$" "$1er"] 
  :u {:cat :verb
      :infl :preterito
      :agr {:formal? false
            :number :plur
            :person :2nd}
      :reflexive? false}}
 {:g [#"^(.*)erse$"   "$1isteis"] 
  :p [#"^(.*)isteis$" "$1erse"] 
  :u {:cat :verb
      :infl :preterito
      :agr {:formal? false
            :number :plur
            :person :2nd}
      :reflexive? true}}

 {:g [#"^(.*)ir$"     "$1isteis"] 
  :p [#"^(.*)isteis$" "$1ir"] 
  :u {:cat :verb
      :infl :preterito
      :agr {:formal? false
            :number :plur
            :person :2nd}
      :reflexive? false}}
 {:g [#"^(.*)irse$"   "$1isteis"] 
  :p [#"^(.*)isteis$" "$1irse"] 
  :u {:cat :verb
      :infl :preterito
      :agr {:formal? false
            :number :plur
            :person :2nd}
      :reflexive? true}}

 ;;     2nd person formal
 {:g [#"^(.*)ar$"   "$1aron"] 
  :p [#"^(.*)aron$" "$1ar"] 
  :u {:cat :verb
      :infl :preterito
      :agr {:formal? true
            :number :plur
            :person :2nd}
      :reflexive? false}}
 {:g [#"^(.*)arse$" "$1aron"] 
  :p [#"^(.*)aron$" "$1arse"] 
  :u {:cat :verb
      :infl :preterito
      :agr {:formal? true
            :number :plur
            :person :2nd}
      :reflexive? true}}

 {:g [#"^(.*)er$"    "$1ieron"] 
  :p [#"^(.*)ieron$" "$1er"] 
  :u {:cat :verb
      :infl :preterito
      :agr {:formal? true
            :number :plur
            :person :2nd}
      :reflexive? false}}
 {:g [#"^(.*)erse$"  "$1ieron"] 
  :p [#"^(.*)ieron$" "$1erse"] 
  :u {:cat :verb
      :infl :preterito
      :agr {:formal? true
            :number :plur
            :person :2nd}
      :reflexive? true}}

 {:g [#"^(.*)ir$"    "$1ieron"] 
  :p [#"^(.*)ieron$" "$1ir"] 
  :u {:cat :verb
      :infl :preterito
      :agr {:formal? true
            :number :plur
            :person :2nd}
      :reflexive? false}}
 {:g [#"^(.*)irse$"  "$1ieron"] 
  :p [#"^(.*)ieron$" "$1irse"] 
  :u {:cat :verb
      :infl :preterito
      :agr {:formal? true
            :number :plur
            :person :2nd}
      :reflexive? true}}
 
 ;;     3rd person
 {:g [#"^(.*)ar$"    "$1aron"] 
  :p [#"^(.*)aron$"  "$1ar"] 
  :u {:cat :verb
      :infl :preterito
      :agr {:number :plur
            :person :3rd}
      :reflexive? false}}
 {:g [#"^(.*)arse$"  "$1aron"] 
  :p [#"^(.*)aron$"  "$1arse"] 
  :u {:cat :verb
      :infl :preterito
      :agr {:number :plur
            :person :3rd}
      :reflexive? true}}

 {:g [#"^(.*)er$"    "$1ieron"] 
  :p [#"^(.*)ieron$" "$1er"] 
  :u {:cat :verb
      :infl :preterito
      :agr {:number :plur
            :person :3rd}
      :reflexive? false}}
 {:g [#"^(.*)erse$"  "$1ieron"] 
  :p [#"^(.*)ieron$" "$1erse"] 
  :u {:cat :verb
      :infl :preterito
      :agr {:number :plur
            :person :3rd}
      :reflexive? true}}

 {:g [#"^(.*)ir$"    "$1ieron"] 
  :p [#"^(.*)ieron$" "$1ir"] 
  :u {:cat :verb
      :infl :preterito
      :agr {:number :plur
            :person :3rd}
      :reflexive? false}}
 {:g [#"^(.*)irse$"  "$1ieron"] 
  :p [#"^(.*)ieron$" "$1irse"] 
  :u {:cat :verb
      :infl :preterito
      :agr {:number :plur
            :person :3rd}
      :reflexive? true}}
 ]

(map (fn [rule]
       (dag_unify.core/unify rule {:u {:sem {:tense :past
                                             :aspect :perfect}}}))))

