[
 {:g [#"^(.*)$"  "quiero"] 
  :p [#"^(.*)$"  "querer"] 
  :u {:cat :verb
      :canonical "querer"
      :agr {:number :sing
            :person :1st}}}
 {:g [#"^(.*)er$"  "$1o"] 
  :p [#"^(.*)o$"   "$1er"] 
  :u {:cat :verb
      :agr {:number :sing
            :person :1st}}}
 {:g [#"^(.*)$"   "$1"] 
  :p [#"^(.*)$"   "$1"] 
  :u {:cat :verb}}
]  

