[{:rule :common-noun
  :if {:cat :noun
       :propernoun false
       :pronoun false
       :subcat ::unspec}
  :then [(let [agr (atom {:person :3rd})
               quant (atom :top)]
           {:cat :noun
            :reflexive false
            :propernoun false
            :pronoun false
            :agr agr
            :sem {:quant quant}
            :subcat {:1 {:cat :det
                         :agr agr
                         :sem {:quant quant}}
                     :2 []}})]}
 {:rule :object
  :if {:cat :verb
       :subcat {:2 ::unspec}}
  :then [;; by default, a verb gets an intransitive sense:
         {:sem {:obj :none}
          :subcat {:2 []}}
         ;; also by default, het krijgt een noun object:
         (let [obj (atom :top)]
           {:sem {:obj obj}
            :subcat {:2 {:subcat []
                         :cat :noun
                         :case :acc
                         :sem obj}}})]}]
