[{:rule :dont-inflect-pronouns
  :if {:cat :noun
       :pronoun true}
  :then [{:inflected? true
          :subcat []}]}

 {:rule :dont-inflect-propernouns
  :if {:cat :noun
       :propernoun true}
  :then [{:inflected? true
          :subcat []}]}

 {:rule :subject-verb-agreement
  :if {:cat :verb
       :subcat {:1 {:cat :noun}}}
  :then [(let [agr (atom :top)
               subj (atom :top)]
           {:agr agr
            :sem {:subj subj}
            :subcat {:1 {:agr agr
                         :cat :noun
                         :case :nom
                         :sem subj
                         :subcat []}}})]}

 {:rule :propernouns-are-3rd-person-singular
  :if {:cat :noun
       :pronoun false
       :propernoun true}
  :then [{:agr {:number :sing
                :person :3rd}}]}

 ;; TODO: there are over- and under-
 ;; generation problems with generating the following:
 (comment "test case to cause the cycle: try to generate the following:"
          {:rule "s"
           :head {:rule "vp"
                  :comp {:rule "vp-np"
                         :cat :verb
                         :head {:cat :verb
                                :rule "vp-inf"
                                :comp {:modal :te}}}}})

 {:rule :modal-te
  :if {:cat :verb
       :modal :te}
  :then [;; intransitive: "zij probeert"
         {:sem {:obj ::unspec}
          :reflexive false
          :subcat {:2 []}}

         ;; transitive and non-reflexive: "zij probeert het te zien"
         (let [subj (atom :top)
               obj (atom {:subj subj})]
           {:reflexive false
            :sem {:subj subj
                  :obj obj}
            :subcat {:2 {:infl :te
                         :cat :verb
                         :reflexive false
                         :sem obj

                         ;; needed to prevent "probeert X" where X is any infinitive verb (which will have :infl :top, so will wrongly unify here:                         
                         :phrasal true

                         :subcat {:1 {:sem subj}
                                  :2 []}}}})

         ;; transitive and reflexive: "zij probeert zich te zien"
         (let [subj-ref (atom :top)
               subj (atom {:ref subj-ref})
               obj (atom {:subj subj
                          :obj {:ref subj-ref}})
               agr (atom :top)]
           {:reflexive true
            :agr agr
            :sem {:subj subj
                  :obj obj}
            :subcat {:2 {:agr agr
                         :infl :te
                         :cat :verb
                         :reflexive true
                         :sem obj

                         ;; needed to prevent "probeert X" where X is any infinitive verb (which will have :infl :top, so will wrongly unify here:
                         :phrasal true

                         :subcat {:1 {:sem subj}
                                  :2 []}}}})]}
 {:rule :modal-infinitive
  :if {:cat :verb
       :modal :infinitive}
  :then (let [subj (atom :top)
              obj-with-subject-only (atom {:subj subj
                                           :obj ::unspec})
              obj-with-subject-and-object (atom {:subj subj
                                                 :obj {:top :top}})]
              
          [;; "ik kan"
           {:sem {:obj ::unspec}
            :subcat {:2 []}}

           ;;  "ik kan fietsen"
           {:foo :modal-base-with-a-intransitive-verb
            :sem {:subj subj
                  :obj obj-with-subject-only}
            :subcat {:2 {:aux false
                         :infl :infinitive
                         :cat :verb
                         :modal false
                         :sem obj-with-subject-only}}}

           ;;  "ik kan het zien"
           {:foo :modal-base-with-a-transitive-verb
            :sem {:subj subj
                  :obj obj-with-subject-and-object}
            :subcat {:2 {:aux false
                         :infl :infinitive
                         :cat :verb
                         :modal false
                         :sem obj-with-subject-and-object}}}])}
           
 {:rule :aux-verbs
  :if {:cat :verb
       :aux true
       :subcat {:1 {:cat :noun}}}
  :then (let [agr (atom :top)
              subject (atom {:agr agr
                             :cat :noun
                             :subcat []})]
          [{:agr agr
            :subcat {:1 subject}}])}

 {:rule :ditransitive-false
  :if {:cat :verb
       :normal-transitive-defaults? true
       :subcat {:3 ::unspec}}
  :then [{:cat :verb
          :subcat {:3 []}}]}]


