[{:rule :dont-inflect-complementizers
  :if {:cat :comp}
  :then [{:inflected? true}]}

 {:rule :dont-inflect-intensifiers
  :if {:cat :intensifier}
  :then [{:inflected? true}]}

 {:rule :dont-inflect-neg
  :if {:cat :neg}
  :then [{:inflected? true}]}
 
 {:rule :dont-inflect-prepositions
  :if {:cat :prep}
  :then [{:inflected? true}]}

 {:rule :dont-inflect-determiners
  :if {:cat :det}
  :then [{:inflected? true}]}

 {:rule :nouns-are-not-pronouns
  :if {:cat :noun
       :pronoun ::unspec}
  :then [{:pronoun false}]}

 {:rule :nouns-are-not-propernouns
  :if {:cat :noun
       :propernoun ::unspec}
  :then [{:propernoun false}]}]

