[{:rule :dont-inflect-pronouns
  :if {:cat :noun
       :pronoun true}
  :then [{:inflected? true
          :subcat []}]}

 {:rule :dont-inflect-propernouns
  :if {:cat :noun
       :propernoun true}
  :then [{:inflected? true
          :subcat []}]}

 {:rule :subject-verb-agreement
  :if {:cat :verb
       :subcat {:1 {:cat :noun}}}
  :then [(let [agr (atom :top)
               subj (atom :top)]
           {:agr agr
            :sem {:subj subj}
            :subcat {:1 {:agr agr
                         :cat :noun
                         :case :nom
                         :sem subj
                         :subcat []}}})]}

 {:rule :propernouns-are-3rd-person-singular
  :if {:cat :noun
       :pronoun false
       :propernoun true}
  :then [{:agr {:number :sing
                :person :3rd}}]}

 ;; TODO: there are over- and under-
 ;; generation problems with generating the following:
 (comment "test case to cause the cycle: try to generate the following:"
          {:rule "s"
           :head {:rule "vp"
                  :comp {:rule "vp-np"
                         :cat :verb
                         :head {:cat :verb
                                :rule "vp-inf"
                                :comp {:modal :infinitive}}}}})

 {:rule :modal-infinitive
  :if {:cat :verb
       :modal :infinitive}
  :then [;; intransitive: "zij probeert"
         {:sem {:obj :unspec}
          :reflexive false
          :subcat {:2 []}}

         ;; transitive and non-reflexive: "zij probeert het te zien"
         (let [subj (atom :top)
               obj (atom {:subj subj})]
           {:reflexive false
            :sem {:subj subj
                  :obj obj}
            :subcat {:2 {:infl :infinitive
                         :cat :verb
                         :reflexive false
                         :sem obj
                         :subcat {:1 {:sem subj}
                                  :2 []}}}})

         ;; transitive and reflexive: "zij probeert zich te zien"
         (let [subj-ref (atom :top)
               subj (atom {:ref subj-ref})
               obj (atom {:subj subj
                          :obj {:ref subj-ref}})
               agr (atom :top)]
           {:reflexive true
            :agr agr
            :sem {:subj subj
                  :obj obj}
            :subcat {:2 {:agr agr
                         :infl :infinitive
                         :cat :verb
                         :reflexive true
                         :sem obj
                         :subcat {:1 {:sem subj}
                                  :2 []}}}})]}

 ;; TODO: move reflexive and agreement stuff to rules-2.edn so that
 ;; modal-base is simpler and clearer.
 {:rule :modal-base
  :if {:cat :verb
       :modal :base}
  :then (let [agr (atom :top)
              subj (atom :top)
              subcat-subj (atom {:sem subj})
              obj (atom {:subj subj})]
          [;; "I can"
           {:derivation {:1 {:modal-base {:marker 1}}}
            :sem {:obj :unspec}
            :subcat {:2 []}} ;; "can"

           ;;  "can <vp[base,nonmodal]>" non-reflexive
           {:derivation {:1 {:modal-base {:marker 2}}}
            :sem {:subj subj
                  :obj obj}
            :reflexive false
            :subcat {:2 {:aux false
                         :infl :base
                         :cat :verb
                         :modal false
                         :reflexive false
                         :sem obj
                         :subcat {:1 subcat-subj}}}}

           ;;  "can <vp[base,nonmodal]>" reflexive
           {:derivation {:1 {:modal-base {:marker 3}}}
            :agr agr
            :sem {:subj subj
                  :obj obj}
            :reflexive true
            :subcat {:1 {:agr agr}
                     :2 {:aux false
                         :agr agr
                         :infl :base
                         :modal false
                         :cat :verb
                         :reflexive true
                         :sem obj
                         :subcat {:1 subcat-subj}}}}

           ;;  "can <vp[base,infinitive modal]>" non-reflexive
           {:derivation {:1 {:modal-base {:marker 2}}}
            :sem {:subj subj
                  :obj obj}
            :reflexive false
            :subcat {:2 {:aux false
                         :infl :base
                         :cat :verb
                         :modal :infinitive
                         :reflexive false
                         :sem obj
                         :subcat {:1 subcat-subj}}}}

           ;;  "can <vp[base,infinitive modal]>" reflexive
           {:derivation {:1 {:modal-base {:marker 3}}}
            :agr agr
            :sem {:subj subj
                  :obj obj}
            :reflexive true
            :subcat {:1 {:agr agr}
                     :2 {:aux false
                         :agr agr
                         :infl :base
                         :modal :infinitive
                         :cat :verb
                         :reflexive true
                         :sem obj
                         :subcat {:1 subcat-subj}}}}])}
 {:rule :aux-verbs
  :if {:cat :verb
       :aux true
       :subcat {:1 {:cat :noun}}}
  :then (let [agr (atom :top)
              subject (atom {:agr agr
                             :cat :noun
                             :subcat []})]
          [{:agr agr
            :subcat {:1 subject}}])}

 {:rule :ditransitive-false
  :if {:cat :verb
       :normal-transitive-defaults? true
       :subcat {:3 ::unspec}}
  :then [{:cat :verb
          :subcat {:3 []}}]}]


