[;; "would see"
 {:variant :conditional
  :infl :present
  :sem {:tense :conditional}
  :head {:aux true}}
 
 ;; "will see"
 {:variant :future
  :infl :present
  :sem {:tense :future}
  :head {:aux true}}
 
 ;; "sees"
 {:variant :present-simple
  :abbreviation :simple-present
  :infl :present
  :sem {:tense :present
        :aspect :simple}}
 
 ;; "saw"
 {:variant :past
  :infl :past-simple
  :sem {:tense :past
          :aspect :simple}}
 
 ;; "is seeing"
 {:variant :present-progressive
  :infl :present
  :head {:aux true}
  :sem {:tense :present
        :aspect :progressive}}
 
 ;; "was seeing"
 {:variant :past-progressive
  :infl :past-simple    
  :head {:aux true}
  :sem {:tense :past
        :aspect :progressive}}
 
 ;; "has seen"
 {:variant :perfect
  :infl :present
  :head {:aux true}
  :sem {:tense :past 
        :aspect :perfect}}
 
 ;; "had seen"
 {:variant :pluperfect
  :infl :past-simple
  :head {:aux true}
  :sem {:tense :past
        :aspect :pluperfect}}]

