{:name "complete"
 :morphology {:path "english/morphology"
              :sources ["misc.edn"
                        "nouns.edn"
                        "verbs.edn"]}
 :lexicon {:path "english/lexicon"
           :rules "rules.edn"
           :sources {"adjectives.edn"
                     {:u {:cat :adjective}}
                     "adverbs.edn"
                     {:u {:cat :adverb}}
                     "exclamations.edn"
                     {:u {:cat :exclamation}}
                     "intensifiers.edn"
                     {:u {:cat :intensifier}}
                     "misc.edn"
                     {:u {}}
                     "nouns.edn"
                     {:u {:cat :noun}}
                     "numbers.edn"
                     {:u {:cat :adjective
                          :sem {:number? true}}}
                     "pronouns.edn"
                     {:u {:cat :noun
                          :pronoun? true}}
                     "propernouns.edn"
                     {:u {:cat :noun
                          :propernoun? true}}
                     "verbs.edn"
                     {:u {:cat :verb}}}}}

           
