{:name "woordenlijst"
 :morphology {:path "english/morphology"
              :sources ["adjectives.edn"
                        "misc.edn"
                        "nouns.edn"
                        "verbs.edn"
                        "verbs/simple-past.edn"]}
 :grammar "english/grammar.edn"
 :lexicon {:path "english/lexicon"
           :rules "rules.edn"
           :sources {"woordenlijst/nouns.edn"
                     {:u {:cat :noun}}
                     "determiners.edn"
                     {:u {:cat :det}}}}}
