{:name "basic"
 :language "es"
 :morphology {:path "español/morphology"
              :sources ["nouns.edn"
                        "conditional.edn"
                        "future.edn"
                        "imperfect.edn"
                        "misc-verbs.edn"
                        "present.edn"
                        "preterito.edn"]}
 :grammar "español/grammar.edn"
 :grammar-rules "español/grammar-rules.edn"
 :lexicon {:path "español/lexicon"
           :rules "rules.edn"
           :sources {"verbs.edn"
                     {:u {:cat :verb}}
                     "pronouns.edn"
                     {:u {:cat :noun
                          :pronoun? true}}
                     "propernouns.edn"
                     {:u {:cat :noun
                          :propernoun? true
                          :pronoun? false}}}}}
