{:name "basic"
 :language "es"
 :morphology {:path "español/morphology"
              :sources ["nouns.edn"

                        ;; TODO: break verbs.edn into smaller files.
                        ;; one part of this breakup is already done with
                        ;; imperfect.edn and preterito.edn.
                        "verbs.edn"
                        "imperfect.edn"
                        "preterito.edn"]}
 :grammar "español/grammar.edn"
 :grammar-rules "español/grammar-rules.edn"
 :lexicon {:path "español/lexicon"
           :rules "rules.edn"
           :sources {"verbs.edn"
                     {:u {:cat :verb}}
                     "pronouns.edn"
                     {:u {:cat :noun
                          :pronoun? true}}
                     "propernouns.edn"
                     {:u {:cat :noun
                          :propernoun? true
                          :pronoun? false}}}}}
