{:name "basic"
 :language "es"
 :morphology {:path "español/morphology"
              :sources ["adjectives.edn"
                        "articles.edn"
                        "conditional.edn"
                        "future.edn"
                        "imperfect.edn"
                        "misc-verbs.edn"
                        "nouns.edn"
                        "participio.edn"                        
                        "present.edn"
                        "preterito-indefinido.edn"]}
 :grammar "español/grammar.edn"
 :grammar-rules "español/grammar-rules.edn"
 :lexicon {:path "español/lexicon"
           :rules "rules.edn"
           :sources {"adjectives.edn"
                     {:u {:cat :adjective}}
                     "articles.edn"
                     {:u {:cat :det}}
                     "nouns.edn"
                     {:u {:cat :noun
                          :propernoun? false
                          :pronoun? false}}
                     "verbs.edn"
                     {:u {:cat :verb}}
                     "pronouns.edn"
                     {:u {:cat :noun
                          :pronoun? true}}
                     "propernouns.edn"
                     {:u {:cat :noun
                          :propernoun? true
                          :pronoun? false}}}}}
