;; Format: a vector of tuples; each tuple has:
;; :agr   agreement
;; :p     parsing rules: pairs of (from:regex -> to:replacement pattern)
;; :g     generation rules: pairs of (from:regex -> to:replacement pattern)
;;
;; TODO: fill in uncommented blanks below:
;;  add examples for every pattern, both parsing (:p) and generation (:g).
[{:agr {:person :1st
        :number :sing}
  :g [#"^(.*)[ae]re$" "$1erò" ;; parlare,ricevere
      #"^(.*)care$"   "$1cherò" ;; caricare
      #"^(.*)ire$"    "$1irò" ;; dormire
      ]
  :p [#"(.*)erò"     "$1are"  ;; parlerò -> parlare
      #"(.*)cherò"   "$1care" ;; cercherò -> cercare
      #"(.*)chò"     "$1care" ;; carichò -> caricare
      #"(.*)erò"     "$1arsi" ;; abituarsi -> abituerò
      #"(.*)er[r]?ò" "$1ere"
      #"(.*)erò"     "$1ersi"
      #"(.*)erò"     "$1iare"
      #"(.*)errò"    "$1ere"
      #"(.*)errò"    "$1enere" ;; otterrò -> ottenere
      #"(.*)irò"     "$1ire"
      #"(.*)irò"     "$1irsi"
      #"(.*)drò"     "$1dare"
      #"(.*)drò"     "$1dere"
      #"(.*)rò"      "$1re"
      #"(.*)rò"      "$1ere" ;; potrò -> potere
      #"(.*)trò"     "$1tere"
      #"(.*)vrò"     "$1vere"
      #"(.*)rrò"     "$1lere" ;; vorrò -> volere
      #"(.*)rrò"     "$1nire" ;; verrò -> venire
      #"(.*)gherò"   "$1gare" ;; piegherò -> piegare
      #"(.*)rrò"     "$1nere" ;; rimarrò -> rimanere
      ]
  
  
  }
 {:agr {:person :2nd
        :number :sing}
  :g [#"^(.*)[ae]re$" "$1erai" ;; parlare -> parlerai
      #"^(.*)ire$"    "$1irai" ;; dormire -> dormirai
      ]
  :p [#"(.*)ai"       "$1e"     ;; farai -> fare
      #"(.*)erai"     "$1are"   ;; mangere -> mangerai
      #"(.*)erai"     "$1arsi"
      #"(.*)cherai"   "$1care"  ;; cercherai -> cercare
      #"(.*)drai"     "$1dare"
      #"(.*)erai"     "$1ersi"
      #"(.*)errai"    "$1enere" ;; otterrai -> ottenere
      #"(.*)er[r]?ai" "$1ere"
      #"(.*)erai"     "$1iare"
      #"(.*)errai"    "$1edere" ;; verrà -> vedere
      #"(.*)gherai"   "$1gare"  ;; piegherai -> piegare
      #"(.*)ichai"    "$1icare"
      #"(.*)irai"     "$1ire"
      #"(.*)irai"     "$1irsi"
      #"(.*)errai"    "$1enire" ;; sverrai -> svenire
      #"(.*)rai"      "$1ere"   ;; potrai -> potere
      #"(.*)vrai"     "$1vere"
      #"(.*)rrai"     "$1lere"  ;; vorrai -> volere
      #"(.*)rrai"     "$1nere"  ;; rimarrai -> rimanere
      ]
  }
 {:agr {:person :3rd
        :number :sing}
  :p [
      #"(.*)chà"     "$1care"
      #"(.*)cherà"   "$1care"
      #"(.*)drà"     "$1dare"
      #"(.*)vrà"     "$1vere"
      #"(.*)erà"     "$1are"
      #"(.*)erà"     "$1arsi"
      #"(.*)er[r]?à" "$1ere"
      #"(.*)erà"     "$1ersi"
      #"(.*)erà"     "$1iare"
      #"(.*)errà"    "$1edere" ;; verrà -> vedere
      #"(.*)errà"    "$1enere" ;; otterrà -> ottenere
      #"(.*)gherà"   "$1gare" ;; piegherà -> piegare
      #"(.*)irà"     "$1ire"
      #"(.*)irà"     "$1irsi"
      #"(.*)rà"      "$1re"
      #"(.*)errà"    "$1enire" ;; sverrà -> svenire
      #"(.*)rà"      "$1ere" ;; potrà -> potere
      #"(.*)rrà"     "$1lere"  ;; vorrà -> volere
      #"(.*)rrà"     "$1nere" ;; rimarrà -> rimanere
      ]
  :g [#"^(.*)[ae]re$"  "$1erà" ;; parlare,ricevere
      #"^(.*)ire$"     "$1irà" ;; dormire
      ]
  }
 
 {:agr {:person :1st
        :number :plur}
  :g [#"^(.*)[ae]re$" "$1eremo" ;; parlare => parleremo
      #"^(.*)ire$"    "$1iremo" ;; finire => finiremo
      ]
  :p [#"(.*)cheremo"   "$1care" ;; giocheremo -> giocare
      #"(.*)eramo"     "$1ere"
      #"(.*)eremo"     "$1are"
      #"(.*)erremo"    "$1enere" ;; otterremo -> ottenere
      #"(.*)ichemo"    "$1icare" ;; carichemo -> caricare
      #"(.*)remo"      "$1are" ;; "andremo" -> "andare"
      #"(.*)remo"      "$1ere" ;; "avremo" -> "avere"
      #"(.*)rremo"     "$1nere" ;; "terremo" -> "tenere"
      #"(.*)emo"       "$1e" ;; "daremo" -> "dare"
      #"(.*)gheremo"   "$1gare" ;; piegherete -> piegare
      #"(.*)iremo"     "$1ire"
      #"(.*)iremo"     "$1irsi"
      #"(.*)erremo"    "$1edere" ;; verremo -> vedere
      #"(.*)erremo"    "$1enire" ;; sverremo -> svenire
      #"(.*)eremo"     "$1arsi"
      #"(.*)eremo"     "$1ersi"
      #"(.*)er[r]?emo" "$1ere"
      #"(.*)rremo"     "$1lere"  ;; vorremo -> volere
      #"(.*)eremo"     "$1iare"
      ]
  }
 
 {:agr {:person :2nd
        :number :plur}
  :g [#"^(.*)[ae]re$" "$1erete" ;; parlare => parlerete
      #"^(.*)ire$"    "$1irete" ;; finire => finiremo
      ]
  :p [
      #"(.*)arete"     "$1are"
      #"(.*)chete"     "$1care" ;; carichete -> caricare
      #"(.*)cherete"   "$1care" ;; giocherete -> giocare
      #"(.*)drete"     "$1dare"
      #"(.*)erete"     "$1are"
      #"(.*)erete"     "$1arsi"
      #"(.*)erete"     "$1ersi"
      #"(.*)erete"     "$1irsi"
      #"(.*)gherete"   "$1gare" ;; piegherete -> piegare
      #"(.*)er[r]?ete" "$1ere"
      #"(.*)erete"     "$1iare"
      #"(.*)errete"    "$1enere" ;; otterrete -> ottenere
      #"(.*)irete"     "$1ire"
      #"(.*)irete"     "$1irsi"
      #"(.*)vrete"     "$1vere"
      #"(.*)rete"      "$1ere" ;; potrete -> potere
      #"(.*)rrete"     "$1lere"  ;; vorrete -> volere
      #"(.*)rrete"     "$1nere" ;; rimarrete -> rimanere
      #"(.*)rrete"     "$1nire" ;; verrete -> venire
      ]
 }
 {:agr {:person :3rd
        :number :plur}
  
  :g [#"^(.*)[ae]re$" "$1eranno" ;; parlare => parleranno
      #"^(.*)ire$"    "$1iranno" ;; finire => finiranno
      ]
  :p [
      #"(.*)rranno"     "$1nere"
      #"(.*)channo"     "$1care"
      #"(.*)cheranno"   "$1care"
      #"(.*)dranno"     "$1dare"
      #"(.*)dranno"     "$1edere" ;; vedranno -> vedere
      #"(.*)eranno"     "$1are"
      #"(.*)eranno"     "$1iare"
      #"(.*)eranno"     "$1arsi"
      #"(.*)eranno"     "$1ersi"
      #"(.*)erranno"    "$1enire"
      #"(.*)erranno"    "$1enere" ;; otterranno -> ottenere
      #"(.*)er[r]?anno" "$1ere"
      #"(.*)gheranno"   "$1gare" ;; piegherete -> piegare
      #"(.*)iranno"     "$1ire"
      #"(.*)iranno"     "$1irsi"
      #"(.*)ranno"      "$1re"
      #"(.*)ranno"      "$1ere" ;; potranno -> potere
      #"(.*)vranno"     "$1vere"
      #"(.*)rranno"     "$1lere"  ;; vorranno -> volere
      ]}]
  
