{"_" [{:null? true :sem {:pred :_}}]
 "able" [{:sem {:pred :able}}]
 "accessible" [{:sem {:pred :accessible}}]
 "acclaimed" [{:sem {:pred :acclaimed}}]
 "accurate" [{:sem {:pred :accurate}}]
 "amusing" [{:sem {:pred :amusing}}]
 "annoying" [{:sem {:pred :annoying}}]
 "anxious" [{:sem {:pred :anxious}}]
 "approachable" [{:sem {:pred :approachable}}]
 "attractive" [{:sem {:pred :attractive}}]
 "awesome" [{:sem {:pred :awesome}}]
 "bad" [{:sem {:pred :bad}}]
 "beautiful" [{:sem {:pred :beautiful}}]
 "best" [{:sem {:pred :best}}]
 "better" [{:sem {:pred :better}}]
 "big" [{:sem {:pred :big}}]
 "black" [{:sem {:pred :black}}]
 "brave" [{:sem {:pred :brave}}]
 "bright" [{:sem {:pred :bright}}]
 "busy" [{:sem {:pred :busy}}]
 "careful" [{:sem {:pred :careful}}]
 "certain" [{:sem {:pred :certain}}]
 "childish" [{:sem {:pred :childish}}]
 "clear" [{:sem {:pred :clear}}]
 "cold" [{:sem {:pred :cold}}]
 "combative" [{:sem {:pred :combative}}]
 "comparable" [{:sem {:pred :comparable}}]
 "complicated" [{:sem {:pred :complicated}}]
 "confident" [{:sem {:pred :confident}}]
 "confused" [{:sem {:pred :confused}}]
 "confusing" [{:sem {:pred :confusing}}]
 "contemporary" [{:sem {:pred :contemporary}}]
 "cool" [{:sem {:pred :cool}}]
 "curious" [{:sem {:pred :curious}}]
 "current" [{:sem {:pred :current}}]
 "cute" [{:sem {:pred :cute}}]
 "determined" [{:sem {:pred :determined}}]
 "devoted" [{:sem {:pred :devoted}}]
 "different" [{:sem {:pred :different}}]
 "difficult" [{:sem {:pred :difficult}}]
 "dilapidated" [{:sem {:pred :dilapidated}}]
 "disappointed" [{:sem {:pred :disappointed}}]
 "dirty" [{:sem {:pred :dirty}}]
 "early" [{:sem {:pred :early}}]
 "easy" [{:sem {:pred :easy}}]
 "economic" [{:sem {:pred :economic}}]
 "escaped" [{:sem {:pred :escaped}}]
 "eternal"  [{:sem {:pred :eternal}}]
 "excited" [{:sem {:pred :excited}}]
 "extraordinary" [{:sem {:pred :extraordinary}}]
 "federal" [{:sem {:pred :federal}}]
 "filthy" [{:sem {:pred :filthy}}]
 "firm" [{:sem {:pred :firm}}]
 "free" [{:sem {:pred :free}}]
 "friendly" [{:sem {:pred :friendly}}]
 "frugal" [{:sem {:pred :frugal}}]
 "full" [{:sem {:pred :full}}]
 "good" [{:sem {:pred :good}}]
 "great" [{:sem {:pred :great}}]
 "greedy" [{:sem {:pred :greedy}}]
 "hard" [{:sem {:pred :hard}}]
 "high" [{:sem {:pred :high}}]
 "horrible" [{:sem {:pred :horrible}}]
 "hot" [{:sem {:pred :hot}}]
 "huge" [{:sem {:pred :huge}}]
 "human" [{:sem {:pred :human}}]
 "interesting" [{:sem {:pred :interesting}}]
 "important" [{:sem {:pred :important}}]
 "impressive" [{:sem {:pred :impressive}}]
 "industrious" [{:sem {:pred :industrious}}]
 "innocent" [{:sem {:pred :innocent}}]
 "insane" [{:sem {:pred :insane}}]
 "international" [{:sem {:pred :international}}]
 "jaunty" [{:sem {:pred :jaunty}}]
 "large" [{:sem {:pred :large}}]
 "late" [{:sem {:pred :late}}]
 "little" [{:sem {:pred :little}}]
 "lively" [{:sem {:pred :lively}}]
 "local" [{:sem {:pred :local}}]
 "lonely" [{:sem {:pred :lonely}}]
 "long" [{:sem {:pred :long}}]
 "low" [{:sem {:pred :low}}]
 "magnificent" [{:sem {:pred :magnificent}}]
 "major" [{:sem {:pred :major}}]
 "military" [{:sem {:pred :military}}]
 "moody" [{:sem {:pred :moody}}]
 "mysterious" [{:sem {:pred :mysterious}}] 
 "narrow" [{:sem {:pred :narrow}}]
 "national" [{:sem {:pred :national}}]
 "nervous" [{:sem {:pred :nervous}}]
 "neutral" [{:sem {:pred :neutral}}]
 "newsworthy" [{:sem {:pred :newsworthy}}]
 "new" [{:sem {:pred :new}}]
 "nice" [{:sem {:pred :nice}}]
 "old" [{:sem {:pred :old}}]
 "only" [{:sem {:pred :only}}]
 "undesirable" [{:sem {:pred :undesirable}}] 
 "other" [{:sem {:pred :other}}]
 "pathetic" [{:sem {:pred :pathetic}}]
 "picky" [{:sem {:pred :picky}}]
 "pleasant" [{:sem {:pred :pleasant}}]
 "poignant" [{:sem {:pred :poignant}}]
 "political" [{:sem {:pred :political}}]
 "possible" [{:sem {:pred :possible}}]
 "public" [{:sem {:pred :public}}]
 "real" [{:sem {:pred :real}}]
 "recent" [{:sem {:pred :recent}}]
 "responsible" [{:sem {:pred :responsible}}]
 "right" [{:sem {:pred :right}}]
 "rude" [{:sem {:pred :rude}}]
 "sad" [{:sem {:pred :sad}}]
 "same" [{:sem {:pred :same}}]
 "satisfied" [{:sem {:pred :satisfied}}]
 "scary" [{:sem {:pred :scary}}]
 "secret" [{:sem {:pred :secret}}]
 "sensitive" [{:sem {:pred :sensitive}}]
 "separate" [{:sem {:pred :separate}}]
 "serious" [{:sem {:pred :serious}}]
 "shocking" [{ :sem {:pred :shocking}}]
 "short" [{:sem {:pred :short}}] 
 "shy" [{:sem {:pred :shy}}]
 "silly" [{:sem {:pred :silly}}]
 "simple" [{:sem {:pred :simple}}]
 "small" [{:sem {:pred :small}}]
 "smart" [{:sem {:pred :smart}}]
 "social" [{:sem {:pred :social}}]
 "soft" [{:sem {:pred :soft}}]
 "sound" [{:sem {:pred :sound}}] ;; as in "sound advice", or "sound beliefs"
 "special" [{:sem {:pred :special}}]
 "splendid" [{:sem {:pred :splendid}}]
 "striking" [{:sem {:pred :striking}}]
 "stingy" [{:sem {:pred :stingy}}]
 "strong" [{:sem {:pred :strong}}]
 "stubborn" [{:sem {:pred :stubborn}}]
 "stupid" [{:sem {:pred :stupid}}]
 "substantive" [{:sem {:pred :substantive}}]
 "suprised" [{:sem {:pred :surprised}}]
 "sure" [{:sem {:pred :sure}}]
 "suspicious" [{:sem {:pred :suspicious}}]
 "tall" [{:sem {:pred :tall}}]
 "terrifying" [{:sem {:pred :terrifying}}]
 "thick" [{:sem {:pred :thick}}]
 "thrifty" [{:sem {:pred :frugal}}]
 "true" [{:sem {:pred :true}}]
 "unusual" [{:sem {:pred :unusual}}]
 "useful" [{:sem {:pred :useful}}]
 "valid" [{:sem {:pred :valid}}]
 "white" [{:sem {:pred :white}}]
 "whole" [{:sem {:pred :whole}}]
 "wide" [{:sem {:pred :wide}}]
 "young" [{:sem {:pred :young}}]}
