{"_" [{:null? true :inflected? true :sem {:pred :_}}]
 "airplane" [{:sem {:pred :airplane}}]
 "allegation" [{:sem {:pred :allegation}}] 
 "amount" [{:sem {:pred :amount}}]
 "animal" [{:sem {:pred :animal}}]
 "announcement" [{:sem {:pred :announcement}}] 
 "apron" [{:sem {:pred :apron}}]
 "area" [{:sem {:pred :area}}]
 "attempt" [{:sem {:pred :attempt}}]
 "attention" [{:sem {:pred :attention}}]
 "baby" [{:sem {:pred :baby}}]
 "bush" [{:sem {:pred :bush}}] 
 "butterfly" [{:sem {:pred :butterfly}}]
 "bike" [{:sem {:pred :bike}}]
 "bird" [{:agr {:gender :neuter}
          :sem {:pred :bird}}]
 "book" [{:sem {:pred :book}}]
 "boss" [{:sem {:pred :boss}}]
 "boulder" [{:sem {:pred :boulder}}] 
 "boy" [{:sem {:pred :boy}
         :agr {:human? true
               :gender :masc}}]
 "bullet" [{:sem {:pred :bullet}}]
 "business" [{:sem {:pred :business}}]
 "buyer" [{:sem {:pred :buyer}}]
 "carrot" [{:sem {:pred :carrot}}]
 "case" [{:sem {:pred :case}}]
 "cat" [{:sem {:pred :cat}}]
 "cauliflower" [{:sem {:pred :cauliflower}}]
 "chair" [{:sem {:pred :chair}}]
 "challenge" [{:sem {:pred :challenge}}]
 "child" [{:sem {:pred :child}
           :exceptions [{:agr {:number :plur}
                         :surface "children"}]}]
 "circumstance" [{:sem {:pred :circumstance}}]
 "civilization" [{:sem {:pred :civilization}}]
 "civil servant" [{:sem {:pred :civil-servant}}]
 "clothes" [{:sem {:pred :clothes}
             :agr {:number :plur}}]
 "coat" [{:sem {:pred :coat}}]
 "community" [{:sem {:pred :community}}]
 "company" [{:sem {:pred :company}}]
 "connection" [{:sem {:pred :connection}}]
 "consideration" [{:sem {:pred :consideration}}]
 "contribution" [{:sem {:pred :contribution}}]
 "conversation" [{:sem {:pred :conversation}}]
 "country" [{:sem {:pred :country}}]
 "couple" [{:sem {:pred :couple}}]
 "court" [{:sem {:pred :court}}]
 "coward" [{:sem {:pred :coward}}]
 "credit" [{:sem {:pred :credit}}]
 "crow" [{:sem {:pred :crow}}]
 "crowd" [{:sem {:pred :crowd}}] 
 "danger" [{:sem {:pred :danger}}]
 "day" [{:sem {:pred :day}}]
 "debit" [{:sem {:pred :debit}}]
 "decision" [{:sem {:pred :decision}}]
 "defender" [{:sem {:pred :defender}}]
 "delay" [{:sem {:pred :delay}}]
 "destination" [{:sem {:pred :destination}}]
 "destruction" [{:sem {:pred :destruction}}]
 "development" [{:sem {:pred :development}}]
 "dinner" [{:sem {:pred :dinner}}
           {:sem {:pred :dinner}
            :subcat []}] ;; "eats dinner"
 "disturbance" [{:sem {:pred :disturbance}}]
 "dog" [{:sem {:pred :dog}}]
 "donkey" [{:sem {:pred :donkey}}]
 "dude" [{:sem {:pred :dude}}]
 "education" [{:sem {:pred :education}}]
 "employee" [{:sem {:pred :employee}}]
 "employer" [{:sem {:pred :employer}}]
 "example" [{:sem {:pred :example}}] 
 "experience" [{:sem {:pred :experience}}]
 "eye" [{:sem {:pred :eye}}]
 "fact" [{:sem {:pred :fact}}]
 "family" [{:sem {:pred :family}}]
 "favorite" [{:agr {:gender :common}
              :sem {:pred :favorite}}]
 "feeling" [{:sem {:pred :feeling}}]
 "feud" [{:sem {:pred :feud}}]
 "fish" [{:sem {:pred :fish}
          :exceptions [{:agr {:number :sing}
                         :surface "fish"}
                       ;; both 'fish' (as plural) and 'fishes' are possible:
                       {:agr {:number :plur}
                        :note ["plural"]
                        :surface "fish"}
                       {:agr {:number :plur}
                        :surface "fishes"}]}]
 "follower" [{:sem {:pred :follower}}] 
 "fool" [{:sem {:pred :fool}}]
 "fun" [{:sem {:pred :fun}}
        {:sem {:pred :fun}
         :agr {:number :sing}
         :subcat []}] ;; "has fun"
 "gentleman" [{:sem {:pred :man
                     :context :formal}
               :agr {:gender :man
                     :human? true}
               :exceptions [{:surface "gentlemen"
                             :agr {:number :plur}}]}]
 "gift" [{:sem {:pred :gift}}]
 "girl" [{:sem {:pred :girl}
          :agr {:human? true
                :gender :fem}}]
 "goat" [{:sem {:pred :goat}}]
 "government" [{:sem {:pred :government}}]
 "grape" [{:sem {:pred :grape}}]
 "group" [{:sem {:pred :group}}]
 "guest" [{:sem {:pred :guest}}]
 "guy" [{:sem {:pred :dude}}]
 "hair" [{:sem {:pred :hair}}]
 "hand" [{:sem {:pred :hand}}]
 "hazard" [{:sem {:pred :hazard}}]
 "hiding place" [{:sem {:pred :hiding-place}}] 
 "home" [{:sem {:pred :home}}]
 "horse" [{:sem {:pred :horse}}] 
 "house" [{:sem {:pred :house}}]
 "husband" [{:sem {:pred :husband}}]
 "idea" [{:sem {:pred :idea}}]
 "idiot" [{:sem {:pred :idiot}}]
 "implementation" [{:sem {:pred :implementation}}]
 "jerk" [{:sem {:pred :jerk}}]
 "job" [{:sem {:pred :job}}]
 "kid" [{:sem {:pred :kid
               :ref {:human? true}}}]
 "kitten" [{:sem {:pred :kitten}}]
 "lady" [{:sem {:pred :woman
                :context :formal}
          :agr {:gender :fem
                :human? true}}]
 "leg" [{:sem {:pred :leg}}]
 "life" [{:sem {:pred :life}}]
 "lilac" [{:sem {:pred :lilac}}]
 "lizard" [{:sem {:pred :lizard}}]
 "loneliness" [{:sem {:pred :loneliness}}]
 "lot" [{:sem {:pred :lot}}]
 "lunch" [{:sem {:pred :lunch}}
          {:sem {:pred :lunch}
           :subcat []}]
 "man" [{:sem {:pred :man
               :context :neutral} ;; i.e. :neutral meaning 'not polite'
         :agr {:gender :masc
               :human? true}
         :exceptions [{:surface "men"
                       :agr {:number :plur}}]}]
 "marriage" [{:sem {:pred :marriage}}]
 "message" [{:sem {:pred :message}}]
 "mistake" [{:sem {:pred :mistake}}]
 "mistress" [{:sem {:pred :mistress}}] 
 "money" [{:sem {:pred :money}}]
 "monster" [{:sem {:pred :monster}}] 
 "month" [{:sem {:pred :month}}]
 "mother" [{:sem {:pred :mother}}]
 "mystery" [{:sem {:pred :mystery}}]
 "name" [{:sem {:pred :name}}]
 "nerve" [{:sem {:pred :nerve}}]
 "night" [{:sem {:pred :night}}]
 "notice" [{:sem {:pred :notice}}]
 "number" [{:sem {:pred :number}}]
 "opportunity" [{:sem {:pred :opportunity}}]
 "part" [{:sem {:pred :part}}]
 "peanut" [{:sem {:pred :peanut}}]
 "people" [{:sem {:pred :people}
            :agr {:number :plur}}]
 "performance" [{:sem {:pred :performance}}]
 "person" [{:sem {:pred :person}
            :agr {:number :sing}}]
 "place" [{:sem {:pred :place}}]
 "play" [{:sem {:pred :play}}]
 "plumber" [{:sem {:pred :plumber}}]
 "point" [{:sem {:pred :point}}]
 "policy" [{:sem {:pred :policy}}]
 "pond" [{:sem {:pred :pond}}]
 "predator" [{:sem {:pred :predator}}]
 "prediction" [{:sem {:pred :prediction}}]
 "preparation" [{:sem {:pred :preparation}}]
 "presence" [(let [obj (atom :top)
                   agr (atom :top)]

               ;; TODO: [:subcat :1 :cat] = :det
               ;;  and  [:subcat :1 :agr] = [:agr]
               ;; should be in lexical rules.
               ;; TODO: enforce binding e.g.
               ;; ok   :  "she saw the picture of herself"
               ;; but  : *"she saw the picture of himself"
               {:sem {:pred :presence
                      :obj obj}
                :agr agr
                :subcat {:1 {:cat :det
                             :agr agr}
                         :2 {:cat :prep
                             :sem {:pred :of
                                   :obj obj}
                             :subcat []}}})]
 "problem" [{:sem {:pred :problem}}]
 "procession" [{:sem {:pred :procession}}]
 "preference" [{:sem {:pred :preference}}]
 "profession" [{:sem {:pred :profession}}]
 "professor" [{:sem {:pred :professor}}]
 "program" [{:sem {:pred :program}}]
 "progress" [{:sem {:pred :progress}}]
 "puppy" [{:sem {:pred :puppy}}]
 "question" [{:sem {:pred :question}}]
 "rain boot" [{:sem {:pred :rain-boot}}]
 "referee" [{:sem {:pred :referee}}]
 "refuge" [{:sem {:pred :refuge}}] 
 "relation" [{:sem {:pred :relation}}]
 "relaxation" [{:sem {:pred :relaxation}}]
 "reporter" [{:sem {:pred :reporter}}]
 "representative" [{:sem {:pred :representative}}]
 "revolt" [{:sem {:pred :revolt}}]
 "right" [{:sem {:pred :right}}]
 "robe" [{:sem {:pred :robe}}]
 "rogue" [{:sem {:pred :rogue}}]
 "room" [{:sem {:pred :room}}]
 "satisfaction" [{:sem {:pred :satisfaction}}]
 "school" [{:sem {:pred :school}}]
 "scoundrel" [{:sem {:pred :scoundrel}}]
 "sea" [{:sem {:pred :sea}}]
 "secret" [{:sem {:pred :secret}}] 
 "seller" [{:sem {:pred :seller}}]
 "service" [{:sem {:pred :service}}]
 "setback" [{:sem {:pred :setback}}]
 "sheep" [{:sem {:pred :sheep}
           :exceptions [{:agr {:number :sing}
                         :surface "sheep"}
                        {:agr {:number :plur}
                         :note ["plural"]
                         :surface "sheep"}]}]
 "situation" [{:sem {:pred :situation}}]
 "society" [{:sem {:pred :society}}]
 "solution" [{:sem {:pred :solution}}]
 "speech" [{:sem {:pred :speech}}]
 "spokesperson" [{:sem {:pred :spokesperson}}]
 "state" [{:sem {:pred :state}}]
 "statement" [{:sem {:pred :statement}}] 
 "steep" [{:sem {:pred :steep}}]
 "story" [{:sem {:pred :story}}]
 "student" [{:sem {:pred :student}}]
 "study" [{:sem {:pred :study}}]
 "summary" [{:sem {:pred :summary}}]
 "surgeon" [{:sem {:pred :surgeon}}]
 "system" [{:sem {:pred :system}}]
 "table" [{:sem {:pred :table}}]
 "teacher" [{:sem {:pred :teacher}}]
 "thing" [{:sem {:pred :thing}}]
 "time" [{:sem {:pred :time}}]
 "toddler" [{:sem {:pred :toddler}}]
 "tree" [{:sem {:pred :tree}}]
 "turnip" [{:sem {:pred :turnip}}]
 "union" [{:sem {:pred :union}}]
 "villian" [{:sem {:pred :villian}}]
 "water" [{:sem {:pred :water}}]
 "way" [{:sem {:pred :way}}]
 "week" [{:sem {:pred :week}}]
 "wife" [{:sem {:pred :wife}}]
 "winding road" [{:sem {:pred :winding-road}}]
 "witness" [{:sem {:pred :witness}}]
 "woman" [{:sem {:pred :woman
                 :context :neutral} ;; i.e. :neutral meaning 'not polite'
           :agr {:gender :fem
                 :human? true}
           :exceptions [{:surface "women"
                         :agr {:number :plur}}]}]
 "word" [{:sem {:pred :word}}]
 "work" [{:sem {:pred :work}}]
 "world" [{:sem {:pred :world}}]
 "year" [{:sem {:pred :year}}]
 "zucchini" [{:sem {:pred :zucchini}}]}
