{"Antonia" [{:cat :noun
             :agr {:gender :fem
                   :human? true}
             :sem {:ref {:human? true}
                   :pred :antonio}
             
             }]
 "Antonio" [{:cat :noun
             :agr {:gender :masc
                   :human? true}
             :sem {:ref {:human? true}
                   :pred :antonio}
             
             }]
 "Bas" [{:cat :noun
         :agr {:gender :masc
               :human? true
               :number :sing
               :person :3rd}
         :sem {:ref {:human? true}
               :pred :bas}
         
         }]
 "Corona" [{:cat :noun
            :agr {:human? false
                  :number :sing
                  :person :3rd}
            :sem {:ref {:human? false}
                  :pred :corona}
            
            }]
 "Guus" [{:cat :noun
          :agr {:gender :masc
                :human? true}
          :sem {:ref {:human? true}
                :pred :guus}
          
          }]
 "Femke" [{:cat :noun
           :agr {:gender :fem
                 :human? true
                 :number :sing
                 :person :3rd}
           :sem {:ref {:human? true}
                 :pred :femke}}]
 "Juan" [{:case :nom
          :agr {:gender :masc
                :person :3rd
                :number :sing}
          :sem {:human? true
                :pred :Juan}}]
 "Juana" [{:case :nom
           :agr {:gender :fem
                 :person :3rd
                 :number :sing}
           :sem {:human? true
                 :pred :Juana}}]
 "Juan and I" [{:case :nom
               :agr {:gender :masc
                     :person :1st
                     :number :plur}
                 :sem {:human? true
                       :pred :Juan-and-i}}]
 "Juana and I" [{:case :nom
                 :agr {:gender :masc
                       :person :1st
                       :number :plur}
                 :sem {:human? true
                       :pred :Juana-and-i}}]
 "Juana and Pedro" [{:case :nom
                     :agr {:gender :masc
                           :person :3rd
                           :number :plur}
                     :sem {:human? true
                           :pred :Juana-and-Pedro}}]
 "Pedro" [{:case :nom
           :agr {:gender :masc
                 :person :3rd
                 :number :sing}
           :sem {:human? true
                 :pred :Pedro}}]
 "You and Pedro 🧒" [{:case :nom
                      :agr {:gender :masc
                            :person :2nd
                            :number :plur}
                      :sem {:human? true
                            :ref {:context :informal}
                            :pred :Pedro-and-you}}]
 "You and Pedro 🧓🏻" [{:case :nom
                        :agr {:gender :masc
                              :person :2nd
                              :number :plur}
                        :sem {:human? true
                              :ref {:context :formal}
                              :pred :Pedro-and-you}}]
 "Saskia" [{:cat :noun
            :agr {:gender :fem
                  :human? true}
            :sem {:ref {:human? true}
                  :pred :saskia}}]}




