[{:rule :noun-semantics
  :if {:cat :noun}
  :then [(let [number (atom :top)]
           {:agr {:number number}
            :sem {:ref {:number number}}})]}
 {:rule :adjectives-have-empty-modifiers
  :if {:cat :adjective
       :sem {:mod ::unspec}}
  :then [{:sem {:mod []}}]}
 {:rule :regular-noun
  :if {:cat :noun
       :agr {:number ::unspec}
       :pronoun? ::unspec
       :propernoun? ::unspec
       :regular ::unspec}
  :then [{:regular true
          :pronoun? false
          :propernoun? false}]}

 {:rule :common-nouns-are-inhuman-by-default
  :if {:cat :noun
       :pronoun? false
       :propernoun? false
       :agr {:human? ::unspec}}
  :then [{:agr {:human? false}}]}

 {:rule :complementizer
  :if {:cat :comp}
  :then [(let [sem (atom :top)
               agr (atom :top)]
           {:agr agr
            :sem sem
            :subcat {:1 {:agr agr
                         :sem sem}}})]}
 {:rule :preposition
  :if {:cat :prep}
  :then [;; no object (e.g. "she looks at")
         {:cat :prep
          :reflexive? true
          :subcat []
          :sem {:obj :none}}
         
         ;; object is reflexive (e.g. "she looks at herself")
         (let [obj (atom {:top :top})
               agr (atom :top)
               interogative? (atom :top)]
           {:cat :prep
            :interogative? interogative?
            :agr agr
            :reflexive? true
            :subcat {:1 {:case :acc
                         :interogative? interogative?
                         :reflexive? true
                         :cat :noun
                         :agr agr
                         :subcat []
                         :sem obj}
                     :2 []}
            :sem {:obj obj}})

         ;; object is not reflexive (e.g. "she looks at her")         
         (let [obj (atom :top)
               interogative? (atom :top)]
           {:cat :prep
            :interogative? interogative?            
            :reflexive? false
            :subcat {:1 {:case :acc
                         :interogative? interogative?
                         :reflexive? false
                         :cat :noun
                         :subcat []
                         :sem obj}
                     :2 []}
            :sem {:obj obj}})]}

 {:rule :modal-default-false
  :if {:cat :verb
       :modal ::unspec}
  :then [{:modal :none}]}

 {:rule :prepositional-verb-with-none
  :if {:cat :verb
       :prepositional-verb-with ::unspec}
  :then [{:prepositional-verb-with :none
          :prepositional-verb? false}]}

 {:rule :prepositional-verb-true
  :if {:cat :verb
       :prepositional-verb? ::unspec}
  :then [{:prepositional-verb? true}]}

 {:rule :adjectival-verb-with-none
  :if {:cat :verb
       :adjectival-verb-with ::unspec}
  :then [{:adjectival-verb-with :none
          :adjectival-verb? false}]}

 {:rule :adjectival-verb-true
  :if {:cat :verb
       :adjectival-verb? ::unspec}
  :then [{:adjectival-verb? true}]}

 {:rule :nominal-verb-with-none
  :if {:cat :verb
       :nominal-verb-with ::unspec}
  :then [{:nominal-verb-with :none
          :nominal-verb? false}]}

 {:rule :nominal-verb-true
  :if {:cat :verb
       :nominal-verb? ::unspec}
  :then [{:nominal-verb? true}]}
 
 {:rule :intransitive-only-default-false
  :if {:cat :verb
       :intransitive-only? ::unspec}
  :then [{:intransitive-only? false}]}

 {:rule :intransitive
  :if {:cat :verb
       :adjectival-verb? false
       :intransitive-only? true}
  :then (let [subj (atom :top)]
          [{:sem {:subj subj
                  :obj :none}
            :subcat {:1 {:sem subj}
                     :2 []
                     :3 []}
            :reflexive? false}])}
 
 ;; if a verb does not specify a particular
 ;; transitivity, generate both transitive and intransitive forms
 ;; of the verb, where the second form has a noun second argument:
 {:rule :subcat-frames-nonmodal
  :if {:cat :verb
       :intransitive-only? false
       :nominal-verb? false
       :prepositional-verb? false
       :adjectival-verb? false
       :modal :none
       :aux? false
       :subcat {:2 ::unspec}
       :sem {:subj {:existential? ::unspec}
             :obj ::unspec}}
  :then [;; 1. non-existential, intransitive:
         (let [subj (atom {:existential? false})]
           {:reflexive? false
            :sem {:subj subj
                  :obj :none}
            :subcat {:1 {:sem subj}
                     :2 []}})
         ;; 2. existential, intransitive
         ;; the 'semantic-subject' is the meaningful subject of the
         ;; verb, e.g. the 'dog' in 'there was a dog', as opposed to the
         ;; merely syntactic subject, 'er'.
         (let [semantic-subject (atom {:existential? false})
               agr (atom :top)]
           {:reflexive? false
            :agr agr
            :sem {:subj semantic-subject
                  :obj :none}
            :subcat {:1 {:cat :noun
                         :pronoun? true
                         :sem {:existential? true}}
                     :2 {:cat :noun
                         :subcat []
                         ;; there walks a dog
                         ;; *there walks he
                         ;; *there walks her
                         :pronoun? false
                         :agr agr
                         :sem semantic-subject}
                     :3 []}})
         
         ;; 3. transitive, nonreflexive:
         (let [subj (atom {:existential? false})
               obj (atom {:existential? false})]
           {:subcat {:1 {:cat :noun
                         :sem subj
                         :subcat []}
                     :2 {:cat :noun
                         :reflexive? false
                         :case :acc
                         :sem obj
                         :subcat []}}
            :reflexive? false
            :sem {:subj subj
                  :obj obj}})

         ;; 4. transitive, nonreflexive:
         ;; transitive, reflexive
         (let [subj (atom {:existential? false})
               obj (atom {:existential? false})
               agr (atom :top)]
           {:subcat {:1 {:cat :noun
                         :agr agr
                         :sem subj
                         :subcat []}
                     :2 {:cat :noun
                         :pronoun? true
                         :agr agr
                         :reflexive? true
                         :case :acc
                         :sem obj
                         :subcat []}}
            :reflexive? true
            :sem {:subj subj
                  :obj obj}})]}

 {:rule :aux?-default-is-false
  :if {:cat :verb
       :aux? ::unspec}
  :then [{:aux? false}]}

 ;; <non-inflecting rules>
 ;;
 ;; Closed-class words don't inflect. Need to
 ;; set :inflected? so that menard.lexiconfn/analyze
 ;; will find them properly.

 {:rule :dont-inflect-adjectives
  :if {:cat :adjective}
  :then [{:inflected? true}]}

 {:rule :dont-inflect-complementizers
  :if {:cat :comp}
  :then [{:inflected? true}]}

 {:rule :dont-inflect-intensifiers
  :if {:cat :intensifier}
  :then [{:inflected? true}]}
 
 {:rule :dont-inflect-neg
  :if {:cat :neg}
  :then [{:inflected? true}]}
 
 {:rule :dont-inflect-prepositions
  :if {:cat :prep}
  :then [{:inflected? true}]}

 {:rule :dont-inflect-determiners
  :if {:cat :det}
  :then [{:inflected? true}]}
 
 ;; </non-inflecting rules>

 {:rule :intensifier-semantics
  :if {:cat :intensifier}
  :then [(let [adj-mod (atom :top)
               adj-pred (atom :top)
               intensifier-sem (atom :top)]
           {:parent-sem {:pred adj-pred
                         :mod {:first intensifier-sem
                               :rest adj-mod}}
            :sem intensifier-sem
            :subcat {:1 {:cat :adjective
                         :sem {:pred adj-pred
                               :number? false
                               :mod adj-mod}}
                     :2 []}})]}

 {:rule :pronouns-are-not-reflexive-by-default
  :if {:cat :noun
       :pronoun? true
       :reflexive? ::unspec}
  :then [{:reflexive? false}]}

 {:rule :pronouns-are-not-wh-words-by-default
  :if {:cat :noun
       :pronoun? true
       :wh-word ::unspec}
  :then [{:wh-word false}]}

 {:rule :nouns-have-empty-modifiers
  :if {:cat :noun
       :mod ::unspec
       :sem {:mod ::unspec}}
  :then [{:mod []
          :sem {:mod []}}]}

 {:rule :verbs-have-empty-modifiers
  :if {:cat :verb
       :mod ::unspec}
  :then [{:mod []}]}

 {:rule :verbs-have-empty-sem-modifiers
  :if {:cat :verb
       :sem {:mod ::unspec}}
  :then [{:sem {:mod []}}]}

 {:rule :adjectives-not-numbers-by-default
  :if {:cat :adjective
       :sem {:number? ::unspec}}
  :then [{:sem {:number? false}}]}

 {:rule :irregular-common-noun
  :if {:cat :noun
       :pronoun? ::unspec
       :propernoun? ::unspec
       :regular false}
  :then [{:pronoun? false
          :regular false
          :propernoun? false}]}

 {:rule :subject-verb-agreement
  :if {:cat :verb
       :subcat {:1 {:cat :noun}}}
  :then [(let [agr (atom :top)]
           {:agr agr
            :subcat {:1 {:agr agr
                         :cat :noun
                         :case :nom
                         :subcat []}}})]}
 
 {:rule :dont-inflect-pronouns
  :if {:cat :noun
       :pronoun? true}
  :then [{:inflected? true}]}

 {:rule :dont-inflect-propernouns
  :if {:cat :noun
       :propernoun? true}
  :then [{:inflected? true}]}
 
 {:rule :ditransitive-false
  :if {:cat :verb
       :modal :none
       :subcat {:3 ::unspec}}
  :then [{:cat :verb
          :subcat {:3 []}}]}

  {:rule :determiner-expansion
  :if {:cat :det
       :agr ::unspec}
  :then [{:agr {:number :sing}}
         {:agr {:number :plur}}]}

 {:rule :common-noun
  :if {:cat :noun
       :propernoun? false
       :pronoun? false
       :subcat ::unspec
       :agr {:number ::unspec}}
  :then [(let [agr (atom {:number :sing
                          :person :3rd})]
           ;; "a/the dog sleeps"
           {:cat :noun
            :reflexive? false
            :propernoun? false
            :pronoun? false
            :agr agr
            :subcat {:1 {:cat :det :agr agr}
                     :2 []}})
         ;; "the/some dogs sleep"
         (let [agr (atom {:number :plur
                          :person :3rd})]
           {:cat :noun
            :reflexive? false
            :propernoun? false
            :pronoun? false
            :agr agr
            :subcat {:1 {:cat :det :agr agr}
                     :2 []}})
         ;; "dogs sleep"
         {:cat :noun
          :reflexive? false
          :propernoun? false
          :pronoun? false
          :sem {:quant :some}
          :agr {:number :plur
                :person :3rd}
          :subcat []}]}

 {:rule :irregular-plural-common-noun
  :if {:cat :noun
       :propernoun? false
       :pronoun? false
       :regular false
       :subcat ::unspec
       :agr {:number :plur}}
  :then [(let [agr (atom {:number :plur
                          :person :3rd})]
           {:cat :noun
            :reflexive? false
            :propernoun? false
            :pronoun? false
            :agr agr
            :subcat {:1 {:cat :det :agr agr}
                     :2 []}})
         {:cat :noun
          :reflexive? false
          :propernoun? false
          :pronoun? false
          :agr {:number :plur
                :person :3rd}
          :sem {:quant :some}
          :subcat []}]}

 {:rule :irregular-singular-common-noun
  :if {:cat :noun
       :propernoun? false
       :pronoun? false
       :regular false
       :subcat ::unspec
       :agr {:number :sing}}
  :then [(let [agr (atom {:number :sing
                          :person :3rd})]
           {:cat :noun
            :reflexive? false
            :propernoun? false
            :pronoun? false
            :agr agr
            :subcat {:1 {:cat :det :agr agr}
                     :2 []}})]}

 {:rule :reflexive?-is-accusative
  :if {:cat :noun
       :pronoun? true
       :reflexive? true}
  :then [{:propernoun? false
          :subcat []
          :case :acc}]}

 {:rule :nonreflexive
  :if {:cat :noun
       :pronoun? true
       :reflexive? false}
  :then [{:propernoun? false
          :subcat []}]}

 {:rule :propernoun-misc-defaults
  :if {:cat :noun
       :propernoun? true}
  :then [{:interogative? false
          :reflexive? false}]}

 {:rule :propernoun-subcat-default
  :if {:cat :noun
       :propernoun? true
       :subcat ::unspec}
  :then [{:subcat []}]}

 {:rule :propernoun-sem-mod-default
  :if {:cat :noun
       :propernoun? true
       :sem {:mod ::unspec}}
  :then [{:sem {:mod []}}]}
 
 {:rule :propernoun-person-default
  :if {:cat :noun
       :propernoun? true
       :agr {:person ::unspec}}
  :then [{:agr {:person :3rd}}]}

  {:rule :propernoun-number-default
  :if {:cat :noun
       :propernoun? true
       :agr {:number ::unspec}}
  :then [{:agr {:number :sing}}]}
 
 {:rule :prep-arg-verbs ;; "talks" in "she talks to him"
  :if {:cat :verb
       :modal :none
       :prepositional-verb? true
       :subcat {:2 {:cat :prep}
                :3 []}}
  :then (let [subj (atom :top)
              with-preposition (atom :top)]
          [{:prepositional-verb-with with-preposition
            :reflexive? false
            :sem {:obj :none
                  :iobj :none
                  :subj subj}
            :subcat {:1 {:sem subj}
                     :2 {:cat :prep
                         :subcat []
                         :phrasal? false
                         :canonical with-preposition}
                     :3 []}}
           (let [iobj (atom :top)]
             {:prepositional-verb-with with-preposition
              :sem {:obj :none
                    :subj subj
                    :iobj iobj}
              :subcat {:1 {:sem subj}
                       :2 {:root with-preposition
                           :cat :prep
                           :subcat []                           
                           :sem {:obj iobj}}}})])}

 {:rule :adjectival-arg-verbs ;; "fall asleep"
  :if {:cat :verb
       :adjectival-verb? true}
  :then (let [subj (atom :top)
              with-adjective (atom :top)]
          [{:adjectival-verb-with with-adjective
            :reflexive? false
            :sem {:obj :none
                  :iobj :none
                  :subj subj}
            :subcat {:1 {:sem subj}
                     :2 {:cat :adjective
                         :subcat []
                         :phrasal? false
                         :canonical with-adjective}
                     :3 []}}])}

 {:rule :nominal-arg-verbs ;; "have lunch"
  :if {:cat :verb
       :nominal-verb? true}
  :then (let [subj (atom :top)
              with-noun (atom :top)]
          [{:nominal-verb-with with-noun
            :reflexive? false
            :sem {:obj :none
                  :iobj :none
                  :subj subj}
            :subcat {:1 {:sem subj}
                     :2 {:cat :noun
                         :reflexive? false
                         :agr {:number :sing}
                         :phrasal? false
                         :canonical with-noun
                         :subcat []}
                     :3 []}}])}
 
 {:rule :ditransitive-verbs ;; "gives" in "she gives it to her"
  :if {:cat :verb
       :modal :none
       :subcat {:2 {:cat :prep}
                :3 {:cat :noun}}}
  :then [(let [iobj (atom :top)
               obj (atom :top)]
           {:sem {:iobj iobj
                  :obj obj}
            :subcat {:2 {:cat :prep
                         :sem {:obj iobj}
                         :subcat []}
                     :3 {:cat :noun
                         :case :acc
                         :sem obj
                         :subcat []}}})]}

 {:rule :nouns-are-not-interogative
  :if {:cat :noun
       :interogative? false}
  :then [{:interogative? false}]}

  {:rule :quantified-noun
  :if {:cat :noun
       :subcat {:1 {:cat :det}}}
  :then [(let [quant (atom :top)]
           {:sem {:quant quant}
            :subcat {:1 {:sem {:pred quant}}}})]}
 
 ;; verbs with prepositions as the object (e.g. "talks to her", "goes with him", etc.
 {:rule :prep-arg-reflexivity
  :if {:cat :verb
       :modal :none
       :reflexive? ::unspec
       :subcat {:2 {:cat :prep}
                :3 []}}
  :then (let [iobj (atom :top)
              agr (atom :top)]
          ;; "talks to her"
          [{:derivation {:prep-arg-reflexivity {:sense 1}} 
            :reflexive? false
            :subcat {:2 {:reflexive? false}}}

           ;; "talks to herself"
           {:reflexive? true
            :sem {:subj iobj
                  :iobj iobj}
            :subcat {:1 {:agr agr}
                     :2 {:reflexive? true
                         :agr agr
                         :sem {:obj iobj}}}}])}

 {:rule :ditransitive-reflexivity
  :if {:cat :verb
       :modal :none
       :subcat {:2 {:cat :prep}
                :3 {:cat :noun}}}
  :then (let [obj (atom :top)
              iobj (atom :top)
              agr (atom :top)]
          [{:reflexive? false
            :subcat {:2 {:reflexive? false}
                     :3 {:reflexive? false}}}

           ;; "give the credit to themselves"
           {:reflexive? true
            :sem {:subj iobj
                  :iobj iobj}
            :subcat {:1 {:agr agr}
                     :2 {:reflexive? true
                         :agr agr
                         :sem {:obj iobj}}
                     :3 {:reflexive? false}}}

           ;; "pushes themselves to the front"
           {:reflexive? true
            :sem {:subj obj
                  :obj obj}
            :subcat {:1 {:agr agr}
                     :2 {:reflexive? false}
                     :3 {:agr agr
                         :sem obj
                         :reflexive? true}}}])}

 ;; TODO: add semantics for both [:subcat :2]'s.
 {:rule :verb-with-s
  :if {:cat :verb
       :modal :none
       :subcat {:2 {:rule "s"
                    :cat :verb
                    :subcat []}}}
  :then [{:subcat {:2 {:subcat []}
                   :3 []}}]}

 ;; TODO: add semantics for both [:subcat :2]'s.
 {:rule :verb-with-comp2
  :if {:cat :verb
       :modal :none
       :subcat {:2 {:rule "comp2"
                    :cat :comp
                    :subcat []}}}
  :then [{:subcat {:2 {:subcat []}
                   :3 []}}]}

 {:rule :existential-false
  :if {:cat :noun
       :pronoun? true
       :sem {:existential? ::unspec}}
   :then [{:sem {:existential? false}}]}

 {:rule :complementizer-complements ;; e.g. "believe [that it ..]"
  :if {:cat :verb
       :modal :none
       :subcat {:2 {:cat :comp}}}
  :then [{:subcat {:2 {:phrasal? true}}
          :sem {:obj {:obj {:top :top}}}}]}

 {:rule :prepositional-complements
  :if {:cat :verb
       :modal :none
       :subcat {:2 {:cat :prep
                    :phrasal? ::unspec}}}
  :then [{:subcat {:2 {:phrasal? true}}}]}

 {:rule :nested-obj-null
  :if {:cat :verb
       :modal :none
       :to? false
       :sem {:obj {:obj ::unspec}}}
  :then [{:sem {:obj {:obj :none}}}]}

 ;; "will","would","used to"
 ;; the modal verb (e.g. 'will','would') has
 ;; no :pred of its own, but only tense.
 ;; e.g.: "will" as {:tense :future}
 ;;       "would" as {:tense :conditional}
 ;;       "used to" as {:tense :past, :aspect :progressive}
 {:rule :modal-base-no-pred
  :if {:cat :verb
       :modal :base
       :sem {:pred ::unspec}}
  :then (let [subj (atom :top)
              subcat-1-is-shared (atom {:sem subj})
              sem (atom {:subj subj})]
          [;; "would"
           {:inflected? true
            :sem {:subj subj
                  :pred :anaphoric}
            
            :subcat {:1 {:sem subj}
                     :2 []}
            :modal-with-pred? false}

           ;; "would study"
           {:inflected? true
            :sem sem
            :subcat {:1 subcat-1-is-shared
                     :2 {:cat :verb
                         :modal :none
                         :infl :base
                         :sem sem
                         :subcat {:1 subcat-1-is-shared
                                  :2 []}}}
            :modal-with-pred? false}

           ;; "would want to study"
           {:inflected? true
            :sem sem
            :subcat {:1 subcat-1-is-shared
                     :2 {:cat :verb
                         :modal :infinitive
                         :infl :base
                         :sem sem
                         :subcat {:1 subcat-1-is-shared
                                  :2 []}}}
            :modal-with-pred? false}

           ;; "will be able to study"
           {:inflected? true
            :sem sem
            :subcat {:1 subcat-1-is-shared
                     :2 {:cat :verb
                         :modal :adjective
                         :infl :base
                         :sem sem
                         :subcat {:1 subcat-1-is-shared
                                  :2 []}}}
            :modal-with-pred? false}])}

 ;; "can","must","might","may"
 ;; the modal verb (e.g. 'can') has
 ;; a :pred {:pred :be-able-to} and
 ;; its complement (the base verb) is the :obj of that pred
 ;; e.g. "can study"
 ;;   {:pred :be-able-to
 ;;    :obj {:pred :study}}
 {:rule :modal-base-with-pred
  :if {:cat :verb
       :modal :base
       :modal-with-pred? true}
  :then (let [subj (atom :top)
              subcat-1-is-shared (atom {:sem subj})
              complement-sem (atom {:subj subj
                                    :ref :none})]
          [;; "can"
           {:inflected? true
            :sem {:subj subj
                  :obj {:subj subj
                        :pred :anaphoric}}
            :subcat {:1 {:sem subj}
                     :2 []}}

           ;; "can study"
           {:inflected? true
            :sem {:subj subj
                  :obj complement-sem}
            :subcat {:1 subcat-1-is-shared
                     :2 {:cat :verb
                         :modal :none
                         :sem complement-sem
                         :subcat {:1 subcat-1-is-shared
                                  :2 []}}}}

           ;; TODO add support for {:modal :infinitive}
           ;; e.g. "can want to study"
           ;; as we have above in :modal-base-no-pred
           ])}

 ;; e.g. "I am studying"
 {:rule :modal-present-participle
  :if {:cat :verb
       :modal :present-participle}
  :then (let [subj (atom :top)
              subcat-1-is-shared (atom {:sem subj})
              sem (atom {:subj subj})]
          [;; "is"
           {:inflected? true
            :sem {:subj subj
                  :pred :anaphoric}
            
            :subcat {:1 {:sem subj}
                     :2 []}}

           ;; 'is' in 'is studying'
           {:inflected? true
            :sem sem
            :subcat {:1 subcat-1-is-shared
                     :2 {:cat :verb
                         :aux? false                         
                         :modal :none
                         :infl :present-participle
                         :sem sem
                         :subcat {:1 subcat-1-is-shared
                                  :2 []}}}}])}

 ;; e.g. "I have studied"
 {:rule :modal-past-participle
  :if {:cat :verb
       :modal :past-participle}
  :then (let [subj (atom {:existential? false})
              subcat-1-is-shared (atom {:sem subj})
              sem (atom {:subj subj})]
          [;; "have"
           {:sem {:subj subj
                  :pred :anaphoric}
            :subcat {:1 {:sem subj}
                     :2 []}}

           ;; 'have' in 'have studied'
           {:sem sem
            :subcat {:1 subcat-1-is-shared
                     :2 {:cat :verb
                         :aux? false
                         :modal :none
                         :infl :past-participle
                         :sem sem
                         :subcat {:1 subcat-1-is-shared
                                  :2 []}}}}])}

  ;; e.g. "I need to study"
 {:rule :modal-infinitive-non-used-to
  :if {:cat :verb
       :modal :infinitive
       :subcat {:2 {:cat :verb}}
       :to? false
       :used-to? false}
  :then (let [subj (atom :top)
              subcat-1-is-shared (atom {:sem subj})
              complement-sem (atom {:subj subj
                                    :ref :none})]
          [;; "needs"
           {:sem {:subj subj
                  :obj :none}
            :subcat {:1 {:sem subj}
                     :2 []}
            :used-to? false}

           ;; "needs to leave"
           {:sem {:subj subj
                  :obj complement-sem}
            :subcat {:1 subcat-1-is-shared
                     :2 {:cat :verb
                         :infl :infinitive
                         :sem complement-sem
                         :subcat {:1 subcat-1-is-shared
                                  :2 []}}}
            :used-to? false}])}

 ;; TODO: move this back into the lexicon since it's
 ;; specific to a single lexical entry "used to"
 {:rule :modal-infinitive-used-to
  :if {:cat :verb
       :modal :infinitive
       :subcat {:2 {:cat :verb}}
       :used-to? true
       :to? false}
  :then (let [subj (atom :top)
              subcat-1-is-shared (atom {:sem subj})
              sem (atom {:subj subj})]
          [
           ;; "used to"
           {:sense 1
            :sem {:subj subj
                  :pred :anaphoric}
            :subcat {:1 {:sem subj}
                     :2 {:canonical "to"
                         :cat :verb
                         :phrasal? false}}}
           
           ;; "used to leave"
           {:sense 2
            :sem sem
            :subcat {:1 subcat-1-is-shared
                     :2 {:cat :verb
                         :aux? false
                         :infl :infinitive
                         :modal :infinitive
                         :sem sem
                         :subcat {:1 subcat-1-is-shared
                                  :2 []}}}}

           ;; "used to be able"
           {:sense 3
            :sem sem
            :subcat {:1 subcat-1-is-shared
                     :2 {:cat :verb
                         :aux? false
                         :infl :infinitive
                         :modal :none
                         :sem sem
                         :subcat {:1 subcat-1-is-shared
                                  :2 []}}}}


           ])}

 
 ]

