[{:rule :irregular-common-noun
  :if {:cat :noun
       :pronoun ::unspec
       :propernoun ::unspec
       :regular false}
  :then [{:pronoun false
          :regular false
          :propernoun false}]}

 {:rule :subject-verb-agreement
  :if {:cat :verb
       :subcat {:1 {:cat :noun}}}
  :then [(let [agr (atom :top)]
           {:agr agr
            :subcat {:1 {:agr agr
                         :cat :noun
                         :case :nom}}})]}
 {:rule :aux-verbs
  :if {:cat :verb
       :aux true}
  :then [(let [agr (atom :top)
               sem (atom {:mood :decl})]
           {:cat :verb
            :sem sem
            :agr agr
            :subcat {:1 {:agr agr
                         :aux false
                         :cat :verb
                         :sem sem
                         :subcat {:1 {:agr agr}}}
                     :2 []}})
         (let [agr (atom :top)
               sem (atom {:mood :interog})]
           {:cat :verb
            :sem sem
            :agr agr
            :subcat {:1 {:agr agr
                         :top-level? false
                         :aux false
                         :cat :verb
                         :sem sem
                         :subcat []}
                     :2 []}})]}

 {:rule :dont-inflect-pronouns
  :if {:cat :noun
       :pronoun true}
  :then [{:inflected? true}]}

 {:rule :dont-inflect-propernouns
  :if {:cat :noun
       :propernoun true}
  :then [{:inflected? true}]}

 {:rule :modals
  :if {:cat :verb
       :modal true}
  :then [(let [subj (atom :top)
               subcat-subj (atom {:sem subj})
               obj (atom {:subj subj})]
           {:sem {:subj subj
                  :obj obj}
            :subcat {:1 {:infl :infinitive
                         :cat :verb
                         :sem obj
                         :subcat {:1 subcat-subj
                                  :2 []}}
                     :2 []}})]}]

