[{:rule :irregular-common-noun
  :if {:cat :noun
       :pronoun ::unspec
       :propernoun ::unspec
       :regular false}
  :then [{:pronoun false
          :regular false
          :propernoun false}]}

 {:rule :subject-verb-agreement
  :if {:cat :verb
       :subcat {:1 {:cat :noun}}}
  :then [(let [agr (atom :top)]
           {:agr agr
            :subcat {:1 {:agr agr
                         :cat :noun
                         :case :nom}}})]}
 {:rule :aux-verbs
  :if {:cat :verb
       :aux true
       :subcat {:2 {:cat :verb}}}
  :then (let [agr (atom :top)
              reflexive (atom :top)
              sem (atom :top)
              subject (atom {:agr agr
                             :cat :noun
                             :subcat []})]
          [{:agr agr
            :cat :verb
            :reflexive reflexive
            :sem sem
            :subcat {:1 subject
                     :2 {:agr agr
                         :aux false
                         :cat :verb
                         :reflexive reflexive
                         :sem sem
                         :subcat {:1 subject
                                  :2 []}}}}])}
 
 {:rule :dont-inflect-pronouns
  :if {:cat :noun
       :pronoun true}
  :then [{:inflected? true}]}

 {:rule :dont-inflect-propernouns
  :if {:cat :noun
       :propernoun true}
  :then [{:inflected? true}]}

 {:rule :modal-infinitive
  :if {:cat :verb
       :modal :infinitive}
  :then [(let [subj (atom :top)
               subcat-subj (atom {:sem subj})
               obj (atom {:subj subj})]
           {:sem {:subj subj
                  :obj obj}
            :subcat {:1 {:infl :infinitive
                         :cat :verb
                         :sem obj
                         :subcat {:1 subcat-subj
                                  :2 []}}
                     :2 []}})]}

 {:rule :modal-base
  :if {:cat :verb
       :modal :base}
  :then [(let [subj (atom :top)
               subcat-subj (atom {:sem subj})
               obj (atom {:subj subj})]
           {:sem {:subj subj
                  :obj obj}
            :infl :base
            :subcat {:1 {:infl :base
                         :cat :verb
                         :sem obj
                         :subcat {:1 subcat-subj
                                  :2 []}}
                     :2 []}})]}

 {:rule :transitive-verb-prep-default-false
  :if {:cat :verb
       :transitive-prep ::unspec}
  :then [{:transitive-prep false}]}]
