[;; verbs with prepositions as the object (e.g. "talks to her", "goes with him", etc.
 {:rule :prep-arg-reflexivity
  :if {:cat :verb
       :subcat {:2 {:cat :prep}
                :3 []}}
  :then (let [iobj (atom :top)
              agr (atom :top)]
          [{:derivation {:sense 1} ;; "talks to her"
            :reflexive false
            :subcat {:2 {:reflexive false}}}
           {:derivation {:sense 2} ;; "talks to herself"
            :reflexive true
            :sem {:subj iobj
                  :iobj iobj}
            :subcat {:1 {:agr agr}
                     :2 {:reflexive true
                         :agr agr
                         :sem {:obj iobj}}}}])}

 {:rule :ditransitive-reflexivity
  :if {:cat :verb
       :subcat {:2 {:cat :prep}
                :3 {:cat :noun}}}
  :then (let [obj (atom :top)
              iobj (atom :top)
              agr (atom :top)]
          [{:derivation {:sense 1}
            :reflexive false
            :subcat {:2 {:reflexive false}
                     :3 {:reflexive false}}}
           {:derivation {:sense 2} ;; "puts the table on himself"
            :reflexive true
            :sem {:subj iobj
                  :iobj iobj}
            :subcat {:1 {:agr agr}
                     :2 {:reflexive true
                         :agr agr
                         :sem {:obj iobj}}
                     :3 {:reflexive false}}}
           {:derivation {:sense 3} ;; "puts himself on the table"
            :reflexive true
            :sem {:subj obj
                  :obj obj}
            :subcat {:1 {:agr agr}
                     :2 {:reflexive false}
                     :3 {:agr agr
                         :sem obj
                         :reflexive true}}}])}
 {:rule :verb-with-complement
  :if {:cat :verb
       :subcat {:2 {:cat :comp}}}
  :then [{:subcat {:2 {:rule "comp2"
                       :subcat []}
                   :3 []}}]}]
