[
 ;; TODO: derive the general case from the specific expression pairs automatically rather
 ;; than having to list these specifications in pairs:
 ;;    (e.g. specific np, then general np, specific np with adjective, general np with adjective, etc.

 ;; 0
 {:note "intensifier adjective"
  :dotimes 1
  :cat :adjective
  :subcat []
  :phrasal true
  :head {:phrasal false}
  :comp {:phrasal false}}

 ;; 1
 {:note "det noun"
  :dotimes 1
  :cat :noun
  :subcat []
  :phrasal true
  :head {:phrasal false}
  :comp {:phrasal false}}

 ;; 2
 {:note "noun verb"
  :dotimes 1
  :subcat []
  :cat :verb
  :phrasal true}

  ;; 3
 {:note "det noun | verb"
  :dotimes 1
  :subcat []
  :phrasal true
  :head {:phrasal false
         :cat :verb}
  :comp {:phrasal true
         :cat :noun}
  :target {:head {:phrasal false}}}

 ;; 4
 {:note "det | adj noun"
  :dotimes 1
  :subcat []
  :phrasal true
  :cat :noun
  :head {:phrasal true}
  :comp {:phrasal false}}

 {:note "'een huis'"
  :dotimes 1
  :rule "np"
  :agr {:number :sing}
  :sem {:mod []
        :pred :house
        :quant :indef}}

 {:note "'de grote boeken'"
  :dotimes 1
  :rule "np"
  :agr {:number :plur}  
  :sem {:mod {:first {:pred :big}}
        :quant :def
        :pred :book}}
 
 {:note "'een heel klein druif'"
  :dotimes 1
  :rule "np"
  :agr {:number :sing}
  :sem {:pred :grape
        :quant :indef
        :mod {:first {:pred :small
                      :mod {:first {:pred :very}}}}}}
 
 {:note "det [intensifier adj | adj noun]"
  :dotimes 1
  :agr {:number :plur}
  :rule "np"
  :sem {:mod {:first {:pred :top
                      :mod {:first {:pred :top}}}
              :rest {:first {:pred :top}}}
        :pred :top
        :quant :top}}
 
 {:note "'De heel sterk slimme vrouen zingen'."
  :dotimes 1
  :rule "s"
  :agr {:number :plur}
  :sem {:pred :sing
        :subj {:pred :woman
               :context :neutral
               :mod {:first {:pred :strong
                             :mod {:first {:pred :very}}}
                     :rest {:first {:pred :smart}}}
               :quant :def}}}

 ;; 10
 {:note "[det [intensifier adj | adj noun]] verb"
  :dotimes 5
  :rule "s"
  :sem {:subj {:mod {:first {:mod {:first {:pred :top}}}
                     :rest {:first {:top :top}}}}}}

 ;; 11
 {:note "[det | adj noun] verb"
  :dotimes 5
  :rule "s" 
  :sem {:subj {:mod {:first {:mod []}
                     :rest []}}}}
 
 ;; 12
 {:note "Sentence with object"
  :dotimes 5
  :reflexive false
  :target {:head {:comp {:phrasal false}
                  :rule "vp"}}
  :cat :verb
  :subcat []
  :sem {:pred :see
        :obj {:top :top}}}

 ;; 13
 {:note "Sentence with reflexive object"
  :dotimes 5
  :generic true
  :cat :verb
  :phrasal true
  :reflexive true
  :sem {:tense :present
        :aspect :simple
        :pred :see}
  :subcat []}

 ;; 14
 {:note "[s np [vp v np]]"
  :dotimes 5
  :phrasal true
  :rule "s"
  :reflexive false
  :comp {:rule "np"}
  :head {:phrasal true
         :rule "vp"
         :head {:subcat {:2 {:cat :noun}}}
         :comp {:rule "np"}}}

 ;; 15
 {:note "[s n [vp v [vp:inf to v]]]" ;; e.g. 'she wants to leave'
  :dotimes 5
  :rule "s"
  :reflexive false
  :head {:rule "vp"
         :comp {:rule "vp-inf"
                :cat :verb
                :head {:phrasal false
                       :reflexive false}}}
  :sem {:pred :try
        :obj {:top :top}}}

 ;; 16
 ;; ARGD, p. 37
 {:note "e.g. Jouw families probeeren mijn honden te zien."
  :dotimes 5
  :phrasal true
  :rule "s"
  :reflexive false
  :comp {:phrasal true}
  :head {:rule "vp"
         :comp {:rule "vp-np"
                :comp {:phrasal true}
                :cat :verb
                :head {:cat :verb
                       :rule "vp-inf"
                       :comp {:modal false}}}}}]


