[
 ;; TODO: derive the general case from the specific expression pairs automatically rather
 ;; than having to list these specifications in pairs:
 ;;    (e.g. specific np, then general np, specific np with adjective, general np with adjective, etc.

 ;; 0
 {:note "intensifier adjective"
  :dotimes 1
  :cat :adjective
  :subcat []
  :phrasal true
  :head {:phrasal false}
  :comp {:phrasal false}}

 ;; 1
 {:note "det noun"
  :dotimes 1
  :cat :noun
  :subcat []
  :phrasal true
  :head {:phrasal false}
  :comp {:phrasal false}}

 ;; 2
 {:note "noun verb"
  :dotimes 1
  :subcat []
  :cat :verb
  :phrasal true}

  ;; 3
 {:note "det noun | verb"
  :dotimes 1
  :subcat []
  :phrasal true
  :head {:phrasal false
         :cat :verb}
  :comp {:phrasal true
         :cat :noun}}

 ;; 4
 {:note "det | adj noun"
  :agr {:number :sing
        :gender :neuter}
  :dotimes 1
  :sem {:pred :girl
        :mod {:first {:pred :confusing}}
        :quant :we}
  :subcat []
  :phrasal true
  :cat :noun
  :head {:phrasal true}
  :comp {:phrasal false}}

 ;; 5
 {:note "'een huis'"
  :dotimes 1
  :rule "np"
  :agr {:number :sing}
  :sem {:mod []
        :quant :some
        :pred :house}}

 ;; 6
 {:note "'de grote boeken'"
  :dotimes 1
  :rule "np"
  :agr {:number :plur}  
  :sem {:mod {:first {:pred :big}}
        :pred :book}}
 
 ;; 7
 {:note "'een heel klein druif'"
  :dotimes 1
  :rule "np"
  :agr {:number :sing}
  :definite? false
  :sem {:pred :grape
        :quant :some
        :mod {:first {:pred :small
                      :mod {:first {:pred :very}}}}}}

 ;; 8
 ;; Generate some noun phrases where the
 ;; modifying adjective has no '-e' suffix,
 ;; e.g. 'een heel lief oud thuis'
 {:note "[det [[intensifier adj] noun]]"
  :dotimes 1
  :agr {:number :sing
        :gender :neuter}
  :definite? false
  :rule "np"
  :sem {:mod {:first {:pred :top
                      :mod {:first {:pred :top}}}
              :rest {:first {:pred :top}}}
        :pred :top}}

 ;; 9
 ;; Generate some noun phrases but with less constraints,
 ;; so usually the adjective *will* have the -e suffix.
 ;; e.g. 'een behoorlijk vies grote tafel'
 {:note "[det [[intensifier adj] noun]]"
  :dotimes 1
  :rule "np"
  :sem {:mod {:first {:pred :top
                      :mod {:first {:pred :top}}}
              :rest {:first {:pred :top}}}
        :pred :top}}
 
 ;; 10
 {:note "'De heel sterk slimme vrouen zingen'."
  :dotimes 1
  :rule "s"
  :agr {:number :plur}
  :sem {:pred :sing
        :subj {:pred :woman
               :context :neutral
               :mod {:first {:pred :strong
                             :mod {:first {:pred :very}}}
                     :rest {:first {:pred :smart}}}}}}

 ;; 11
 {:note "[det [intensifier adj | adj noun]] verb"
  :dotimes 5
  :rule "s"
  :sem {:subj {:mod {:first {:mod {:first {:pred :top}}}
                     :rest {:first {:top :top}}}}}}

 ;; 12
 {:note "[det | adj noun] verb"
  :dotimes 5
  :rule "s" 
  :sem {:subj {:mod {:first {:mod []}
                     :rest []}}}}
 
 ;; 13
 {:note "Sentence with object"
  :max-depth 3
  :dotimes 5
  :reflexive false
  :cat :verb
  :subcat []
  :sem {:pred :see
        :obj {:top :top}}}

 ;; 14
 {:note "Sentence with reflexive object"
  :dotimes 5
  :generic true
  :max-depth 3
  :cat :verb
  :phrasal true
  :reflexive true
  :sem {:tense :present
        :aspect :simple
        :pred :see}
  :subcat []}

 ;; 15
 {:note "[s np [vp v np]]"
  :dotimes 5
  :phrasal true
  :rule "s"
  :reflexive false
  :comp {:rule "np"}
  :head {:phrasal true
         :rule "vp"
         :head {:subcat {:2 {:cat :noun}}}
         :comp {:rule "np"}}}

 ;; 16
 {:note "[s n [vp-modal-te v [vp-te:inf to v]]]" ;; e.g. 'probeer te slapen'
  :dotimes 5
  :rule "s"
  :reflexive false
  :head {:rule "vp-modal-te"
         :head {:modal :te}
         :comp {:rule "vp-te"
                :cat :verb
                :head {:phrasal false
                       :reflexive false}}}
  :sem {:obj {:top :top}}}

 ;; 17
 ;; ARGD, p. 37
 {:note "modals+infinitive"
  :dotimes 5
  :phrasal true
  :rule "s"
  :comp {:phrasal true
         :head {:phrasal true
                :comp {:phrasal true}
                :head {:phrasal true}}}
  :head {:rule "vp-modal-te"
         :phrasal true
         :head {:phrasal false
                :reflexive false
                :modal :te}
         :comp {:rule "vp-np"
                :comp {:phrasal true
                       :rule "np"
                       :head {:rule "nbar"
                              :comp {:phrasal true}}}
                :head {:rule "vp-te"
                       :comp {:modal false}
                       :phrasal true}}}
  :target {:rule "s"
           :comp {:rule "np"}
           :head {:rule "vp"
                  :comp {:rule "vp"
                         :comp {:rule "vp"}}}}}

 ;; 18
 {:note "using 'kunnen'"
  :rule "s"
  :head {:rule "vp-infinitive"
         :head {:phrasal false
                :canonical "kunnen"}
         :comp {:phrasal false}}
  :comp {:phrasal false}}

 ;; 19
 {:note "corona sentence from de Krant van de Gemente van Amsterdam"
  :max-depth 3
  :rule "s"
  :prod? false
  :comment "Corona en eenzaamheid moeten we samen bestrijden"
  :phrasal true,
  :subcat []
  :reflexive false
  :sem {:pred :must
        :obj {:obj {:pred :corona}
              :mod {:first {:pred :together}}
              :pred :overcome}}}
 ]



