[{:rule "intensifier" ;; 'heel groot'
  :cat :adjective
  :head {:cat :intensifier}
  :comp {:cat :adjective}
  :unify [babylon.ug/comp-is-root
          babylon.ug/head-first
          babylon.ug/parent-sem
          babylon.ug/shared-def
          babylon.ug/subcat-a]}

 {:rule "nbar" ;; '[nbar .groet +kat]'
  :cat :noun
  :head {:pronoun false
         :propernoun false
         :subcat {:1 {:top :top}
                  :2 []}}
  :slash false
  :comp {:cat :adjective
         :modifies-noun true}
  :unify [babylon.ug/cons-mod
          babylon.ug/head-last
          babylon.ug/head-is-root
          babylon.ug/head-rule
          babylon.ug/nominal-phrase
          babylon.ug/shared-agr
          babylon.ug/shared-def
          babylon.ug/subcat-b]}

 {:rule "np"
  :reflexive false
  :agr {:person :3rd}
  :cat :noun
  :slash false
  :comp {:phrasal false}
  :options [{:agr {:number :plur}}
            {:agr {:number :sing}}]
  :unify [babylon.ug/head-is-root
          babylon.ug/head-last
          babylon.ug/head-rule
          babylon.ug/nest-mod
          babylon.ug/shared-def
          babylon.ug/shared-number
          babylon.ug/subcat-a]}

 {:rule "s"
  :cat :verb
  :subcat []
  :options babylon.nederlands/finite-tenses  
  :unify [babylon.ug/head-aux
          babylon.ug/head-is-root
          babylon.ug/head-last
          babylon.ug/head-rule
          babylon.ug/head-sem
          babylon.ug/subcat-a]}

 {:rule "vp" ;; [vp +see .it]
  :cat :verb
  :aux false
  :slash false
  :options babylon.nederlands/finite-plus-inf-tense
  :head {:aux false}
  :unify [babylon.ug/head-first
          babylon.ug/head-is-root
          babylon.ug/head-reflexive
          babylon.ug/head-rule
          babylon.ug/head-sem
          babylon.ug/slash-is-head-slash
          babylon.ug/subcat-c]}

 {:rule "vp-np" ;; [vp .[np de kat] [vp-inf +te .zien]]
  :cat :verb
  :aux false
  :slash false
  :options babylon.nederlands/inf-tense
  :head {:aux false}
  :unify [babylon.ug/head-last
          babylon.ug/head-is-root
          babylon.ug/head-reflexive
          babylon.ug/head-rule
          babylon.ug/head-sem
          babylon.ug/slash-is-head-slash
          babylon.ug/subcat-c]}

 {:rule "vp-inf" ;; [vp +te .slapen]
  :cat :verb
  :aux false
  :slash false
  :infl :infinitive
  :head {:canonical "te"}
  :unify [babylon.ug/head-first
          babylon.ug/comp-is-root
          babylon.ug/head-reflexive
          babylon.ug/head-rule
          babylon.ug/head-sem
          babylon.ug/slash-is-head-slash
          babylon.ug/subcat-d]}

 {:rule "adverb" ;; '[.samen +bestrijden]'
  :prod? false
  :cat :verb
  :head {:cat :verb
         :infl :base
         :canonical "bestrijden"}
  :comp {:cat :adverb
         :canonical "samen"}
  :unify [babylon.ug/cons-mod
          babylon.ug/head-is-root
          babylon.ug/head-last
          babylon.ug/head-rule
          babylon.ug/head-sem
          babylon.ug/subcat-b
          ]}
 
 {:rule "we-samen-bestrijden"
  :prod? false
  :cat :verb
  :comp {:canonical "we"
         :phrasal false}
  :head {:rule "adverb"
         :phrasal true}
  :unify [babylon.ug/head-last
          babylon.ug/head-is-root
          babylon.ug/head-sem
          babylon.ug/nest-mod]}
 ]
