[
 {:rule "conj-outer" ;; [.vier +[+en .twentig]]
  :unify [ug/head-agr
          ug/head-last
          ug/head-sem
          su/a]
  :cat :adjective
  :head {:cat :conjunction
         :agr {:number :plur}
         :phrasal true
         :rule "conj-inner"}
  :comp {:phrasal false}}

 {:rule "conj-inner" ;; +[+en .twentig]
  :unify [ug/head-agr
          ug/head-first
          ug/head-sem
          su/c]
  :cat :conjunction
  :head {:cat :conjunction
         :agr {:number :plur}
         :phrasal false
         :canonical "en"}}

 {:rule "intensifier-bar"
  :cat :adjective
  :head {:cat :adjective}
  :comp {:cat :intensifier}
  :unify [ug/head-last ug/head-sem
          sharing2/cons-only
          ug/head-is-root ug/head-rule su/b]}

 {:rule "intensifier-phrase"
  :cat :adjective
  :head {:cat :adjective}
  :comp {:cat :intensifier}
  :unify [ug/head-last sharing2/cons-and-nest]}

 ;; The next two rules, nbar:1 and nbar:2,
 ;; differ only in the value of [:mod :first :number?]:
 ;; the value at this path is true in the first, false in the second.

 ;; [nbar:1 .vier +[nbar:3 .kleine +tafels]]
 {:rule "nbar:1"
  :cat :noun
  :head {:pronoun false
         :propernoun false
         :subcat {:1 {:top :top}
                  :2 []}}
  :slash false
  :comp {:cat :adjective
         :modifies-noun true}
  :mod {:first {:number? true}
        :rest {:first {:number? false}}}

  :unify [ug/cons-mod-nominal
          ug/head-last
          ug/head-is-root
          ug/head-rule
          ug/nominal-phrase
          ug/shared-agr
          ug/shared-def
          su/b]}

 ;; [nbar:2 .slimme +[nbar:3 .ernstig +gebeid]]
 {:rule "nbar:2"
  :cat :noun
  :head {:pronoun false
         :propernoun false
         :subcat {:1 {:top :top}
                  :2 []}}
  :slash false
  :comp {:cat :adjective
         :modifies-noun true}
  :mod {:first {:number? false}
        :rest {:first {:number? false}}}

  :unify [ug/cons-mod-nominal
          ug/head-last
          ug/head-is-root
          ug/head-rule
          ug/nominal-phrase
          ug/shared-agr
          ug/shared-def
          su/b]}
 
 ;; [nbar:3 .kleine +tafels]
 {:rule "nbar:3"
  :cat :noun
  :head {:pronoun false
         :propernoun false
         :subcat {:1 {:top :top}
                  :2 []}}
  :slash false
  :comp {:cat :adjective
         :modifies-noun true}
  :mod {:first {:number? false}
        :rest []}

  :unify [ug/head-last ug/head-sem sharing2/cons-only
          ug/head-is-root ug/head-rule su/b
          ug/nominal-phrase ug/shared-agr ug/shared-def]}

 ;; [nbar:4 .vier +tafels]
 {:rule "nbar:4"
  :cat :noun
  :head {:pronoun false
         :propernoun false
         :subcat {:1 {:top :top}
                  :2 []}}
  :slash false
  :comp {:cat :adjective
         :modifies-noun true}
  :mod {:first {:number? true}
        :rest []}

  :unify [ug/cons-mod-nominal
          ug/head-last
          ug/head-is-root
          ug/head-rule
          ug/nominal-phrase
          ug/shared-agr
          ug/shared-def
          su/b]}
 
 ;; np with no determiner, e.g.:
 ;; 'grote katten' in 'grote katten slapen'.
 {:rule "np:1" 
  :np? true
  :cat :noun
  :head {:pronoun false
         :propernoun false
         ;; Prevent e.g. *"oude de huizen",
         ;; whereas e.g. "de oude huizen" is ok:
         :np? false
         :subcat []}
  :slash false
  :comp {:cat :adjective
         :modifies-noun true}
  :unify [ug/head-last
          sharing2/cons-and-nest
          ug/head-is-root
          ug/head-rule
          sharing2/copy-sem-stuff
          ug/nominal-phrase
          ug/shared-agr
          ug/shared-def
          su/b]}
 
 {:rule "np" ;; '.de +kat'
  :np? true
  :reflexive false
  :agr {:person :3rd}
  :cat :noun
  :comp {:cat :det}
  :slash false
  :mod []
  ;; TODO: remove this :options, if possible (test first, of course).
  :options [{:agr {:number :plur}}
            {:agr {:number :sing}}]
  :unify [ug/head-is-root
          ug/head-last
          ug/head-rule
          sharing/nest-mod-nominal
          ug/shared-def
          ug/shared-number
          sharing/sem-args-shared-with-head
          su/a]}

 {:rule "s"
  :cat :verb
  :subcat []
  :options babylon.nederlands/finite-tenses  
  :unify [ug/head-aux
          ug/head-is-root
          ug/head-last
          ug/head-rule
          ug/head-sem
          ug/sem-mod-is-empty ;; temporary until I figure out how to use [:head :sem :mod] for this rule.
          su/a]}

 {:rule "vp" ;; [vp +zie .het]
  :cat :verb
  :aux false
  :slash false
  :options babylon.nederlands/finite-plus-inf-tense
  :head {:aux false
         :modal false}

  :unify [ug/head-first
          ug/head-is-root
          ug/head-reflexive
          ug/head-rule
          ug/head-sem
          ug/sem-mod-is-empty ;; temporary until I figure out how to use [:head :sem :mod] for this rule.
          ug/slash-is-head-slash
          su/c]}

 {:rule "vp-modal-te" ;; [vp-modal-te +proberen .[te slapen]]
  :cat :verb
  :aux false
  :slash false
  :options babylon.nederlands/finite-plus-inf-tense
  :head {:aux false
         :modal :te}

  :unify [ug/head-first
          ug/head-is-root
          ug/head-reflexive
          ug/head-rule
          ug/head-sem
          ug/sem-mod-is-empty
          ug/slash-is-head-slash
          su/c]}

 ;; the object of the non-modal verb (in the complement)
 ;; is copied up:
 {:rule "vp-infinitive" ;; [vp +moet .bestrijden]
  :cat :verb
  :aux false
  :slash false
  :options babylon.nederlands/finite-plus-inf-tense
  :head {:aux false
         :modal :infinitive}

  :unify [ug/head-first
          ug/head-is-root
          ug/nest-comp-mod
          ug/head-reflexive
          ug/head-rule
          ug/head-sem
          ug/slash-is-head-slash
          su/i]}

 {:rule "vp-np" ;; [vp-np .[np de kat] [vp-te +te .zien]]
  :cat :verb
  :aux false
  :slash false
  :options babylon.nederlands/inf-tense
  :head {:aux false}

  ;; TODO: remove: should be handled by head:
  :comp {:cat :noun}
  
  :unify [ug/head-last
          ug/head-is-root
          ug/head-reflexive
          ug/head-rule
          ug/head-sem
          ug/sem-mod-is-empty ;; temporary until I figure out how to use [:head :sem :mod] for this rule.
          ug/slash-is-head-slash
          su/c]}

 {:rule "vp-te" ;; '+te .slapen'
  :cat :verb
  :aux false
  :slash false
  :infl :te
  :head {:canonical "te"}
  :unify [ug/head-first
          ug/comp-is-root
          ug/head-reflexive
          ug/head-rule
          ug/head-sem
          ug/slash-is-head-slash
          ug/sem-mod-is-comp-mod
          su/d]}

 {:rule "adverb" ;; '.samen +bestrijden'
  :prod? true
  :cat :verb
  :subcat {:1 {:top :top}
           :2 {:top :top}
           :3 []}
  :mod {:rest []}
  :reflexive false
  :head {:cat :verb
         :infl :infinitive}
  :comp {:cat :adverb}
  :unify [ug/cons-mod-adverb
          ug/subj-ref
          ug/head-is-root
          ug/head-last
          ug/head-rule
          ug/head-sem
          su/b
          ]}

 ;; [modal+subject(:present-simple) +moeten .jullie]
 {:rule "modal+subject"
  :prod? true
  :cat :verb
  :reflexive false
  :head {:phrasal false
         :modal :infinitive
         :infl :present
         :subcat {:2 {:modal false}}}
  :options babylon.nederlands/finite-tenses  
  :unify [ug/head-first
          ug/head-rule
          ug/head-sem
          su/e
          ]}

 ;; +[vp-slash-object +[modal+subject(:present-simple) +moeten .we] .[adverb .samen +bestrijden]]
 {:rule "vp-slash-object"
  :prod? true
  :cat :verb
  :reflexive false
  :head {:rule "modal+subject"
         :phrasal true}
  :unify [ug/head-first
          ug/head-sem
          su/h]}]
