(let [plur-modifier
      {:cat :adjective
       :agr {:number :plur}
       :modifies-noun true}
      definite-singular-modifier
      {:cat :adjective
       :definite? true
       :agr {:number :sing}
       :modifies-noun true}
      indefinite-singular-common-modifier
      {:definite? false
       :agr {:gender :common
             :number :sing}
       :modifies-noun true}]
  [{:g [#"" ""]
    :p [#"" ""]
    :u {:cat :adjective
        :sem {:number? true}}}

   ;; F. p 4 "Adjectives have no ending if they precede a singular neuter noun in an indefinite context: i.e.
   ;;         after een 'a', geen 'no/not a', elk 'each'.."
   {:g [#"$" ""]
    :p [#"([^e])" "$1"]
    :u {:cat :adjective
        :agr {:gender :neuter
              :number :sing}
        :sem {:number? false}
        :definite? false
        :inflection :adj-no-e-suffix
        :modifies-noun true}}

   ;; generation: groot -> grote
   ;; parsing:    grote -> groot
   ;; TODO: merge this with eenzaam -> eenzame
   ;; rule below.
   {:g [#"ot$" "te"]
    :p [#"te$" "ot"]
    :u {:cat :adjective
        :inflection :te
        :agr {:number :plur}
        :modifies-noun true}}
   {:g [#"ot$" "te"]
    :p [#"te$" "ot"]
    :u {:cat :adjective
        :inflection :te
        :definite? true
        :agr {:number :sing}
        :modifies-noun true}}
   {:g [#"ot$" "te"]
    :p [#"te$" "ot"]
    :u {:cat :adjective
        :inflection :te
        :definite? false
        :agr {:gender :common
              :number :sing}
        :modifies-noun true}}

   ;; generation: lief -> lieve
   ;; parsing:    lieve -> lief
   {:g [#"f$"   "ve"]
    :p [#"ve$"  "f"]
    :u {:cat :adjective
        :agr {:number :plur}
        :modifies-noun true}}
   {:g [#"f$"   "ve"]
    :p [#"ve$"  "f"]
    :u {:cat :adjective
        :definite? true
        :agr {:number :sing}
        :modifies-noun true}}
   {:g [#"f$"   "ve"]
    :p [#"ve$"  "f"]
    :u {:cat :adjective
        :definite? false
        :agr {:gender :common
              :number :sing}
        :modifies-noun true}}

   ;; generation: vies -> vieze
   ;; parsing:    vieze -> vies
   {:g [#"s$"   "ze"]
    :p [#"ze$"  "s"]
    :u {:cat :adjective
        :agr {:number :plur}
        :modifies-noun true}}
   {:g [#"s$"   "ze"]
    :p [#"ze$"  "s"]
    :u {:cat :adjective
        :agr {:number :sing}
        :definite? true
        :modifies-noun true}}
   {:g [#"s$"   "ze"]
    :p [#"ze$"  "s"]
    :u {:cat :adjective
        :definite? false
        :agr {:gender :common
              :number :sing}
        :modifies-noun true}}

   ;; generation: stom -> stomme
   ;; parsing:    stomme -> stom
   (let [g [#"([lt])([aeiou])([m])$" "$1$2$3$3e"]
         p [#"([lt])([aeiou])mme$"   "$1$2m"]]
     {:g g
      :p p
      :u plur-modifier}
     {:g g
      :p p
      :u definite-singular-modifier}
     {:g g
      :p p
      :u indefinite-singular-common-modifier})

   ;; generation: dik   -> dikke
   ;; parsing:    dikke -> dik
   (let [g [#"([d])([i])([k])$" "$1$2$3$3e"]
         p [#"([d])([i])kke$"   "$1$2k"]]
     {:g g
      :p p
      :u plur-modifier}
     {:g g
      :p p
      :u definite-singular-modifier}
     {:g g
      :p p
      :u indefinite-singular-common-modifier})

   ;; generation: openbaar -> openbare;eenzaam -> eenzame
   ;; parsing:    openbare -> openbaar;eenzame -> eenzaam
   {:g [#"(a)(a)([mr])$"   "$1$3e"]
    :p [#"a([mr])e$"       "aa$1"]
    :u {:cat :adjective
        :agr {:number :plur}
        :modifies-noun true}}
   {:g [#"(a)(a)([mr])$"   "$1$3e"]
    :p [#"a([mr])e$"       "aa$1"]
    :u {:cat :adjective
        :definite? true
        :agr {:number :sing}
        :modifies-noun true}}
   {:g [#"(a)(a)([mr])$"   "$1$3e"]
    :p [#"a([mr])e$"       "aa$1"]
    :u {:cat :adjective
        :definite? false
        :agr {:gender :common
              :number :sing}
        :modifies-noun true}}

   ;; buitengewoon -> buitengewone
   {:g [#"(o)(o)([n])$"   "$1$3e"]
    :p [#"o([n])e$"       "oo$1"]
    :u {:cat :adjective
        :agr {:number :plur}
        :modifies-noun true}}
   {:g [#"(o)(o)([n])$"   "$1$3e"]
    :p [#"o([n])e$"       "oo$1"]
    :u {:cat :adjective
        :definite? true
        :agr {:number :sing}
        :modifies-noun true}}
   {:g [#"(o)(o)([n])$"   "$1$3e"]
    :p [#"o([n])e$"       "oo$1"]
    :u {:cat :adjective
        :definite? false
        :agr {:gender :common
              :number :sing}
        :modifies-noun true}}

   ;; generation: klein -> kleine
   ;; parsing:    kleine -> klein
   ;; the use of all of this '[^o]' below is to avoid:
   ;;    groot -> *groote
   ;; instead, groot -> grote is handled above with the
   ;; ':inflection :t'e rule above.
   ;; Note the subtle differences in the 3 groups below:
   ;; 1. first group is  [^o][^o]
   ;; 2. second group is [o][^o]
   ;; 3. third group is  [^o][o]

   ;; TODO: This seems like a lot of work to prevent one specific
   ;; problem: try to find a more concise solution
   ;; (een minder ingewikkelde oplossing).
   {:g [#"([^o][^o].)$"  "$1e"]
    :p [#"([^o][^o].)e$" "$1"]
    :u {:cat :adjective
        :inflection :default
        :agr {:number :plur}
        :modifies-noun true}}
   {:g [#"([^o][^o].)$"  "$1e"]
    :p [#"([^o][^o].)e$" "$1"]
    :u {:cat :adjective
        :inflection :default
        :definite? true
        :agr {:number :sing}
        :modifies-noun true}}
   {:g [#"([^o][^o].)$"  "$1e"]
    :p [#"([^o][^o].)e$" "$1"]
    :u {:cat :adjective
        :inflection :default
        :definite? false
        :agr {:gender :common
              :number :sing}
        :modifies-noun true}}

   {:g [#"([o][^o].)$"  "$1e"]
    :p [#"([o][^o].)e$" "$1"]
    :u {:cat :adjective
        :inflection :default
        :agr {:number :plur}
        :modifies-noun true}}
   {:g [#"([o][^o].)$"  "$1e"]
    :p [#"([o][^o].)e$" "$1"]
    :u {:cat :adjective
        :inflection :default
        :definite? true
        :agr {:number :sing}
        :modifies-noun true}}
   {:g [#"([o][^o].)$"  "$1e"]
    :p [#"([o][^o].)e$" "$1"]
    :u {:cat :adjective
        :inflection :default
        :definite? false
        :agr {:gender :common
              :number :sing}
        :modifies-noun true}}

   {:g [#"([^o][o].)$"  "$1e"]
    :p [#"([^o][o].)e$" "$1"]
    :u {:cat :adjective
        :inflection :default
        :agr {:number :plur}
        :modifies-noun true}}
   {:g [#"([^o][o].)$"  "$1e"]
    :p [#"([^o][o].)e$" "$1"]
    :u {:cat :adjective
        :inflection :default
        :definite? true
        :agr {:number :sing}
        :modifies-noun true}}
   {:g [#"([^o][o].)$"  "$1e"]
    :p [#"([^o][o].)e$" "$1"]
    :u {:cat :adjective
        :inflection :default
        :definite? false
        :agr {:gender :common
              :number :sing}
        :modifies-noun true}}
   ])

