[{:g [#"^(.*)$"       "$1"] ;; no change in inflection for singular form.
  :p [#"^(.*)$"       "$1"] ;; no change in inflection for singular form.
  :u {:cat :noun
      :inflection :noun-sing
      :pronoun false
      :regular true
      :agr {:number :sing}}}

 ;; if a singular noun ends in a vowel (including 'y'), then noun pluralization ends in -'s (apostrophe + s).
 {:g [#"(a|i|o|u|y)$"  "$1's"] ;; baby  -> baby's
  :p [#"^(.*)'s$"      "$1"]   ;; baby's -> baby
  :u {:cat :noun
      :inflection :apostrophe-s-plural
      :pronoun false
      :agr {:number :plur}
      :regular true}}

 ;; if a singular noun ends in -heid, then noun pluralization ends in -heden:
 {:g [#"(heid)$"  "heden"] ;; mogelijkheid -> mogelijkheden
  :p [#"heden$"   "heid"]
  :u {:cat :noun
      :inflection :heid-suffix
      :pronoun false
      :agr {:number :plur}
      :regular true}}
 
  ;; noun pluralization ending in -s:
 {:g [#"([^aeiouy])(e|el|em|en|er|ie)$"  "$1$2s"] ;; tafel  -> tafels
  :p [#"^(.*)s$"   "$1"]          ;; tafels -> tafel 
  :u {:cat :noun
      :inflection :s-plural
      :pronoun false
      :agr {:number :plur}
      :regular true}}

 ;; TODO: nouns end in 's' if they end in
 ;; "aar(d), -erd,-ier when referring to people" (F. p 55).
 {:g [#"^(.*)aa(.)$"     "$1a$2en"] ;; haar   -> haren
  :p [#"^(.*)a(.)en$"    "$1aa$2"]  ;; haren -> haar
  :u {:cat :noun
      :inflection :morphology-noun-plur-repeated-vowel
      :pronoun false
      :agr {:number :plur}
      :regular true}}

 {:g [#"^(.*)ee(.)$"     "$1e$2en"] ;; been   -> benen
  :p [#"^(.*)e([nr])en$" "$1ee$2"]  ;; benen -> been
  :u {:cat :noun
      :inflection :morphology-noun-plur-repeated-vowel
      :pronoun false
      :agr {:number :plur}
      :regular true}}

 {:g [#"^(.*ui)s$"    "$1zen"] ;; huis   -> huizen
  :p [#"^(.*ui)zen$"  "$1s"] 
  :u {:cat :noun
      :inflection :morphology-noun-plur-s2z
      :pronoun false
      :agr {:number :plur}
      :regular true}}

 ;; jas    -> jassen
 ;; but not:
 ;; fiets  -> *fietssen
 {:g [#"^(.*[^t])s$"    "$1ssen"] 
  :p [#"^(.*[^t])ssen$" "$1s"] 
  :u {:cat :noun
      :inflection :morphology-noun-plur-repeated-consonant
      :pronoun false
      :agr {:number :plur}
      :regular true}}

 ;; fiets    -> fietsen
 {:g [#"^(.*ts)$"       "$1en"]
  :p [#"^(.*ts)en$"     "$1"]
  :u {:cat :noun
      :inflection :tsen
      :pronoun false
      :agr {:number :plur}
      :regular true}}

 {:g [#"^(.*[aeiou])t$"    "$1tten"] ;; kat    -> katten
  :p [#"^(.*[aeiou])tten$" "$1t"]
  :u {:cat :noun
      :inflection :morphology-noun-plur-repeated-consonant
      :pronoun false
      :agr {:number :plur}
      :regular true}}

 {:g [#"^(.*)t$"    "$1ten"] ;; aandacht    -> aandachten
  :p [#"^(.*)ten$"  "$1t"]
  :u {:cat :noun
      :inflection :morphology-noun-plur-repeated-consonant
      :pronoun false
      :agr {:number :plur}
      :regular true}}


 {:g [#"^(.*)n$"    "$1nnen"] ;; man    -> mannen
  :p [#"^(.*)nnen$"  "$1n"] 
  :u {:cat :noun
      :inflection :morphology-noun-plur-repeated-consonant
      :pronoun false
      :agr {:number :plur}
      :regular true}}

 {:g [#"^(.*)f$"    "$1ven"] ;; druif   -> druiven
  :p [#"^(.*)ven$"  "$1f"] 
  :u {:cat :noun
      :inflection :morphology-noun-plur-f2v
      :pronoun false
      :agr {:number :plur}
      :regular true}}

 {:g [#"^(.*)$"         "$1en"] ;; hond   -> honden
  :p [#"^(.*[^st])en$"  "$1"]   ;; honden -> dog
  :u {:cat :noun
      :inflection :morphology-noun-plur-otherwise
      :pronoun false
      :agr {:number :plur}
      :regular true}}]


