{
 "el"
 [{:agr {:gender :masc
         :number :sing}
   :sem {:pred :the}}   

  {:agr {:gender :fem
         :number :sing}
   ;; this is for exceptional feminine nouns
   ;; e.g. "el acta","el agua":
   :is-el-noun? true
   :sem {:pred :the}}]

 "la"
  [{:agr {:gender :fem
          :number :sing}
    :is-el-noun? false
    :sem {:pred :the}}]

 "las"
 [{:agr {:gender :fem
         :number :plur}
   :sem {:pred :the}}]
   
 "los"
 [{:agr {:gender :masc
         :number :plur}
   :sem {:pred :the}}]

 "un"
 [{:agr {:gender :masc
         :number :sing}
   :sem {:pred :some}}]
 
 "una"
 [{:agr {:gender :fem
         :number :sing}
   :sem {:pred :some}}]
 
 }
