{"a"
 [;; "a" as in "a la casa"
  (let [obj (atom :top)]
    {:sem {:pred :a
           :obj obj}
     :subcat {:1 {:cat :noun
                  :case :acc
                  :sem obj
                  :reflexive false
                  :subcat []}
              :2 []}})]}



