{"a"
 [;; "a" as in "a la casa"
  {:sem {:pred :a
         :obj {:place? true}}
   :subcat {:1 {:cat :noun
                :case :acc
                :reflexive false
                :subcat []}
            :2 []}}]}

