{"él" (let [agr {:person :3rd
                 :gender :masc
                 :number :sing}]
        [{:case :nom
          :agr agr
          :sem {:ref {:human? true}
                :gender :masc
                :pred :he}
          :reflexive? false}
         {:case :nom
          :agr agr
          :sem {:ref {:human? false}
                :gender :masc
                :pred :it}
          :reflexive? false}])

 "ella" (let [agr {:person :3rd
                   :gender :fem
                   :number :sing}]
          [{:case :nom
            :agr agr
            :sem {:ref {:human? true}
                  :gender :fem
                  :pred :she}
            :reflexive? false}
           {:case :nom
            :agr agr
            :sem {:ref {:human? false}
                  :gender :fem
                  :pred :it}
            :reflexive? false}])

 "ellas" (let [agr {:person :3rd
                    :gender :fem
                    :number :plur}]
           [{:case :nom
             :agr agr
             :sem {:ref {:human? true}
                   :gender :fem
                   :pred :they}
             :reflexive? false}
            {:case :nom
             :agr agr
             :sem {:ref {:human? false}
                   :gender :fem
                   :pred :they}
             :reflexive? false}])
 
 "ellos" (let [agr {:person :3rd
                    :gender :masc
                    :number :plur}]
           [{:case :nom
             :agr agr
             :sem {:ref {:human? true}
                   :gender :masc
                   :pred :they}
             :reflexive? false}
            {:case :nom
             :agr agr
             :sem {:ref {:human? false}
                   :gender :masc
                   :pred :they}
             :reflexive? false}])

 "me" [{:agr {:number :sing
              :person :1st}
        :sem {:ref {:human? true}
              :pred :i}
        :reflexive? true}]
  
 "nos" [{:agr {:number :plur
               :person :1st}
         :sem {:ref {:human? true}
               :pred :we}
         :reflexive? true}]

 "vos" [{:agr {:number :plur
               :person :2nd
               :formal? false}
         :sem {:ref {:human? true}
               :pred :you}
         :reflexive? true}]

 "nosotras" [{:case :nom
              :agr {:number :plur
                    :gender :fem
                    :person :1st}
              :sem {:ref {:human? true}
                    :pred :we}
              :reflexive? false}]

 "nosotros" [{:case :nom
              :agr {:number :plur
                    :gender :masc
                    :person :1st}
              :sem {:ref {:human? true}
                    :pred :we}
              :reflexive? false}]

 ;; we don't have [:agr :number]
 ;; explicitly here for 'se': probably don't
 ;; need it.
 "se" [{:sense 1
        :sem {:pred :it
              :ref {:human? false}}
        :agr {:person :3rd
              :number :sing}
        :reflexive? true}

       {:sense 2
        :sem {:pred :he
              :ref {:human? true}}
        :agr {:person :3rd
              :number :sing}
        :reflexive? true}

       {:sense 3
        :sem {:pred :she
              :ref {:human? true}}
        :agr {:person :3rd
              :number :sing}
        :reflexive? true}

       {:sense 4
        :sem {:pred :they}
        :agr {:person :3rd
              :number :plur}
        :reflexive? true}
       
       {:sense 5
        :sem {:pred :you
              :ref {:formal? true}}
        :agr {:person :2nd
              :formal? true}
        :reflexive? true}]

 "te" [{:agr {:number :sing
              :person :2nd
              :formal? false}
        :sem {:ref {:human? true}
              :pred :you}
        :reflexive? true}]

 "tu" [{:case :nom
        :agr {:number :sing
              :person :2nd
              :formal? false}
        :sem {:ref {:human? true
                    :context :informal}
              :pred :you}
        :reflexive? false}]

 "usted" [{:case :nom
           :agr {:number :sing
                 :person :2nd
                 :formal? true}
           :sem {:ref {:human? true
                       :context :formal}
                 :pred :you}
           :reflexive? false}]

 "ustedes" [{:case :nom
             :agr {:number :plur
                   :person :2nd
                   :formal? true}            
             :sem {:ref {:human? true
                         :context :formal}
                   :pred :you}
             :reflexive? false}]

 "vosotras" [{:case :nom
              :agr {:number :plur
                    :gender :fem
                    :person :2nd
                    :formal? false}
              :sem {:ref {:human? true
                          :context :informal}
                    :pred :you}
              :reflexive? false}]

 "vosotros" [{:case :nom
              :agr {:number :plur
                    :gender :masc
                    :person :2nd}
              :sem {:ref {:human? true
                          :context :informal}
                    :pred :you}
              :reflexive? false}]

"yo" [{:case :nom
        :agr {:number :sing
              :person :1st}
        :sem {:ref {:human? true}
              :pred :i}
        :reflexive? false}]}
