{"querer" (let [exceptions {:boot-stem "quier"
                            :preterito-stem "quis"
                            :futuro-stem "querr"}
                subcat {:1 {:cat :noun}}]
            [{:exceptions exceptions
              :subcat subcat
              :sem {:pred :want}}
             {:exceptions exceptions
              :subcat subcat              
              :sem {:pred :love}}])}







