{
 "cambiar" [{:sem {:pred :change}, :cat :verb}]
 "hablar" [{:sem {:pred :speak
                   :subj {:human true}}}
           {:sem {:pred :talk
                  :subj {:human true}}}]

 "limpiar" [{:sem {:pred :clean}, :cat :verb}]
 "querer" (let [stems {:boot      "quier"
                       :preterito "quis"
                       :futuro    "querr"}]
            [{:stems stems
              :sem {:pred :want}}
             {:stems stems
              :sem {:pred :love}}])
 "romper" [{:sem {:pred :break}, :cat :verb}]
 }
