[
 {:rule :mood
  :if {:sem {:mood ::none}}
  :then {:sem {:mood :declarative}}}

 {:rule :slash
  :if {:slash? ::none}
  :then {:slash? false}}

 {:rule :aux
  :if {:cat :verb
       :aux? ::none}
  :then {:aux? false}}

 {:rule :inverted-object?
  :if {:cat :verb
       :inverted-object? ::none}
  :then {:inverted-object? false}}

 ]
