[
 {:rule :mood
  :if {:sem {:mood ::none}}
  :then [{:sem {:mood :decl}}]}

 {:rule :slash
  :if {:slash? ::none}
  :then [{:slash? false}]}

 {:rule :aux
  :if {:cat :verb
       :aux? ::none}
  :then [{:aux? false}]}
 
 ]
