{
 "ardēre" {:synsem {:cat :verb
                   :sem {:pred :burn}}}
        
 "audīre" {:synsem {:cat :verb
                    :sem {:pred :hear}}}

 "laudāre" {:synsem {:cat :verb
                     :sem {:pred :praise}}}
 "legere" {:synsem {:cat :verb
                    :sem {:pred :read}}}

 ;; use square brackets [ .. ] to indicate multiple meanings, e.g.:
 "portāre" [{:conjugation 1
             :synsem {:cat :verb
                      :sem {:pred :bring}}}
            {:conjugation 1
             :synsem {:cat :verb
                      :sem {:pred :carry}}}]

 "respondēre" {:synsem {:cat :verb
                  :sem {:pred :answer}}}
 
 }
