{
 "abeō" {:synsem {:cat :verb
                  :sem {:pred :go-away}}}

 ;; use square brackets [ .. ] to indicate multiple meanings
 "adeō" [{:synsem {:cat :verb
                   :sem {:pred :approach}}}
         {:synsem {:cat :verb
                   :sem {:pred :go-torward}}}]

 "circumeō" {:synsem {:cat :verb
                      :sem {:pred :go-around}}}

 ;; as with "adeo" above, we use square brackets
 ;; to indicate multiple meanings
 "exeō" [{:synsem {:cat :verb
                   :sem {:pred :exit}}}
         {:synsem {:cat :verb
                  :sem {:pred :go-out}}}
         {:synsem {:cat :verb
                  :sem {:pred :leave}}}]
 }

