{
 "affollato"
 [;; comparative
  (let [is-place {:synsem {:sem {:place true}}} ;; only places can be crowded.
        than-this {:pred :di
                   :mod is-place}]
    {:unify [is-place]
     :synsem {:cat :adjective
              :sem {:pred :affollato
                    :arg1 is-place
                    :arg2 is-place
                    :comparative true}
              :subcat {:1 {:cat :noun
                           :sem is-place}
                       :2 {:cat :prep
                           :sem than-this}}}}
    ;; non-comparative
    {:unify [is-place]
     :synsem {:cat :adjective
              :sem {:pred :affolato
                    :comparative false}}})]

 "alto"
 [;; non-comparative:
  {:synsem {:cat :adjective
            :sem {:pred :alto
                  :comparative false
                  :human true}}} ;; only humans can be tall.

  ;; comparative:
  {:synsem {:cat :adjective
            :sem {:comparative true
                  :pred :alto
                  :arg1 {:human true}
                  :arg2 {:human true}}}}]

 "bello"
 [{:synsem {:cat :adjective
            :sem {:pred :bello}}}

  {:synsem {:cat :adjective
            :sem {:comparative true
                  :pred :bello}}}]

 "bianco"
 {:synsem {:cat :adjective
           :sem {:pred :bianco
                 :comparative false
                 :physical-object true
                 :human false}}
  :italiano {:masc {:plur "bianchi"}
             :fem {:plur "bianche"}}}

 "brutto"
 ;; non-comparative
 ;; TODO: add comparative
 {:synsem {:cat :adjective
           :sem {:pred :brutto
                 :comparative false ;; for now, no restrictions on what can be ugly.
                 }}}

 "cattivo"
 {:synsem {:cat :adjective
           :sem {:pred :cattivo
                 :comparative false
                 :human true;; TODO:should not need this because child => human.
                 :child true}}
  :italiano {:cat :adjective}}

 "cittadino" {:synsem {:cat :adjective
                       :sem {:pred :local}}}


 "contento"
 [{:synsem {:cat :adjective
            :sem {:pred :contento
                  :subj {:human true}}}}

  {:synsem {:cat :adjective
            :sem {:comparative true
                  :pred :contento
                  :subj {:human true}
                  :obj {:human true}}}}]

 "corto"
 [{:synsem {:cat :adjective
            :sem {:pred :contento
                  :subj {:human true}}}}

  {:synsem {:cat :adjective
            :sem {:comparative true
                  :pred :contento
                  :subj {:human true}
                  :obj {:human true}}}}]
 "difficile"
 ;; non-comparative
 ;; TODO: add comparative
 {:synsem {:cat :adjective
           :sem {:pred :difficile
                 :comparative false
                 ;; "difficile" has a very specific list of things it can modify:
                 :drinkable false
                 :human false
                 :animate false
                 :buyable false
                 :legible true
                                        ;                             :activity true ;; TODO: cannot declare this as an activity because of some semantic implicature..
                 :artifact true
                 :physical-object true
                 :edible false}}
  :italiano {:fem {:sing "difficile"}}}

 "giallo"
 {:synsem {:cat :adjective
           :sem {:pred :yellow
                 :comparative false
                 :physical-object true
                 :human false}}}
 ;; non-comparative
 ;; TODO: add comparative
 "nero"
 {:synsem {:cat :adjective
           :sem {:pred :nero
                 :comparative false
                 :physical-object true
                 :human false}}}

 ;; non-comparative
 ;; TODO: add comparative
 "rosso"
 {:synsem {:cat :adjective
           :sem {:pred :rosso
                 :comparative false
                 :physical-object true
                 :human false}}}
 
 }
