{
 "acqua"
 {:synsem {:agr {:gender :fem}
           :cat :noun
           :sem {:pred :water}}}
 
 "aereo" {:synsem {:agr {:gender :masc}
                   :cat :noun
                   :sem {:pred :airplane}}}
 "amica"
 {:synsem {:agr {:gender :fem}
           :cat :noun
           :sem {:pred :amico
                 :prop {:human true}}}}

 "amico"
 {:synsem {:agr {:gender :masc}
           :cat :noun
           :sem {:pred :amico}}}

 "anno" {:synsem {:agr {:gender :masc}
                  :cat :noun
                  :sem {:pred :year}}}

 "attore" {:synsem {:agr {:gender :masc}
                    :cat :noun
                    :sem {:pred :actor}}}
 
 "aula" {:synsem {:agr {:gender :fem}
                  :cat :noun
                  :sem {:pred :classroom}}}
 "birra"
 {:synsem {:agr {:gender :fem}
           :cat :noun
           :sem {:pred :birra}}}

 "bisogno"
 (let [the-object (atom :top)]
   {:synsem {:cat :noun
             :agr {:gender :masc}
             :sem {:pred :bisogno-di
                   :obj the-object
                   :can-be-subject false}
             :subcat {:1 {:cat :prep
                          :sem {:pred :di
                                :obj the-object}}}}})
 "braccio"
 {:synsem {:agr {:gender :masc}
           :cat :noun
           :sem {:pred :braccio}
           ;; adding "bracci" as irregular because
           ;; current morphology.clj would otherwise return
           ;; "braccii".
           ;; TODO: might not be an exception so much
           ;; as a ortho-pholological rule "io" -plur-> "ia"
           :italiano {:plur "bracci"}}}
 
 "bucato"
 {:synsem {:cat :noun
           :agr {:gender :masc
                 :number :sing}
           :sem {:pred :laundry}
           :subcat {:1 {:def :def}}}}

 "caffè" [{:synsem {:agr {:gender :masc
                          :number :sing}
                    :cat :noun
                    :sem {:pred :coffee}}}
          {:synsem {:agr {:gender :masc
                          :number :plur}
                    :cat :noun
                    :sem {:pred :coffee}}}]

 "calzoni"
 ;; setting {:agr {:number :plur}} because it's always plural: cannot be singular.
 {:synsem {:cat :noun
           :agr {:gender :masc
                 :number :plur}
           :sem {:pred :calzoni}}}

 "camicia"
 {:synsem {:agr {:gender :fem}
           :cat :noun
           :sem {:pred :camicia}}}
 
 "cane"
 {:synsem {:agr {:gender :masc}
           :cat :noun
           :sem {:pred :dog}}}

 "casa"
 [{:synsem {:agr {:gender :fem}
            :cat :noun
            :sem {:pred :house}}}

  ;; in the sense of "a casa": no article needed.
  {:synsem {:case :acc
            :cat :noun
            :propernoun false
            :agr {:gender :fem}
            :sem {:pred :house
                  :spec {:def :none}} ;; "a casa", not "a mia casa", etc
            :subcat []}}
  ]

 ;; working on: "mi sono comprato un nuovo cellulare"
 "cellulare"
 {:synsem {:agr {:gender :masc}
           :cat :noun
           :sem {:pred :cellulare}}}

 "chiave" {:synsem {:agr {:gender :masc}
                    :cat :noun
                    :sem {:pred :key}}}
 "cipolla"
 {:synsem {:agr {:gender :fem}
           :cat :noun
           :sem {:pred :onion}}}

 "città"
 {:vcat :noun-invariable-feminine
  :synsem {:agr {:gender :fem}
           :sem {:pred :city}
           :subcat {:1 {:cat :det
                        :def :def}}}} ;; TODO: why must :def be specifically :def here?

 "compito"
 {:synsem {:agr {:gender :masc}
           :cat :noun
           :sem {:pred :compito}}}

 "dentista"
 {:synsem {:cat :noun
           :sem {:pred :dentist}
           :agr {:gender :masc}}}

 "domanda" {:synsem {:agr {:gender :fem}
                     :cat :noun
                     :sem {:pred :question}}}
 "donna"
 {:synsem {:agr {:gender :fem}
           :cat :noun
           :sem {:pred :woman}}}

 "ensalata" {:synsem {:sem {:pred :salad}
                      :cat :noun
                      :agr {:gender :fem}}}

 "espresso" {:synsem {:agr {:gender :masc}
                      :cat :noun
                      :sem {:pred :espresso}}}

 "finestra" {:synsem {:agr {:gender :fem}
                      :cat :noun
                      :sem {:pred :window}}}

 "gatto"  {:synsem {:agr {:gender :masc}
                    :cat :noun
                    :sem {:pred :cat}}}

 "idea" {:synsem {:agr {:gender :fem}
                  :cat :noun
                  :sem {:pred :idea}}}

 "isola" {:synsem {:agr {:gender :fem}
                   :cat :noun
                   :sem {:pred :island}}}

 "lezione" {:synsem {:agr {:gender :fem}
                     :cat :noun
                     :sem {:pred :lesson}}}

 "libro" {:synsem {:agr {:gender :masc}
                   :cat :noun
                   :sem {:pred :book}}}
 "madre"
 {:synsem {:agr {:gender :fem}
           :cat :noun
           :sem {:pred :mother}}}

 "mucca"
 {:synsem {:agr {:gender :fem}
           :cat :noun
           :sem {:pred :cow}}}

 "mezzogiorno"
 {:synsem {:agr {:gender :masc}
           :cat :noun
           :sem {:pred :noon}}}

 "neonato"
 {:synsem {:agr {:gender :masc}
           :cat :noun
           :sem {:pred :newborn
                 :prop {:human true
                        :adult false}}}}
 "pane"
 ;; inherently singular.
 {:synsem {:agr {:gender :masc}
           :cat :noun
           :sem {:pred :bread}
           :subcat {:1 {:cat :det
                        :number :sing
                        :def :def}}}}

 "pizza" {:synsem {:agr {:gender :fem}
                   :cat :noun
                   :sem {:pred :pizza}}}
 
 "poltrona" {:synsem {:cat :noun
                      :sem {:pred :easy-chair}
                      :agr {:gender :fem}}}
 "ragazza"
 {:synsem {:cat :noun
           :agr {:gender :fem}
           :sem {:pred :girl}}}

 "ragazzo"
 {:synsem {:cat :noun
           :agr {:gender :masc}
           :sem {:pred :boy}}}

 "ristorante"
 {:synsem {:agr {:gender :fem}
           :cat :noun
           :sem {:pred :restaurant}}}
 
 "scarpa" {:synsem {:agr {:gender :fem}
                    :cat :noun
                    :sem {:pred :shoe}}}

 "sedia" {:synsem {:cat :noun
                   :agr {:gender :fem}
                   :sem {:pred :chair}}}

 "studente"  {:synsem {:agr {:gender :masc}
                       :cat :noun
                       :sem {:pred :student}}}

 "tavolino" {:synsem {:cat :noun
                      :agr {:gender :masc}
                      :sem {:pred :small-table}}}

 "tavolo" {:synsem {:agr {:gender :masc}
                    :cat :noun
                    :sem {:pred :table}}}
 "uccello"
 {:synsem {:agr {:gender :masc}
           :cat :noun
           :sem {:pred :bird}}}

 "uomo"
 {:italiano {:plur "uomini"}
  :synsem {:agr {:gender :masc}
           :cat :noun
           :sem {:pred :man}}}

 "vino" {:synsem {:agr {:gender :masc}
                  :cat :noun
                  :sem {:pred :vino}}}
 
 "zaino" {:synsem {:agr {:gender :masc}
                   :cat :noun
                   :sem {:pred :backpack}}}
 }
