{
 "ci"
 [{:synsem {:cat :noun
            :pronoun true
            :agr {:person :1st
                  :number :plur}
            :reflexive true
            :sem {:human true
                  :pred :noi}}}
  {:synsem {:cat :noun
            :pronoun true
            :case :nom
            :sem {:null true
                  :pred :existential}
            :agr {:person :3rd
                  :number :sing}}}
  {:synsem {:cat :noun
            :pronoun true
            :case :nom
            :sem {:null true
                  :pred :existential}
            :agr {:person :3rd
                  :number :plur}}}]

 "Giovanni e io"
 [{:synsem {:cat :noun
            :pronoun true
            :case :nom
            :agr {:gender :masc
                  :person :1st
                  :number :plur}
            :sem {:human true
                  :pred :giovanni-and-i}
            :subcat []}}]
 "io"
 [{:synsem {:cat :noun
            :pronoun true
            :case :nom
            :agr {:gender :fem
                  :person :1st
                  :number :sing}
            :sem {:pred :I
                  :human true}
            :subcat []}}

  {:synsem {:cat :noun
            :pronoun true
            :case :nom
            :agr {:gender :masc
                  :person :1st
                  :number :sing}
            :sem {:pred :I
                  :human true}
            :subcat []}}]

 "la"
 ;; as with "lo", do we need both of these "lo" entries? try to get by with just one.
 ;; TODO: refactor commonalities
 ;; 1. pronoun: human
 [{:synsem {:cat :noun
            :pronoun true
            :case :acc
            :reflexive false
            :agr {:gender :fem
                  :person :3rd
                  :number :sing}
            :sem {:human true
                  :pred :lei}
            :subcat []}
   :italiano {:initial true   ;; TODO: verify that 'la' above and this below are being unified correctly.
              }}

  ;; 2. pronoun: non-human
  {:synsem {:cat :noun
            :pronoun true
            :case :acc
            :reflexive false
            :agr {:gender :fem
                  :person :3rd
                  :number :sing}
            :sem {:human false
                  :place false ;; "they go to it (loro vanna a la)" sounds strange
                  :pred :lei}
            :subcat []}
   :italiano {:initial true}}]

 "lei"
 (let [common {:synsem {:cat :noun
                        :pronoun true
                        :case :nom
                        :agr {:person :3rd
                              :gender :fem
                              :number :sing}
                        :sem {:pred :lei} ;; note: we don't specify human=true (english "it").
                        :subcat []}}]
   [{:unify [common]
     :synsem {:sem {:human false}}}
    {:unify [common]
     :synsem {:sem {:human true}}}])

 ;; as with "la", do we need both of these "lo" entries? try to get by with just one.
 "lo"
 [{:synsem {:cat :noun
            :pronoun true
            :case :acc
            :reflexive false
            :agr {:gender :masc
                  :person :3rd
                  :number :sing}
            :sem {:human true
                  :pred :lui}
            :subcat []}}

  {:synsem {:cat :noun
            :pronoun true
            :case :acc
            :reflexive false
            :agr {:gender :masc
                  :person :3rd
                  :number :sing}
            :sem {:human false
                  :place false
                  :pred :lui}
            :subcat []}
   :italiano {:initial true}}  ;; TODO: verify that 'lo' above and this below are being unified correctly.
  ]

 "loro"
 [{:synsem {:cat :noun
            :pronoun true
            :case :nom
            :agr {:person :3rd
                  :gender :fem
                  :number :plur}
            :sem {:human true
                  :pred :loro}
            :subcat []}}
  {:synsem {:cat :noun
            :pronoun true
            :case :nom
            :agr {:person :3rd
                  :gender :masc
                  :number :plur}
            :sem {:human true
                  :pred :loro}
            :subcat []}}
  {:synsem {:cat :noun
            :pronoun true
            :case :nom
            :agr {:person :3rd
                  :gender :fem
                  :number :plur}
            :sem {:human false
                  :pred :loro}
            :subcat []}}
  {:synsem {:cat :noun
            :pronoun true
            :case :nom
            :agr {:person :3rd
                  :gender :masc
                  :number :plur}
            :sem {:human false
                  :pred :loro}
            :subcat []}}
  ]

 "lui" (let [common {:synsem {:cat :noun
                              :pronoun true
                              :case :nom
                              :agr {:person :3rd
                                    :gender :masc
                                    :number :sing}
                              :sem {:pred :lui} ;; note: we don't specify human=true (english "it").
                              :subcat []}}]
         [{:unify [common]
           :synsem {:sem {:human false}}}
          {:unify [common]
           :synsem {:sem {:human true}}}])

 "Luisa e io"
 [{:synsem {:cat :noun
            :pronoun true
            :case :nom
            :agr {:gender :fem
                  :person :1st
                  :number :plur}
            :sem {:human true
                  :pred :luisa-and-i}
            :subcat []}}
  {:synsem {:cat :noun
            :pronoun true
            :case :nom
            :agr {:gender :masc
                  :person :1st
                  :number :plur}
            :sem {:human true
                  :pred :luisa-and-i}
            :subcat []}}]
 "mi"
 {:synsem {:cat :noun
           :pronoun true
           :case :acc
           :agr {:person :1st
                 :number :sing}
           :reflexive true
           :sem {:human true}
           :subcat []}}

 "noi"
 [{:synsem {:cat :noun
            :pronoun true
            :case :nom
            :agr {:gender :fem
                  :person :1st
                  :number :plur}
            :sem {:pred :noi
                  :human true}
            :subcat []}}
  {:synsem {:cat :noun
            :pronoun true
            :case :nom
            :agr {:gender :masc
                  :person :1st
                  :number :plur}
            :sem {:pred :noi
                  :human true}
            :subcat []}}]

 "si" [{;; feminine singular
        :synsem {:agr {:person :3rd
                       :gender :fem
                       :number :sing}
                 :cat :noun
                 :pronoun true
                 :reflexive true}}

       {;; masculine singular
        :synsem {:agr {:person :3rd
                       :gender :masc
                       :number :sing}
                 :cat :noun
                 :pronoun true
                 :reflexive true}}

       ;; plural: unspecified gender
       {:synsem {:agr {:person :3rd
                       :number :plur}
                 :cat :noun
                 :pronoun true
                 :reflexive true}}]
 
 "ti"
 {:synsem {:cat :noun
           :pronoun true
           :case :acc
           :agr {:person :2nd
                 :number :sing}
           :reflexive true
           :sem {:human true}
           :subcat []}
  :italiano {:initial true}}

 "tu"
 [{:synsem {:cat :noun
            :pronoun true
            :case :nom
            :agr {:person :2nd
                  :gender :fem
                  :number :sing}
            :sem {:pred :tu
                  :human true}
            :subcat []}}
  {:synsem {:cat :noun
            :pronoun true
            :case :nom
            :agr {:person :2nd
                  :gender :masc
                  :number :sing}
            :sem {:pred :tu
                  :human true}
            :subcat []}}]
 "vi"
 {:synsem {:cat :noun
           :pronoun true
           :case :acc
           :agr {:person :2nd
                 :number :plur}
           :sem {:human true
                 :pred :voi}
           :subcat []}
  :italiano {:initial true}}

 "voi"
 [{:synsem {:cat :noun
            :pronoun true
            :case :nom
            :agr {:person :2nd
                  :gender :fem
                  :number :plur}
            :sem {:pred :voi
                  :human true}
            :subcat []}}
  {:synsem {:cat :noun
            :pronoun true
            :case :nom
            :agr {:person :2nd
                  :gender :masc
                  :number :plur}
            :sem {:pred :voi
                  :human true}
            :subcat []}}]
 }
