{"aanspreekbaar" [{:sem {:pred :approachable}}]
 "aardig" [{:sem {:pred :nice}}]
 "afzonderlijk" [{:sem {:pred :separate}}]
 "bedroefd" [{:sem {:pred :sad}}]
 "bezig" [{:sem {:pred :busy}}]
 "buitengewoon" [{:sem {:pred :extraordinary}}]
 "eenzaam" [{:sem {:pred :lonely}}]
 "eeuwig"  [{:sem {:pred :eternal}}]
 "eigenwijs" [{:sem {:pred :stubborn}}]
 "eng" [{:sem {:pred :scary}}]
 "ernstig" [{:sem {:pred :serious}}]
 "geheim" [{:sem {:pred :secret}}]
 "gelauwerd" [{:sem {:pred :acclaimed}}]
 "geweldig" [{:sem {:pred :awesome}}]
 "gierig" [{:sem {:pred :stingy}}]
 "groot" [{:sem {:pred :big}}]
 "ingewikkeld" [{:sem {:pred :complicated}}]
 "inhalig" [{:sem {:pred :greedy}}]
 "klein" [{:sem {:pred :small}}]
 "lief" [{:sem {:pred :nice}}]
 "nieuwsgierig" [{:sem {:pred :curious}}]
 "nieuwswaardig" [{:sem {:pred :newsworthy}}]
 "nijver" [{:sem {:pred :industrious}}]
 "ongerust" [{:sem {:pred :anxious}}]
 "onschuldig" [{:sem {:pred :innocent}}]
 "opgewonden" [{:sem {:pred :excited}}]
 "oud" [{:sem {:pred :old}}]
 "prachtig" [{:sem {:pred :magnificent}}]
 "schattig" [{:sem {:pred :cute}}]
 "slim" [{:sem {:pred :smart}}]
 "spaarzaam" [{:sem {:pred :frugal}}]
 "sterk" [{:sem {:pred :strong}}]
 "stom" [{:sem {:pred :stupid}}]
 "teleurgesteld" [{:sem {:pred :disappointed}}]
 "tevreden" [{:sem {:pred :satisfied}}]
 "uitgebroken" [{:sem {:pred :escaped}}]
 "verantwoordelijk" [{:sem {:pred :responsible}}]
 "verdrietig" [{:sem {:pred :sad}}]
 "verlegen" [{:sem {:pred :shy}}]
 "verward" [{:sem {:pred :confused}}]
 "verwarrend" [{:sem {:pred :confusing}}]
 "verdacht" [{:sem {:pred :suspicious}}]
 "vies" [{:sem {:pred :dirty}}]
 "waar" [{:sem {:pred :true}}]
 "zelfverzekerd" [{:sem {:pred :confident}}]
 "zenuwachtig" [{:sem {:pred :nervous}}]}
