{"bedroefd" [{:sem {:pred :sad}}]
 "eenzaam" [{:sem {:pred :lonely}}]
 "eigenwijs" [{:sem {:pred :stubborn}}]
 "eng" [{:sem {:pred :scary}}]
 "ernstig" [{:sem {:pred :serious}}]
 "gierig" [{:sem {:pred :stingy}}]
 "groot" [{:sem {:pred :big}}]
 "inhalig" [{:sem {:pred :greedy}}]
 "klein" [{:sem {:pred :small}}]
 "lief" [{:sem {:pred :nice}}]
 "nieuwsgierig" [{:sem {:pred :curious}}]
 "ongerust" [{:sem {:pred :anxious}}]
 "opgevonden" [{:sem {:pred :excited}}]
 "oud" [{:sem {:pred :old}}]
 "slim" [{:sem {:pred :smart}}]
 "sterk" [{:sem {:pred :strong}}]
 "stom" [{:sem {:pred :stupid}}]
 "teleurgesteld" [{:sem {:pred :disappointed}}]
 "uitgebroken" [{:sem {:pred :escaped}}]
 "verdrietig" [{:sem {:pred :sad}}]
 "verlegen" [{:sem {:pred :shy}}]
 "verward" [{:sem {:pred :confused}}]
 "verwarrend" [{:sem {:pred :confusing}}]
 "verdacht" [{:sem {:pred :suspicious}}]
 "vies" [{:sem {:pred :dirty}}]
 "waar" [{:sem {:pred :true}}]
 "zelfverzekerd" [{:sem {:pred :confident}}]
 "zenuwachtig" [{:sem {:pred :nervous}}]}
