{"behoorlijk" [{:sem {:pred :quite}}]
 "echt" [{:sem {:pred :really}}]
 "erg" [{:sem {:pred :very}}]
 "eigenlijk" [{:sem {:pred :actually}}]
 "heel" [{:sem {:pred :very}}]
 "helemaal" [{e:sem {:pred :completely}}] 
 "ongewoon" [{:sem {:pred :unusually}}]
 "redelijk" [{:sem {:pred :reasonably}}]
 "volkomen" [{:sem {:pred :completely}}]}

