;; TODO: F.49: distinguish between stressed and unstressed for:
;; - jij (je)
;; - wij (we)
;; - zij (ze)
{"behoorlijk"
 [{:cat :intensifier
   :sem {:pred :quite}}]

 "dat" [{:cat :det
         :definite? true
         :sem {:pred :that}
         :agr {:number :sing
               :gender :neuter}}]
        
 ;; <F. p30-31, 54-55, 70>
 "de" [{:cat :det
        :definite? true
        :sem {:pred :the}
        :agr {:gender :common
              :number :sing}}
       {:cat :det
        :definite? true
        :sem {:pred :the}
        :agr {:number :plur}}]

 "deze" [{:cat :det
          :definite? true
          :sem {:pred :this}
          :agr {:number :sing
                :gender :common}}
         {:cat :det
          :definite? true          
          :sem {:pred :this}
          :agr {:number :plur}}]

 "die" [{:agr {:number :plur
               :person :3rd}
         :case :acc
         :cat :noun
         :pronoun true
         :sem {:pred :they
               :ref {:human false}}}
        {:cat :det
         :definite? true
         :sem {:pred :that}
         :agr {:number :sing
               :gender :common}}
        {:cat :det
         :definite? true
         :sem {:pred :that}
         :agr {:number :plur}}]

 "dit" [{:cat :det
         :definite? true
         :sem {:pred :this}
         :agr {:number :sing
               :gender :neuter}}]

 "echt" [{:cat :intensifier
          :sem {:pred :really}}]

 "een" [{:cat :det
         :definite? false
         :sem {:pred :some}
         :agr {:number :sing}}]

 "en" [(let [number? (atom true)
             cat (atom :adjective)
             lower (atom {:number? number?
                          :times 10})
             higher (atom {:number? number?
                           :times 1})]
         {:cat :conjunction
          :subcat {:1 {:cat cat
                       :teen? false
                       :nul? false
                       :sem higher}
                   :2 {:cat cat
                       :teen? false
                       :sem lower}
                   :3 []}
          :sem {:pred :times
                :number? true
                :arg1 lower
                :arg2 higher}})]

 "erg" [{:cat :intensifier
         :sem {:pred :very}}]

 "eigenlijk" [{:cat :intensifier
               :sem {:pred :actually}}]

 "geen" [{:cat :det
          :definite? false
          :sem {:pred :none}
          :agr {:number :sing}}]

 "haar" [{:agr {:gender :fem
                :number :sing
                :person :3rd}
          :case :acc
          :cat :noun
          :pronoun true
          :sem {:pred :she
                :ref {:human true}}}
         {:cat :det
          :agr {:number :sing}
          :definite? true
          :sem {:pred :she}}
         {:cat :det
          :agr {:number :plur}          
          :definite? true
          :sem {:pred :she}}]

 "heel" [{:cat :intensifier
          :sem {:pred :very}}]

 "hem" [{:agr {:gender :masc
               :number :sing
               :person :3rd}
         :case :acc
         :cat :noun
         :pronoun true
         :sem {:pred :he
               :ref {:human true}}}]

 "hen" [{:agr {:number :plur
               :person :3rd}
         :case :acc
         :cat :noun
         :pronoun true
         :sem {:pred :they
               :ref {:human true}}}]

 "het" [{:cat :det
         :definite? true
         :sem {:pred :the}
         :agr {:gender :neuter
               :number :sing}}
        {:cat :noun
         :pronoun true
         :sem {:pred :it
               :ref {:human false}}
         :agr {:person :3rd
               :number :sing
               :gender :masc}
         :case :nom}]
 
 ;; <F. p69-73>
 "hij" [{:agr {:person :3rd
               :number :sing
               :gender :masc}
         :case :nom
         :cat :noun
         :pronoun true
         :sem {:pred :he
               :ref {:human true}}}]

 "hun" [{:agr {:number :plur
               :person :3rd}
         :case :acc
         :cat :noun
         :pronoun true
         :sem {:pred :they
               :ref {:human true}}}
        {:cat :det
         :agr {:number :sing}
         :definite? true
         :sem {:pred :they}}
        {:cat :det
         :agr {:number :plur}
         :definite? true
         :sem {:pred :they}}]

 "ik" [{:agr {:person :1st
              :number :sing}
        :case :nom
        :cat :noun
        :pronoun true
        :sem {:pred :i
              :ref {:human true}}}]

 "je" [{:cat :noun
        :case :acc
        :agr {:person :2nd}
        :pronoun true
        :reflexive true
        :sem {:ref {:human true
                    :context :informal}}}]

 "jij" [{:agr {:person :2nd
               :number :sing}
         :case :nom
         :cat :noun
         :pronoun true
         :sem {:pred :you
               :ref {:human true
                     :context :informal}}}]

 "jou" [{:agr {:person :2nd
               :number :sing}
         :case :acc
         :cat :noun
         :sem {:pred :you
               :ref {:human true}}
         :pronoun true}]

 "jouw" [{:cat :det
          :agr {:number :sing}
          :definite? true                 
          :sem {:pred :you
                :context :informal}}
         {:cat :det
          :agr {:number :plur}
          :definite? true                 
          :sem {:pred :you
                :context :informal}}]

 "jullie" [{:case :nom
            :cat :noun
            :pronoun true
            :sem {:pred :you
                  :ref {:human true
                        :context :informal}}
            :agr {:person :2nd
                  :number :plur}}]

 "me" [{:cat :noun
        :case :acc
        :agr {:number :sing
              :person :1st}
        :sem {:ref {:human true}}
        :pronoun true
        :reflexive true}]

 "mij" [{:case :acc
         :cat :noun
         :pronoun true
         :sem {:pred :i
               :ref {:human true}}
         :agr {:person :1st
               :number :sing}}]

 "mijn" [{:cat :det
          :agr {:number :sing}
          :definite? true
          :sem {:pred :i}}
         {:cat :det
          :agr {:number :plur}
          :definite? true
          :sem {:pred :i}}]
 
 "ongewoon" [{:cat :intensifier
              :sem {:pred :unusually}}]
 
 "ons" [{:cat :noun
         :case :acc
         :agr {:number :plur
               :person :1st}
         :pronoun true
         :reflexive true}
        {:cat :det
         :definite? true
         :agr {:number :sing
               :gender :neuter}
         :sem {:pred :we}}]

 "onze" [{:cat :det
          :agr {:number :sing}
          :definite? true
          :sem {:pred :we}}
         {:cat :det
          :definite? true
          :agr {:number :plur}
          :sem {:pred :we}}]
 
 ;; "u" is very generic: can be
 ;; sing/plur and nom/acc.
 "u" [{:agr {:person :2nd}
       :cat :noun
       :pronoun true
       :sem {:pred :you
             :ref {:context :polite}}}
      {:cat :noun
       :case :acc
       :agr {:person :2nd}
       :pronoun true
       :reflexive true
       :sem {:ref {:context :polite}}}]

 "uw" [{:cat :det
        :agr {:number :sing}
        :definite? true
        :sem {:pred :you
              :context :polite}}
       {:cat :det
        :agr {:number :plur}        
        :definite? true
        :sem {:pred :you
              :context :polite}}]

 "wat" [{:cat :det
         :definite? false
         :sem {:pred :some}
         :agr {:number :plur}}]
 
 "we" [{:agr {:person :1st
              :number :plur}
        :case :nom
        :cat :noun
        :pronoun true
        :sem {:pred :we}}]

 "wij" [{:agr {:person :1st
               :number :plur}
         :case :nom
         :cat :noun
         :pronoun true
         :sem {:pred :we}}]
 
 ;; TODO: F.95: 'zich' can also be used for {:person :2nd}
 ;; to avoid repetition of 'u' (e.g. 'wilt u zich aankleden?')
 "zich" [{:cat :noun
          :case :acc
          :agr {:person :3rd}
          :pronoun true
          :reflexive true}]

 "zij" [{:agr {:person :3rd
               :number :sing
               :gender :fem}
         :case :nom
         :cat :noun
         :pronoun true
         :sem {:pred :she
               :ref {:human true}}}
        {:agr {:person :3rd
               :number :plur}
         :case :nom
         :cat :noun
         :pronoun true
         :sem {:pred :they
               :ref {:human true}}}]

 "zijn" [{:cat :det
          :agr {:number :sing}
          :definite? true
          :sem {:pred :he}}
         {:cat :det
          :agr {:number :plur}
          :definite? true
          :sem {:pred :he}}
         {:cat :det
          :agr {:number :sing}
          :definite? true
          :sem {:pred :it}}
         {:cat :det
          :agr {:number :plur}
          :definite? true
          :sem {:pred :it}}]}



