/* 
don't make previous or next slides less-opaque, so that
we can zoom in on content from an existing slide:
https://github.com/impress/impress.js/issues/136 */
.impress-enabled .step {
    opacity:1.0;
}

h1 {
    text-align:center;
    font-size:larger;
    margin-bottom:1em;
}

div.code {
    border:5px solid #eee;
    margin:5%;
    padding:2%;
    white-space:pre;
    font-family:monospace;
    font-size:smaller;
    line-height: 2em;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

div.parent,div.head,div.comp {
    font-size:200%;
    margin:1%;
    float:left;
    padding:0.25em;
}

.parent {
    background:blue;
    color:white;
}

.head {
    background:green;
    color:white;
}

.comp {
    background:yellow;
    color:blue;
}

table.hc td, th {
    padding:0.25em;
}

table.hc th {
    font-weight:bold;
    text-align:right;
}

div.avm {
    margin-right:1em;
    float:left;
    font-size:125%;
}

div.hide {
    visibility:hidden;
}

div.avm table {
    width:auto;
    border-left:8px solid lightblue;
    border-top:1px solid lightblue;
    border-bottom:1px solid lightblue;
    border-right:8px solid lightblue;
    border-collapse:collapse;
}

div.avm th {
    vertical-align:middle;
    padding:0.2em;
    font-family:monospace;
    font-weight:bold;
    text-align:left;
}

div.avm td {
    padding:0.2em;
    text-align:right;
}

div.avm td.ref {
    margin:0;
    padding:0;
}

td.ref div {
    font-weight:bold;
    font-size:smaller;
    text-align:center;
    padding:0.1em;
    margin:0.1em;
    border:2px solid black;
}

ul {
    list-style-type: square;
    list-style-position: outside;
    list-style-image: none;
}

svg#depth_first_1 {
    font-size:25%;
}

svg#depth_first_2 {
    font-size:25%;
}

svg#depth_first_3 {
    font-size:25%;
}

svg#depth_first_4 {
    font-size:25%;
}

svg#depth_first_5 {
    font-size:25%;
}
