div.svg {
    border:0px dashed blue;
    padding:1em;
    margin:0.25em;
    float:left;
}

svg#she_sees_the_cat {
    font-size:5%;
}
svg#depth_first_1 {
    font-size:25%;
}

svg#depth_first_2 {
    font-size:25%;
}

svg#depth_first_3 {
    font-size:25%;
}

svg#depth_first_4 {
    font-size:25%;
}

svg#depth_first_5 {
    font-size:25%;
}

svg#depth_first_6 {
    font-size:25%;
}

svg#depth_first_7 {
    font-size:25%;
}

svg#depth_first_8 {
    font-size:25%;
}
