(->>
 [{:g [#"^(.+)are$" "$1o"],
   :p [#"^(.+)o$"   "$1are"],
   :u
   {:cat :verb, :infl :present, :agr {:number :sing, :person :1st}
    :reflexive? false}}])

(map (fn [rule]
       (dag_unify.core/unify rule {:u {:sem {:aspect :simple
                                             :tense :present}}})))

