[
 ;; F 47.1
 ;; <some doubled consonants get reduced to a single consonant>
 {;; wassen -> waste
  :g [#"^(.*)([fks])\2en$"      "$1$2te"]  
  :p [#"^(.*)([fks])te$"        "$1$2$2en"]
  :u {:cat :verb
      :strong? false
      :agr {:number :sing}
      :infl :past-simple}}

 {;; wassen -> wasten
  :g [#"^(.*)([fks])\2en$"      "$1$2ten"]
  :p [#"^(.*)([fks])ten$"       "$1$2$2en"]
  :u {:cat :verb
      :strong? false
      :agr {:number :plur}
      :infl :past-simple}}

 {;; bellen      -> belde
  ;; uitgeleggen -> uitgelegde
  ;; kennen      -> kenden
  :g [#"^(.*)([^aeiou])\2en$" "$1$2de"]
  ;; belde -> bellen, etc
  :p [#"^(.*)([gln])de$"      "$1$2$2en"]
   :u {:cat :verb
       :strong? false
       :agr {:number :sing}
       :infl :past-simple}}

 {;; bellen      -> belden
  ;; uitgeleggen -> uitgelegden
  ;; kennen      -> kenden, etc
  :g [#"^(.*)([^aeiou])\2en$" "$1$2den"]
  ;; belden      -> bellen, etc
  :p [#"^(.*)([gln])den$"     "$1$2$2en"]
  :u {:cat :verb
      :strong? false
      :agr {:number :plur}
      :infl :past-simple}}
 ;; </some doubled consonants get reduced to a single consonant>

 ;; <'t kofship vowel lengthening>
 ;; hopen -> hoopte
 {:g [#"^(.*[^aeiou])([aieou])([tksp])en$" "$1$2$2$3te"]
  :p [#"^(.*)([aieou])\2([tksp])te$" "$1$2$3en"]
  :u {:cat :verb
      :strong? false
      :agr {:number :sing}
      :infl :past-simple}}

  ;; hopen -> hoopten
 {:g [#"^(.*[^aeiou])([aieou])([tksp])en$" "$1$2$2$3ten"]
  :p [#"^(.*)([aieou])\2([tksp])ten$" "$1$2$3en"]
  :u {:cat :verb
      :strong? false
      :agr {:number :plur}
      :infl :past-simple}}

 {:g [#"^(.*[^aeiou])([aieou])(ch)en$" "$1$2$2$3te"]
  :p [#"^(.*)([aieou])\2(ch)te$" "$1$2$3en"]
  :u {:cat :verb
      :strong? false
      :agr {:number :sing}
      :infl :past-simple}}

 {:g [#"^(.*[^aeiou])([aieou])(ch)en$" "$1$2$2$3ten"]
  :p [#"^(.*)([aieou])\2(ch)ten$" "$1$2$3en"]
  :u {:cat :verb
      :strong? false
      :agr {:number :plur}
      :infl :past-simple}}
 ;; </'t kofship vowel lengthening>

 ;; <vowel lengthening: voiced to voiceless vrezen -> vreesen >
 {:g [#"^(.*[^aeiou])([aieou])([z])en$" "$1$2$2sde"]
  :p [#"^(.*[^aeiou])[s]de$" "$1zen"]
  :u {:cat :verb
      :strong? false
      :agr {:number :sing}
      :infl :past-simple}}

 {:g [#"^(.*[^aeiou])([aieou])([z])en$" "$1$2$2$3den"]
  :p [#"^(.*[^aieou])[s]den$" "$1zen"]
  :u {:cat :verb
      :strong? false
      :agr {:number :plur}
      :infl :past-simple}}
 ;; </vowel lengthening: voiced to voiceless vrezen -> vreesen >

 ;; <vowel lengthening>
 {:g [#"^(.*[^aeiou])([aieou])([^aieou])en$"   "$1$2$2$3de"]
  :p [#"^(.*[^aeiou])([aieou])\2([^aeiou])de$" "$1$2$3en"]
  :u {:cat :verb
      :strong? false
      :agr {:number :sing}
      :infl :past-simple}}

 {:g [#"^(.*[^aeiou])([aieou])([^aieou])en$"    "$1$2$2$3den"]
  :p [#"^(.*[^aeiou])([aieou])\2([^aeiou])den$" "$1$2$3en"]
  :u {:cat :verb
      :strong? false
      :agr {:number :plur}
      :infl :past-simple}}
 ;; </vowel lengthening>

 ;; <'t kofship>
 {:g [#"^(.*[tksp])en$" "$1te"]
  :p [#"^(.*[tksp])te$" "$1en"]
  :u {:cat :verb
      :strong? false
      :agr {:number :sing}
      :infl :past-simple}}

 {:g [#"^(.*[tksp])en$" "$1ten"]
  :p [#"^(.*[tksp])ten$" "$1en"]
  :u {:cat :verb
      :strong? false
      :agr {:number :plur}
      :infl :past-simple}}
 ;; </'t kofship>

 ;; voiced -> voiceless v->f
 {:g [#"^(.*)ven$" "$1fde"]
  :p [#"^(.*)fde$" "$1ven"]
  :u {:cat :verb
      :strong? false
      :agr {:number :sing}
      :infl :past-simple}}

 {:g [#"^(.*)ven$"  "$1fden"]
  :p [#"^(.*)fden$" "$1ven"]
  :u {:cat :verb
      :strong? false
      :agr {:number :plur}
      :infl :past-simple}}

 ;; voiced -> voiceless z->s
 ;; reizen -> reisde
 {:g [#"^(.*)zen$" "$1sde"]
  :p [#"^(.*)sde$" "$1zen"]
  :u {:cat :verb
      :strong? false
      :agr {:number :sing}
      :infl :past-simple}}

 {:g [#"^(.*)zen$"  "$1sden"]
  :p [#"^(.*)sden$" "$1zen"]
  :u {:cat :verb
      :strong? false
      :agr {:number :plur}
      :infl :past-simple}}
  
 ;; <default weak>
 {:g [#"^(.*[^tksp])en$" "$1de"]
  :p [#"^(.*[^tksp])de$" "$1en"]
  :u {:cat :verb
      :strong? false
      :agr {:number :sing}
      :infl :past-simple}}

 {:g [#"^(.*[^tksp])en$"  "$1den"]
  :p [#"^(.*[^tksp])den$" "$1en"]
  :u {:cat :verb
      :strong? false
      :agr {:number :plur}
      :infl :past-simple}}
 ;; </default weak>

 ;; <strong>
 ;; a -> oe -> a
 ;; dragen <-> droeg
 {:g [#"^(.*)a(.)en$" "$1oe$2"]
  :p [#"^(.*)oe(.)$"  "$1a$2en"]
  :u {:cat :verb
      :infl :past-simple
      :strong? :a-oe-a
      :agr {:number :sing}}}
 ;; dragen <-> droegen
 {:g [#"^(.*)a(.)en$" "$1oe$2en"]
  :p [#"^(.*)oe(.)en$"  "$1a$2en"]
  :u {:cat :verb
      :infl :past-simple
      :strong? :a-oe-a
      :agr {:number :plur}}}
 
 ;; <a – ie – a>
 ;; blazen <-> blies
 {:g [#"^(.*)azen$" "$1ies"]
  :p [#"^(.*)ies$"  "$1azen"]
  :u {:cat :verb
      :infl :past-simple
      :strong? :a-ie-a
      :agr {:number :sing}}}
 ;; blazen <-> bliezen
 {:g [#"^(.*)azen$"  "$1iezen"]
  :p [#"^(.*)iezen$" "$1azen"]
  :u {:cat :verb
      :infl :past-simple
      :strong? :a-ie-a
      :agr {:number :plur}}}

 ;; laten <-> liet; slapen <-> sliep
 {:g [#"^(.*)a([pt])en$" "$1ie$2"]
  :p [#"^(.*)ie([pt])$"  "$1a$2en"]
  :u {:cat :verb
      :infl :past-simple
      :strong? :a-ie-a
      :agr {:number :sing}}}
 ;; laten <-> lieten; slapen <-> sliep
 {:g [#"^(.*)a([pt])en$"  "$1ie$2en"]
  :p [#"^(.*)ie([pt])en$" "$1a$2en"]
  :u {:cat :verb
      :infl :past-simple
      :strong? :a-ie-a
      :agr {:number :plur}}}

 ;; vallen <-> viel
 {:g [#"^(.*)a(l)len$" "$1ie$2"]
  :p [#"^(.*)ie(l)$"   "$1a$2$2en"]
  :u {:cat :verb
      :infl :past-simple
      :strong? :a-ie-a
      :agr {:number :sing}}}
 ;; vallen <-> vielen
 {:g [#"^(.*)a(l)len$" "$1ie$2en"]
  :p [#"^(.*)ie(l)en$" "$1a$2$2en"]
  :u {:cat :verb
      :infl :past-simple
      :strong? :a-ie-a
      :agr {:number :plur}}}
 ;; </a – ie - a>

 ;; <e-a-e>
 {:g [#"^(.*)e([dt])en$" "$1a$2"]
  :p [#"^(.*)a([dt])$"   "$1e$2en"]
  :u {:cat :verb
      :infl :past-simple
      :strong? :e-a-e
      :agr {:number :sing}}}
 {:g [#"^(.*)e([dt])en$" "$1a$2en"]
  :p [#"^(.*)a([dt])en$" "$1e$2en"]
  :u {:cat :verb
      :infl :past-simple
      :strong? :e-a-e
      :agr {:number :plur}}}

 {:g [#"^(.*)ezen$" "$1as"]
  :p [#"^(.*)as$"   "$1ezen"]
  :u {:cat :verb
      :infl :past-simple
      :strong? :e-a-e
      :agr {:number :sing}}}
 {:g [#"^(.*)ezen$" "$1azen"]
  :p [#"^(.*)azen$" "$1ezen"]
  :u {:cat :verb
      :infl :past-simple
      :strong? :e-a-e
      :agr {:number :plur}}}

 {:g [#"^(.*)even$" "$1af"]
  :p [#"^(.*)af$"   "$1even"]
  :u {:cat :verb
      :infl :past-simple
      :strong? :e-a-e
      :agr {:number :sing}}}
 {:g [#"^(.*)even$" "$1aven"]
  :p [#"^(.*)aven$" "$1even"]
  :u {:cat :verb
      :infl :past-simple
      :strong? :e-a-e
      :agr {:number :plur}}}
 ;; </e-a-e>

 ;; <e-o-o>
 {:g [#"^(.*)elven$" "$1olf"]
  :p [#"^(.*)olf$"   "$1elven"]
  :u {:cat :verb
      :infl :past-simple
      :strong? :e-o-o
      :agr {:number :sing}}}
 {:g [#"^(.*)elven$" "$1olven"]
  :p [#"^(.*)olven$" "$1elven"]
  :u {:cat :verb
      :infl :past-simple
      :strong? :e-o-o
      :agr {:number :plur}}}

 {:g [#"^(.*)ergen$" "$1org"]
  :p [#"^(.*)org$"   "$1ergen"]
  :u {:cat :verb
      :infl :past-simple
      :strong? :e-o-o
      :agr {:number :sing}}}
 {:g [#"^(.*)ergen$" "$1orgen"]
  :p [#"^(.*)orgen$" "$1ergen"]
  :u {:cat :verb
      :infl :past-simple
      :strong? :e-o-o
      :agr {:number :plur}}}

 {:g [#"^(.*w)egen$" "$1oog"]
  :p [#"^(.*w)oog$"  "$1egen"]
  :u {:cat :verb
      :infl :past-simple
      :strong? :e-o-o
      :agr {:number :sing}}}
 {:g [#"^(.*w)egen$" "$1ogen"]
  :p [#"^(.*w)ogen$" "$1egen"]
  :u {:cat :verb
      :infl :past-simple
      :strong? :e-o-o
      :agr {:number :plur}}}

 {:g [#"^(.*)ekken$" "$1ok"]
  :p [#"^(.*)ok$"    "$1ekken"]
  :u {:cat :verb
      :infl :past-simple
      :strong? :e-o-o
      :agr {:number :sing}}}
 {:g [#"^(.*)ekken$" "$1okken"]
  :p [#"^(.*)okken$" "$1ekken"]
  :u {:cat :verb
      :infl :past-simple
      :strong? :e-o-o
      :agr {:number :plur}}}
 ;; </e-o-o>
 
 ;; <i-o-o>
 ;; e.g. vinden -> vond
 {:g [#"^(.*)inden$" "$1ond"]
  :p [#"^(.*)ond$"   "$1inden"]
  :u {:cat :verb
      :strong? true
      :agr {:number :sing}
      :infl :past-simple}}

  ;; e.g. vinden -> vonden
 {:g [#"^(.*)inden$" "$1onden"]
  :p [#"^(.*)onden$" "$1inden"]
  :u {:cat :verb
      :strong? true
      :agr {:number :plur}
      :infl :past-simple}}
 ;; </i-o-o>

 ;; <ie-oo-o>
 ;; e.g. bedriegen->bedroog
 {:g [#"^(.*)ie([dg])en$" "$1oo$2"]
  :p [#"^(.*)oo([dg])$"   "$1ie$2en"]
  :u {:cat :verb
      :strong? :ie-oo-o
      :agr {:number :sing}
      :infl :past-simple}}
 ;; e.g. bedriegen->bedrogen
 {:g [#"^(.*)ie([dg])en$" "$1o$2en"]
  :p [#"^(.*)o([dg])en$"  "$1ie$2en"]
  :u {:cat :verb
      :strong? :ie-oo-o
      :agr {:number :plur}
      :infl :past-simple}}
 ;; </ie-oo-o>
 
 ;; <ij-ee-e>
 ;; e.g. blijven -> bleef
 {:g [#"^(.*)ijven$" "$1eef"]
  :p [#"^(.*)eef$"   "$1ijven"]
  :u {:cat :verb
      :strong? true
      :agr {:number :sing}
      :infl :past-simple}}
  ;; e.g. blijven -> bleven
 {:g [#"^(.*)ijven$" "$1even"]
  :p [#"^(.*)even$" "$1ijven"]
  :u {:cat :verb
      :strong? true
      :agr {:number :plur}
      :infl :past-simple}}

 ;; e.g. kijken -> keek
 {:g [#"^(.*)ij([^v])en$" "$1ee$2"]
  :p [#"^(.*)ee([^v])$"   "$1ij$2en"]
  :u {:cat :verb
      :strong? true
      :agr {:number :sing}
      :infl :past-simple}}
 ;; e.g. kijken -> keken 
 {:g [#"^(.*)ij([^v])en$" "$1e$2en"]
  :p [#"^(.*)e([^v])en$"  "$1ij$2en"]
  :u {:cat :verb
      :strong? true
      :agr {:number :plur}
      :infl :past-simple}}
  ;; </ij-ee-e>
 
 ;; </strong>
 ]

