{
 {:prop {:activity true}} {:prop {:animate false
                                  :artifact false
                                  :consumable false
                                  :part-of-human-body false}}
 
 {:prop {:animate false}}  {:prop {:human false
                                   :pet false}}
 
 {:prop {:animate true}}   {:prop {:activity false
                                   :artifact false
                                   :living true
                                   :machine false
                                   :mass false
                                   :furniture false
                                   :physical-object true
                                   :part-of-human-body false
                                   :drinkable false
                                   :speakable false
                                   :place false}}
 
 {:prop {:artifact false}} {:prop {:clothing false
                                   :machine false}}
 
 {:prop {:artifact true}}  {:prop {:animate false
                                   :activity false
                                   :living false
                                   :physical-object true}}
 
 {:prop {:buyable true}}   {:prop {:human false
                                   :part-of-human-body false}}
 
 {:prop {:city true}}      {:prop {:artifact true
                                   :animate false
                                   :legible false
                                   :place true}}
 
 {:prop {:clothing true}} {:prop {:animate false
                                  :artifact true
                                  :consumable false
                                  :machine false
                                  :place false
                                  :physical-object true}}
 {:prop {:consumable
         false}}           {:prop {:drinkable false
                                   :edible false}}
 {:prop {:consumable
         true}}           {:prop {:activity false
                                  :buyable true
                                  :clothing false
                                  :furniture false
                                  :legible false
                                  :human false
                                  :machine false
                                  :part-of-human-body false
                                  :pet false
                                  :physical-object true
                                  :place false
                                  :speakable false}}
 
 {:prop {:drinkable true}} {:prop {:animate false
                                   :consumable true
                                   :edible false
                                   :mass true}}
 
 {:prop {:edible true}}    {:prop {:consumable true
                                   :drinkable false}}
 
 {:prop {:event true}}     {:prop {:buyable false
                                   :physical-object false
                                   :speakable false}}
 
 {:prop {:furniture true}} {:prop {:artifact true
                                   :animate false
                                   :buyable true
                                   :clothing false
                                   :consumable false
                                   :legible false
                                   :edible false
                                   :machine false
                                   :place false
                                   :physical-object true
                                   :speakable false}}
 
 {:prop {:human true}}     {:prop {:animate true
                                   :artifact false
                                   :buyable false
                                   :consumable false
                                   :legible false
                                   :pet false
                                   :part-of-human-body false
                                   :physical-object true
                                   :place false}
                            :spec {:of {:human true}}}
 {:prop {:intelligent
         true}}            {:prop {:animate true}}
 
 {:prop {:living false}}   {:prop {:animate false
                                   :human false}}
 
 {:prop {:living true}}    {:prop {:artifact false
                                   :place false}}
 
 {:prop {:machine true}}   {:prop {:artifact true
                                   :consumable false}}
 
 {:prop {:part-of-human-body
         true}}            {:prop {:consumable false
                                   :human false
                                   :physical-object true}}
 
 {:prop
  {:pet true}}             {:prop {:animate true
                                   :buyable true
                                   :edible false
                                   :human false}
                            :spec {:of {:prop {:human true}}}}
 
 {:prop {:physical-object
         false}}           {:prop {:clothing false
                                   :consumable false
                                   :living false}}
 {:prop {:physical-object
         true}}             {:prop {:event false
                                    :speakable false}}
 
 {:prop {:place true}}     {:prop {:activity false
                                   :consumable false
                                   :living false
                                   :physical-object true
                                   :speakable false
                                   :spec {:of {:animate true}}}}
 ;; some places could place additional
 ;; restrictions on owners (e.g. {:of {:human true}}).
 
 ;; <preds>
 {:pred :backpack} {:prop {:clothing true}}
 
 {:pred :bag}      {:prop {:artifact true
                           :clothing false
                           :consumable false
                           :event false
                           :legible false
                           :machine false
                           :place false}
                    :spec {:of {:human true}}}
 
 {:pred :beach}    {:prop {:artifact false
                           :place true}}
 
 {:pred :bicycle}  {:prop {:artifact true
                           :clothing false
                           :consumable false
                           :legible false
                           :machine true
                           :place false}
                    :spec {:of {:human true}}}
 
 {:pred :bird}     {:prop {:animate true
                           :human false}}
 
 {:pred :book}     {:prop {:artifact true
                           :clothing false
                           :legible true
                           :machine false}}
 
 {:pred :bread}    {:prop {:artifact true
                           :edible true}}
 
 {:pred :car}      {:prop {:clothing false
                           :consumable false
                           :legible false
                           :machine true
                           :place false}}
 
 {:pred :cat}      {:prop {:pet true}}
 
 {:pred :chair}    {:prop {:furniture true}}
 
 {:pred :city}     {:prop {:clothing false
                           :machine false}}
 
 {:pred :coffee}   {:prop {:artifact true
                           :drinkable true}}
 
 {:pred :dentist}  {:prop {:human true}}
 
 {:pred :dog}      {:prop {:pet true}}

 {:pred :easy-chair}    {:prop {:furniture true}}
 
 {:pred :espresso} {:prop {:artifact true
                           :drinkable true}}
 
 {:pred :father}   {:prop {:human true
                           :child false}}
 
 {:pred :game}     {:prop {:activity true
                           :event true
                           :games true
                           :machine false}}
 
 {:pred :house}    {:prop {:artifact true
                           :clothing false
                           :city false
                           :consumable false
                           :machine false
                           :place true
                           :legible false}}
 
 {:pred :idea}   {:prop {:artifact false
                         :animate false
                         :consumable false
                         :place false}}
 
 {:pred :island}  {:prop {:artifact false
                          :place true}}
 
 {:pred :key}      {:prop {:artifact true
                           :clothing false
                           :consumable false
                           :event false
                           :machine false
                           :place false}}
 
 {:pred :man}      {:prop {:human true
                           :child false}}

 {:pred :meeting}  {:prop {:clothing false
                           :consumable false
                           :living false
                           :machine false}}
 
 {:pred :mother}   {:prop {:human true
                           :child false}}

 {:pred :music}    {:prop {:animate false
                           :clothing false
                           :consumable false
                           :mass true
                           :physical-object false
                           :place false}}
 
 {:pred :name}     {:prop {:physical-object false
                           :event false}}
 
 {:pred :note}     {:prop {:animate false
                           :clothing false
                           :drinkable false
                           :edible false
                           :legible true}}
 
 {:pred :party}    {:prop {:clothing false
                           :machine false}}
 
 {:pred :pizza}    {:prop {:artifact true
                           :edible true}}
 
 {:pred :radio}    {:prop {:clothing false
                           :machine true}}
 
 {:pred :salad}    {:prop {:artifact true
                           :edible true}}
 
 {:pred :sigh}     {:prop {:artifact false
                           :physical-object false
                           :event true}}
 
 {:pred :shoe}     {:prop {:clothing true}}
 
 {:pred :student}  {:prop {:human true}}
 
 {:pred :study
  ;; TODO: how can :cat be here (should be one level up, below :synsem.
  :cat :noun}      {:prop {:place true}}
 
 {:pred :table}    {:prop {:furniture true}}
 
 {:pred :vino}     {:prop {:artifact true
                           :drinkable true}}
 
 {:pred :water}    {:prop {:artifact false
                           :drinkable true}}
 
 {:pred :word}     {:prop {:consumable false
                           :legible true
                           :living false
                           :machine false
                           :physical-object false
                           :speakable true}}
 
 ;; </preds>
 
 {:prop {:stupid true}}
 {:prop {:animate true}}
 
 {:prop {:time true}}
 {:prop {:activity false
         :living false
         :place false}}}
 

