[{:pred :abandon
  :subj {:prop {:animate true}}}

 {:pred :accept
  :subj {:prop {:human true}}}
 
 {:pred :add
  :subj {:prop {:human true}}}

 {:pred :admire
  :subj {:prop {:human true}}}
 
 {:activity true
  :obj {:prop {:human true}}
  :pred :aiutare}
 
 {:activity false
  :discrete false
  :pred :amare
  :subj {:prop {:human true}}}
 
 {:pred :answer
  :subj {:prop {:human true}}
  :obj {:prop {:human true}}}
 
 {:pred :answer
  :subj {:prop {:human true}}}
 
 {:pred :avoid
  :subj {:animate true}}
 
 {:pred :be-called
  :subj {:prop {:human true}}
  :iobj {:prop {:human true}}}


 {:pred :believe
  :subj {:prop {:human true}}}
 
 {:pred :boil
  :subj {:prop {:human true}}
  :obj {:prop {:liquid true
               :consumable true}}}
 
 {:pred :bring
  :subj {:prop {:human true}}
  :obj {:prop {:buyable true}}}
 
 {:pred :burn
  :subj {:prop {:human true}}
  :obj {:prop {:human false
               :physical-object true}}}
 {:pred :buy
  :subj {:prop {:human true}}
  :obj {:prop {:buyable true}}}
 
 {:pred :carry
  :subj {:prop {:human true}}
  :obj {:prop {:physical-object true}}}
 
 {:pred :cenare
  :subj {:prop {:human true}}}
 
 {:pred :cercare
  :subj {:prop {:animate true}}}
 
 {:pred :change-clothes
  :subj {:prop {:human true}}}
 
 {:pred :chat
  :subj {:prop {:human true}}
  :obj {:prop {:human true}}}
 
 {:pred :come
  :subj {:prop {:animate true}}}
 
 {:pred :correspond
  :subj {:prop {:human true}}
  :obj {:prop {:human true}}}
 
 {:pred :dance
  :subj {:prop {:human true}}}
 
 {:pred :deludere
  :obj {:prop {:human true}}}
 
 {:pred :drink
  :subj {:prop {:animate true}}
  :obj {:prop {:drinkable true}}}
 
 {:pred :earn
  :subj {:prop {:human true}}
  :obj {:prop {:human false}}}
 
 {:pred :eat
  :subj {:prop {:animate true}}
  :obj {:prop {:edible true}}}
 
 {:pred :embrace
  :subj {:prop {:human true}}
  :obj {:prop {:animate true}}}
 
 {:pred :enter
  :subj {:prop {:animate true}}
  :obj {:prop {:place true}}}
 
 {:pred :exit
  :subj {:prop {:animate true}}}
 
 {:pred :faint
  :subj {:prop {:animate true}}}
 
 {:pred :fall-asleep
  :subj {:prop {:animate true}}}
 
 {:pred :get-angry
  :subj {:prop {:animate true}}}
 
 {:pred :get-bored
  :subj {:prop {:animate true}}}
 
 {:pred :get-dressed
  :subj {:prop {:human true}}}
 
 {:pred :get-married
  :subj {:prop {:human true}}}
 
 {:pred :get-off
  :subj {:prop {:animate true}}}
 
 {:pred :get-on
  :subj {:prop {:animate true}}}
 
 {:pred :get-ready
  :subj {:prop {:human true}}}
 
 {:pred :get-up
  :subj {:prop {:animate true}}}
 
 {:pred :giocare
  :subj {:prop {:human true}}
  :obj {:prop {:game true}}}

 {:pred :give-x-to-y
  :subj {:prop {:human true}}
  :iobj {:prop {:human true}}
  :obj {:prop {:human false}}}
 
 {:pred :go
  :subj {:prop {:animate true}}}
 
 {:pred :go-downstairs
  :subj {:prop {:animate true}}}
 
 {:pred :go-out
  :subj {:prop {:animate true}}}
 
 {:pred :go-upstairs
  :subj {:prop {:animate true}}}
 
 {:pred :have-dinner
  :subj {:prop {:human true}}}
 
 {:pred :have-fun
  :reflexive true
  :subj {:prop {:human true}}}

 {:pred :hug
  :subj {:prop {:human true}}
  :obj {:prop {:animate true}}}
 
 {:pred :imagine
  :subj {:prop {:human true}}}
 
 {:pred :learn
  :subj {:prop {:human true}}
  :obj {:prop {:legible true}}} ;; not quite right, but a rough start.
 
 {:pred :leave
  :subj {:prop {:animate true}}}
 
 {:pred :leave-behind
  :subj {:prop {:animate true}}}
 
 {:pred :live
  :subj {:prop {:animate true}}}

 {:pred :live-a
  :subj {:prop {:animate true}}}

 {:pred :lower
  :subj {:prop {:human true}}}
 
 {:pred :put-on
  :subj {:prop {:human true}}
  :obj {:prop {:clothing true}}}
 
 {:pred :read
  :subj {:prop {:human true}}
  :obj {:prop {:legible true}}}
 
 {:pred :say
  :subj {:prop {:human true}}
  :obj {:prop {:speakable true}}}
 
 {:pred :scold
  :subj {:prop {:human true}}}
 
 {:pred :see
  :subj {:prop {:animate true}}}

 {:pred :sell
  :subj {:prop {:human true}}
  :obj {:prop {:buyable true}}}
 
 {:pred :shave
  :subj {:prop {:human true}}}

 {:pred :sigh
  :subj {:prop {:human true}}}
 
 {:pred :sit-down
  :subj {:prop {:animate true}}}
 
 {:pred :sleep
  :subj {:prop {:animate true}}}
 
 {:pred :speak
  :subj {:prop {:human true}}
  :obj {:prop {:speakable true}}}
 
 {:pred :stampare
  :obj {:prop {:legible true}}}
 
 {:pred :steal
  :subj {:prop {:animate true}}
  :obj {:prop {:physical-object true
               :human false
               :place false}}} 
 {:pred :study
  :subj {:prop {:human true}}
  :obj {:prop {:legible true}}}
 
 {:pred :suonare
  :subj {:prop {:human true}}
  :obj {:prop {:human false}}} ;; TODO: split suonare into two preds: 1. play + song; 2. play + instrument.
 
 {:pred :talk
  :subj {:prop {:human true}}
  :obj {:prop {:speakable true}}}
 
 {:pred :think
  :subj {:prop {:human true}}}
 
 {:pred :try
  :subj {:prop {:animate true}}}
 
 {:pred :turn-on
  :subj {:prop {:human true}}
  :obj {:prop {:machine true}}}
 
 {:pred :turn-up
  :subj {:prop {:human true}}
  :obj {:prop {:machine true}}}
 
 {:pred :turn-down
  :subj {:prop {:human true}}
  :obj {:prop {:machine true}}}
 
 {:pred :understand
  :subj {:prop {:human true}}}
 
 {:pred :understand-deeply
  :subj {:prop {:human true}}}
 
 {:pred :wake-up
  :reflexive true
  :subj {:prop {:animate true}}}
 
 {:pred :want
  :subj {:prop {:animate true}}}
 
 {:pred :wash
  :subj {:prop {:human true}}}
 
 {:pred :wash-oneself
  :subj {:prop {:living true}}}
 
 {:pred :wear
  :obj {:prop {:clothing true}}}
 
 {:pred :wear-ip
  :obj {:prop {:clothing true}}}
 
 {:pred :wear-l
  :obj {:prop {:clothing true}}}
 
 {:pred :wear-p
  :obj {:prop {:clothing true}}}
 
 {:pred :win
  :subj {:prop {:human true}}
  :obj {:prop {:human false}}}
 
 {:pred :wonder
  :subj {:prop {:human true}}}
 
 {:pred :work-human
  :subj {:prop {:human true}}}
 
 {:pred :work-nonhuman
  :subj {:prop {:human false}}}
 
 {:pred :worry
  :subj {:prop {:human true}}}
 
 {:pred :yell
  :subj {:prop {:human true}}}]
