[
 ;; F. p 4 "Adjectives have no ending if they precede a singular neuter noun in an indefinite context: i.e.
 ;;         after een 'a', geen 'no/not a', elk 'each'.."
 ;; all the 
 {:g [#"" ""]
  :p [#"" ""]
  :u {:cat :adjective
      :agr {:gender :neuter
            :number :sing}
      :sem {:quant :indef}
      :modifies-noun true}}

 {:g [#"oot$" "ote"]
  :p [#"ote$" "oot"]
  :u {:cat :adjective
      :modifies-noun true}}

 {:g [#"f$"   "ve"]
  :p [#"ve$"  "f"]
  :u {:cat :adjective
      :modifies-noun true}}

 {:g [#"s$"   "ze"]
  :p [#"ze$"  "s"]
  :u {:cat :adjective
      :modifies-noun true}}

 {:g [#"([aeiou])m$"   "$1mme"]
  :p [#"([aeiou])mme$" "$1m"]
  :u {:cat :adjective
      :modifies-noun true}}

 {:g [#"(a)(a)r$"   "$1re"]
  :p [#"are$"       "aar"]
  :u {:cat :adjective
      :modifies-noun true}}
 
 {:g [#"$"    "e"]
  :p [#"e$"   ""]
  :u {:cat :adjective
      :modifies-noun true}}]
