[
 {:g [#"" ""]
  :p [#"" ""]
  :u {:cat :adjective
      :number? true}}
 
 ;; F. p 4 "Adjectives have no ending if they precede a singular neuter noun in an indefinite context: i.e.
 ;;         after een 'a', geen 'no/not a', elk 'each'.."
 {:g [#"$" ""]
  :p [#"([^e])" "$1"]
  :u {:cat :adjective
      :agr {:gender :neuter
            :number :sing}
      :definite? false
      :inflection :adj-no-e-suffix
      :modifies-noun true}}

 ;; generation: groot -> grote
 ;; parsing:    grote -> groot
 {:g [#"ot$" "te"]
  :p [#"te$" "ot"]
  :u {:cat :adjective
      :agr {:number :plur}
      :modifies-noun true}}
 {:g [#"ot$" "te"]
  :p [#"te$" "ot"]
  :u {:cat :adjective
      :definite? true
      :agr {:number :sing}
      :modifies-noun true}}
 {:g [#"ot$" "te"]
  :p [#"te$" "ot"]
  :u {:cat :adjective
      :definite? false
      :agr {:gender :common
            :number :sing}
      :modifies-noun true}}

 ;; generation: lief -> lieve
 ;; parsing:    lieve -> lief
 {:g [#"f$"   "ve"]
  :p [#"ve$"  "f"]
  :u {:cat :adjective
      :agr {:number :plur}
      :modifies-noun true}}
 {:g [#"f$"   "ve"]
  :p [#"ve$"  "f"]
  :u {:cat :adjective
      :definite? true
      :agr {:number :sing}
      :modifies-noun true}}
 {:g [#"f$"   "ve"]
  :p [#"ve$"  "f"]
  :u {:cat :adjective
      :definite? true
      :agr {:gender :common
            :number :sing}
      :modifies-noun true}}

 ;; generation: vies -> vieze
 ;; parsing:    vieze -> vies
 {:g [#"s$"   "ze"]
  :p [#"ze$"  "s"]
  :u {:cat :adjective
      :agr {:number :plur}
      :modifies-noun true}}
 {:g [#"s$"   "ze"]
  :p [#"ze$"  "s"]
  :u {:cat :adjective
      :agr {:number :sing}
      :definite? true
      :modifies-noun true}}
 {:g [#"s$"   "ze"]
  :p [#"ze$"  "s"]
  :u {:cat :adjective
      :definite? false
      :agr {:gender :common
            :number :sing}
      :modifies-noun true}}

 ;; generation: stom -> stomme
 ;; parsing:    stomme -> stom
 {:g [#"([aeiou])m$"   "$1mme"]
  :p [#"([aeiou])mme$" "$1m"]
  :u {:cat :adjective
      :agr {:number :plur}
      :modifies-noun true}}
 {:g [#"([aeiou])m$"   "$1mme"]
  :p [#"([aeiou])mme$" "$1m"]
  :u {:cat :adjective
      :agr {:number :sing}
      :definite? true
      :modifies-noun true}}
 {:g [#"([aeiou])m$"   "$1mme"]
  :p [#"([aeiou])mme$" "$1m"]
  :u {:cat :adjective
      :definite? false
      :agr {:gender :common
            :number :sing}
      :modifies-noun true}}

 ;; generation: openbaar -> openbare
 ;; parsing:    openbare -> openbaar
 {:g [#"(a)(a)r$"   "$1re"]
  :p [#"are$"       "aar"]
  :u {:cat :adjective
      :agr {:number :plur}
      :modifies-noun true}}
 {:g [#"(a)(a)r$"   "$1re"]
  :p [#"are$"       "aar"]
  :u {:cat :adjective
      :definite? true
      :agr {:number :sing}      
      :modifies-noun true}}
 {:g [#"(a)(a)r$"   "$1re"]
  :p [#"are$"       "aar"]
  :u {:cat :adjective
      :definite? false
      :agr {:gender :common
            :number :sing}
      :modifies-noun true}}

 ;; generation: klein -> kleine
 ;; parsing:    kleine -> klein
 {:g [#"$"  "e"]
  :p [#"e$" ""]
  :u {:cat :adjective
      :agr {:number :plur}
      :modifies-noun true}}
 {:g [#"$"  "e"]
  :p [#"e$" ""]
  :u {:cat :adjective
      :definite? true
      :agr {:number :sing}
      :modifies-noun true}}
 {:g [#"$"  "e"]
  :p [#"e$" ""]
  :u {:cat :adjective
      :definite? false
      :agr {:gender :common
            :number :sing}
      :modifies-noun true}}
 ]
