[{:g [#"^(.*)$"       "$1"] ;; no change in inflection for singular form.
  :p [#"^(.*)$"       "$1"] ;; no change in inflection for singular form.
  :u {:cat :noun
      :derivation {:runtime-noun-analysis {:morphology-noun-sing true}}
      :pronoun false
      :regular true
      :agr {:number :sing}}}

 {:g [#"^(.*)aa(.)$"     "$1a$2en"] ;; haar   -> haren
  :p [#"^(.*)a(.)en$"    "$1aa$2"]  ;; haren -> haar
  :u {:cat :noun
      :derivation {:runtime-noun-analysis {:morphology-noun-plur-repeated-vowel true}}
      :pronoun false
      :agr {:number :plur}
      :regular true}}

 {:g [#"^(.*)ee(.)$"     "$1e$2en"] ;; been   -> benen
  :p [#"^(.*)e(n)en$"    "$1ee$2"]  ;; benen -> been
  :u {:cat :noun
      :derivation {:runtime-noun-analysis {:morphology-noun-plur-repeated-vowel true}}
      :pronoun false
      :agr {:number :plur}
      :regular true}}

 {:g [#"^(.*)s$"    "$1ssen"] ;; jas    -> jassen
  :p [#"^(.*)ssen$" "$1s"] 
  :u {:cat :noun
      :derivation {:runtime-noun-analysis {:morphology-noun-plur-repeated-consonant true}}
      :pronoun false
      :agr {:number :plur}
      :regular true}}

 {:g [#"^(.*)t$"    "$1tten"] ;; kat    -> katten
  :p [#"^(.*)tten$"  "$1t"] 
  :u {:cat :noun
      :derivation {:runtime-noun-analysis {:morphology-noun-plur-repeated-consonant true}}
      :pronoun false
      :agr {:number :plur}
      :regular true}}

 {:g [#"^(.*)n$"    "$1nnen"] ;; man    -> mannen
  :p [#"^(.*)nnen$"  "$1n"] 
  :u {:cat :noun
      :derivation {:runtime-noun-analysis {:morphology-noun-plur-repeated-consonant true}}
      :pronoun false
      :agr {:number :plur}
      :regular true}}

 {:g [#"^(.*)f$"    "$1ven"] ;; druif   -> druiven
  :p [#"^(.*)ven$"  "$1f"] 
  :u {:cat :noun
      :derivation {:runtime-noun-analysis {:morphology-noun-plur-f2v true}}
      :pronoun false
      :agr {:number :plur}
      :regular true}}

 ;; TODO: parsing falls through to this catch-all rule,
 ;; thus matches incorrect inputs e.g. *"beenen";
 ;; i.e. incorrectly allows inputs *"beenen" as a plural form of "been".
 {:g [#"^(.*)$"       "$1en"] ;; hond   -> honden
  :p [#"^(.*)en$"      "$1"]  ;; honden -> dog
  :u {:cat :noun
      :derivation {:runtime-noun-analysis {:morphology-noun-plur-otherwise true}}
      :pronoun false
      :agr {:number :plur}
      :regular true}}]


