[{:g [#"^(.*)$"       "$1"] ;; no change in inflection for singular form.
  :p [#"^(.*)$"       "$1"] ;; no change in inflection for singular form.
  :u {:cat :noun
      :derivation {:runtime-noun-analysis {:morphology-noun-sing true}}
      :pronoun false
      :regular true
      :agr {:number :sing}}}

 {:g [#"^(.*)t$"    "$1tten"] ;; kat    -> katten
  :p [#"^(.*)tten$"  "$1t"] 
  :u {:cat :noun
      :derivation {:runtime-noun-analysis {:morphology-noun-plur-1 true}}
      :pronoun false
      :agr {:number :plur}
      :regular true}}
 
 {:g [#"^(.*)$"       "$1en"] ;; hond   -> honden
  :p [#"^(.*)en$"      "$1"]  ;; honden -> dog
  :u {:cat :noun
      :derivation {:runtime-noun-analysis {:morphology-noun-plur-2 true}}
      :pronoun false
      :agr {:number :plur}
      :regular true}}]

