{"_" [{:null? true :sem {:pred :_}}]
 "aanspreekbaar" [{:sem {:pred :approachable}}]
 "aantrekkelijk" [{:sem {:pred :attractive}}]
 "aardig" [{:sem {:pred :nice}}]
 "afzonderlijk" [{:sem {:pred :separate}}]
 "bedroefd" [{:sem {:pred :sad}}]
 "benieuwd" [{:sem {:pred :curious}}]
 "bezig" [{:sem {:pred :busy}}]
 "bijzonder" [{:sem {:pred :special}}]
 "breed" [{:sem {:pred :wide}}]
 "buitengewoon" [{:sem {:pred :extraordinary}}]
 "dik" [{:sem {:pred :thick}}]
 "droevig" [{:sem {:pred :sad}}]
 "eenvoudig" [{:sem {:pred :simple}}]
 "eenzaam" [{:sem {:pred :lonely}}]
 "eeuwig"  [{:sem {:pred :eternal}}]
 "eigenwijs" [{:sem {:pred :stubborn}}]
 "eng" [{:sem {:pred :scary}}]
 "ernstig" [{:sem {:pred :serious}}]
 "fleurig" [{:sem {:pred :bright}}]
 "gaaf" [{:sem {:pred :cool}}]
 "geheim" [{:sem {:pred :secret}}]
 "gelauwerd" [{:sem {:pred :acclaimed}}]
 "geldig" [{:sem {:pred :valid}}]
 "gevoelig" [{:sem {:pred :sensitive}}]
 "geweldig" [{:sem {:pred :awesome}}]
 "gierig" [{:sem {:pred :stingy}}]
 "goed" [{:sem {:pred :good}}]
 "groot" [{:sem {:pred :big} :curriculum :basic}]
 "huidig" [{:sem {:pred :current}}]
 "ingewikkeld" [{:sem {:pred :complicated}}]
 "inhalig" [{:sem {:pred :greedy}}]
 "inhoudelijk" [{:sem {:pred :substantive}}]
 "klein" [{:sem {:pred :small}
           :curriculum :basic}]
 "kieskeurig" [{:sem {:pred :picky}}]
 "koppig" [{:sem {:pred :stubborn}}]
 "lastig" [{:sem {:pred :difficult}}]
 "leuk" [{:sem {:pred :good}}]
 "lief" [{:sem {:pred :nice}}]
 "moedig" [{:sem {:pred :brave}}]
 "moelijk" [{:sem {:pred :difficult}}]
 "nieuwsgierig" [{:sem {:pred :curious}}]
 "nieuwswaardig" [{:sem {:pred :newsworthy}}]
 "nijver" [{:sem {:pred :industrious}}]
 "ongebruikelijk" [{:sem {:pred :unusual}}]
 "ongerust" [{:sem {:pred :anxious}}]
 "onschuldig" [{:sem {:pred :innocent}}]
 "onnozel" [{:sem {:pred :silly}}]
 "onzijdig" [{:sem {:pred :neutral}}]
 "opgewonden" [{:sem {:pred :excited}}]
 "opvallend" [{:sem {:pred :striking}}]
 "oud" [{:sem {:pred :old} :curriculum :basic}]
 "prachtig" [{:sem {:pred :magnificent}}]
 "schattig" [{:sem {:pred :cute}}]
 "schitterend" [{:sem {:pred :splendid}}]
 "schrijnend" [{:sem {:pred :poignant}}]
 "slecht" [{:sem {:pred :bad}}]
 "slim" [{:sem {:pred :smart}
          :curriculum :basic}]
 "smerig" [{:sem {:pred :filthy}}]
 "spaarzaam" [{:sem {:pred :frugal}}]
 "stemmig" [{:sem {:pred :moody}}]
 "sterk" [{:sem {:pred :strong} :curriculum :basic}]
 "stevig" [{:sem {:pred :firm}}]
 "stom" [{:sem {:pred :stupid}}]
 "strijdbaar" [{:sem {:pred :combative}}]
 "stuitend" [{ :sem {:pred :shocking}}]
 "teleurgesteld" [{:sem {:pred :disappointed}}]
 "tevreden" [{:sem {:pred :satisfied}}]
 "uitgebroken" [{:sem {:pred :escaped}}]
 "vastberaden" [{:sem {:pred :determined}}]
 "verantwoordelijk" [{:sem {:pred :responsible}}]
 "verrast" [{:sem {:pred :surprised}}]
 "verdrietig" [{:sem {:pred :sad}}]
 "vergelijkbaar" [{:sem {:pred :comparable}}]
 "verlegen" [{:sem {:pred :shy}}]
 "verward" [{:sem {:pred :confused}}]
 "verwarrend" [{:sem {:pred :confusing}}]
 "verdacht" [{:sem {:pred :suspicious}}]
 "verknocht" [{:sem {:pred :devoted}}]
 "vervelend" [{:sem {:pred :annoying}}]
 "vies" [{:sem {:pred :dirty}}]
 "vreselijk" [{:sem {:pred :horrible}}]
 "voorzichtig" [{:sem {:pred :careful}}]
 "waanzinnig" [{:sem {:pred :insane}}]
 "waar" [{:sem {:pred :true}}]
 "zacht" [{:sem {:pred :soft}}]
 "zelfverzekerd" [{:sem {:pred :confident}}]
 "zenuwachtig" [{:sem {:pred :nervous}}]
 "zielig" [{:sem {:pred :pathetic}}]
 "zwierig" [{:sem {:pred :jaunty}}]}
