{"_" [{:null? true :sem {:pred :_}}]
 "aanspreekbaar" [{:sem {:pred :approachable}}]
 "aantrekkelijk" [{:sem {:pred :attractive}}]
 "aardig" [{:sem {:pred :nice}}]
 "aarzeldend" [{:sem {:pred :hesitant}}] 
 "afzonderlijk" [{:sem {:pred :separate}}]
 "akelig" [{:sem {:pred :nasty}}] 
 "baldadig" [{:sem {:pred :rowdy}}] 
 "belangrijk" [{:sem {:pred :important}}]
 "bedroefd" [{:sem {:pred :sad}}]
 "benieuwd" [{:sem {:pred :curious}}]
 "bereikbaar" [{:sem {:pred :accessible}}]
 "bescheiden" [{:sem {:pred :modest}}]
 "bezig" [{:sem {:pred :busy}}]
 "bijzonder" [{:sem {:pred :special}}]
 "blut" [{:sem {:pred :out-of-money}}] 
 "bouwvallig" [{:sem {:pred :dilapidated}}]
 "breed" [{:sem {:pred :wide}}]
 "buitengewoon" [{:sem {:pred :extraordinary}}]
 "degelijk" [{:sem {:pred :sound}}] ;; 'sound' as in "sound advice"
 "dik" [{:sem {:pred :thick}}]
 "dreigend" [{:sem {:pred :threatening}}]
 "droevig" [{:sem {:pred :sad}}]
 "eenvoudig" [{:sem {:pred :simple}}]
 "eenzaam" [{:sem {:pred :lonely}}]
 "eeuwig"  [{:sem {:pred :eternal}}]
 "eigenwijs" [{:sem {:pred :stubborn}}]
 "eng" [{:sem {:pred :scary}}]
 "ernstig" [{:sem {:pred :serious}}]
 "fatsoenlijk" [{:sem {:pred :decent}}]
 "fleurig" [{:sem {:pred :bright}}]
 "fraai" [{:sem {:pred :beautiful}}]
 "gaaf" [{:sem {:pred :cool}}]
 "geheim" [{:sem {:pred :secret}}]
 "geheimzinnig" [{:sem {:pred :mysterious}}] 
 "geinig" [{:sem {:pred :amusing}}]
 "gek" [{:sem {:pred :crazy}}]
 "gelauwerd" [{:sem {:pred :acclaimed}}]
 "geldig" [{:sem {:pred :valid}}]
 "gelegen" [{:sem {:pred :convenient}}]
 "gemoedelijk" [{:sem {:pred :pleasant}}]
 "genadeloos" [{:sem {:pred :merciless}}] 
 "gevoelig" [{:sem {:pred :sensitive}}]
 "geweldig" [{:sem {:pred :awesome}}]
 "gierig" [{:sem {:pred :stingy}}]
 "goed" [{:sem {:pred :good}}]
 "groot" [{:sem {:pred :big} :curriculum :basic}]
 "hedendaag" [{:sem {:pred :contemporary}}] 
 "heet" [{:sem {:pred :hot}}]
 "hoffelijk" [{:sem {:pred :courteous}}]
 "huidig" [{:sem {:pred :current}}]
 "indrukwekkend" [{:sem {:pred :impressive}}]
 "ingewikkeld" [{:sem {:pred :complicated}}]
 "inhalig" [{:sem {:pred :greedy}}]
 "inhoudelijk" [{:sem {:pred :substantive}}]
 "klein" [{:sem {:pred :small}
           :curriculum :basic}]
 "kieskeurig" [{:sem {:pred :picky}}]
 "kinderachtig" [{:sem {:pred :childish}}]
 "knullig" [{:sem {:pred :awkward}}]
 "koppig" [{:sem {:pred :stubborn}}]
 "koud" [{:sem {:pred :cold}}] 
 "kort" [{:sem {:pred :short}}] 
 "laag" [{:sem {:pred :low}}]
 "lang" [{:sem {:pred :tall}}]
 "laat" [{:sem {:pred :late}}]
 "lastig" [{:sem {:pred :difficult}}]
 "levendig" [{:sem {:pred :lively}}]
 "leuk" [{:sem {:pred :good}}]
 "lief" [{:sem {:pred :nice}}]
 "lijp" [{:sem {:pred :cool}}]
 "lomp" [{:sem {:pred :rude}}]
 "makkelijk" [{:sem {:pred :easy}}]
 "moedig" [{:sem {:pred :brave}}]
 "moelijk" [{:sem {:pred :difficult}}]
 "mooi" [{:sem {:pred :beautiful}}] 
 "nauw" [{:sem {:pred :narrow}}]
 "nauwkeurig" [{:sem {:pred :accurate}}]
 "nieuwsgierig" [{:sem {:pred :curious}}]
 "nieuwswaardig" [{:sem {:pred :newsworthy}}]
 "nijver" [{:sem {:pred :industrious}}]
 "nukkig" [{:sem {:pred :grumpy}}]
 "nuttig" [{:sem {:pred :useful}}]
 "omslachtig" [{:sem {:pred :devious}}
               {:sem {:pred :cumbersome}}]
 "ondeugend" [{:sem {:pred :naughty}}]
 "ongebruikelijk" [{:sem {:pred :unusual}}]
 "ongelegen" [{:sem {:pred :inconvenient}}]
 "ongerust" [{:sem {:pred :anxious}}]
 "onschuldig" [{:sem {:pred :innocent}}]
 "onnozel" [{:sem {:pred :silly}}]
 "onwenselijk" [{:sem {:pred :undesirable}}]
 "onzijdig" [{:sem {:pred :neutral}}]
 "opgewonden" [{:sem {:pred :excited}}]
 "opvallend" [{:sem {:pred :striking}}]
 "oud" [{:sem {:pred :old} :curriculum :basic}]
 "prachtig" [{:sem {:pred :magnificent}}]
 "pril" [{:sem {:pred :early}}]
 "radeloos" [{:sem {:pred :distraught}}]
 "reusachtig" [{:sem {:pred :huge}}]
 "schattig" [{:sem {:pred :cute}}]
 "schitterend" [{:sem {:pred :splendid}}]
 "schrijnend" [{:sem {:pred :poignant}}]
 "schuchter" [{:sem {:pred :shy}}]
 "slecht" [{:sem {:pred :bad}}]
 "slim" [{:sem {:pred :smart}
          :curriculum :basic}]
 "sluw" [{:sem {:pred :cunning}}]
 "smerig" [{:sem {:pred :filthy}}]
 "spaarzaam" [{:sem {:pred :frugal}}]
 "steil" [{:sem {:pred :steep}}]
 "stemmig" [{:sem {:pred :moody}}]
 "sterk" [{:sem {:pred :strong} :curriculum :basic}]
 "stevig" [{:sem {:pred :firm}}]
 "stiekem" [{:sem {:pred :sneaky}}] 
 "stom" [{:sem {:pred :stupid}}]
 "strak" [{:sem {:pred :sleek}}]
 "strijdbaar" [{:sem {:pred :combative}}]
 "stuitend" [{ :sem {:pred :shocking}}]
 "teleurgesteld" [{:sem {:pred :disappointed}}]
 "tevreden" [{:sem {:pred :satisfied}}]
 "treurig" [{:sem {:pred :pathetic}}]
 "tureluurs" [{:sem {:pred :crazy}}]
 "uitdagend" [{:sem {:pred :challenging}}]
 "uitgebroken" [{:sem {:pred :escaped}}]
 "vastberaden" [{:sem {:pred :determined}}]
 "veelzijdig" [{:sem {:pred :versatile}}]
 "verantwoordelijk" [{:sem {:pred :responsible}}]
 "vernuftig" [{:sem {:pred :clever}}] 
 "verrast" [{:sem {:pred :surprised}}]
 "verdrietig" [{:sem {:pred :sad}}]
 "vergelijkbaar" [{:sem {:pred :comparable}}
                  {:sem {:pred :similar}}]
 "verlegen" [{:sem {:pred :shy}}]
 "verschrikkelijk" [{:sem {:pred :terrifying}}]
 "verward" [{:sem {:pred :confused}}]
 "verwarrend" [{:sem {:pred :confusing}}]
 "verdacht" [{:sem {:pred :suspicious}}]
 "verknocht" [{:sem {:pred :devoted}}]
 "verraderlijk" [{:sem {:pred :treacherous}}]
 "vervelend" [{:sem {:pred :annoying}}]
 "verwaarloosd" [{:sem {:pred :neglected}}] 
 "verwend" [{:sem {:pred :spoiled}}] 
 "vies" [{:sem {:pred :dirty}}]
 "voordelig" [{:sem {:pred :useful}}
              {:sem {:pred :profitable}}]
 "vreselijk" [{:sem {:pred :horrible}}]
 "vriendelijk" [{:sem {:pred :friendly}}]
 "vroeg" [{:sem {:pred :early}}]
 "voorzichtig" [{:sem {:pred :careful}}]
 "vunzig" [{:sem {:pred :filthy}}]
 "wanzinnig" [{:sem {:pred :insane}}]
 "waar" [{:sem {:pred :true}}]
 "weerloos" [{:sem {:pred :defenceless}}] 
 "zacht" [{:sem {:pred :soft}}]
 "zelfverzekerd" [{:sem {:pred :confident}}]
 "zenuwachtig" [{:sem {:pred :nervous}}]
 "zielig" [{:sem {:pred :pathetic}}]
 "zwierig" [{:sem {:pred :jaunty}}]
 "zwoel" [{:sem {:pred :sultry}}]}
