{"_" [{:null? true :sem {:pred :_}}]
 "aanspreekbaar" [{:sem {:pred :approachable}}]
 "aantrekkelijk" [{:sem {:pred :attractive}}]
 "aardig" [{:sem {:pred :nice}}]
 "afzonderlijk" [{:sem {:pred :separate}}]
 "belangrijk" [{:sem {:pred :important}}]
 "bedroefd" [{:sem {:pred :sad}}]
 "benieuwd" [{:sem {:pred :curious}}]
 "bereikbaar" [{:sem {:pred :accessible}}]
 "bezig" [{:sem {:pred :busy}}]
 "bijzonder" [{:sem {:pred :special}}]
 "bouwvallig" [{:sem {:pred :dilapidated}}]
 "breed" [{:sem {:pred :wide}}]
 "buitengewoon" [{:sem {:pred :extraordinary}}]
 "degelijk" [{:sem {:pred :sound}}] ;; 'sound' as in "sound advice"
 "dik" [{:sem {:pred :thick}}]
 "droevig" [{:sem {:pred :sad}}]
 "eenvoudig" [{:sem {:pred :simple}}]
 "eenzaam" [{:sem {:pred :lonely}}]
 "eeuwig"  [{:sem {:pred :eternal}}]
 "eigenwijs" [{:sem {:pred :stubborn}}]
 "eng" [{:sem {:pred :scary}}]
 "ernstig" [{:sem {:pred :serious}}]
 "fleurig" [{:sem {:pred :bright}}]
 "gaaf" [{:sem {:pred :cool}}]
 "geheim" [{:sem {:pred :secret}}]
 "gelauwerd" [{:sem {:pred :acclaimed}}]
 "geldig" [{:sem {:pred :valid}}]
 "gemoedelijk" [{:sem {:pred :pleasant}}]
 "gevoelig" [{:sem {:pred :sensitive}}]
 "geweldig" [{:sem {:pred :awesome}}]
 "gierig" [{:sem {:pred :stingy}}]
 "goed" [{:sem {:pred :good}}]
 "groot" [{:sem {:pred :big} :curriculum :basic}]
 "hedendaag" [{:sem {:pred :contemporary}}] 
 "heet" [{:sem {:pred :hot}}]
 "huidig" [{:sem {:pred :current}}]
 "indrukwekkend" [{:sem {:pred :impressive}}]
 "ingewikkeld" [{:sem {:pred :complicated}}]
 "inhalig" [{:sem {:pred :greedy}}]
 "inhoudelijk" [{:sem {:pred :substantive}}]
 "klein" [{:sem {:pred :small}
           :curriculum :basic}]
 "kieskeurig" [{:sem {:pred :picky}}]
 "kinderachtig" [{:sem {:pred :childish}}]
 "koppig" [{:sem {:pred :stubborn}}]
 "koud" [{:sem {:pred :cold}}] 
 "kort" [{:sem {:pred :short}}] 
 "laag" [{:sem {:pred :low}}]
 "lang" [{:sem {:pred :tall}}]
 "laat" [{:sem {:pred :late}}]
 "lastig" [{:sem {:pred :difficult}}]
 "levendig" [{:sem {:pred :lively}}]
 "leuk" [{:sem {:pred :good}}]
 "lief" [{:sem {:pred :nice}}]
 "lijp" [{:sem {:pred :cool}}]
 "lomp" [{:sem {:pred :rude}}]
 "makkelijk" [{:sem {:pred :easy}}]
 "moedig" [{:sem {:pred :brave}}]
 "moelijk" [{:sem {:pred :difficult}}]
 "mooi" [{:sem {:pred :beautiful}}] 
 "nauw" [{:sem {:pred :narrow}}]
 "nauwkeurig" [{:sem {:pred :accurate}}]
 "nieuwsgierig" [{:sem {:pred :curious}}]
 "nieuwswaardig" [{:sem {:pred :newsworthy}}]
 "nijver" [{:sem {:pred :industrious}}]
 "nuttig" [{:sem {:pred :useful}}]
 "ongebruikelijk" [{:sem {:pred :unusual}}]
 "ongerust" [{:sem {:pred :anxious}}]
 "onschuldig" [{:sem {:pred :innocent}}]
 "onnozel" [{:sem {:pred :silly}}]
 "onzijdig" [{:sem {:pred :neutral}}]
 "opgewonden" [{:sem {:pred :excited}}]
 "opvallend" [{:sem {:pred :striking}}]
 "oud" [{:sem {:pred :old} :curriculum :basic}]
 "prachtig" [{:sem {:pred :magnificent}}]
 "reusachtig" [{:sem {:pred :huge}}]
 "schattig" [{:sem {:pred :cute}}]
 "schitterend" [{:sem {:pred :splendid}}]
 "schrijnend" [{:sem {:pred :poignant}}]
 "slecht" [{:sem {:pred :bad}}]
 "slim" [{:sem {:pred :smart}
          :curriculum :basic}]
 "smerig" [{:sem {:pred :filthy}}]
 "spaarzaam" [{:sem {:pred :frugal}}]
 "stemmig" [{:sem {:pred :moody}}]
 "sterk" [{:sem {:pred :strong} :curriculum :basic}]
 "stevig" [{:sem {:pred :firm}}]
 "stom" [{:sem {:pred :stupid}}]
 "strijdbaar" [{:sem {:pred :combative}}]
 "stuitend" [{ :sem {:pred :shocking}}]
 "teleurgesteld" [{:sem {:pred :disappointed}}]
 "tevreden" [{:sem {:pred :satisfied}}]
 "treurig" [{:sem {:pred :pathetic}}]
 "uitgebroken" [{:sem {:pred :escaped}}]
 "vastberaden" [{:sem {:pred :determined}}]
 "verantwoordelijk" [{:sem {:pred :responsible}}]
 "verrast" [{:sem {:pred :surprised}}]
 "verdrietig" [{:sem {:pred :sad}}]
 "vergelijkbaar" [{:sem {:pred :comparable}}]
 "verlegen" [{:sem {:pred :shy}}]
 "verschrikkelijk" [{:sem {:pred :terrifying}}]
 "verward" [{:sem {:pred :confused}}]
 "verwarrend" [{:sem {:pred :confusing}}]
 "verdacht" [{:sem {:pred :suspicious}}]
 "verknocht" [{:sem {:pred :devoted}}]
 "vervelend" [{:sem {:pred :annoying}}]
 "vies" [{:sem {:pred :dirty}}]
 "vreselijk" [{:sem {:pred :horrible}}]
 "vriendelijk" [{:sem {:pred :friendly}}]
 "voorzichtig" [{:sem {:pred :careful}}]
 "waanzinnig" [{:sem {:pred :insane}}]
 "waar" [{:sem {:pred :true}}]
 "zacht" [{:sem {:pred :soft}}]
 "zelfverzekerd" [{:sem {:pred :confident}}]
 "zenuwachtig" [{:sem {:pred :nervous}}]
 "zielig" [{:sem {:pred :pathetic}}]
 "zwierig" [{:sem {:pred :jaunty}}]}
