{

 "nodig" [(let [subj (atom :top)
                obj (atom :top)]
            {:sem {:subj subj
                   :pred :need
                   :obj obj}
             :subcat {:1 {:cat :verb
                          :sem {:subj subj
                                :pred :have
                                :obj obj}
                          :subcat {:1 {:top :top}
                                   :2 []}}
                      :2 []}})]

 "samen" [{:sem {:pred :together
                 :subj {:number :plur}}}]



 }
