;; TODO: F.49: distinguish between stressed and unstressed for:
;; - jij (je)
;; - wij (we)
;; - zij (ze)
{"dat" [{:cat :det
         :definite? true
         :sem {:pred :that}
         :agr {:number :sing
               :gender :neuter}}]

 ;; <F. p30-31, 54-55, 70>
 "de" [{:cat :det
        :definite? true
        :sem {:pred :the}
        :agr {:gender :common
              :number :sing}}
       {:cat :det
        :definite? true
        :sem {:pred :the}
        :agr {:number :plur}}]

 "deze" [{:cat :det
          :definite? true
          :sem {:pred :this}
          :agr {:number :sing
                :gender :common}}
         {:cat :det
          :definite? true
          :sem {:pred :this}
          :agr {:number :plur}}]

 "die" [{:cat :det
         :definite? true
         :sem {:pred :that}
         :agr {:number :sing
               :gender :common}}
        {:cat :det
         :definite? true
         :sem {:pred :that}
         :agr {:number :plur}}]
 "dit" [{:cat :det
         :definite? true
         :sem {:pred :this}
         :agr {:number :sing
               :gender :neuter}}]
 "een" [{:cat :det
         :definite? false
         :sem {:pred :some
               :countable? true}
         :agr {:number :sing}}]
 "geen" [{:cat :det
          :definite? false
          :sem {:pred :none}
          :agr {:number :sing}}]
 "haar" [{:cat :det
          :possessive? true
          :sem {:pred :she}}]
 "het" [{:cat :det
         :definite? true
         :sem {:pred :the}
         :agr {:gender :neuter
               :number :sing}}]
 "hun" [{:cat :det
         :possessive? true
         :sem {:pred :they}}]
 "je" [{:cat :det
        :possessive? true
        :sem {:pred :you
              :context :informal}}]
 "jouw" [{:cat :det
          :possessive? true
          :sem {:pred :you
                :context :informal}}]
 "jullie" [{:cat :det
            :possessive? true
            :sem {:pred :you
                  :context :informal}}]
 "mijn" [{:cat :det
          :possessive? true
          :sem {:pred :i}}]
 "ons" [{:cat :det
         :possessive? true
         :agr {:gender :neuter
               :number :sing}
         :sem {:pred :we}}]
 "onze" [{:cat :det
          :possessive? true
          :agr {:gender :common}
          :sem {:pred :we}}
         {:cat :det
          :possessive? true
          :agr {:number :plur}
          :sem {:pred :we}}]
 "uw" [{:cat :det
        :possessive? true
        :sem {:pred :you
              :context :formal}}]
 "wat" [;; "wat kattens"
        {:cat :det
         :definite? false
         :sem {:pred :some
               :countable? true}
         :agr {:number :plur}}
        ;; "wat geld"
        {:cat :det
         :definite? false
         :sem {:pred :some
               :countable? false}
         :agr {:number :sing}}]
 "zijn" [{:cat :det
          :possessive? true
          :sem {:pred :he}}
         {:cat :det
          :agr {:number :sing}
          :possessive? true
          :sem {:pred :it}}]}

