;; TODO: F.49: distinguish between stressed and unstressed for:
;; - jij (je)
;; - wij (we)
;; - zij (ze)
{"dat" [{:cat :det
         :definite? true
         :sem {:pred :that}
         :agr {:number :sing
               :gender :neuter}}]

 ;; <F. p30-31, 54-55, 70>
 "de" [{:cat :det
        :definite? true
        :sem {:pred :the}
        :agr {:gender :common
              :number :sing}}
       {:cat :det
        :definite? true
        :sem {:pred :the}
        :agr {:number :plur}}]

 "deze" [{:cat :det
          :definite? true
          :sem {:pred :this}
          :agr {:number :sing
                :gender :common}}
         {:cat :det
          :definite? true
          :sem {:pred :this}
          :agr {:number :plur}}]

 "die" [{:cat :det
         :definite? true
         :sem {:pred :that}
         :agr {:number :sing
               :gender :common}}
        {:cat :det
         :definite? true
         :sem {:pred :that}
         :agr {:number :plur}}]
 "dit" [{:cat :det
         :definite? true
         :sem {:pred :this}
         :agr {:number :sing
               :gender :neuter}}]
 "een" [{:cat :det
         :definite? false
         :sem {:pred :some}
         :agr {:number :sing}}]
 "geen" [{:cat :det
          :definite? false
          :sem {:pred :none}
          :agr {:number :sing}}]

 "haar" [{:cat :det
          :agr {:number :sing}
          :definite? true
          :sem {:pred :she}}
         {:cat :det
          :agr {:number :plur}
          :definite? true
          :sem {:pred :she}}]
 "het" [{:cat :det
         :definite? true
         :sem {:pred :the}
         :agr {:gender :neuter
               :number :sing}}]
 "hun" [{:cat :det
         :agr {:number :sing}
         :definite? true
         :sem {:pred :they}}
        {:cat :det
         :agr {:number :plur}
         :definite? true
         :sem {:pred :they}}]

 "jouw" [{:cat :det
          :agr {:number :sing}
          :definite? true
          :sem {:pred :you
                :context :informal}}
         {:cat :det
          :agr {:number :plur}
          :definite? true
          :sem {:pred :you
                :context :informal}}]
 "mijn" [{:cat :det
          :agr {:number :sing}
          :definite? true
          :sem {:pred :i}}
         {:cat :det
          :agr {:number :plur}
          :definite? true
          :sem {:pred :i}}]
 "onze" [{:cat :det
          :agr {:number :sing}
          :definite? true
          :sem {:pred :we}}
         {:cat :det
          :definite? true
          :agr {:number :plur}
          :sem {:pred :we}}]
 "uw" [{:cat :det
        :agr {:number :sing}
        :definite? true
        :sem {:pred :you
              :context :polite}}
       {:cat :det
        :agr {:number :plur}
        :definite? true
        :sem {:pred :you
              :context :polite}}]
 "wat" [{:cat :det
         :definite? false
         :sem {:pred :some}
         :agr {:number :plur}}]
 "zijn" [{:cat :det
          :agr {:number :sing}
          :definite? true
          :sem {:pred :he}}
         {:cat :det
          :agr {:number :plur}
          :definite? true
          :sem {:pred :he}}
         {:cat :det
          :agr {:number :sing}
          :definite? true
          :sem {:pred :it}}
         {:cat :det
          :agr {:number :plur}
          :definite? true
          :sem {:pred :it}}]}
