{"en" [(let [number? (atom true)
             lower (atom {:number? number?
                          :times 10})
             higher (atom {:number? number?
                           :times 1})]
         {:cat :conjunction
          :subcat {:1 {:teen? false
                       :nul? false
                       :sem higher}
                   :2 {:teen? false
                       :sem lower}
                   :3 []}
          :sem {:pred :times
                :number? true
                :arg1 lower
                :arg2 higher}})

       (let [number? (atom false)
             lower (atom {:number? number?})
             higher (atom {:number? number?})]
         {:cat :conjunction
          :subcat {:1 {:teen? false
                       :nul? false
                       :sem higher}
                   :2 {:teen? false
                       :sem lower}
                   :3 []}
          :sem {:pred :and ;; note that {:pred :and} is the same as "maar" below.
                :number? false
                :args {:first higher
                       :rest {:first lower
                              :rest []}}}})]
                       
 
 "maar" [(let [lower (atom {:polarity :+})
               higher (atom {:polarity :-})
               reflexive? (atom :top)]
           {:cat :conjunction
            :subcat {:1 {:sem higher}
                     :2 {:sem lower
                         :reflexive? reflexive?}
                     :3 []}
            :reflexive? reflexive?
            :sem {:pred :and ;; note that the {:pred :and} is the same as with the second case of "en" above.
                  :args {:first higher
                         :rest {:first lower
                                :rest []}}}})]
 
 "niet" [(let [sem (atom :top)]
           {:cat :neg
            :sem sem
            :subcat {:1 {:cat :noun
                         :sem sem}}})]
}


         


