{"en" [(let [number? (atom true)
             cat (atom :adjective)
             lower (atom {:number? number?
                          :times 10})
             higher (atom {:number? number?
                           :times 1})]
         {:cat :conjunction
          :subcat {:1 {:cat cat
                       :teen? false
                       :nul? false
                       :sem higher}
                   :2 {:cat cat
                       :teen? false
                       :sem lower}
                   :3 []}
          :sem {:pred :times
                :number? true
                :arg1 lower
                :arg2 higher}})]

 "maar" [(let [lower (atom :top)
               higher (atom :top)]
           {:cat :conjunction
            :subcat {:1 {:cat :noun
                         :sem higher}
                     :2 {:cat :noun
                         :sem lower}
                     :3 []}
            :sem {:pred :but
                  :arg1 lower
                  :arg2 higher}})]
 
 "niet" [{:cat :neg
          :subcat {:1 {:cat :noun}}}]}



         


