{"en" [(let [number? (atom true)
             lower (atom {:number? number?
                          :times 10})
             higher (atom {:number? number?
                           :times 1})]
         {:cat :conjunction
          :subcat {:1 {:teen? false
                       :nul? false
                       :sem higher}
                   :2 {:teen? false
                       :sem lower}
                   :3 []}
          :sem {:pred :times
                :number? true
                :arg1 lower
                :arg2 higher}})]

 "maar" [(let [lower (atom {:polarity :+})
               higher (atom {:polarity :-})]
           {:cat :conjunction
            :subcat {:1 {:sem higher}
                     :2 {:sem lower}
                     :3 []}
            :sem {:pred :and
                  :arg1 lower
                  :arg2 higher}})]
 
 "niet" [(let [sem (atom :top)]
           {:cat :neg
            :sem sem
            :subcat {:1 {:cat :noun
                         :sem sem}}})]
}


         


