{"_" [{:null? true
       :sem {:pred :_}}]
 "aandacht" [{:sem {:pred :attention}}]
 "ambtenaar" [{:sem {:pred :civil-servant}}]
 "baan" [{:sem {:pred :job}}]
 "baby" [{:sem {:pred :baby}}]
 "been" [{:agr {:gender :neuter}
          :sem {:pred :leg}}]
 "bedrag" [{:agr {:gender :neuter}
            :sem {:pred :amount}}]
 "bericht" [{:sem {:pred :message}}]
 "beschaving" [{:sem {:pred :civilization}}]
 "beslissing" [{:sem {:pred :decision}}]
 "bestemming" [{:sem {:pred :destination}}]
 "bloemkool" [{:sem {:pred :cauliflower}}]
 "bedrijf" [{:agr {:gender :neuter}
             :sem {:pred :business}}]
 "boek" [{:curriculum :basic
          :agr {:gender :neuter}
          :sem {:pred :book
                ;; TODO: move these properties to inference
                ;; rules: pred=book -> animate false, readable true,etc.
                :prop {:animate false
                       :readable true}}
          :exceptions [{:agr {:number :plur}
                        :surface "boeken"}]}]
 "boodschap" [{:sem {:pred :message}}]
 "boom" [{:sem {:pred :tree}}]
 "chirurg" [{:sem {:pred :surgeon
                   :ref {:human? true}}}]
 "courgette" [{:sem {:pred :zucchini}}]
 "dag" [{:sem {:pred :day}}]
 "dame" [{:sem {:pred :woman
                :context :polite
                :ref {:human? true}}}]
 "dier" [{:agr {:gender :neuter}
          :sem {:pred :animal}}]
 "druif" [{:sem {:pred :grape}
           :curriculum :basic}]

 ;; TODO: test that plural is
 ;; generated as expected correct "dwazen".
 "dwaas" [{:sem {:pred :fool}}]

 "echtgenoot" [{:sem {:pred :husband
                      :ref {:human? true}}}]
 "echtgenote" [{:sem {:pred :wife
                      :ref {:human? true}}}]
 "eenzaamheid" [{:sem {:pred :loneliness}}]
 "eikel" [{:sem {:pred :jerk
                 :ref {:human? true}}}]
 "ervaring" [{:sem {:pred :experience}}]
 "ezel" [{:sem {:pred :donkey}}]
 "familie" [{:sem {:pred :family
                   :ref {:human? true}}}]
 "feit" [{:agr {:gender :neuter}
          :sem {:pred :fact}
          ;; same as with "geit"->"geiten"
          :exceptions [{:agr {:number :plur}
                        :surface "feiten"}]}]
 "fiets" [{:sem {:pred :bike}}]
 "gebied" [{:agr {:gender :neuter}
            :sem {:pred :area}}]
 "geheim" [{:sem {:pred :secret}}]
 "geheimzinnigheid" [{:sem {:pred :mystery}}]
 "gevaarte" [{:agr {:gender :neuter}
              :sem {:pred :monster}}]
 "geit" [{:sem {:pred :goat}
          ;; need this to prevent "geitten" which applies because
          ;; of nederlands.morphology/:repeated-consonant:
          :exceptions [{:agr {:number :plur}
                        :surface "geiten"}]}]
 "geld" [{:agr {:gender :neuter}
          :sem {:pred :money}}]
 "gemeenschap" [{:sem {:pred :community
                       :ref {:human? true}}}]
 "genootschap" [{:sem {:pred :society}}]
 "geschenk" [{:agr {:gender :neuter}
              :sem {:pred :gift}}]
 "gesprek" [{:agr {:gender :neuter}
             :sem {:pred :conversation}}]
 "getuig" [{:sem {:pred :witness}}]
 "gevoel" [{:agr {:gender :neuter}
             :sem {:pred :feeling}}]
 "groep" [{:sem {:pred :group}}]
 "gunsteling" [{:sem {:pred :favorite}}]
 "haar" [{:agr {:gender :neuter} 
          :sem {:pred :hair}}]
 "hagedis" [{:sem {:pred :lizard}}]
 "hand" [{:sem {:pred :hand}}]
 "heer" [{:sem {:pred :man
                :ref {:human? true}
                :context :polite}}]
 "huwelijk" [{:agr {:gender :neuter}
              :sem {:pred :marriage}}]
 "hoogleraar" [{:sem {:pred :professor
                      :ref {:human? true}}}]
 "hond" [{:sem {:pred :dog
                :ref {:canine? true}}}]
 "huis" [{:agr {:gender :neuter}
          :curriculum :basic
          :sem {:pred :house
                :countable? true}}]
 "idee" [{:sem {:pred :idea}}]
 "jas" [{:sem {:pred :coat}}]
 "jongen" [{:sem {:pred :boy
                  :ref {:human? true}}}]
 "kat" [{:sem {:pred :cat}}]
 "kerel" [{:sem {:pred :dude
                 :ref {:human? true}}}]
 "kind" [{:agr {:gender :neuter}
          :exceptions [{:agr {:number :plur}
                        :surface "kinderen"}]
          :sem {:pred :child
                :ref {:human? true}}}]
 "kitten" [{:sem {:pred :kitten}}]
 "kleuter" [{:sem {:pred :toddler
                   :ref {:human? true}}}]
 "koper" [{:sem {:pred :buyer
                 :ref {:human? true}}}]
 "kraai" [{:sem {:pred :crow}
          :exceptions [{:agr {:number :plur}
                        :surface "kraaien"}]}]
 "lafaard" [{:sem {:pred :coward
                   :ref {:human? true}}}]
 "land" [{:sem {:pred :country}
          :agr {:gender :neuter}}]
 "leraar" [{:sem {:pred :teacher
                  :ref {:human? true}}}]
 "leven" [{:agr {:gender :neuter}
           :sem {:pred :life}}]
 "loodgieter" [{:sem {:pred :plumber
                      :ref {:human? true}}}]
 "man" [{:sem {:pred :man
               :context :neutral
               :ref {:human? true}}}]
 "maand" [{:sem {:pred :month}}]
 "meisje" [{:agr {:gender :neuter}
            :sem {:pred :girl
                  :ref {:human? true}}}]
 "moeder" [{:sem {:pred :mother
                  :ref {:human? true}}}]
 "mogelijkheid" [{:sem {:pred :opportunity}}]
 "ontspanning" [{:sem {:pred :relaxation}}]
 "ontwikkeling" [{:sem {:pred :development}}]
 "oog" [{:sem {:pred :eye}
         :agr {:gender :neuter}}]
 "opleiding" [{:sem {:pred :education}}]
 "oplossing" [{:sem {:pred :solution}}]
 "optreden" [{:agr {:gender :neuter}
              :sem {:pred :performance}}]
 "opstand" [{:sem {:pred :revolt}}]
 "overheid" [{:sem {:pred :government}}]
 "paard" [{:sem {:pred :horse}
           :agr {:gender :neuter}}]
 "peuter" [{:sem {:pred :toddler
                  :ref {:human? true}}}]
 "pinda" [{:sem {:pred :peanut}}]
 "plaats" [{:sem {:pred :lot}}
           {:sem {:pred :place}}]
 "plek" [{:sem {:pred :place}}]
 "poging" [{:sem {:pred :attempt}}]
 "rechtbank" [{:sem {:pred :court}}]
 "roofdier" [{:agr {:gender :neuter}
              :sem {:pred :predator}}]
 "samenvatting" [{:sem {:pred :summary}}]
 "sering" [{:sem {:pred :lilac}}]
 "snuiter" [{:sem {:pred :dude
                   :ref {:human? true}}}]
 "stel" [{:agr {:gender :neuter}
          :sem {:pred :couple}}]
 "stelsel" [{:agr {:gender :neuter}
             :sem {:pred :system}}]
 "stoel" [{:sem {:pred :chair}}]
 "stoet" [{:sem {:pred :procession}}]
 "tafel" [{:sem {:pred :table}}]
 "tegenslag" [{:sem {:pred :setback}}]
 "thuis" [{:agr {:gender :neuter}
           :sem {:pred :home}}]
 "toestand" [{:sem {:pred :situation}}]
 "toneelstuk" [{:agr {:gender :neuter}
                :sem {:pred :play}}]
 "uitdaging" [{:sem {:pred :challenge}}]
 "uitvoering" [{:sem {:pred :implementation}}]
 "vakbond" [{:sem {:pred :union}}]
 "verbinding" [{:sem {:pred :connection}}]
 "verdediger" [{:sem {:pred :defender
                      :ref {:human? true}}}]
 "vergissing" [{:sem {:pred :mistake}}]
 "verhaal" [{:sem {:pred :story}
             :agr {:gender :neuter}}]
 "verkoper" [{:sem {:pred :seller
                    :ref {:human? true}}}]
 "vernieling" [{:sem {:pred :destruction}}]
 "verslaggever" [{:sem {:pred :reporter
                        :ref {:human? true}}}]
 "versoepeling" [{:sem {:pred :relaxation}}]
 "vertraging" [{:sem {:pred :delay}}]
 "vete" [{:sem {:pred :feud}}]
 "vijver" [{:sem {:pred :pond}}]
 "vis" [{:sem {:pred :fish}}]
 "vliegtuig" [{:agr {:gender :neuter}
               :sem {:pred :airplane}}]
 "vlinder" [{:sem {:pred :butterfly}}]
 "vogel" [{:sem {:pred :bird}
           :curriculum :basic}]
 "voorbereiding" [{:sem {:pred :preparation}}]
 "voorbeeld" [{:agr {:gender :neuter}
               :sem {:pred :example}}]
 "voorkeur" [{:sem {:pred :preference}}]
 "voorspelling" [{:sem {:pred :prediction}}]
 "voorstelling" [{:sem {:pred :performance}}]
 "vooruitgang" [{:sem {:pred :progress}}]
 "voorziening" [{:sem {:pred :service}}]
 "vrouw" [{:curriculum :basic
           :agr {:gender :common}
           :sem {:pred :woman
                 :context :neutral ;; i.e. :neutral meaning 'not polite'
                 :ref {:human? true}}}]
 "werkgever" [{:sem {:pred :employer
                     :ref {:human? true}}}]
 "werknemer" [{:sem {:pred :employee
                     :ref {:human? true}}}]
 "woordvoerder" [{:sem {:pred :spokesperson
                        :ref {:human? true}}}]
 "wortel" [{:sem {:pred :carrot}}]
 "zaak" [{:sem {:pred :case}}]
 "zee" [{:sem {:pred :sea}}]
 "zenuw" [{:sem {:pred :nerve}}]}
