{"_" [{:null? true
       :sem {:pred :_}}]
 "aandacht" [{:sem {:pred :attention}}]
 "baan" [{:sem {:pred :job}}]
 "baby" [{:sem {:pred :baby}}]
 "been" [{:agr {:gender :neuter}
          :sem {:pred :leg}}]
 "bedrag" [{:agr {:gender :neuter}
            :sem {:pred :amount}}]
 "beschaving" [{:sem {:pred :civilization}}]
 "beslissing" [{:sem {:pred :decision}}]
 "bestemming" [{:sem {:pred :destination}}]
 "bloemkool" [{:sem {:pred :cauliflower}}]
 "boek" [{:agr {:gender :neuter}
          :sem {:pred :book
                ;; TODO: move these properties to inference
                ;; rules: pred=book -> animate false, readable true,etc.
                :prop {:animate false
                       :readable true}}
          :exxceptions [{:agr {:number :plur}
                         :surface "boeken"}]}]
 "bedrijf" [{:agr {:gender :neuter}
             :sem {:pred :business}}]
 "boodschap" [{:sem {:pred :message}}]
 "chirurg" [{:sem {:pred :surgeon}}]
 "dag" [{:sem {:pred :day}}]
 "dame" [{:sem {:pred :woman
                :context :polite}}]
 "dier" [{:agr {:gender :neuter}
          :sem {:pred :animal}}]
 "druif" [{:sem {:pred :grape}}]
 "eikel" [{:sem {:pred :jerk}}]
 "eenzaamheid" [{:sem {:pred :loneliness}}]
 "ervaring" [{:sem {:pred :experience}}]
 "ezel" [{:sem {:pred :donkey}}]
 "familie" [{:sem {:pred :family}}]
 "feit" [{:agr {:gender :neuter}
          :sem {:pred :fact}}]
 "fiets" [{:sem {:pred :bike}}]
 "gebied" [{:agr {:gender :neuter}
            :sem {:pred :area}}]
 "geit" [{:sem {:pred :goat}}]
 "geld" [{:agr {:gender :neuter}
          :sem {:pred :money}}]
 "gemeenschappen" [{:sem {:pred :community}}]
 "gesprek" [{:agr {:gender :neuter}
             :sem {:pred :conversation}}]
 "gevoel" [{:agr {:gender :neuter}
             :sem {:pred :feeling}}]
 "groep" [{:sem {:pred :group}}]
 "gunsteling" [{:sem {:pred :favorite}}]
 "haar" [{:agr {:gender :neuter} 
          :sem {:pred :hair}}]
 "hand" [{:sem {:pred :hand}}]
 "heer" [{:sem {:pred :man
                :context :polite}}]
 "hoogleraar" [{:sem {:pred :professor}}] 
 "hond" [{:sem {:pred :dog}}]
 "huis" [{:agr {:gender :neuter}
          :sem {:pred :house
                :countable? true}}]
 "idee" [{:sem {:pred :idea}}]
 "jas" [{:sem {:pred :coat}}]
 "jongen" [{:sem {:pred :boy}}]
 "kat" [{:sem {:pred :cat}}]
 "kind" [{:agr {:gender :neuter}
          :exceptions [{:agr {:number :plur}
                        :surface "kinderen"}]
          :sem {:pred :child}}]
 "kitten" [{:sem {:pred :kitten}}]
 "koper" [{:sem {:pred :buyer}}]
 "land" [{:sem {:pred :country}
          :agr {:gender :neuter}}]
 "leraar" [{:sem {:pred :teacher}}]
 "leven" [{:agr {:gender :neuter}
           :sem {:pred :life}}]
 "man" [{:sem {:pred :man
               :context :neutral}}]
 "maand" [{:sem {:pred :month}}]
 "meisje" [{:agr {:gender :neuter}
            :sem {:pred :girl}}]
 "moeder" [{:sem {:pred :mother}}]
 "ontspanning" [{:sem {:pred :relaxation}}]
 "ontwikkeling" [{:sem {:pred :development}}]
 "oog" [{:sem {:pred :eye}
         :agr {:gender :neuter}}]
 "opleiding" [{:sem {:pred :education}}]
 "oplossing" [{:sem {:pred :solution}}]
 "optreden" [{:agr {:gender :neuter}
              :sem {:pred :performance}}]
 "opstand" [{:sem {:pred :revolt}}]
 "overheid" [{:sem {:pred :government}}]
 "pinda" [{:sem {:pred :peanut}}]
 "plaats" [{:sem {:pred :lot}}
           {:sem {:pred :place}}]
 "plek" [{:sem {:pred :place}}]
 "rechtbank" [{:sem {:pred :court}}]
 "roofdier" [{:agr {:gender :neuter}
              :sem {:pred :predator}}]
 "samenvatting" [{:sem {:pred :summary}}]
 "stoel" [{:sem {:pred :chair}}]
 "tafel" [{:sem {:pred :table}}]
 "thuis" [{:agr {:gender :neuter}
           :sem {:pred :home}}]
 "toestand" [{:sem {:pred :situation}}]
 "uitvoering" [{:sem {:pred :implementation}}]
 "verbinding" [{:sem {:pred :connection}}]
 "verhaal" [{:sem {:pred :story}
             :agr {:gender :neuter}}]
 "verkoper" [{:sem {:pred :seller}}]
 "vernieling" [{:sem {:pred :destruction}}]
 "verslaggever" [{:sem {:pred :reporter}}]
 "versoepeling" [{:sem {:pred :relaxation}}]
 "vertraging" [{:sem {:pred :delay}}]
 "vliegtuig" [{:agr {:gender :neuter}
               :sem {:pred :airplane}}]
 "vlinder" [{:sem {:pred :butterfly}}]
 "vogel" [{:sem {:pred :bird}}]
 "voorbereiding" [{:sem {:pred :preparation}}]
 "voorbeeld" [{:agr {:gender :neuter}
               :sem {:pred :example}}]
 "voorspelling" [{:sem {:pred :prediction}}]
 "voorstelling" [{:sem {:pred :performance}}]
 "vooruitgang" [{:sem {:pred :progress}}]
 "voorziening" [{:sem {:pred :service}}]
 "vrouw" [{:agr {:gender :neuter}
           :sem {:pred :woman
                 :context :neutral}}] ;; i.e. :neutral meaning 'not polite'
 "zaak" [{:sem {:pred :case}}]
 "zee" [{:sem {:pred :sea}}]
 "zenuw" [{:sem {:pred :nerve}}]}
