{
 "nul" [{
         ;; it is less than 10 of course, but we're using :less-than-10=false
         ;; here to prevent e.g. "nul en twintig", so it's
         ;; used in the same to prevent e.g. "twalf en twintig".
         :teen? false
         :nul? true
         :agr {:number :plur}
         :sem {:times 1
               :number? true
               :pred 0}}]

 "één" [{
         :sem {:pred 1
               :number? true
               :times 1}
         :agr {:number :sing}}]

 "twee" [{
          :agr {:number :plur}
          :sem {:pred 2
                :number? true
                :times 1}}]

 "drie" [{
          :agr {:number :plur}
          :sem {:pred 3
                :number? true
                :times 1}}]

 "vier" [{
          :agr {:number :plur}
          :sem {:pred 4
                :number? true
                :times 1}}]

 "vijf" [{
          :agr {:number :plur}
          :sem {:pred 5
                :number? true
                :times 1}}]

 "zes" [{
         :agr {:number :plur}
         :sem {:pred 6
               :number? true
               :times 1}}]

 "zeven" [{
           :agr {:number :plur}
           :sem {:pred 7
                 :number? true
                 :times 1}}]

 "acht" [{
          :agr {:number :plur}
          :sem {:pred 8
                :number? true
                :times 1}}]
 
 "negen" [{
           :agr {:number :plur}
           :sem {:times 1
                 :number? true
                 :pred 9}}]

 "teen" [{
          :agr {:number :plur}
          :teen? true
          :sem {:pred 10
                :number? true
                :times 1}}] 

 "elf" [{
         :agr {:number :plur}
         :teen? true
         :sem {:pred :add
               :number? true
               :arg1 {:pred 1 :times 1}
               :arg2 {:pred 1 :times 10}}}]
 
 "twalf" [{
           :agr {:number :plur}
           :teen? true
           :sem {:pred :add
                 :number? true
                 :arg1 {:pred 2 :times 1}
                 :arg2 {:pred 1 :times 10}}}]

 "dertien" [{
             :agr {:number :plur}
             :teen? true
             :sem {:pred :add
                   :number? true
                   :arg1 {:pred 3 :times 1}
                   :arg2 {:pred 1 :times 10}}}]

 "veertien" [{
             :agr {:number :plur}
             :teen? true
             :sem {:pred :add
                   :number? true
                   :arg1 {:pred 4 :times 1}
                   :arg2 {:pred 1 :times 10}}}]

 "vijftien" [{
             :agr {:number :plur}
             :teen? true
             :sem {:pred :add
                   :number? true
                   :arg1 {:pred 5 :times 1}
                   :arg2 {:pred 1 :times 10}}}]

 "zestien" [{
             :agr {:number :plur}
             :teen? true
             :sem {:pred :add
                   :number? true
                   :arg1 {:pred 6 :times 1}
                   :arg2 {:pred 1 :times 10}}}]

 "zeventien" [{
               :agr {:number :plur}
               :teen? true
               :sem {:pred :add
                     :number? true
                     :arg1 {:pred 7 :times 1}
                     :arg2 {:pred 1 :times 10}}}]

 "achttien" [{
              :agr {:number :plur}
              :teen? true
              :sem {:pred :add
                    :number? true
                    :arg1 {:pred 8 :times 1}
                    :arg2 {:pred 1 :times 10}}}]

 "negentien" [{
               :agr {:number :plur}
               :teen? true
               :sem {:pred :add
                     :number? true
                     :arg1 {:pred 8 :times 1}
                     :arg2 {:pred 1 :times 10}}}]
 
 "twintig" [{
             :agr {:number :plur}
             :sem {:times 10
                   :number? true                   
                   :pred 2}}]

 "dertig" [{
            :agr {:number :plur}
            :sem {:times 10
                  :number? true
                  :pred 3}}]

 "veertig" [{
             :agr {:number :plur}
             :sem {:times 10
                   :number? true
                   :pred 4}}]

 "vijftig" [{
             :agr {:number :plur}
             :sem {:pred 5
                   :number? true
                   :times 10}}]

 "zestig" [{
            :agr {:number :plur}
            :sem {:pred 6
                  :number? true
                  :times 10}}]

 "tachtig" [{
             :agr {:number :plur}
             :sem {:pred 8
                   :number? true
                  :times 10}}]

 "negentig" [{
              :agr {:number :plur}
              :sem {:pred 9
                    :number? true
                    :times 10}}]

 }
