;; TODO: F.49: distinguish between stressed and unstressed for:
;; - jij (je)
;; - wij (we)
;; - zij (ze)
{"die" [{:case :acc
         :beginning-of-sentence? true
         :agr {:person :3rd}
         ;; "When hem is used to refer to an object (not a person), it
         ;; will never appear at the beginning of the sentence.
         ;; In that case hem is replaced by die."
         ;; O. Unit 8, Note 2.
         :sem {:pred :it
               :ref {:human false}}}]

 "er" [{:case :nom
        :sem {:existential? true}
        :agr {:person :3rd}}]
 
 "haar" [{:agr {:gender :fem
                :number :sing
                :person :3rd}
          :case :acc
          :sem {:pred :she
                :ref {:human true}}}]
 "hem" [{:agr {:gender :masc
               :number :sing
               :person :3rd}
         :case :acc
         :sem {:pred :he
               :ref {:human true}}}

        ;; TODO: 'hem' can only refer to non-human referents if the
        ;; referent is a 'de' word {:agr {:gender :common}}, e.g.
        ;; "Heb jij een pen? Mag ik hem lenen?" (de word)
        ;; but:
        ;; "Heb jij een boek? Mag ik het lenen?" (het word)
        ;; O. Unit 8, Note 2
        
        {:agr {:gender :masc
               :number :sing
               :person :3rd}
         :case :acc
         :sem {:pred :it
               :ref {:human false}}}]
 "hen" [{:agr {:number :plur
               :person :3rd}
         :case :acc
         :sem {:pred :they
               :ref {:human true}}}]
 "het" [{:sem {:pred :it
               :ref {:human false}}
         :agr {:person :3rd
               :number :sing
               :gender :masc}}]
 ;; <F. p69-73>
 "hij" [{:agr {:person :3rd
               :number :sing
               :gender :masc}
         :case :nom
         :sem {:pred :he
               :ref {:human true}}}]
 "hun" [{:agr {:number :plur
               :person :3rd}
         :case :acc
         :sem {:pred :they
               :ref {:human true}}}]
 "ik" [{:agr {:person :1st
              :number :sing}
        :case :nom
        :sem {:pred :i
              :person :1st
              :ref {:human true}}}]
 "je" [{:case :nom
        :agr {:person :2nd
              :number :sing}
        :sem {:pred :you
              :person :2nd
              :ref {:human true
                    :context :informal}}}
       {:case :acc
        :agr {:person :2nd
              :number :sing}
        :reflexive false
        :sem {:pred :you
              :person :2nd
              :person-not :1st              
              :ref {:human true
                    :context :informal}}}

       ;; reflexive pronoun unspecified for
       ;; number: works for either singular or plural.
       ;; <F 61.1>
       {:case :acc
        :agr {:person :2nd}
        :reflexive true
        :sem {:pred :you
              :person-not :1st              
              :ref {:human true
                    :context :informal}}}]
 "jij" [{:agr {:person :2nd
               :number :sing}
         :case :nom
         :sem {:pred :you
               :person :2nd
               :ref {:human true
                     :context :informal}}}]
 "jou" [{:agr {:person :2nd
               :number :sing}
         :case :acc
         :reflexive false
         :sem {:pred :you
               :person :2nd
               :person-not :1st              
               :ref {:human true
                     :context :informal}}}]
 "jullie" [{:case :nom
            :sem {:pred :you
                  :person :2nd
                  :ref {:human true
                        :context :informal}}
            :agr {:person :2nd
                  :number :plur}}
           {:case :acc
            :sem {:pred :you
                  :person :2nd
                  :person-not :1st              
                  :ref {:human true
                        :context :informal}}
            :agr {:person :2nd
                  :number :plur}}]
 "me" [{:case :acc
        :agr {:number :sing
              :person :1st}
        :sem {:pred :i
              :person-not :2nd
              :ref {:human true}}
        :reflexive false}
       {:case :acc
        :agr {:number :sing
              :person :1st}
        :sem {:pred :i
              :ref {:human true}}
        :reflexive true}]
 "mij" [{:case :acc
         :sem {:pred :i
               :person-not :2nd
               :ref {:human true}}
         :agr {:person :1st
               :number :sing
               :person-not :2nd}
         :reflexive false}]
 "ons" [{:case :acc
         :agr {:number :plur
               :person :1st}
         :reflexive true
         :sem {:pred :we
               :ref {:human true}}}
        {:case :acc
         :sem {:person-not :2nd
               :pred :we
               :ref {:human true}}
         :agr {:number :plur
               :person :1st}
         :reflexive false}]
 ;; "u" is very generic: can be
 ;; sing/plur and nom/acc.
 ;; 
 
 "u" [;; semantically singular and grammatically singular:
      {:case :nom
       :agr {:person :2nd
             :number :sing}
       :sem {:pred :you
             :person :2nd
             :ref {:human true
                   :context :polite
                   :number :sing}}}
      {:case :acc
       :agr {:person :2nd
             :number :sing}
       :reflexive true
       :sem {:pred :you
             :ref {:human true
                   :context :polite
                   :number :sing}}}
      {:case :acc
       :agr {:person :2nd}
       :reflexive false
       :sem {:pred :you
             :person-not :1st             
             :ref {:human true
                   :person :2nd
                   :context :polite}}}

      ;; semantically plural, but still grammatically singular:
      {:case :nom
       :agr {:person :2nd
             :number :sing}
       :semantic-number-differs-from-agreement-number? true
       :sem {:pred :you
             :person :2nd
             :ref {:human true
                   :context :polite
                   :number :plur}}}
      {:case :acc
       :semantic-number-differs-from-agreement-number? true       
       :agr {:person :2nd
             :number :sing}
       :reflexive true
       :sem {:pred :you
             :ref {:human true
                   :context :polite
                   :number :plur}}}]
      
 "we" [{:agr {:person :1st
              :number :plur}
        :case :nom
        :sem {:pred :we
              :ref {:human true}}}]
 "wij" [{:agr {:person :1st
               :number :plur}
         :case :nom
         :sem {:pred :we
               :ref {:human true}}}]
 ;; TODO: F.95: 'zich' can also be used for {:person :2nd}
 ;; to avoid repetition of 'u' (e.g. 'wilt u zich aankleden?')
 "zich" [{:case :acc
          :agr {:person :3rd}
          :reflexive true}]
 "ze" [{:agr {:person :3rd
              :number :sing
              :gender :fem}
        :case :nom
        :sem {:pred :she
              :ref {:human true}}}
        {:agr {:person :3rd
               :number :plur}
         :case :nom
         :sem {:pred :they
               :ref {:human true}}}

       ;; "ze" can be object pronoun for humans,
       ;; but only if:
       ;; - it's not the object of a preposition:
       ;; e.g.:
       ;;       "met hen", if 'ze' refers to a human
       ;; but:
       ;;      *"met ze" if 'ze' refers to a human
       ;; 
       ;; - it's not an indirect object
       ;; e.g.:
       ;;      "ik wil hun een verhaal vertellen"
       ;; but:
       ;;      *"ik wil ze een verhaal vertellen"
       {:agr {:person :3rd
              :number :plur}
        :case :acc
        :reflexive false
        :sem {:pred :they
              :ref {:human true}}
        :with-preposition? false
        :indirect-obj? false}

       {:agr {:person :3rd
              :number :plur}
        :case :acc
        :reflexive false
        :sem {:pred :they
              :ref {:human false}}}]
 "zij" [{:agr {:person :3rd
               :number :sing
               :gender :fem}
         :case :nom
         :sem {:pred :she
               :ref {:human true}}}
        {:agr {:person :3rd
               :number :plur}
         :case :nom
         :sem {:pred :they
               :ref {:human true}}}]}

