;; TODO: F.49: distinguish between stressed and unstressed for:
;; - jij (je)
;; - wij (we)
;; - zij (ze)
{"die" [{:agr {:number :plur
               :person :3rd}
         :case :acc
         :sem {:pred :they
               :ref {:human false}}}]
 "haar" [{:agr {:gender :fem
                :number :sing
                :person :3rd}
          :case :acc
          :sem {:pred :she
                :ref {:human true}}}]
 "hem" [{:agr {:gender :masc
               :number :sing
               :person :3rd}
         :case :acc
         :sem {:pred :he
               :ref {:human true}}}]
 "hen" [{:agr {:number :plur
               :person :3rd}
         :case :acc
         :sem {:pred :they
               :ref {:human true}}}]
 "het" [{:sem {:pred :it
               :ref {:human false}}
         :agr {:person :3rd
               :number :sing
               :gender :masc}
         :case :nom}]
 ;; <F. p69-73>
 "hij" [{:agr {:person :3rd
               :number :sing
               :gender :masc}
         :case :nom
         :sem {:pred :he
               :ref {:human true}}}]
 "hun" [{:agr {:number :plur
               :person :3rd}
         :case :acc
         :sem {:pred :they
               :ref {:human true}}}]
 "ik" [{:agr {:person :1st
              :number :sing}
        :case :nom
        :sem {:pred :i
              :ref {:human true}}}]
 "je" [{:case :nom
        :agr {:person :2nd}
        :reflexive true
        :sem {:ref {:human true
                    :context :informal}}}
       {:case :acc
        :agr {:person :2nd}
        :reflexive true
        :sem {:ref {:human true
                    :context :informal}}}]
 "jij" [{:agr {:person :2nd
               :number :sing}
         :case :nom
         :sem {:pred :you
               :ref {:human true
                     :context :informal}}}]
 "jou" [{:agr {:person :2nd
               :number :sing}
         :case :acc
         :sem {:pred :you
               :ref {:human true}}}]
 "jullie" [{:case :nom
            :sem {:pred :you
                  :ref {:human true
                        :context :informal}}
            :agr {:person :2nd
                  :number :plur}}]
 "me" [{:case :acc
        :agr {:number :sing
              :person :1st}
        :sem {:ref {:human true}}
        :reflexive true}]
 "mij" [{:case :acc
         :sem {:pred :i
               :ref {:human true}}
         :agr {:person :1st
               :number :sing}}]
 "ons" [{:case :acc
         :agr {:number :plur
               :person :1st}
         :reflexive true}]
 ;; "u" is very generic: can be
 ;; sing/plur and nom/acc.
 "u" [{:agr {:person :2nd}
       :sem {:pred :you
             :ref {:context :polite}}}
      {:case :acc
       :agr {:person :2nd}
       :reflexive true
       :sem {:ref {:context :polite}}}]
 "we" [{:agr {:person :1st
              :number :plur}
        :case :nom
        :sem {:pred :we}}]
 "wij" [{:agr {:person :1st
               :number :plur}
         :case :nom
         :sem {:pred :we}}]
 ;; TODO: F.95: 'zich' can also be used for {:person :2nd}
 ;; to avoid repetition of 'u' (e.g. 'wilt u zich aankleden?')
 "zich" [{:case :acc
          :agr {:person :3rd}
          :reflexive true}]
 "ze" [{:agr {:person :3rd
              :number :sing
              :gender :fem}
        :case :nom
        :sem {:pred :she
              :ref {:human true}}}
        {:agr {:person :3rd
               :number :plur}
         :case :nom
         :sem {:pred :they
               :ref {:human true}}}]
 "zij" [{:agr {:person :3rd
               :number :sing
               :gender :fem}
         :case :nom
         :sem {:pred :she
               :ref {:human true}}}
        {:agr {:person :3rd
               :number :plur}
         :case :nom
         :sem {:pred :they
               :ref {:human true}}}]}

