{"Bas" [{
         :agr {:gender :masc
               :human true
               :number :sing
               :person :3rd}
          :sem {:ref {:human true}
                :pred :bas}
         
         }]
 "Corona" [{
            :agr {:human false
                  :number :sing
                  :person :3rd}
            :sem {:ref {:human false}
                  :pred :corona}
            
            }]
 "Femke" [{
           :agr {:gender :fem
                 :human true
                 :number :sing
                 :person :3rd}
           :sem {:ref {:human true}
                 :pred :femke}
           
          }]
 "Guus" [{
          :agr {:gender :masc
                :human true
                :number :sing
                :person :3rd}
          :sem {:ref {:human true}
                :pred :guus}
          
          }]
 "Saskia" [{
            :agr {:gender :fem
                  :human true
                  :number :sing
                  :person :3rd}
            :sem {:ref {:human true}
                  :pred :saskia}
            
            }]}
