[{:g [#"^(.*)$"       "$1"] ;; no change in inflection for singular form.
  :p [#"^(.*)$"       "$1"] ;; no change in inflection for singular form.
  :u {:cat :noun
      :derivation {:rules-matched {:runtime-noun-analysis {:morphology-noun-sing true}}}
      :pronoun false
      :regular true
      :agr {:number :sing}}}

 {:g [#"^(.*[^aeiou])[y]$"  "$1ies"] ;; puppy     -> puppies
  :p [#"^(.*)ies$"     "$1y"] 
  :u {:cat :noun
      :pronoun false
      :derivation {:rules-matched {:runtime-noun-analysis {:morphology-noun-plur-1 true}}}
      :agr {:number :plur}
      :regular true}}
      
 {:g [#"^(.*)fe$"   "$1ves"] ;; life -> lives
  :p [#"^(.*)ves$"  "$1fe"] 
  :u {:cat :noun
      :derivation {:rules-matched {:runtime-noun-analysis {:morphology-noun-plur-2 true}}}
      :pronoun false
      :agr {:number :plur}
      :regular true}}
 
 {:g [#"^(.*[cs]h)$"  "$1es"] ;;   ash   -> ashes
  :p [#"^(.*[cs]h)es$"  "$1"]  
  :u {:cat :noun
      :derivation {:rules-matched {:runtime-noun-analysis {:morphology-noun-plur-3 true}}}
      :pronoun false
      :agr {:number :plur}
      :regular true}}
      
 {:g [#"^(.*[sx])$"  "$1es"] ;; class   -> classes
  :p [#"^(.*)es$"    "$1"]   ;;
  :u {:cat :noun
      :pronoun false
      :derivation {:rules-matched {:runtime-noun-analysis {:morphology-noun-plur-4 true}}}
      :agr {:number :plur}
      :regular true}}
 
 {:g [#"^(.*)$"       "$1s"] ;; dog     -> dogs
  :p [#"^(.*)s$"      "$1"]  ;; dogs    -> dog
  :u {:cat :noun
      :derivation {:rules-matched {:runtime-noun-analysis {:morphology-noun-plur-5 true}}}
      :pronoun false
      :agr {:number :plur}
      :regular true}}]

