[{:g [#"^(.*)$"       "$1"] ;; no change in inflection for singular form.
  :p [#"^(.*)$"       "$1"] ;; no change in inflection for singular form.
  :u {:cat :noun
      :agr {:number :sing}}}

 {:g [#"^(.*)$"       "$1s"] ;; dog     -> dogs
  :p [#"^(.*)s$"      "$1"]  ;; dogs    -> dog
  :u {:cat :noun
      :agr {:number :plur}}}

 {:g [#"^(.*[hsx])$"  "$1es"] ;; ash     -> ashes
  :p [#"^(.*)es$"     "$1"]   ;; ashes   -> ash
  :u {:cat :noun
      :agr {:number :plur}}}]
