[{:g [#"^(.*ay)$"   "$1s"] ;; play  -> plays
  :p [#"^(.*ay)s$"  "$1y"] 
  :u {:cat :verb
      :infl :present
      :agr {:person :3rd
            :number :sing}}}
 {:g [#"^(.*)y$"   "$1ies"] ;; try  -> tries
  :p [#"^(.*)ies$" "$1y"] 
  :u {:cat :verb
      :infl :present
      :agr {:person :3rd
            :number :sing}}}
 {:g [#"^(.*)o$"   "$1oes"] ;; go  -> goes
  :p [#"^(.*)oes$" "$1o"] 
  :u {:cat :verb
      :infl :present
      :agr {:person :3rd
            :number :sing}}}
 {:g [#"^(.*e)$"  "$1s"] ;; give -> gives
  :p [#"^(.*e)s$" "$1"] 
  :u {:cat :verb
      :infl :present
      :agr {:person :3rd
            :number :sing}}}
 {:g [#"^(.*[^y])$"  "$1s"] ;; sleep -> sleeps
  :p [#"^(.*[^e])s$" "$1"] 
  :u {:cat :verb
      :infl :present
      :agr {:person :3rd
            :number :sing}}}
 {:g [#"^(.*)$"  "$1"] 
  :p [#"^(.*)$"  "$1"] 
  :u {:cat :verb
      :infl :present
      :agr {:person :1st
            :number :sing}}}
 {:g [#"^(.*)$"  "$1"] 
  :p [#"^(.*)$"  "$1"] 
  :u {:cat :verb
      :infl :present
      :agr {:person :2nd
            :number :sing}}}
 {:g [#"^(.*)$"  "$1"] 
  :p [#"^(.*)$"  "$1"] 
  :u {:cat :verb
      :infl :present
      :agr {:person :1st
            :number :plur}}}
 {:g [#"^(.*)$"  "$1"] 
  :p [#"^(.*)$"  "$1"] 
  :u {:cat :verb
      :infl :present
      :agr {:person :2nd
            :number :plur}}}
 {:g [#"^(.*)$"  "$1"] 
  :p [#"^(.*)$"  "$1"] 
  :u {:cat :verb
      :infl :present
      :agr {:person :3rd
            :number :plur}}}

 ;; bake/baked
 {:g [#"^(.*)e$" "$1ed"]
  :p [#"^(.*e)d$" "$1"]
  :u {:cat :verb
      :infl :past-simple}}

 ;; try/tried
 {:g [#"^(.*)y$" "$1ied"]
  :p [#"^(.*)ied$" "$1y"]
  :u {:cat :verb
      :infl :past-simple}}
 
 ;; walk/walked
 {:g [#"^(.*)$" "$1ed"]
  :p [#"^(.*)ed$" "$1"]
  :u {:cat :verb
      :infl :past-simple}}]
