{"bianco"
 [{:sem {:pred :white}}]
 "contento"
 [{:sem {:pred :happy}}]
 "pigro"
 [{:sem {:pred :lazy}}]
 "cattivo"
 [{:sem {:pred :bad}}]
 "nero"
 [{:sem {:pred :black}}]
 "primo"
 [{:sem {:pred :first}
   :modifies-noun :pre}]
 "triste"
 [{:sem {:pred :sad}}]}
