{
 "i"
 [{:agr {:gender :masc
         :number :plur}
   :sem {:pred :the}}]

 "il"
 [{:agr {:gender :masc
         :number :sing}
   :sem {:pred :the}}]

 "la"
  [{:agr {:gender :fem
          :number :sing}
    :sem {:pred :the}}]

 "le"
  [{:agr {:gender :fem
          :number :sing}
    :sem {:pred :the}}]
 }

