{
 "gli"
 [{:agr {:gender :masc
         :number :plur}
   :lo? true
   :sem {:pred :the}}]
 "i"
 [{:agr {:gender :masc
         :number :plur}
   :sem {:pred :the}}]
 "i loro"
 [{:agr {:gender :masc
         :number :plur}
   :sem {:pred :they}}]
 "i suo"
 [{:agr {:gender :masc
         :number :plur}
   :sem {:pred :he}}
  {:agr {:gender :masc
         :number :plur}
   :sem {:pred :she}}
  {:agr {:gender :masc
         :number :plur}
   :sem {:pred :you
         :ref {:context :formal}}}]
 "i vostri"
 [{:agr {:gender :masc
         :number :plur}
   :sem {:pred :they}}]
 "il"
 [{:agr {:gender :masc
         :number :sing}
   :sem {:pred :the}}]
 "il loro"
 [{:agr {:gender :masc
         :number :sing}
   :sem {:pred :they}}]
 "il nostro"
 [{:agr {:gender :masc
         :number :sing}
   :sem {:pred :we}}]
 "il suo"
 [{:agr {:gender :masc
         :number :sing}
   :sem {:pred :he}}
  {:agr {:gender :masc
         :number :sing}
   :sem {:pred :she}}
  {:agr {:gender :masc
         :number :sing}
   :sem {:pred :you
         :ref {:context :formal}}}]
 "il tuo"
 [{:agr {:gender :masc
         :number :sing}
   :sem {:pred :you
         :ref {:number :sing
               :context :informal}}}]
 "il vostro"
 [{:agr {:gender :masc
         :number :sing}
   :sem {:pred :you
         :ref {:number :plur
               :context :informal}}}]
 "l'"
  [{:agr {:gender :fem
          :number :sing}
    :sem {:pred :the}}]
 "la"
  [{:agr {:gender :fem
          :number :sing}
    :sem {:pred :the}}]
 "la loro"
 [{:agr {:gender :fem
         :number :sing}
   :sem {:pred :they}}]
 "la sua"
 [{:agr {:gender :fem
         :number :sing}
   :sem {:pred :he}}
  {:agr {:gender :fem
         :number :sing}
   :sem {:pred :she}}
  {:agr {:gender :fem
         :number :sing}
   :sem {:pred :you
         :ref {:context :formal}}}]
 "la tua"
 [{:agr {:gender :fem
         :number :sing}
   :sem {:pred :you
         :ref {:number :sing
               :context :informal}}}]
 "le loro"
 [{:agr {:gender :fem
         :number :plur}
   :sem {:pred :they}}]
 "la vostra"
 [{:agr {:gender :fem
         :number :sing}
   :sem {:pred :you
         :ref {:number :plur
               :context :informal}}}]
 "le sua"
 [{:agr {:gender :fem
         :number :plur}
   :sem {:pred :he}}
  {:agr {:gender :fem
         :number :plur}
   :sem {:pred :she}}
  {:agr {:gender :fem
         :number :plur}
   :sem {:pred :you
         :ref {:context :formal}}}]
 "le"
  [{:agr {:gender :fem
          :number :plur}
    :sem {:pred :the}}]
 "lo"
  [{:agr {:gender :masc
          :number :sing}
    :lo? true
    :sem {:pred :the}}]
 "un"
 [{:agr {:gender :masc
         :number :sing}
   :sem {:pred :some}}]
 "un'"
 [{:agr {:gender :masc
         :number :sing}
   :sem {:pred :some}}]
 "uno"
 [{:agr {:gender :masc
         :number :sing}
   :sem {:pred :some}}]
 "una"
 [{:agr {:gender :fem
         :number :sing}
   :sem {:pred :some}}]
 }
