{"noi" [{:case :nom
         :agr {:number :plur
               :person :1st}
         :sem {:ref {:human? true}
               :pred :we}
         :reflexive? false}]

 "tu" [{:case :nom
        :agr {:number :sing
              :person :2nd
              :formal? false}
        :sem {:ref {:human? true
                    :context :informal}
              :pred :you}
        :reflexive? false}]

 "lei" [{:case :nom
           :agr {:number :sing
                 :person :2nd
                 :formal? true}
           :sem {:ref {:human? true
                       :context :formal}
                 :pred :you}
           :reflexive? false}]

 "loro" [{:case :nom
             :agr {:number :plur
                   :person :3rd
                   :formal? true}
             :sem {:ref {:human? true
                         :context :formal}
                   :pred :they}
             :reflexive? false}]

"io" [{:case :nom
        :agr {:number :sing
              :person :1st}
        :sem {:ref {:human? true}
              :pred :i}
        :reflexive? false}]}
