[
 {:rule :unset-cat
  :if {:cat ::unspec}
  :then [{:cat :unset}]}

 {:rule :canonical-equals-root
  :if :top
  :then [(let [canonical (atom :top)]
           {:canonical canonical
            :root canonical})]}

 {:rule :stems?
  :if {:cat :verb
       :stems ::unspec}
  :then [{:stems {:boot? false
                  :futuro? false
                  :preterito? false}}]}

 {:rule :boot-stem?
  :if {:cat :verb
       :stems? true
       :stems {:boot ::unspec}}
  :then [{:stems {:boot? false}}]}

 {:rule :futuro-stem?
  :if {:cat :verb
       :stems? true
       :stems {:futuro ::unspec}}
  :then [{:stems {:futuro? false}}]}

 {:rule :preterito-stem?
  :if {:cat :verb
       :stems? true
       :stems {:preterito ::unspec}}
  :then [{:stems {:preterito? false}}]}

 {:rule :lo-determiner-default-false
  :if {:cat :det
       :lo? ::unspec}
  :then [{:lo? false}]}
 
 {:rule :lo-noun
  :if {:cat :noun
       :canonical #"^st.*$"}
  :then [{:subcat {:1 {:lo? true}}}]}

 {:rule :lo-noun-default-false
  :if {:cat :noun
       :subcat {:1 {:lo? ::unset}}}
  :then [{:subcat {:1 {:lo? false}}}]}
 
 ]
