{"abbandonare" [{:sem {:pred :abandon}}]
 "abbassare" [{:sem {:pred :lower}}]
 "abbracciare" [{:sem {:pred :hug}}
                {:sem {:pred :embrace}}]
 "abitare" [{:sem {:pred :live-a}}]
 "abituarsi" [{:sem {:pred :get-used-to}
               :reflexive? true}]
 "accettare" [{:sem {:pred :accept}}]
 "accompagnare" [{:sem {:pred :accompany}}]
 "addormentarsi" [{:sem {:pred :fall-asleep
                         :subj {:animate? true}}
                   :reflexive? true}]
 "aggiungere" [{:passato "aggiunto"
                :sem {:pred :add}}]
 "aiutare" [{:sem {:pred :help}}]
 "alzarsi" [{:sem {:pred :get-up}
             :reflexive? true}]
 "amare" [{:sem {:pred :amare}}]
 "ammirare" [{:sem {:pred :admire}}]
 "andare" [{:drop-e? true
            :future-stem "andr"
            :present {:1sing "vado"
                      :2sing "vai"
                      :3sing "va"
                      :1plur "andiamo"
                      :2plur "andate"
                      :3plur "vanno"}
            :essere? true
            :intransitive? true
            :sem {:subj {:animate true}
                  :pred :go}}]
 "annoiarsi" [{:sem {:pred :get-bored}
               :reflexive? true}]
 "annunciare" [{:sem {:pred :announce}}]
 "appoggiare" [{:sem {:pred :support}}]
 "apprendere" [{:sem {:pred :learn-a}
                :passato "appreso"}]

 "approfittare" [{:sem {:pred :take-advantage-of}}]

 "approvare" [{:sem {:pred :approve}}]

 "aprire"  [{:sem {:pred :open}
             :passato "aperto"}]

 "arrabbiarsi" [{:sem {:pred :get-angry
                       :subj {:animate true}}}]

 "arrampicarsi" [{:sem {:pred :climb
                        :subj {:animate true}}}]
 
 "arrivare" [{:essere? true
              :intransitive? true
              :sem {:pred :arrive}}]

 "ascoltare"  [{:sem {:pred :listen-to}}]

 "aspettare"  [{:sem {:pred :wait-for}}]

 "assicurare" [{:sem {:pred :assure}}
               {:sem {:pred :insure}}]

 "aumentare"  [{:sem {:pred :increase}}]

 "avere"
 (let [exceptions {:future-stem "avr"
                   :drop-e true
                   :present {:1sing "ho"
                             :2sing "hai"
                             :3sing "ha"
                             :1plur "abbiamo"
                             :2plur "avete"
                             :3plur "hanno"}}]
   ;; 1. "avere": to possess something buyable
   [{:exceptions exceptions
     :note "avere (possess)"
     :synsem {:sem {:pred :have}}}

    ;; 2. "avere": to be in a familial or social relation with:
    ;; e.g. "ho due bambini (I have two children)"
    {:exceptions exceptions
     :note "avere (relation)"
     :synsem {:sem {:pred :have}}}

    ;; 3. avere: unspecified object
    ;; TODO: remove: should be generated automatically via
    ;; intransitivization
    ;;
    {:exceptions exceptions
     :note "avere (possess): unspecified object"
     :sem {:pred :have}}

    ;; 4. passato transitive
    (let [agr (atom :top)]
      {:exceptions exceptions
       :note "passato prossimo transitive"
       :aux? true
       :transitive? true
       :sem {:tense :present
             :aspect :perfect}
       :subcat {:2 {:agr agr
                    :cat :verb
                    :reflexive? false
                    :transitive? true
                    :subcat {:2 {:agr agr
                                 :pronoun true}}
                    :essere? false}}})

    ;; 5. passato prossimo intransitive
    {:exceptions exceptions
     :note "passato prossimo intransitive"
     :aux? true
     :infl :present
     :sem {:tense :present
           :aspect :perfect}
     :subcat {:2 {:reflexive? false
                  :essere? false
                  :infl :passato
                  :cat :verb
                  ;; in Italian, reflexive verbs are always essere=true.
                  ;; this additional qualification here (:reflexive false) is not necessary
                  ;; but is expected to speed up generation.
                  :subcat {:2 []}}}}

    ;; 6. trapassato intransitive
    {:exceptions exceptions
     :note "trapassato intransitive"
     :aux? true
     :infl :imperfetto
     :sem {:tense :past
           :aspect :pluperfect}
     :subcat {:2 {:reflexive? false
                  :infl :passato
                  :cat :verb
                  :essere false
                  ;; in Italian, reflexive verbs are always essere=true.
                  ;; this additional qualification here (:reflexive false) is not necessary
                  ;; but is expected to speed up generation
                  :subcat {:2 []}}}}

    ;; TODO: add trapassato transitive
    ;; TODO: add avere bisogno di X => need X
    ])

 "ballare" [{:sem {:pred :dance}}]
 "bere" [{:exceptions {:passato "bevuto"
                       :future-stem "berr"
                       :imperfetto {:1sing "bevevo"
                                    :2sing "bevevi"
                                    :3sing "beveva"
                                    :1plur "bevevamo"
                                    :2plur "bevevate"
                                    :3plur "bevevano"}
                       :present {:1sing "bevo"
                                 :2sing "bevi"
                                 :3sing "beve"
                         :1plur "beviamo"
                                 :2plur "bevete"
                                 :3plur "bevono"}
                       :gerund "bevendo"}
          :transitivity :transitive
          :sem {:pred :drink
                :subj {:animate true}
                :obj {:drinkable true}}}]
 "cadere" [{:essere? true
            :sem {:pred :fall}
            :exceptions {:future-stem "cadr"}}]
 "cambiare" [{:sem {:pred :change}}]
 "cambiarsi" [{:sem {:pred :change-clothes}}]
 "cancellare" [{:sem {:pred :erase}}]
 "cantare" [{:sem {:pred :sing}}]
 "camminare" [{:sem {:pred :walk}}]
 "capire" [{:exceptions {:boot-verb? true}
            :sem {:pred :understand}}]
 "caricare" [{:exceptions {:future-stem "caricher"}
              :sem {:pred :charge}}]

 "cenare" [{:synsem {:cat :verb
                     :sem {:pred :have-dinner}}}]

 "cercare"  (let [exceptions {:future-stem "cercher"}]
              [{:exceptions exceptions
                :sem {:pred :look-for}}
               {:exceptions exceptions
                :sem {:pred :look-up}}])

 "chiacchierare" [{:sem {:pred :chat}}]

 "chiamarsi" (let [gender (atom :top)
                   human (atom :top)
                   number (atom :top)
                   name-semantics {:human human}]
               [
                ;; Lei si chiama Luisa.
                {:sem {:pred :be-called
                       :iobj name-semantics}
                 :subcat {:1 {:agr {:gender gender
                                    :number number}
                              :sem {:human human}
                              :propernoun? false} ;; avoid e.g. "Luisa si chiama Luisa".
                          :3 {:agr {:gender gender
                                    :number number}
                              :cat :noun
                              :sem name-semantics
                              :propernoun? true}}}

                ;; Si chiama Luisa.
                {:sem {:pred :be-called
                       :iobj name-semantics}
                 :subcat {:1 {:pronoun? true
                              :cat :noun
                              :case :acc
                              :reflexive? true}
                          :2 {:agr {:gender gender
                                    :number number}
                              :cat :noun
                              :sem name-semantics
                              :propernoun? true}}}])

 "chiedere" [{:sem {:subj {:human true}
                    :pred :ask-for}
              :exceptions {:passato "chiesto"}}]

 "chiudere" [{:sem {:pred :close}
              :exceptions {:passato "chiuso"}}]

 "colpire" (let [exceptions {:boot-verb? true}]
             [{:exceptions exceptions
               :sem {:pred :hit}}
              {:exceptions exceptions
               :sem {:pred :strike}}])

 "cominciare" [{:sem {:pred :begin}}
               {:sem {:pred :start}}]

 "commentare" [{:sem {:pred :comment}}]
 
 "comprare" [{:sem {:pred :buy}}]
 
 "condividere" [{:sem {:pred :share}
                 :exceptions {:passato "condiviso"}}]
 
 "conoscere" [{:sem {:pred :know-c}
               :exceptions {:passato "conosciuto"}}]

 "conservare" [{:sem {:pred :conserve}}
               {:sem {:pred :preserve}}]

 "considerare" [{:sem {:pred :consider}}]

 "contare" [{:sem {:pred :count}}]

 "continuare" [{:sem {:pred :continue}}]

 "contraccambiare" [{:sem {:pred :reciprocate}}]

 "correre"  [{:exceptions {:passato "corso"}
              :sem {:pred :run}}]

 "corrispondere" [{:exceptions {:passato "corrisposto"}
                   :sem {:pred :correspond}}]

 "creare" [{:sem {:pred :create}}]

 "credere" [{:sem {:subj {:human true}
                   :pred :believe}}]

 "controllare" [{:sem {:pred :check}}]
 
 }




