{"abbandonare" [{:sem {:pred :abandon}}]
 "abbassare" [{:sem {:pred :lower}}]
 "abbracciare" [{:sem {:pred :hug}}
                {:sem {:pred :embrace}}]
 "abitare" [{:sem {:pred :live-a}}]
 "abituarsi" [{:sem {:pred :get-used-to}
               :reflexive? true}]
 "accettare" [{:sem {:pred :accept}}]
 "accompagnare" [{:sem {:pred :accompany}}]
 "addormentarsi" [{:sem {:pred :fall-asleep
                         :subj {:animate? true}}
                   :reflexive? true}]
 "aggiungere" [{:passato "aggiunto"
                :sem {:pred :add}}]
 "aiutare" [{:sem {:pred :help}}]
 "alzarsi" [{:sem {:pred :get-up}
             :reflexive? true}]
 "amare" [{:sem {:pred :amare}}]
 "ammirare" [{:sem {:pred :admire}}]
 "andare" [{:drop-e? true
            :future-stem "andr"
            :present {:1sing "vado"
                      :2sing "vai"
                      :3sing "va"
                      :1plur "andiamo"
                      :2plur "andate"
                      :3plur "vanno"}
            :essere? true
            :intransitive? true
            :sem {:subj {:animate true}
                  :pred :go}}]
 "annoiarsi" [{:sem {:pred :get-bored}
               :reflexive? true}]
 "annunciare" [{:sem {:pred :announce}}]
 "appoggiare" [{:sem {:pred :support}}]
 "apprendere" [{:sem {:pred :learn-a}
                :passato "appreso"}]

 "approfittare" [{:sem {:pred :take-advantage-of}}]

 "approvare" [{:sem {:pred :approve}}]

 "aprire"  [{:sem {:pred :open}
             :passato "aperto"}]

 "arrabbiarsi" [{:sem {:pred :get-angry
                       :subj {:animate true}}}]

 "arrampicarsi" [{:sem {:pred :climb
                        :subj {:animate true}}}]
 
 "arrivare" [{:essere? true
              :intransitive? true
              :sem {:pred :arrive}}]

 "ascoltare"  [{:sem {:pred :listen-to}}]

 "aspettare"  [{:sem {:pred :wait-for}}]

 "assicurare" [{:sem {:pred :assure}}
               {:sem {:pred :insure}}]

 "aumentare"  [{:sem {:pred :increase}}]

 "avere"
 (let [exceptions {:future-stem "avr"
                   :drop-e? true
                   :present {:1sing "ho"
                             :2sing "hai"
                             :3sing "ha"
                             :1plur "abbiamo"
                             :2plur "avete"
                             :3plur "hanno"}}]
   ;; 1. "avere": to possess something buyable
   [{:exceptions-source exceptions
     :note "avere (possess)"
     :synsem {:sem {:pred :have}}}

    ;; 2. "avere": to be in a familial or social relation with:
    ;; e.g. "ho due bambini (I have two children)"
    {:exceptions-source exceptions
     :note "avere (relation)"
     :synsem {:sem {:pred :have}}}

    ;; 3. avere: unspecified object
    ;; TODO: remove: should be generated automatically via
    ;; intransitivization
    ;;
    {:exceptions-source exceptions
     :note "avere (possess): unspecified object"
     :sem {:pred :have}}

    ;; 4. passato transitive
    (let [agr (atom :top)]
      {:exceptions-source exceptions
       :note "passato prossimo transitive"
       :aux? true
       :transitive? true
       :sem {:tense :present
             :aspect :perfect}
       :subcat {:2 {:agr agr
                    :cat :verb
                    :reflexive? false
                    :transitive? true
                    :subcat {:2 {:agr agr
                                 :pronoun true}}
                    :essere? false}}})

    ;; 5. passato prossimo intransitive
    {:exceptions-source exceptions
     :note "passato prossimo intransitive"
     :aux? true
     :infl :present
     :sem {:tense :present
           :aspect :perfect}
     :subcat {:2 {:reflexive? false
                  :essere? false
                  :infl :passato
                  :cat :verb
                  ;; in Italian, reflexive verbs are always essere=true.
                  ;; this additional qualification here (:reflexive false) is not necessary
                  ;; but is expected to speed up generation.
                  :subcat {:2 []}}}}

    ;; 6. trapassato intransitive
    {:exceptions-source exceptions
     :note "trapassato intransitive"
     :aux? true
     :infl :imperfetto
     :sem {:tense :past
           :aspect :pluperfect}
     :subcat {:2 {:reflexive? false
                  :infl :passato
                  :cat :verb
                  :essere? false
                  ;; in Italian, reflexive verbs are always essere=true.
                  ;; this additional qualification here (:reflexive false) is not necessary
                  ;; but is expected to speed up generation
                  :subcat {:2 []}}}}

    ;; TODO: add trapassato transitive
    ;; TODO: add avere bisogno di X => need X
    ])

 "ballare" [{:sem {:pred :dance}}]
 "bere" [{:exceptions-source {:passato "bevuto"
                       :future-stem "berr"
                       :imperfetto {:1sing "bevevo"
                                    :2sing "bevevi"
                                    :3sing "beveva"
                                    :1plur "bevevamo"
                                    :2plur "bevevate"
                                    :3plur "bevevano"}
                       :present {:1sing "bevo"
                                 :2sing "bevi"
                                 :3sing "beve"
                                 :1plur "beviamo"
                                 :2plur "bevete"
                                 :3plur "bevono"}
                       :gerund "bevendo"}
          :transitivity :transitive
          :sem {:pred :drink
                :subj {:animate true}
                :obj {:drinkable true}}}]
 "cadere" [{:essere? true
            :sem {:pred :fall}
            :exceptions-source {:future-stem "cadr"}}]
 "cambiare" [{:sem {:pred :change}}]
 "cambiarsi" [{:sem {:pred :change-clothes}}]
 "cancellare" [{:sem {:pred :erase}}]
 "cantare" [{:sem {:pred :sing}}]
 "camminare" [{:sem {:pred :walk}}]
 "capire" [{:exceptions-source {:boot-verb? true}
            :sem {:pred :understand}}]
 "caricare" [{:exceptions-source {:future-stem "caricher"}
              :sem {:pred :charge}}]

 "cenare" [{:synsem {:cat :verb
                     :sem {:pred :have-dinner}}}]

 "cercare"  (let [exceptions {:future-stem "cercher"}]
              [{:exceptions-source exceptions
                :sem {:pred :look-for}}
               {:exceptions-source exceptions
                :sem {:pred :look-up}}])

 "chiacchierare" [{:sem {:pred :chat}}]

 "chiamarsi" (let [gender (atom :top)
                   human (atom :top)
                   number (atom :top)
                   name-semantics {:human human}]
               [
                ;; Lei si chiama Luisa.
                {:sem {:pred :be-called
                       :iobj name-semantics}
                 :subcat {:1 {:agr {:gender gender
                                    :number number}
                              :sem {:human human}
                              :propernoun? false} ;; avoid e.g. "Luisa si chiama Luisa".
                          :3 {:agr {:gender gender
                                    :number number}
                              :cat :noun
                              :sem name-semantics
                              :propernoun? true}}}

                ;; Si chiama Luisa.
                {:sem {:pred :be-called
                       :iobj name-semantics}
                 :subcat {:1 {:pronoun? true
                              :cat :noun
                              :case :acc
                              :reflexive? true}
                          :2 {:agr {:gender gender
                                    :number number}
                              :cat :noun
                              :sem name-semantics
                              :propernoun? true}}}])

 "chiedere" [{:sem {:subj {:human true}
                    :pred :ask-for}
              :exceptions-source {:passato "chiesto"}}]

 "chiudere" [{:sem {:pred :close}
              :exceptions-source {:passato "chiuso"}}]

 "colpire" (let [exceptions {:boot-verb? true}]
             [{:exceptions-source exceptions
               :sem {:pred :hit}}
              {:exceptions-source exceptions
               :sem {:pred :strike}}])

 "cominciare" [{:sem {:pred :begin}}
               {:sem {:pred :start}}]

 "commentare" [{:sem {:pred :comment}}]
 
 "comprare" [{:sem {:pred :buy}}]
 
 "condividere" [{:sem {:pred :share}
                 :exceptions-source {:passato "condiviso"}}]
 
 "conoscere" [{:sem {:pred :know-c}
               :exceptions-source {:passato "conosciuto"}}]

 "conservare" [{:sem {:pred :conserve}}
               {:sem {:pred :preserve}}]

 "considerare" [{:sem {:pred :consider}}]

 "contare" [{:sem {:pred :count}}]

 "continuare" [{:sem {:pred :continue}}]

 "contraccambiare" [{:sem {:pred :reciprocate}}]

 "correre"  [{:exceptions-source {:passato "corso"}
              :sem {:pred :run}}]

 "corrispondere" [{:exceptions-source {:passato "corrisposto"}
                   :sem {:pred :correspond}}]

 "creare" [{:sem {:pred :create}}]

 "credere" [{:sem {:subj {:human true}
                   :pred :believe}}]

 "controllare" [{:sem {:pred :check}}]

 ;; TODO: account for "dare" being ditransitive.
 "dare"  [{:sem {:pred :give}
           :exceptions-source {:present {:2sing "dai"
                                  :3plur "danno"}
                        :future-stem "dar"}}]

 "decidere" [{:sem {:pred :decide}
              :exceptions-source {:passato "deciso"}}]

 "deludere" [{:exceptions-source {:passato "deluso"}
              :sem {:pred :disappoint}}]

 "desiderare" [{:sem {:pred :desire}}]

 "dettare" [{:sem {:pred :dictate}}]

 "dimenticare" [{:sem {:pred :forget}}]

 "dipingere" [{:sem {:pred :paint}
               :exceptions-source {:passato "dipinto"}}]

 "dire" (let [exceptions {:drop-e false
                          :present {:1sing "dico"
                                    :2sing "dici"
                                    :3sing "dice"
                                    :1plur "diciamo"
                                    :2plur "dite"
                                    :3plur "dicono"}
                          :imperfetto {:1sing "dicevo"
                                       :2sing "dicevi"
                                       :3sing "diceva"
                                       :1plur "dicevamo"
                                       :2plur "dicevate"
                                       :3plur "dicevano"}
                          :passato "detto"
                          :future-stem "dir"
                          :gerund "dicendo"}]
          [{:exceptions-source exceptions
            :sem {:pred :say}}
           {:exceptions-source exceptions
            :sem {:pred :tell}}])

 "disegnare" [{:sem {:pred :draw}}]

 "diventare" [{:essere? true
               :sem {:pred :become}}]

 "divertirsi" [{:synsem {:cat :verb
                         :sem {:pred :have-fun
                               :reflexive true}}}]
               
 "dormire" [{:sem {:pred :sleep}
             :transitivity :intransitve}]

 "dovere" [{:sem {:pred :have-to}
            :exceptions-source {:future-stem "dovr"
                         :drop-e true
                         :present {:1sing "devo"
                                   :2sing "devi"
                                   :3sing "deve"
                                   :1plur "dobbiamo"
                                   :2plur "dovete"
                                   :3plur "devono"}}}]

 "essere"
 (let [exceptions {:future-stem "sar"
                   :infinitive "essere"
                   :present {:1sing "sono"
                             :2sing "sei"
                             :3sing "è"
                             :1plur "siamo"
                             :2plur "siete"
                             :3plur "sono"}
                   :passato "stato"
                   :imperfetto {:1sing "ero"
                                :2sing "eri"
                                :3sing "era"
                                :1plur "eravamo"
                                :2plur "eravate"
                                :3plur "erano"}
                   :future {:1sing "sarò"
                            :2sing "sarai"
                            :3sing "sarà"
                            :1plur "saremo"
                            :2plur "sarete"
                            :3plur "saranno"}
                   :conditional {:1sing "sarei"
                                 :2sing "saresti"
                                 :3sing "sarebbe"
                                 :1plur "saremmo"
                                 :2plur "sareste"
                                 :3plur "sarebbero"}}]
   [{:exceptions-source exceptions
     :notes "to-be"
     :essere? true
     :sem {:pred :be}}

    {:exceptions-source exceptions
     :notes "essere-aux-passato"
     :essere? true
     :aux? true
     :infl :present
     :sem {:tense :present
           :aspect :perfect}
     :subcat {:2 {:essere? true
                  :cat :verb
                  :infl :passato}}}

    {:exceptions-source exceptions
     :notes "essere-aux-trapassato"
     :essere? true
     :aux? true
     :infl :imperfetto
     :sem {:tense :past
           :aspect :pluperfect}
     :subcat {:2 {:essere? true
                  :cat :verb
                  :infl :passato}}}])

 "evitare"  [{:sem {:pred :avoid}}]
 "fare"
 (let [exceptions {:drop-e? false
                   :passato "fatto"
                   :future-stem "far"
                   :gerund "facendo"
                   :imperfetto {:1sing "facevo"
                                :2sing "facevi"
                                :3sing "faceva"
                                :1plur "facevamo"
                                :2plur "facevate"
                                :3plur "facevano"}
                   :present {:1sing "faccio"
                             :2sing "fai"
                             :3sing "fa"
                             :1plur "facciamo"
                             :2plur "fate"
                             :3plur "fanno"}}]
   [{:exceptions-source exceptions
     :sem {:pred :do}}
    {:exceptions-source exceptions
     :sem {:pred :make}}])

 "ferire" [{:exceptions-source {:boot-verb? true}
            :sem {:pred :wound}}]

 "finire" [{:exceptions-source {:boot-verb? true}
            :sem {:pred :finish}}]

 "fermare" [{:sem {:pred :stop}}]

 "fermarsi" [{:sem {:pred :stop-oneself}}]

 "formare"  [{:sem {:pred :form}}]

 "fornire"  [{:sem {:pred :furnish}
              :exceptions-source {:boot-verb? true}}]

 "frequentare" [{:sem {:pred :attend}}]

 "fumare"  [{:sem {:pred :smoke}}]

 "funzionare" [{:sem {:pred :work-nonhuman}}]

 "gestire" [{:exceptions-source {:boot-verb? true}
             :sem {:pred :manage}}]

 "giocare"  [{:sem {:pred :play-games}
             :exceptions-source {:future-stem "giocher"}}]

 "gridare" [{:sem {:pred :yell}}]

 "guadagnare" [{:sem {:pred :earn}}]

 "guardare"  [{:sem {:pred :look-at}}]

 "guidare"  [{:sem {:pred :drive}}]

 "imparare" [{:sem {:pred :learn-i}}]

 "impegnare" [{:sem {:pred :engage}}]

 "incontrare" [{:sem {:pred :meet}}]

 "indossare" [{:sem {:pred :wear-i}}]

 "informare" [{:sem {:pred :inform}}]

 "innamorarsi" [{:sem {:pred :fall-in-love}}]

 "insegnare" [{:sem {:pred :teach}}]

 "interrompere"
 [{:exceptions-source {:passato "interrotto"} :sem {:pred :interrupt}}]

 "lamentarsi" [{:sem {:pred :complain}}]

 "lasciare" [{:sem {:pred :leave-behind}}]

 "lavare" [{:sem {:pred :wash}}]

 "lavarsi" [{:sem {:pred :wash-oneself}}]

 "lavorare" [{:sem {:pred :work-human}}]

 "leggere"
 [{:exceptions-source {:passato "letto"}
   :sem {:discrete false :pred :read}}]

 "macchiare" [{:sem {:pred :stain}}]

 "mancare"
 [{:exceptions-source {:future-stem "mancher"} :sem {:pred :mancare}}]

 "mandare" [{:sem {:pred :send}}]

 "mangiare"
 [{:transitivity :transitive
   :sem {:pred :eat :subj {:animate true} :obj {:edible? true}}}
  {:transitivity? :intransitive
   :sem {:pred :eat :subj {:animate true}}}]

 "mentire" [{:sem {:pred :lie}}]

 "mettere" [{:exceptions-source {:passato "messo"} :sem {:pred :put}}]

 "mettersi"
 [{:exceptions-source {:passato "messo"} :sem {:pred :put-oneself}}]

 "migliorare" [{:sem {:pred :improve}}]

 "misurare" [{:sem {:pred :measure}}]

 "moltiplicare" [{:sem {:pred :multiply}}]

 "morire"
 [{:exceptions-source
   {:passato "morto"
    :present
    {:1sing "muoio"
     :2sing "muori"
     :3sing "muore"
     :1plur "moriamo"
     :2plur "morite"
     :3plur "muoiono"}}
   :sem {:pred :die}}]

 "mostrare" [{:sem {:pred :show}}]

 "muovere" [{:exceptions-source {:passato "mosso"} :sem {:pred :move}}]

 "nascere" [{:exceptions-source {:passato "nato"} :sem {:pred :be-born}}]

 "nuotare" [{:sem {:pred :swim}}]

 "osservare" [{:sem {:pred :observe}}]

 "ottenere"
 [{:exceptions-source
   {:passato "ottenuto"
    :present
    {:1sing "ottengo"
     :2sing "ottieni"
     :3sing "ottiene"
     :3plur "ottengono"}
    :future-stem "otterr"}
   :sem {:pred :obtain}}]

 "pagare" [{:sem {:pred :pay}}],
 "parlare" [{:sem {:pred :speak}} {:sem {:pred :talk}}],
 "partire" [{:sem {:pred :leave-trip}}],
 "passare" [{:sem {:pred :pass}}],
 "pensare" [{:sem {:pred :think}}],
 "perdere" [{:exceptions-source {:passato "perso"}, :sem {:pred :lose}}],
 "pettinarsi" [{:sem {:pred :comb-oneself}}],
 "piacere"
 [{:exceptions-source
   {:passato "piaciuto",
    :present
    {:1sing "piaccio", :1plur "piacciamo", :3plur "piacciono"}},
   :sem {:pred :be-pleasant}}],
 "piangere" [{:exceptions-source {:passato "pianto"}, :sem {:pred :cry}}],
 "piegare" [{:sem {:pred :fold}}],
 "portare" [{:sem {:pred :carry}} {:sem {:pred :wear-p}}],
 "potere"
 (let [exceptions {:future-stem "potr",
                   :drop-e true,
                   :present
                   {:1sing "posso",
                    :2sing "puoi",
                     :3sing "può",
                    :1plur "possiamo",
                    :2plur "potete",
                    :3plur "possono"}}]
   [{:exceptions-source exceptions
     :sem {:pred :may}}
    {:exceptions-source exceptions
     :sem {:pred :be-able-to}}])
 "preferire" [{:exceptions-source {:boot-verb true}, :sem {:pred :prefer}}],
 "prendere" [{:exceptions-source {:passato "preso"}, :sem {:pred :grab}}],
 "prenotare" [{:sem {:pred :reserve}}],
 "preoccuparsi" [{:sem {:pred :worry}}],
 "preparare" [{:sem {:pred :prepare}}],
 "prepararsi" [{:sem {:pred :get-ready}}],
 "presentare" [{:sem {:pred :present}}
               {:sem {:pred :introduce-p}}]
 "prestare" [{:sem {:pred :lend}}],
 "pulire" [{:exceptions-source {:boot-verb true}, :sem {:pred :clean}}],
 "punire" [{:exceptions-source {:boot-verb true}, :sem {:pred :punish}}],
 "raccontare" [{:sem {:pred :recount}}],
 "radersi" [{:exceptions-source {:passato "raso"}, :sem {:pred :shave}}],
 "recuperare" [{:sem {:pred :recover}}],
 "rendere"
 (let [exceptions {:passato "reso"}]
   [{:sem {:pred :render}}
    {:sem {:pred :give-back-return-ren}}])
 "restare" [{:sem {:pred :remain-re}}],
 "restituire"
 [{:exceptions-source {:boot-verb true},
   :sem {:pred :give-back-return-res}}],
 "ricevere" [{:sem {:pred :receive}}],
 "riconoscere"
 [{:exceptions-source {:passato "riconosciuto"}, :sem {:pred :recognize}}],
 "ricordare" [{:sem {:pred :remember}}],
 "riempire"
 [{:exceptions-source
   {:present
    {:1sing "riempio", :3sing "riempie", :3plur "riempiono"}},
   :sem {:pred :fill}}],
 "rimanere"
 [{:exceptions-source
   {:passato "rimasto",
    :present {:1sing "rimango", :3plur "rimangono"},
    :future-stem "rimarr"},
   :sem {:pred :remain-ri}}],
 "riparare" [{:sem {:pred :repair}}],
 "ripetere" [{:sem {:pred :repeat}}],
 "riposare" [{:sem {:pred :rest}}],
 "riposarsi" [{:sem {:pred :rest-oneself, :subj {:animate true}}}],
 "riscaldare" [{:sem {:pred :warm-up}}],
 "rispondere"
 [{:exceptions-source {:passato "risposto"}, :sem {:pred :answer}}],
 "ritornare" [{:sem {:pred :return-r}}],
 "riuscire" [{:sem {:pred :succeed}}],
 "rompere" [{:exceptions-source {:passato "rotto"}, :sem {:pred :break}}],
 "rovinare" [{:sem {:pred :ruin}}],
 "rubare" [{:sem {:pred :steal}}],
 "salire"
 (let [exceptions {:present {:1sing "salgo", :3plur "salgono"}}]
   [{:sem {:pred :get-on}}
    {:sem {:pred :go-upstairs}}])
 "sapere"
 [{:exceptions-source
   {:present
    {:1sing "so",
     :2sing "sai",
     :3sing "sa",
     :1plur "sappiamo",
     :3plur "sanno"},
    :future-stem "sapr"},
   :sem {:pred :know-s}}],
 "scappare" [{:sem {:pred :escape}}],
 "scaricare" [{:sem {:pred :download}}],
 "scattare" [{:sem {:pred :snap-pictures}}],
 "scendere"
 [{:exceptions-source {:passato "sceso"}, :sem {:pred :get-off}}
  {:exceptions-source {:passato "sceso"}, :sem {:pred :go-downstairs}}],
 "scrivere"
 [{:exceptions-source {:passato "scritto"}, :sem {:pred :write}}],
 "sedersi" [{:exceptions-source
             {:present
              {:1sing "siedo",
               :2sing "siedi",
               :3sing "siede",
               :1plur "sediamo",
               :2plur "sedete",
               :3plur "siedono"}},
             :sem {:pred :sit-down, :subj {:human true}}}],
 "seguire" [{:sem {:pred :follow}}],
 "sembrare" [{:sem {:pred :seem}}],
 "sentire" [{:sem {:pred :hear}}],
 "servire" [{:sem {:pred :be-necessary-s...}}],
 "sgridare" [{:sem {:pred :scold}}],
 "sistemare" [{:sem {:pred :organize-systematically}}],
 "sopportare" [{:sem {:pred :endure}}],
 "sospirare" [{:sem {:pred :sigh}}],
 "spalmare" [{:sem {:pred :spread-food}}],
 "sparire" [{:exceptions-source {:boot-verb true}, :sem {:pred :disappear-sp}}],
 "spedire" [{:exceptions-source {:boot-verb true}, :sem {:pred :send-s}}],
 "spegnere"  [{:exceptions-source
               {:passato "spento",
                :present {:1sing "spengo", :3plur "spengono"}},
               :sem {:pred :turn-off}}],
 "spendere" [{:exceptions-source {:passato "speso"}, :sem {:pred :spend}}],
 "spiegare" [{:sem {:pred :explain}}],
 "spostare" [{:sem {:pred :displace}}],
 "sprecare" [{:sem {:pred :waste}}],
 "stampare" [{:sem {:pred :print}}],
 "stare" [{:exceptions-source {:future-stem "star",
                        :present {:2sing "stai", :3plur "stanno"}}
           :essere? true
           :sem {:pred :stay}}]
 "studiare" [{:sem {:pred :study}}],
 "suonare" [{:sem {:subj {:human true}, :pred :play-music}}],
 "svegliarsi" [{:sem {:pred :wake-up}}],
 "svenire" [{:exceptions-source
             {:passato "svenuto",
              :present
              {:1sing "svengo",
               :2sing "svieni",
               :3sing "sviene",
               :3plur "svengono"},
              :future-stem "sverr"},
             :sem {:pred :faint}}],
 "sviluppare" [{:sem {:pred :develop}}],
 "tagliare" [{:sem {:pred :cut}}],
 "telefonare" [{:sem {:pred :telephone}}],
 "tenere" (let [exceptions {:passato "tenuto",
                            :present
                            {:1sing "tengo",
                             :2sing "tieni",
                             :3sing "tiene",
                             :3plur "tengono"},
                            :future-stem "terr"}]
            [{:exceptions-source exceptions
              :sem {:pred :hold}}
             {:exceptions-source exceptions             
              :sem {:pred :keep}}])
 "tirare" [{:sem {:pred :throw-t}}],
 "tornare" [{:sem {:pred :return-t}}],
 "trasferire" [{:exceptions-source {:boot-verb true}, :sem {:pred :transfer}}],
 "trattare" [{:sem {:pred :treat}}],
 "trovare" [{:sem {:pred :find}}],
 "usare" [{:sem {:pred :use}}],
 "uscire" (let [exceptions {:present
                            {:1sing "esco",
                             :2sing "esci",
                             :3sing "esce",
                             :3plur "escono"}}]
            [{:essere? true
              :sem {:pred :go-out}}
             {:essere? true
              :sem {:pred :exit}}])
 "vedere"
 [{:exceptions-source {:passato "visto", :future-stem "vedr"},
   :sem {:pred :see}}],
 "vendere" [{:sem {:pred :sell}}],
 "venire"
 [{:exceptions-source
   {:passato "venuto",
    :present
    {:1sing "vengo",
     :2sing "vieni",
     :3sing "viene",
     :3plur "vengono"},
    :future-stem "verr"},
   :sem {:pred :come}}],
 "vestirsi" [{:sem {:pred :get-dressed}}],
 "vincere" [{:exceptions-source {:passato "vinto"}, :sem {:pred :win}}],
 "vivere"
 [{:exceptions-source {:passato "vissuto", :future-stem "vivr"},
   :sem {:subj {:living true}, :pred :live-v}}],
 "volere"
 [{:exceptions-source
   {:future-stem "vorr",
    :drop-e true,
    :present
    {:1sing "voglio",
     :2sing "vuoi",
     :3sing "vuole",
     :1plur "vogliamo",
     :2plur "volete",
     :3plur "vogliono"}},
   :sem {:pred :want}}]

 }
 
