(let [plur-modifier
      {:cat :adjective
       :agr {:number :plur}
       :modifies-noun true}
      definite-singular-modifier
      {:cat :adjective
       :definite? true
       :agr {:number :sing}
       :modifies-noun true}
      indefinite-singular-common-modifier
      {:cat :adjective
       :definite? false
       :agr {:gender :common
             :number :sing}
       :modifies-noun true}]
  [{:g [#"" ""]
    :p [#"" ""]
    :u {:cat :adjective
        :null? false
        :sem {:number? true}}}
   {:g [#"" ""]
    :p [#"" ""]
    :u {:cat :adjective
        :null? true}}

   ;; F. p 4 "Adjectives have no ending if they precede a singular neuter noun in an indefinite context: i.e.
   ;;         after een 'a', geen 'no/not a', elk 'each'.."
   {:g [#"$" ""]
    :p [#"([^e])" "$1"]
    :u {:cat :adjective
        :agr {:gender :neuter
              :number :sing}
        :sem {:number? false}
        :definite? false
        :null? false
        :inflection :adj-no-e-suffix
        :modifies-noun true}}

   ;; generation: groot -> grote
   ;; parsing:    grote -> groot
   ;; TODO: use (let ..) to express commonalities, as we do below for
   ;; stom->stomme and dik->dikke
   ;; TODO: merge this with eenzaam -> eenzame
   ;; rule below.
   (let [g [#"ot$" "te"]
         p [#"te$" "ot"]]
     [{:g g
       :p p
       :u plur-modifier}
      {:g g
       :p p
       :u definite-singular-modifier}
      {:g g
       :p p
       :u indefinite-singular-common-modifier}])

   ;; generation: lief -> lieve
   ;; parsing:    lieve -> lief
   (let [g [#"f$"   "ve"]
         p [#"ve$"  "f"]]
     [{:g g
       :p p
       :u plur-modifier}
      {:g g
       :p p
       :u definite-singular-modifier}
      {:g g
       :p p
       :u indefinite-singular-common-modifier}])

   ;; generation: vies -> vieze
   ;; parsing:    vieze -> vies
   (let [g [#"s$"   "ze"]
         p [#"ze$"  "s"]]
     [{:g g
       :p p
       :u plur-modifier}
      {:g g
       :p p
       :u definite-singular-modifier}
      {:g g
       :p p
       :u indefinite-singular-common-modifier}])

   ;; generation: stom -> stomme
   ;; parsing:    stomme -> stom
   (let [g [#"([lt])([aeiou])([m])$" "$1$2$3$3e"]
         p [#"([lt])([aeiou])mme$"   "$1$2m"]]
     [{:g g
       :p p
       :u plur-modifier}
      {:g g
       :p p
       :u definite-singular-modifier}
      {:g g
       :p p
       :u indefinite-singular-common-modifier}])

   ;; generation: dik   -> dikke
   ;; parsing:    dikke -> dik
   (let [g [#"([d])([i])([k])$" "$1$2$3$3e"]
         p [#"([d])([i])kke$"   "$1$2k"]]
     [{:g g
       :p p
       :u plur-modifier}
      {:g g
       :p p
       :u definite-singular-modifier}
      {:g g
       :p p
       :u indefinite-singular-common-modifier}])

   ;; generation: openbaar -> openbare;eenzaam -> eenzame
   ;; parsing:    openbare -> openbaar;eenzame -> eenzaam
   (let [g [#"(a)(a)([mr])$"   "$1$3e"]
         p [#"a([mr])e$"       "aa$1"]]
     [{:g g
       :p p
       :u plur-modifier}
      {:g g
       :p p
       :u definite-singular-modifier}
      {:g g
       :p p
       :u indefinite-singular-common-modifier}])

   ;; buitengewoon -> buitengewone
   (let [g [#"(o)(o)([n])$"   "$1$3e"]
         p [#"o([n])e$"       "oo$1"]]
     [{:g g
       :p p
       :u plur-modifier}
      {:g g
       :p p
       :u definite-singular-modifier}
      {:g g
       :p p
       :u indefinite-singular-common-modifier}])

   ;; generation: klein -> kleine
   ;; parsing:    kleine -> klein
   ;; the use of all of this '[^o]' below is to avoid:
   ;;    groot -> *groote
   ;; instead, groot -> grote is handled above with the
   ;; rule above with the comment "groot -> grote".
   ;; Note the subtle differences in the 3 groups below:
   ;; 1. first group is  [^o][^o]
   ;; 2. second group is [o][^o]
   ;; 3. third group is  [^o][o]
   ;; TODO: This seems like a lot of work to prevent one specific
   ;; problem: try to find a more concise solution
   ;; (een minder ingewikkelde oplossing).
   (let [g [#"([^o][^o].)$"  "$1e"]
         p [#"([^o][^o].)e$" "$1"]]
     [{:g g
       :p p
       :u plur-modifier}
      {:g g
       :p p
       :u definite-singular-modifier}
      {:g g
       :p p
       :u indefinite-singular-common-modifier}])

   ;; TODO: document one or more examples of what this case covers:
   (let [g [#"([o][^o].)$"  "$1e"]
         p [#"([o][^o].)e$" "$1"]]
     [{:g g
       :p p
       :u plur-modifier}
      {:g g
       :p p
       :u definite-singular-modifier}
      {:g g
       :p p
       :u indefinite-singular-common-modifier}])

   ;; TODO: document one or more examples of what this case covers:
   (let [g [#"([^o][o].)$"  "$1e"]
         p [#"([^o][o].)e$" "$1"]]
     [{:g g
       :p p
       :u plur-modifier}
      {:g g
       :p p
       :u definite-singular-modifier}
      {:g g
       :p p
       :u indefinite-singular-common-modifier}])])
