[
 {:g [#"^(.*)$"   "$1"] ;; werken -> werken
  :p [#"^(.*)$"   "$1"] ;; werken -> werken
  :u {:cat :verb
      :infl :infinitive}}

;; <F. p. 108>
;; inflection: present

 ;; 1st
 {:g [#"^(.*g)gen$" "$1"]       ;; uitgeleggen -> uitgeleg
  :p [#"^(.*)(.)$"  "$1$2$2en"] 
  :u {:cat :verb
      :infl :present
      :agr {:person :1st
            :number :sing}}}
 {:g [#"^(.*)en$" "$1"]        ;; werken -> werk
  :p [#"^(.*)$"   "$1en"]      ;; werk -> werken 
  :u {:cat :verb
      :infl :present
      :agr {:person :1st
            :number :sing}}}
 ;; 2nd
 {:g [#"^(.*g)gen$" "$1d"]      ;; uitgeleggen -> uitgelegd
  :p [#"^(.*)d$"    "$1gen"] 
  :u {:cat :verb
      :infl :present
      :agr {:person :2nd
            :number :sing}}}
 {:g [#"^(.*)en$" "$1t"]   ;; werken -> werkt
  :p [#"^(.*)t$"  "$1en"] 
  :u {:cat :verb
      :infl :present
      :agr {:person :2nd
            :number :sing}}}
 ;; 3rd
 {:g [#"^(.*g)gen$" "$1d"]      ;; uitgeleggen -> uitgelegd
  :p [#"^(.*)d$"    "$1gen"] 
  :u {:cat :verb
      :infl :present
      :agr {:person :3rd
            :number :sing}}}
 {:g [#"^(.*)en$" "$1t"]   ;; werken -> werkt
  :p [#"^(.*)t$"  "$1en"]  ;; werkt  -> werken
  :u {:cat :verb
      :infl :present
      :agr {:person :3rd
            :number :sing}}}
 {:g [#"^(.*)$" "$1"]        ;; werken -> werken
  :p [#"^(.*)$" "$1"] 
  :u {:cat :verb
      :infl :present
      :agr {:number :plur}}}
;; </F>


 ;; <past simple>
 ;; TODO: 'strong' verbs e.g. blijfen -> bleef
 ;; F 47.1
 ;; <some doubled consonants get reduced to a single consonant>
 {;; wassen -> waste
  :g [#"^(.*)([fs])\2en$"      "$1$2te"]  
  :p [#"^(.*)([fs])te$"        "$1$2$2en"]
  :u {:cat :verb
      :agr {:number :sing}
      :infl :past-simple}}

 {;; wassen -> wasten
  :g [#"^(.*)([fs])\2en$"      "$1$2ten"]
  :p [#"^(.*)([fs])ten$"       "$1$2$2en"]
  :u {:cat :verb
      :agr {:number :plur}
      :infl :past-simple}}

  {;; bellen -> belde
  :g [#"^(.*)([^aeiou])\2en$" "$1$2de"]
  ;; belde -> bellen
  :p [#"^(.*)([l])de$"        "$1$2$2en"]
   :u {:cat :verb
       :agr {:number :sing}
       :infl :past-simple}}

 {;; bellen -> belden
  :g [#"^(.*)([^aeiou])\2en$" "$1$2den"]
  :p [#"^(.*)([l])den$"       "$1$2$2en"]
  :u {:cat :verb
      :agr {:number :plur}
      :infl :past-simple}}
 ;; </some doubled consonants get reduced to a single consonant>

 ;; <'t kofship vowel lengthening>
 {:g [#"^(.*[^aeiou])([aieou])([tksp])en$" "$1$2$2$3te"]
  :p [#"^(.*[tksp])te$" "$1en"]
  :u {:cat :verb
      :agr {:number :sing}
      :infl :past-simple}}

 {:g [#"^(.*[^aeiou])([aieou])([tksp])en$" "$1$2$2$3ten"]
  :p [#"^(.*[tksp])ten$" "$1en"]
  :u {:cat :verb
      :agr {:number :plur}
      :infl :past-simple}}

 {:g [#"^(.*[^aeiou])([aieou])(ch)en$" "$1$2$2$3te"]
  :p [#"^(.*ch)te$" "$1en"]
  :u {:cat :verb
      :agr {:number :sing}
      :infl :past-simple}}

 {:g [#"^(.*[^aeiou])([aieou])(ch)en$" "$1$2$2$3ten"]
  :p [#"^(.*ch)ten$" "$1en"]
  :u {:cat :verb
      :agr {:number :plur}
      :infl :past-simple}}
 ;; </'t kofship vowel lengthening>

 ;; <vowel lengthening: voiced to voiceless vrezen -> vreesen >
 {:g [#"^(.*[^aeiou])([aieou])([z])en$" "$1$2$2sde"]
  :p [#"^(.*[^aeiou])[s]de$" "$1zen"]
  :u {:cat :verb
      :agr {:number :sing}
      :infl :past-simple}}

 {:g [#"^(.*[^aeiou])([aieou])([z])en$" "$1$2$2$3den"]
  :p [#"^(.*[^aieou])[s]den$" "$1zen"]
  :u {:cat :verb
      :agr {:number :plur}
      :infl :past-simple}}
 ;; </vowel lengthening: voiced to voiceless vrezen -> vreesen >

 ;; <vowel lengthening>
 {:g [#"^(.*[^aeiou])([aieou])([^aieou])en$" "$1$2$2$3de"]
  :p [#"^(.*[^aeiou])de$" "$1en"]
  :u {:cat :verb
      :agr {:number :sing}
      :infl :past-simple}}

 {:g [#"^(.*[^aeiou])([aieou])([^aieou])en$" "$1$2$2$3den"]
  :p [#"^(.*[^aieou])den$" "$1en"]
  :u {:cat :verb
      :agr {:number :plur}
      :infl :past-simple}}
 ;; </vowel lengthening>
 
 ;; </past simple>
 
 ]

