[
 {:g [#"^(.*)$"   "$1"] ;; werken -> werken
  :p [#"^(.*)$"   "$1"] ;; werken -> werken
  :u {:cat :verb
      :infl :infinitive}}

;; <F. p. 108>
;; inflection: present

 ;; 1st
 {:g [#"^(.*g)gen$" "$1"]       ;; uitgeleggen -> uitgeleg
  :p [#"^(.*)(.)$"  "$1$2$2en"] 
  :u {:cat :verb
      :infl :present
      :agr {:person :1st
            :number :sing}}}
 {:g [#"^(.*)en$" "$1"]        ;; werken -> werk
  :p [#"^(.*)$"   "$1en"]      ;; werk -> werken 
  :u {:cat :verb
      :infl :present
      :agr {:person :1st
            :number :sing}}}
 ;; 2nd
 {:g [#"^(.*g)gen$" "$1d"]      ;; uitgeleggen -> uitgelegd
  :p [#"^(.*)d$"    "$1gen"] 
  :u {:cat :verb
      :infl :present
      :agr {:person :2nd
            :number :sing}}}
 {:g [#"^(.*)en$" "$1t"]   ;; werken -> werkt
  :p [#"^(.*)t$"  "$1en"] 
  :u {:cat :verb
      :infl :present
      :agr {:person :2nd
            :number :sing}}}
 ;; 3rd
 {:g [#"^(.*g)gen$" "$1d"]      ;; uitgeleggen -> uitgelegd
  :p [#"^(.*)d$"    "$1gen"] 
  :u {:cat :verb
      :infl :present
      :agr {:person :3rd
            :number :sing}}}
 {:g [#"^(.*)en$" "$1t"]   ;; werken -> werkt
  :p [#"^(.*)t$"  "$1en"]  ;; werkt  -> werken
  :u {:cat :verb
      :infl :present
      :agr {:person :3rd
            :number :sing}}}
 {:g [#"^(.*)$" "$1"]        ;; werken -> werken
  :p [#"^(.*)$" "$1"] 
  :u {:cat :verb
      :infl :present
      :agr {:number :plur}}}
;; </F>

 ;; <past simple>
 ;; TODO: 'strong' verbs e.g. blijfen -> bleef
 ;; F 47.1
 ;; <some doubled consonants get reduced to a single consonant>
 {;; wassen -> waste
  :g [#"^(.*)([fs])\2en$"      "$1$2te"]  
  :p [#"^(.*)([fs])te$"        "$1$2$2en"]
  :u {:cat :verb
      :debug 1
      :strong? false
      :agr {:number :sing}
      :infl :past-simple}}

 {;; wassen -> wasten
  :g [#"^(.*)([fs])\2en$"      "$1$2ten"]
  :p [#"^(.*)([fs])ten$"       "$1$2$2en"]
  :u {:cat :verb
      :debug 2
      :strong? false
      :agr {:number :plur}
      :infl :past-simple}}

 {;; bellen -> belde
  ;; uitgeleggen -> uitgelegde
  :g [#"^(.*)([^aeiou])\2en$" "$1$2de"]
  ;; belde -> bellen
  :p [#"^(.*)([gl])de$"        "$1$2$2en"]
   :u {:cat :verb
       :debug 3
       :strong? false
       :agr {:number :sing}
       :infl :past-simple}}

 {;; bellen -> belden
  ;; uitgeleggen -> uitgelegden
  :g [#"^(.*)([^aeiou])\2en$" "$1$2den"]
  :p [#"^(.*)([gl])den$"       "$1$2$2en"]
  :u {:cat :verb
       :debug 4
      :strong? false
      :agr {:number :plur}
      :infl :past-simple}}
 ;; </some doubled consonants get reduced to a single consonant>

 ;; <'t kofship vowel lengthening>
 ;; hopen -> hoopte
 {:g [#"^(.*[^aeiou])([aieou])([tksp])en$" "$1$2$2$3te"]
  :p [#"^(.*)([aieou])\2([tksp])te$" "$1$2$3en"]
  :u {:cat :verb
      :debug 5
      :strong? false
      :agr {:number :sing}
      :infl :past-simple}}

  ;; hopen -> hoopten
 {:g [#"^(.*[^aeiou])([aieou])([tksp])en$" "$1$2$2$3ten"]
  :p [#"^(.*)([aieou])\2([tksp])ten$" "$1$2$3en"]
  :u {:cat :verb
      :debug 6
      :strong? false
      :agr {:number :plur}
      :infl :past-simple}}

 {:g [#"^(.*[^aeiou])([aieou])(ch)en$" "$1$2$2$3te"]
  :p [#"^(.*)([aieou])\2(ch)te$" "$1$2$3en"]
  :u {:cat :verb
      :debug 7
      :strong? false
      :agr {:number :sing}
      :infl :past-simple}}

 {:g [#"^(.*[^aeiou])([aieou])(ch)en$" "$1$2$2$3ten"]
  :p [#"^(.*)([aieou])\2(ch)ten$" "$1$2$3en"]
  :u {:cat :verb
      :debug 8
      :strong? false
      :agr {:number :plur}
      :infl :past-simple}}
 ;; </'t kofship vowel lengthening>

 ;; <vowel lengthening: voiced to voiceless vrezen -> vreesen >
 {:g [#"^(.*[^aeiou])([aieou])([z])en$" "$1$2$2sde"]
  :p [#"^(.*[^aeiou])[s]de$" "$1zen"]
  :u {:cat :verb
      :debug 9
      :strong? false
      :agr {:number :sing}
      :infl :past-simple}}

 {:g [#"^(.*[^aeiou])([aieou])([z])en$" "$1$2$2$3den"]
  :p [#"^(.*[^aieou])[s]den$" "$1zen"]
  :u {:cat :verb
      :debug 10
      :strong? false
      :agr {:number :plur}
      :infl :past-simple}}
 ;; </vowel lengthening: voiced to voiceless vrezen -> vreesen >

 ;; <vowel lengthening>
 {:g [#"^(.*[^aeiou])([aieou])([^aieou])en$"   "$1$2$2$3de"]
  :p [#"^(.*[^aeiou])([aieou])\2([^aeiou])de$" "$1$2$3en"]
  :u {:cat :verb
      :debug 11
      :strong? false
      :agr {:number :sing}
      :infl :past-simple}}

 {:g [#"^(.*[^aeiou])([aieou])([^aieou])en$"    "$1$2$2$3den"]
  :p [#"^(.*[^aeiou])([aieou])\2([^aeiou])den$" "$1$2$3en"]
  :u {:cat :verb
      :debug 12
      :strong? false
      :agr {:number :plur}
      :infl :past-simple}}
 ;; </vowel lengthening>

 ;; <'t kofship>
 {:g [#"^(.*[tksp])en$" "$1te"]
  :p [#"^(.*[tksp])te$" "$1en"]
  :u {:cat :verb
      :debug 13
      :strong? false
      :agr {:number :sing}
      :infl :past-simple}}

 {:g [#"^(.*[tksp])en$" "$1ten"]
  :p [#"^(.*[tksp])ten$" "$1en"]
  :u {:cat :verb
      :debug 14
      :strong? false
      :agr {:number :plur}
      :infl :past-simple}}
 ;; </'t kofship>

 ;; <default weak>
 {:g [#"^(.*)en$" "$1de"]
  :p [#"^(.*)de$" "$1en"]
  :u {:cat :verb
      :debug 15
      :strong? false
      :agr {:number :sing}
      :infl :past-simple}}

 {:g [#"^(.*)en$"  "$1den"]
  :p [#"^(.*)den$" "$1en"]
  :u {:cat :verb
      :debug 16
      :strong? false
      :agr {:number :plur}
      :infl :past-simple}}
 ;; </default weak>

 {:g [#"^(.*)ijven$" "$1eef"]
  :p [#"^(.*)eef$"   "$1ijven"]
  :u {:cat :verb
      :debug 17
      :strong? true
      :agr {:number :sing}
      :infl :past-simple}}
 {:g [#"^(.*)ijven$" "$1eeven"]
  :p [#"^(.*)eeven$" "$1ijven"]
  :u {:cat :verb
      :debug 18
      :strong? true
      :agr {:number :plur}
      :infl :past-simple}}
 
 ;; </past simple>
 
 ]

