[{:variant :future
  :infl :future
  :sem {:tense :future}}

 {:variant :conditional
  :infl :conditional
  :sem {:tense :conditional}}
 
 {:variant :present-simple
  :abbreviation :simple-present
  :infl :present
  :sem {:tense :present
        :aspect :simple}}

 {:variant :imperfect
  :infl :imperfect
  :sem {:tense :past
        :aspect :progressive}}

  {:variant :preterito
  :infl :preterito
  :sem {:tense :past
        :aspect :perfect}}

 

 ]
