[

 {:rule "np"
  :cat :noun
  :head {:phrasal? true}
  
  :unify [menard.nesting/nest-only
          menard.subcat/a
          menard.ug/head-is-root
          menard.ug/head-last
          menard.ug/head-rule
          menard.ug/head-sem]}          

 {:rule "np"
  :cat :noun
  :head {:phrasal? false}
  :sem {:mod []}
  :unify [menard.nesting/nest-only
          menard.subcat/a
          menard.ug/head-is-root
          menard.ug/head-last
          menard.ug/head-rule
          menard.ug/head-sem]}          

 
 {:rule "nbar" ;; '[nbar +gato .negro]'
  :cat :noun
  :head {:pronoun? false
         :propernoun? false
         :phrasal? false
         :subcat {:1 {:top :top}
                  :2 []}}
  :slash? false
  :comp {:cat :adjective
         :modifies-noun :post}
  :mod {:rest []}
  :unify [menard.nesting/cons-only
          menard.ug/head-is-root
          menard.ug/head-first
          menard.ug/head-rule
          menard.ug/nominal-phrase
          menard.ug/shared-agr
          menard.subcat/b]}

 {:rule "nbar" ;; '[nbar .primero +gato]'
  :cat :noun
  :head {:pronoun? false
         :propernoun? false
         :phrasal? false
         :subcat {:1 {:top :top}
                  :2 []}}
  :slash? false
  :comp {:cat :adjective
         :modifies-noun :pre}
  :mod {:rest []}
  :unify [menard.nesting/cons-only
          menard.ug/head-is-root
          menard.ug/head-last
          menard.ug/head-rule
          menard.ug/nominal-phrase
          menard.ug/shared-agr
          menard.subcat/b]}

 {:rule "s-head-first" ;; "he visto"
  :cat :verb
  :head {:phrasal? false} ;; prevent e.g. "[s-head-first(:preterito-perfecto) +[vp-aux-i(:preterito-perfecto) +he(:explicit-subj-non-reflexive-intransitive) .comido] .yo]"
  :options menard.español.tenses/finite-aux-tenses
  :unify [menard.subcat/a
          menard.ug/head-aux          
          menard.ug/head-is-root
          menard.ug/head-first
          menard.ug/head-reflexive
          menard.ug/head-rule
          menard.ug/head-sem]
  }

 {:rule "s-head-last" ;; "yo veo"
  :cat :verb
  :options menard.español.tenses/finite-tenses
  :unify [menard.subcat/a
          menard.ug/head-aux          
          menard.ug/head-is-root
          menard.ug/head-last
          menard.ug/head-reflexive
          menard.ug/head-rule
          menard.ug/head-sem]
  }

 {:rule "vp-non-pronoun"
  :cat :verb
  :head {:aux? false}
  :comp {:pronoun? false}
  :options menard.español.tenses/finite-nonaux-tenses
  :unify [menard.subcat/c-with-empty-comp-2-subcat
          menard.ug/head-is-root
          menard.ug/head-first
          menard.ug/head-reflexive
          menard.ug/head-rule
          menard.ug/head-sem]
  }

 {:rule "vp-pronoun-c"
  :cat :verb
  :comp {:pronoun? true}
  :options menard.español.tenses/finite-tenses
  :unify [menard.subcat/c-with-empty-comp-2-subcat
          menard.ug/head-is-root
          menard.ug/head-last
          menard.ug/head-reflexive
          menard.ug/head-rule
          menard.ug/head-sem]
  }

 {:rule "vp-aux-c"
  :cat :verb
  :head {:aux? true}
  :options menard.español.tenses/finite-aux-tenses
  :unify [menard.subcat/c-with-empty-comp-2-subcat
          menard.ug/comp-is-root
          menard.ug/head-first
          menard.ug/head-reflexive
          menard.ug/head-rule
          menard.ug/head-sem]
  }

 {:rule "vp-aux-i"
  :cat :verb
  :head {:aux? true}
  :options menard.español.tenses/finite-aux-tenses
  :unify [menard.subcat/i
          menard.ug/comp-is-root
          menard.ug/head-first
          menard.ug/head-reflexive
          menard.ug/head-rule
          menard.ug/head-sem]
  }
 
 {:rule "vp-aux-k"
  :cat :verb
  :head {:aux? true
         :phrasal? false}
  :options menard.español.tenses/finite-aux-tenses
  :unify [menard.subcat/k
          menard.ug/comp-is-root
          menard.ug/head-first
          menard.ug/head-reflexive
          menard.ug/head-rule
          menard.ug/head-sem]}

 {:rule "nonphrasal" ;; e.g. "duermo" where subject is implied
  :cat :verb
  :subcat []
  :phrasal? false
  :options menard.español.tenses/finite-nonaux-tenses}
 ]
