[
 {:rule "s"
  :cat :verb
  :head {:cat :verb}
  :options menard.español.tenses/finite-tenses
  :unify [menard.subcat/a
          menard.ug/head-is-root
          menard.ug/head-last
          menard.ug/head-reflexive
          menard.ug/head-rule
          menard.ug/head-sem]
  }

 {:rule "vp-non-pronoun"
  :cat :verb
  :head {:cat :verb
         :aux? false}
  :comp {:pronoun? false}
  :options menard.español.tenses/finite-tenses
  :unify [menard.subcat/c
          menard.ug/head-is-root
          menard.ug/head-first
          menard.ug/head-reflexive
          menard.ug/head-rule
          menard.ug/head-sem]
  }
 
  {:rule "vp-pronoun"
  :cat :verb
  :head {:cat :verb
         :aux? false}
  :comp {:pronoun? true}
  :options menard.español.tenses/finite-tenses
  :unify [menard.subcat/c
          menard.ug/head-is-root
          menard.ug/head-last
          menard.ug/head-reflexive
          menard.ug/head-rule
          menard.ug/head-sem]
  }

 {:rule "vp-aux"
  :cat :verb
  :head {:cat :verb
         :aux? true}
  :options menard.español.tenses/finite-tenses
  :unify [menard.subcat/c
          menard.ug/comp-is-root
          menard.ug/head-first
          menard.ug/head-reflexive
          menard.ug/head-rule
          menard.ug/head-sem]
  }

 
 ]
