{"bedroefd" [{:cat :adjective :sem {:pred :sad}}]
 "eenzaam" [{:cat :adjective :sem {:pred :lonely}}]
 "eigenwijs" [{:cat :adjective :sem {:pred :stubborn}}]
 "eng" [{:cat :adjective :sem {:pred :scary}}]
 "ernstig" [{:cat :adjective :sem {:pred :serious}}]
 "gierig" [{:cat :adjective :sem {:pred :stingy}}]
 "groot" [{:cat :adjective :sem {:pred :big}}]
 "inhalig" [{:cat :adjective :sem {:pred :greedy}}]
 "klein" [{:cat :adjective :sem {:pred :small}}]
 "lief" [{:cat :adjective :sem {:pred :nice}}]
 "nieuwsgierig" [{:cat :adjective :sem {:pred :curious}}]
 "ongerust" [{:cat :adjective :sem {:pred :anxious}}]
 "opgevonden" [{:cat :adjective :sem {:pred :excited}}]
 "oud" [{:cat :adjective :sem {:pred :old}}]
 "slim" [{:cat :adjective :sem {:pred :smart}}]
 "sterk" [{:cat :adjective :sem {:pred :strong}}]
 "stom" [{:cat :adjective :sem {:pred :stupid}}]
 "teleurgesteld" [{:cat :adjective :sem {:pred :disappointed}}]
 "verdrietig" [{:cat :adjective :sem {:pred :sad}}]
 "verlegen" [{:cat :adjective :sem {:pred :shy}}]
 "verward" [{:cat :adjective :sem {:pred :confused}}]
 "verwarrend" [{:cat :adjective :sem {:pred :confusing}}]
 "vies" [{:cat :adjective :sem {:pred :dirty}}]
 "waar" [{:cat :adjective :sem {:pred :true}}]
 "zelfverzekerd" [{:cat :adjective :sem {:pred :confident}}]
 "zenuwachtig" [{:cat :adjective :sem {:pred :nervous}}]}

