;; 'F.' means Carol Fehringer, "A Reference Grammar of Dutch", 1999 ,Cambridge University Press.
{"een" [{:cat :det
         :sem {:quant :indef}
         :agr {:number :sing}}]

 ;; <F. p30-31, 54-55, 70>
 "de" [{:cat :det
        :sem {:quant :def}
        :agr {:gender :common}}
       {:cat :det
        :sem {:quant :def}
        :agr {:number :plur}}]

 "die" [{:agr {:number :plur
               :person :3rd}
         :case :acc
         :cat :noun
         :sem {:pred :them
               :ref {:human false}}}]

 "haar" [{:agr {:gender :fem
                :number :sing
                :person :3rd}
          :case :acc
          :cat :noun
          :pronoun true
          :sem {:pred :she
                :ref {:human true}}}]

 "heel" [{:cat :intensifier
          :sem {:pred :very}
          :subcat {:1 {:cat :adjective
                        :phrasal false}
                    :2 []}}]

 "hem" [{:agr {:gender :masc
               :number :sing
               :person :3rd}
         :case :acc
         :cat :noun
         :pronoun true
         :sem {:pred :he
               :ref {:human true}}}]

 "hen" [{:agr {:number :plur
               :person :3rd}
         :case :acc
         :cat :noun
         :pronoun true
         :sem {:pred :he
               :ref {:human true}}}]

 "het" [{:cat :det
         :sem {:quant :def}
         :agr {:gender :neuter
               :number :sing}}
        {:cat :noun
         :pronoun true
         :agr {:person :3rd
               :number :sing
               :gender :masc}
         :case :nom}]
 
 ;; <F. p69-73>
 "hij" [{:agr {:person :3rd
               :number :sing
               :gender :masc}
         :case :nom
         :cat :noun
         :pronoun true
         :sem {:pred :he
               :ref {:human true}}}]

 "hun" [{:agr {:number :plur
               :person :3rd}
         :case :acc
         :cat :noun
         :pronoun true
         :sem {:pred :he
               :ref {:human true}}}]
 
 "ik" [{:agr {:person :1st
              :number :sing}
        :case :nom
        :cat :noun
        :pronoun true
        :sem {:pred :i}}]

 "jij" [{:agr {:person :2nd
               :number :sing}
         :case :nom
         :cat :noun
         :pronoun true
         :sem {:pred :you
               :context :informal}}]

 "jou" [{:agr {:person :2nd
               :number :sing}
         :case :acc
         :cat :noun
         :sem {:pred :you}
         :pronoun true}]

 "jullie" [{:case :nom
            :cat :noun
            :pronoun true
            :sem {:pred :you
                  :context :informal}
            :agr {:person :2nd
                  :number :plur}}]

 "mij" [{:case :acc
         :cat :noun
         :pronoun true
         :sem {:pred :i}
         :agr {:person :1st
               :number :sing}}]
 
 ;; "u" is very generic: can be
 ;; sing/plur and nom/acc.
 "u" [{:agr {:person :2nd}
       :cat :noun
       :pronoun true
       :sem {:pred :you
             :context :polite}}]

 "wij" [{:agr {:person :1st
               :number :plur}
         :case :nom
         :cat :noun
         :pronoun true
         :sem {:pred :we}}]

 "zij" [{:agr {:person :3rd
               :number :sing
               :gender :fem}
         :case :nom
         :cat :noun
         :pronoun true
         :sem {:pred :she}}
        {:agr {:person :3rd
               :number :plur}
         :case :nom
         :cat :noun
         :pronoun true
         :sem {:pred :they}}]}

;; </F>
