;; 'F.' means Carol Fehringer, "A Reference Grammar of Dutch", 1999 ,Cambridge University Press.
{"een" [{:cat :det
         :sem {:quant :indef}
         :agr {:number :sing}}]

 ;; <F. p30-31, 54-55>
 "de" [{:cat :det
        :sem {:quant :def}
        :agr {:gender :common}}
       {:cat :det
        :sem {:quant :def}
        :agr {:number :plur}}]
 "het" [{:cat :det
         :sem {:quant :def}
         :agr {:gender :neuter
               :number :sing}}]
 ;; </F>

 ;; <F. p69-73>
 "hij" [{:agr {:person :3rd
               :number :sing
               :gender :masc}
         :case :nom
         :cat :noun
         :pronoun true
         :sem {:pred :he}
         :subcat []}]

 "ik" [{:agr {:person :1st
              :number :sing}
        :case :nom
        :cat :noun
        :pronoun true
        :sem {:pred :i}
        :subcat []}]

 "jij" [{:agr {:person :2nd
               :number :sing}
         :case :nom
         :cat :noun
         :pronoun true
         :sem {:pred :you}
         :subcat []}]
 "jullie" [{:case :nom
            :cat :noun
            :pronoun true
            :subcat []
            :sem {:pred :you}
            :agr {:person :2nd
                  :number :plur}}]
 "u" [{:agr {:person :2nd
             :number :sing}
       :case :nom
       :cat :noun
       :pronoun true
       :sem {:pred :you
             :context :polite}
       :subcat []}]

 "wij" [{:agr {:person :1st
               :number :plur}
         :case :nom
         :cat :noun
         :pronoun true
         :sem {:pred :we}
         :subcat []}]

 "zij" [{:agr {:person :3rd
               :number :sing
               :gender :fem}
         :case :nom
         :cat :noun
         :pronoun true
         :sem {:pred :she}
         :subcat []}
        {:agr {:person :3rd
               :number :plur}
         :case :nom
         :cat :noun
         :pronoun true
         :sem {:pred :they}
         :subcat []}]}

;; </F>
