{"een" [{:cat :det
         :agr {:number :sing}}]
 "de" [{:cat :det
        :agr {:gender :masc}}
       {:cat :det
        :agr {:number :plur}}]
 "het" [{:cat :det
         :agr {:gender :fem
               :number :sing}}]}
 ;; </F>
