{"been" [{:cat :noun
          :agr {:gender :neuter}
          :sem {:pred :leg}}]
 "boek" [{:cat :noun
          :agr {:gender :neuter}
          :sem {:pred :book}}]
 "bedrijf" [{:cat :noun
             :agr {:gender :neuter}
             :sem {:pred :business}}]
 "druif" [{:cat :noun
           :agr {:gender :common}
           :sem {:pred :grape}}]
 "fiets" [{:cat :noun
           :agr {:gender :common}
           :sem {:pred :bike}}]
 "gebeid" [{:cat :noun
            :agr {:gender :neuter}
            :sem {:pred :area}}]
 "haar" [{:cat :noun
          ;; gender seems to be unspecified for this word.
          :agr {:gender :top} 
          :sem {:pred :hair}}]
 "hond" [{:cat :noun
          :agr {:gender :common}
          :sem {:pred :dog}}]
 "huis" [{:cat :noun
          :agr {:gender :neuter}
          :sem {:pred :house}}]
 "jas" [{:cat :noun
         :agr {:gender :common}
         :sem {:pred :coat}}]
 "jongen" [{:cat :noun
            :agr {:gender :common}
            :sem {:pred :boy}}]
 "kat" [{:cat :noun
          :agr {:gender :common}
         :sem {:pred :cat}}]
 "kind" [{:cat :noun
          :agr {:gender :neuter
                :number :sing}
          :sem {:pred :child}}]
 "kinderen" [{:cat :noun
              :inflected? true
              :agr {:gender :neuter
                    :number :plur}
              :sem {:pred :child}}]
 "land" [{:cat :noun
          :sem {:pred :country}
          :agr {:gender :neuter}}]
 "man" [{:cat :noun
         :sem {:pred :man}
         :agr {:gender :common}}]
 "stoel" [{:cat :noun
           :agr {:gender :common}
           :sem {:pred :chair}}]
 "zaak" [{:cat :noun
          :sem {:pred :case}
          :agr {:gender :common}}]}
