{"been" [{:cat :noun
          :agr {:gender :neuter}
          :sem {:pred :leg}}]
 "boek" [{:cat :noun
          :agr {:gender :neuter}
          :sem {:pred :book}}]
 "druif" [{:cat :noun
           :agr {:gender :common}
           :sem {:pred :grape}}]
 "gebeid" [{:cat :noun
            :agr {:gender :neuter}
            :sem {:pred :area}}]
 "haar" [{:cat :noun
          :agr {:gender :top} ;; gender seems to be unspecified for this word.
          :sem {:pred :hair}}]
 "hond" [{:cat :noun
          :agr {:gender :common}
          :sem {:pred :dog}}]
 "huis" [{:cat :noun
          :agr {:gender :neuter}
          :sem {:pred :house}}]
 "jas" [{:cat :noun
         :agr {:gender :common}
         :sem {:pred :coat}}]
 "kat" [{:cat :noun
          :agr {:gender :common}
         :sem {:pred :cat}}]
 "kind" [{:cat :noun
          :agr {:gender :neuter
                :number :sing}
          :sem {:pred :child}}]
 "kinderen" [{:cat :noun
              :inflected? true
              :agr {:gender :neuter
                    :number :plur}
              :sem {:pred :child}}]
 "man" [{:cat :noun
         :agr {:gender :common}}]}
