{"hond" [{:cat :noun
          :agr {:gender :masc}
          :sem {:pred :dog}}]
 "kat" [{:cat :noun
          :agr {:gender :masc}
         :sem {:pred :cat}}]
 "kind" [{:cat :noun
          :agr {:gender :fem
                :number :sing}
          :sem {:pred :child}}]
 "kinderen" [{:cat :noun
              :inflected? true
              :agr {:gender :fem
                    :number :plur}
              :sem {:pred :child}}]}

