{
 "acht" [{:cat :adjective
          :agr {:number :plur
                :number? true}
          :sem {:pred 8
                :times 1}}]

 "drie" [{:cat :adjective
          :agr {:number :plur
                :number? true}
          :sem {:pred 3
                :times 1}}]

 "eén" [{:cat :adjective
         :sem {:pred 1
               :times 1}
         :agr {:number :sing
               :number? true}}]

 "elf" [{:cat :adjective
         :agr {:number :plur
               :number? true}
         :less-than-10? false               
         :sem {:pred :add
               :arg1 {:pred 1 :times 1}
               :arg2 {:pred 1 :times 10}
               :times 1}}]

 "negen" [{:cat :adjective
           :agr {:number :plur
                 :number? true}
           :sem {:times 1
                 :pred 9}}]

 "nul" [{:cat :adjective
         ;; it is less than 10 of course, but we're using :less-than-10=false
         ;; here to prevent e.g. "nul en twentig", so it's
         ;; used in the same to prevent e.g. "twalf en twintig".
         :less-than-10? false
         :agr {:number :plur
               :number? true}
         :sem {:times 1
               :pred 0}}]

 "teen" [{:cat :adjective
          :agr {:number :plur
                :number? true}
          :less-than-10? false
          :sem {:pred 10
                :times 1}}] 

 "twalf" [{:cat :adjective
           :agr {:number :plur
                 :number? true}
           :less-than-10? false
           :sem {:pred :add
                 :arg1 {:pred 2 :times 1}
                 :arg2 {:pred 1 :times 10}}}]

 "twee" [{:cat :adjective
          :agr {:number :plur
                :number? true}
          :sem {:pred 2
                :times 1}}]

 "twentig" [{:cat :adjective
             :agr {:number :plur
                   :number? true}
             :sem {:times 10
                   :pred 2}}]
 "vier" [{:cat :adjective
          :agr {:number :plur
                :number? true}
          :sem {:pred 4
                :times 1}}]

 "veertig" [{:cat :adjective
             :agr {:number :plur
                   :number? true}
             :sem {:times 10
                   :pred 4}}]

 "vijf" [{:cat :adjective
          :agr {:number :plur
                :number? true}
          :sem {:pred 5
                :times 1}}]

 "vijftig" [{:cat :adjective
             :agr {:number :plur
                   :number? true}
             :sem {:pred 5
                   :times 10}}]

 "zes" [{:cat :adjective
         :agr {:number :plur
               :number? true}
         :sem {:pred 6
               :times 1}}]
 
 "zeven" [{:cat :adjective
           :number? true
           :agr {:number :plur
                 :number? true}
           :sem {:pred 7
                 :times 1}}]}


 


