{"slaap"
 [{:cat :verb
   :sem {:pred :sleep}
   :subcat {:2 []}}]

 "werk"
 [{:cat :verb
   :sem {:pred :work}
   :subcat {:2 []}}]

 "zien"
 (let [exceptions [{:infl :present
                    :agr {:person :1st :number :sing}
                    :surface "zie"}
                   {:infl :present
                    :agr {:person :2nd :number :sing}
                    :surface "ziet"}
                   {:infl :present
                    :agr {:person :3rd :number :sing}
                    :surface "ziet"}
                   {:infl :present
                    :agr {:number :plur}
                    :surface "zien"}]]
   [{:exceptions exceptions
     :cat :verb
     :sem {:pred :see}}])

 "zing"
 [{:cat :verb
   :sem {:pred :sing}
   :subcat {:2 []}}]}
