{"lezen"
 (let [exceptions [{:infl :present
                    :agr {:person :1st :number :sing}
                    :surface "lees"}
                   {:infl :present
                    :agr {:person :2nd :number :sing}
                    :surface "leest"}
                   {:infl :present
                    :agr {:person :3rd :number :sing}
                    :surface "leest"}]]
   [{:exceptions exceptions
     :cat :verb
     :sem {:pred :read}}])

 "slapen"
 (let [exceptions [{:infl :present
                    :agr {:person :3rd :number :sing}
                    :surface "slaapt"}]]
  [{:exceptions exceptions
    :cat :verb
    :sem {:pred :sleep}
    :subcat {:2 []}}])

 "werken"
 [{:cat :verb
   :sem {:pred :work}
   :subcat {:2 []}}]

 "veroorzaaken"
 [{:cat :verb
   :sem {:pred :cause}}]
 
 "zien"
 (let [exceptions [{:infl :present
                    :agr {:person :1st :number :sing}
                    :surface "zie"}
                   {:infl :present
                    :agr {:person :2nd :number :sing}
                    :surface "ziet"}
                   {:infl :present
                    :agr {:person :3rd :number :sing}
                    :surface "ziet"}
                   {:infl :present
                    :agr {:number :plur}
                    :surface "zien"}]]
   [{:exceptions exceptions
     :cat :verb
     :sem {:pred :see}}])

 "zingen"
 [{:cat :verb
   :sem {:pred :sing}
   :subcat {:2 []}}]}
